$font-size-base: 0.9rem;

$display1-size:               $font-size-base * 3.5 !default;
$display2-size:               $font-size-base * 3 !default;
$display3-size:               $font-size-base * 2.5 !default;
$display4-size:               $font-size-base * 2 !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$enable-responsive-font-sizes: true;
$breadcrumb-bg: #ffffff;

$input-placeholder-color: #adb5bd;  // gray-500

$primary:  rgb(0, 102, 158) !default;
$success:  rgb(0, 115, 54) !default;

$blue:    #007bff !default;
$link-color: $blue !default;