{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bread %}
<li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
<li class="breadcrumb-item"><a href="{% url 'my-profile' %}">Moje konto</a></li>
<li class="breadcrumb-item active" aria-current="page">Zmień e-mail</li>
{% endblock %}

{% block main-subtitle %}Zmień email{% endblock %}

{% block all-content %}
<h4>Zmień adres email</h4>
<form method="post" autocomplete="off">{% csrf_token %}
	{{ form|crispy }}
</form>
{% endblock %}