{% extends "base.html" %}
{% load i18n %}
{% block bread %}
    <a href="/">Strona główna</a> &raquo;
<a href="{% url 'my-profile' %}">Moje konto</a> &raquo;
Wyślij wiadomość do studentów
{% endblock %}

{% block content %}

<form action='' method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn success" value="Wyślij"/>
    Uwaga: wiadomości zostaną dostarczone w przeciągu kilku minut (nie natychmiastowo).
</form>
<hr>
<p id="mailto_all_students"><strong>{% trans "Lista adresów wszystkich aktywnych studentów" %}</strong></p>:
<textarea readonly cols=80 rows=20>{{students_mails}}</textarea>

{% endblock %}

