<div id="employee-profile">
	<h2>{{employee.get_full_name}}</h2>

	<table class="table-info">
	{% if user.is_authenticated %}
		<tr>
			<th>adres email</th>
			<td>
				{% if employee.user.email %}
					<a href="mailto:{{employee.user.email}}">
						{{employee.user.email}}
					</a>
				{% else %}
					brak danych
				{% endif %}
			</td>
		</tr>
	{% endif %}
		<tr>
			<th>strona domowa</th>
			<td>
				{% if employee.homepage %}
					<a href="{{employee.homepage}}">{{employee.homepage}}</a>
				{% else %}
					brak danych
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>pokój</th>
			<td>
				{% if employee.room %}
					{{employee.room}}
				{% else %}
					brak danych
				{% endif %}
			</td>
		</tr>
	</table>

	{% if employee.consultations %}
        <h3>Konsultacje:</h3>
        <p class="consultations">{{ employee.consultations }}</p>
        <hr>
    {% endif %}
    
    {% if terms_by_days|length > 0 %}
        <h3>Plan zajęć:</h3>
    {% endif %}
	<div id="user-schedule-scheduleContainer">
		<script type="application/json" id="userScheduleCoursesJson">{{ courses_json|safe }}</script>
		<script type="application/json" id="userScheduleGroupsJson">{{ groups_json|safe }}</script>
		<input type="hidden" name="ajax-set-enrolled-url" value="{% url 'records-set-enrolled' '.json' %}" />
		<input type="hidden" name="ajax-set-pinned-url" value="{% url 'schedule-prototype-set-pinned' %}" />
		<input type="hidden" name="ajax-set-queue-priority-url" value="{% url 'records-set-queue-priority' '.json' %}" />
		<input type="hidden" name="priority-limit" value="{{ priority_limit }}" />

		{% if terms_by_days|length > 0 %}
            <div class="byWeekDays">
                {% for day in terms_by_days %}
                    <h5>{{ day.day_name|capfirst }}</h5>
                    <ul>
                        {% for term in day.terms %}
                            <li>
                                <span class="time">
                                    {{ term.object.start_time|time:'G:i' }}-{{ term.object.end_time|time:'G:i' }}
                                </span>
                                <span class="name">
                                    <a href="{{ term.object.group.course.get_absolute_url }}">
                                        {{ term.object.group.course.name }}
                                    </a>
                                </span>
                                <span class="type">
                                    &ndash;
                                    {{ term.object.group.get_type_display }}
                                </span>
                                <span class="classroom">
                                    {{ term.object.numbers }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
	</div>

	<div id="user-schedule-listByCourse" style="display:none">
		{% for course in courses %}
			<span>
				<input type="hidden" name="id" value="{{ course.info.id }}" />
				{% for term in course.terms %}
					<input type="hidden" name="term" value="{{ term.json }}" />
				{% endfor %}
			</span>
		{% endfor %}
	</div>
</div>
