{% extends "base.html" %}
{% load url from future %}
{% load compressed %}


{% block main-navigation %}
    <li>Zaloguj</li>
{% endblock %}

{% block styles %}
	{% compressed_css "login" %}
{% endblock %}

{% block main-subtitle %}Logowanie{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="main-message">Jesteś już zalogowany. Możesz się <a href="{% url 'user-logout' %}">wylogować</a>.</p>
    {% else %}
        {% if form.errors %}
            <p class="main-message">Podany identyfikator i hasło się nie zgadzają. Spróbuj ponownie.</p>
        {% endif %}


    <div class="container">
      <a href="/">Strona główna</a> &raquo; <h2>Logowanie</h2>
      <!-- Main hero unit for a primary marketing message or call to action -->
<div class="container space">
<div class="row show-grid">
    <div class="span5 columns loginbox">
<form class="form-stacked" action="{% url 'apps.users.views.login_plus_remember_me' %}" method="POST">
        {% csrf_token %}
        <fieldset>
          <div class="clearfix">
            <label for="id_username">{{ form.username.label_tag }}</label>
            <div class="input">
              {{ form.username }}
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="is_password">{{ form.password.label_tag }}
                    </label>
            <div class="input">
                {{ form.password }}
            </div>
          </div>
          <div class="clearfix">
            <label for="xlInput3">Zapamiętaj mnie:</label>
            <div class="input">
              <input type="checkbox" name="remember_me"  id="xlInput3"  value="true"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div><!-- /clearfix -->
        </fieldset>
        <div>
          <button class="btn primary" type="submit">Logowanie</button>
        </div>
            <script type="text/javascript">
            /* <![CDATA[ */
                $('#id_username').focus();
            /* ]]> */
        </script>
      </form>
</div>
    <div class="span11 columns">
<p><h3>Jak zdobyć hasło?</h3>
Każdy student Uniwersytetu Wrocławskiego może zalogować się poprzez USOS. Dozwolone jest również alternatywne uwierzytelnianie za pomocą loginu i hasła. Jeśli takiego nie masz, <a href="mailto:zapisy@cs.uni.wroc.pl">napisz do administratora</a>
</p>
<p><h3>Nie pamiętasz hasła?</h3>
Skorzystaj z naszego <a href="{% url 'password_reset' %}">formularza</a>. Jeżeli to nie pomoże skontaktuj się z
dziekanatem.
</p>
</div>
</div>
</div>
</div>

    {% endif %}

{% endblock %}
