{% extends "base.html" %}
{% load url from future %}
{% load compressed %}
{% load static %}
{% load i18n %}

{% block styles %}
    {% compressed_css 'main' %}
    <style>
        .notifications ul {list-style-type: none;}
        .notifications tr td:nth-child(2),
        .notifications tr th:nth-child(2) { text-align: center; }

        .notifications th { background-color: #F9F9F9;
        border-top-width: 1px;
        border-bottom-width: 1px;}
    </style>
    <link rel="stylesheet" href="{% static "css/users/my_profile.css" %}" type="text/css">

{% endblock %}

{% block js %}{{ block.super }}


<script>
$(function(){
$('.checkall').live('click', function(){
    var cls = $(this).parent().parent().attr('class');
    if( $(this).attr('checked')){
        $('tr[class="'+ cls +'"]').find('input[type="checkbox"]').attr('checked', true);
    } else {
        $('tr[class="'+ cls +'"]').find('input[type="checkbox"]').attr('checked', false);
    }
})
});
</script>

{% endblock %}

{% block bread %}
	<a href="{% url 'main-page' %}">Strona główna</a> &raquo;
	Moje konto
{% endblock %}

{% block main-subtitle %}Moje konto{% endblock %}

{% block content %}


<p class="info-table-header">Moje dane</p>
    <table class="table-info">
        <tr>
            <th>login</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{user.email}}</td>
        </tr>
        {%if zamawiany%}
            <tr>
            <th>numer konta bankowego</th>
            <td>{% if zamawiany.bank_account != None %}{{zamawiany.bank_account}}{% endif %}</td>
        </tr>{%endif%}

    {% if user.employee %}
        <tr>
            <th>pokój</th>
            <td>{{ room }}</td>
        </tr>
        <tr>
            <th>strona domowa</th>
            <td><a href="{{ homepage }}">{{ homepage }}</a></td>
        </tr>
        <tr>
            <th>tytuł naukowy</th>
            <td>{{ title }}</td>
        </tr>
    {%endif%}
    </table>

    <a class="change_profile" href="{% url 'password_change' %}">zmień hasło</a>
&nbsp;
<a href="{% url 'email_change' %}">zmień adres email</a>
{%if zamawiany%}
&nbsp;
<a class="change_bank_account" href="{% url 'bank-account-change' %}">zmień numer konta bankowego</a>
{%endif%}
{% if user.employee %}
&nbsp;
<a href="{% url 'consultations-change' %}">zmień inne dane</a>
{% endif %}

{% if user.employee %}
<p class="info-table-header">Konsultacje</p>
    {% if consultations %}
		{{ consultations }}
    {% else %}
        Brak informacji
    {% endif %}
{% endif %}

{% if zamawiany %}
<p class="info-table-header">Studia zamawiane</p>
        <table class="table-info">
            <tr>
                <th>Punkty</th>
                <td>{% if points %}{{points}}{% endif %}</td>
            </tr>
            <tr>
                <th>Uwagi</th>
                <td>{{ comments|safe }}</td>
            </tr>            
        </table>
{% endif %}

{% if user.student %}
<p class="info-table-header">Moje studia</p>
    <table class="table-info">
        {% comment %}
        W tej chwili nie mamy aktualnych informacji z USOSa i znamy tylko
        liczbę ECTS bez uwzględnienia ostatniego semestru, co jest mało
        przydatne dla studenta (a pewnie nawet mylące). W związku z tym to pole
        jest tymczasowo wyłączone.
        <tr>
            <th>Punkty ECTS uzyskane do tej pory</th>
            <td>{{user.student.ects}}</td>
        </tr>
        {% endcomment %}
        <tr>
            <th>Program</th>
            <td>{{user.student.program}}</td>
        </tr>
        <tr>
            <th>Semestr studiów</th>
            <td>{{user.student.semestr}}</td>
        </tr>
        <tr>
            <th>Aktualny semestr</th>
            <td>{{ semester }}</td>
        </tr>
        <tr>
            <th>Punkty ECTS na aktualny semestr</th>
            <td>{{ current_semester_ects }}</td>
        </tr>
     </table>
{% endif %}

{% if grade %}
    <h4>Udział w Ocenie zajęć</h4>
    <table class="table-info-big">
            {% for semester in grade %}

        <tr>
            <td>{{ semester }}</td>
        </tr>
            {% endfor %}
    </table>
{% endif %}

<p class="info-table-header">Terminy</p>
<table class="table-info-big">
    {% with dateFormatStr="l j E G:i" %}
        <tr>
            <th>Zniesienie limitu 35 ECTS</th>
            <td>{{ semester.records_ects_limit_abolition|date:dateFormatStr }}</td>
        </tr>
        {% if semester.records_ending %}
            <tr>
                <th>Koniec wypisów</th>
                <td>{{ semester.records_ending|date:dateFormatStr }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Koniec zapisów</th>
            <td>{{ semester.records_closing|date:dateFormatStr }}</td>
        </tr>
    
        {% if courses %}
            {% regroup courses by opening_time as times %}
            {% for time in times %}
            <tr>
                <th>Czas:</th>
                <td>{{ time.grouper|date:dateFormatStr }}</td>
            </tr>
                <tr>
                <td></td>
                <td>
                    {% if time.list %}
                        <ul class="voted-courses">

                        {% for item in time.list %}
                            <li><a href="{{ item.course.get_absolute_url }}">{{item.course.name}}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>                    
            </tr>
            {% endfor %}
        {% endif %}
    {% endwith %}
</table>

{% if grade %}
    <p class="info-table-header">Udział w Ocenie zajęć</p>
    <table class="table-info-big">
        {% for semester in grade %}
            <tr>
                <td>{{ semester }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if user.is_staff %}
<p class="info-table-header">{%  trans "Ustawienie preferencji językowych" %}</p>
{% get_available_languages as LANGUAGES %}
<form method="post" action="{% url 'setlang' %}">
    {% csrf_token %}
    <table class="table-striped">
        <tr>
            <th>{%  trans "Select language" %}</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <select name="language">
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% if request.session.django_language == lang.0 %}selected="selected"{% endif %}>{{ lang.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button class="btn primary" type="submit">Ustaw</button>
            </td>
        </tr>
    </table>
</form>
{% endif %}
<p class="info-table-header">Ustawienia powiadomień</p>

<form method="POST" action="{% url 'notifications:save' %}">
    {% csrf_token %}
    {{ notifications.management_form }}

    {% regroup notifications|dictsort:"category" by category as categories_list %}



    <table class="notifications">
    {% for group in categories_list %}
        <tr class="catgroup{{ forloop.counter }}">
            <th>
                {{ group.grouper }}
            </th>
            <th><input type="checkbox" class="checkall"></th>
        </tr>
        {% for form in group.list %}
        <tr class="catgroup{{ forloop.parentloop.counter }}">
            <td>{{ form.instance.get_type_display }}</td>
            <td>{{ form.value }}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
    <p>
        <strong>Uwaga</strong>: potwierdzenia oceny i głosowania zostaną podpisane i będą stanowić <strong>jedyną</strong> podstawę reklamacji.
    </p>
    <button type="submit" class="btn success right">
        Zapisz
    </button>
</form>
{% if perms.users.mailto_all_students %}
    <a href="{% url 'email-students' %}">Wyślij wiadomość do studentów</a>
{% endif %}
{% endblock %}
