{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block js %}{{ block.super }}


<script>
$(function(){
$('.checkall').on('click', function(){
    var cls = $(this).parent().parent().attr('class');
    if( $(this).attr('checked')){
        $('tr[class="'+ cls +'"]').find('input[type="checkbox"]').attr('checked', true);
    } else {
        $('tr[class="'+ cls +'"]').find('input[type="checkbox"]').attr('checked', false);
    }
})
});
</script>

{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item active" aria-current="page">Moje konto</li>
{% endblock %}

{% block main-subtitle %}Moje konto{% endblock %}

{% block all-content %}
    <div class="mb-5">
        <h4>Moje dane</h4>
        <table class="table table-condensed">
            <colgroup>
                <col class="table-info-type"></col>
                <col></col>
            </colgroup>
            <tr>
                <th>login</th>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ request.user.email }}</td>
            </tr>
            {% if user.student %}
                <form action="{% url 'personal_data_consent' %}" method="post">
                    {% csrf_token %}
                    <tr>
                        <th>Zgoda na udostępnianie danych innym studentom</th>
                        <td>
                        {% if user.student.consent_granted %}
                            Tak&emsp;
                            <button type="submit" value="Wycofaj zgodę" name="no" class="btn btn-secondary">Wycofaj zgodę</button>
                        {% else %}
                            Nie&emsp;
                            <button type="submit" value="Udziel zgody" name="yes" class="btn btn-secondary">Udziel zgody</button>
                        {% endif %}</td>
                    </tr>
                </form>
            {% endif %}
            {% if user.employee %}
                <tr>
                    <th>pokój</th>
                    <td>{{ request.user.employee.room }}</td>
                </tr>
                <tr>
                    <th>strona domowa</th>
                    <td><a href="{{ homepage }}">{{ request.user.employee.homepage|default:"" }}</a></td>
                </tr>
                <tr>
                    <th>tytuł naukowy</th>
                    <td>{{ request.user.employee.title }}</td>
                </tr>
            {%endif%}
        </table>
    
        <a class="btn btn-light" href="{% url 'password_change' %}" role="button">Zmień hasło</a>
        <a class="btn btn-light" href="{% url 'email_change' %}" role="button">Zmień adres email</a>
        {% if user.employee %}
            <a class="btn btn-light" href="{% url 'consultations-change' %}" role="button">Zmień inne dane</a>
        {% endif %}
    </div>
    
    {% if user.employee %}
        <div class="mb-5">
            <h4>Konsultacje</h4>
            {% if user.employee.consultations %}
                {{ user.employee.consultations }}
            {% else %}
                Brak informacji
            {% endif %}
        </div>
    {% endif %}

    {% if perms.users.mailto_all_students %}
        <div class="mb-5">
            <h4>Kontakt</h4>
            <a class="btn btn-light" href="{% url 'email-students' %}" role="button">Wyślij wiadomość do studentów</a>
        </div>
    {% endif %}

    {% if user.student %}
    <div class="mb-5">
        <h4>Moje studia</h4>
        <table class="table table-condensed">
            <colgroup>
                <col class="table-info-type"></col>
                <col></col>
            </colgroup>
            <tr>
                <th>Punkty ECTS uzyskane do końca poprzedniego semestru</th>
                <td>{{ user.student.ects }}</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>{{ user.student.program }}</td>
            </tr>
            <tr>
                <th>Semestr studiów</th>
                <td>{{ user.student.semestr }}</td>
            </tr>
            <tr>
                <th>Aktualny semestr</th>
                <td>{{ semester }}</td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="mb-5">
        <h4>Terminy</h4>
        <table class="table table-condensed">
            <colgroup>
                <col class="table-info-type"></col>
                <col></col>
            </colgroup>
            {% with dateFormatStr="l j E G:i" %}
            <tr>
                <th>Zniesienie limitu 35 ECTS</th>
                <td>{{ semester.records_ects_limit_abolition|date:dateFormatStr }}</td>
            </tr>
            {% if semester.records_ending %}
                <tr>
                    <th>Koniec wypisów</th>
                    <td>{{ semester.records_ending|date:dateFormatStr }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Koniec zapisów</th>
                <td>{{ semester.records_closing|date:dateFormatStr }}</td>
            </tr>

            {% if groups_times %}
                {% regroup groups_times|dictsort:"opening_time" by opening_time as times %}
                {% for time in times %}
                <tr>
                    <th>Czas:</th>
                    <td>{{ time.grouper|date:dateFormatStr }}</td>
                </tr>
                    <tr>
                    <td class="blank-field"></td>
                    <td>
                        {% with groups_at_time=time.list %}
                        {% if time.list %}
                        {% regroup groups_at_time|dictsort:"course_id" by course as courses %}
                            <ul class="voted-courses">
                            {% for course in courses %}
                                <li><a href="{{ course.grouper.get_absolute_url }}">{{ course.grouper.name }}</a>
                                    <ul class="classes-list">
                                        {% for group in course.list|dictsort:"type" %}
                                            <li>
                                                <a href="{% url 'group-view' group.pk %}">{{ group.human_readable_type }} {{ group.term.all|join:";" }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </table>
    </div>
    
    {% if semesters_participated_in_grade %}
        <div class="mb-5">
            <h4>Udział w Ocenie zajęć</h4>
            <table class="table table-condensed">
                <colgroup>
                    <col class="table-info-type"></col>
                    <col></col>
                </colgroup>
                {% for semester in semesters_participated_in_grade %}
                    <tr>
                        <td>{{ semester }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    
    <div class="mb-5">
        <h4>Ustawienia powiadomień</h4>
        <form method="POST" action="{% url 'notifications:save' %}">
            {% csrf_token %}
            {{ notifications.management_form }}
        
            {% regroup notifications|dictsort:"category" by category as categories_list %}
        
            <table class="table table-condensed">
                {% for group in categories_list %}
                    <tr class="catgroup{{ forloop.counter }} notification-type">
                        <th>
                            {{ group.grouper }}
                        </th>
                        <th><input type="checkbox" class="checkall"></th>
                    </tr>
                    {% for form in group.list %}
                    <tr class="catgroup{{ forloop.parentloop.counter }}">
                        <td>{{ form.instance.get_type_display }}</td>
                        <td>{{ form.value }}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <p>
                <strong>Uwaga</strong>: potwierdzenia oceny i głosowania zostaną podpisane i będą stanowić <strong>jedyną</strong> podstawę reklamacji.
            </p>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-light right">
                    Zapisz
                </button>
            </div>
        </form>
    </div>
{% endblock %}
