{% extends "base.html" %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
<a href="{% url 'my-profile' %}">Moje konto</a> &raquo;
Zmień hasło
{% endblock %}
{% block content %}

<form action='' method="post" autocomplete="off">{% csrf_token %}
	<fieldset>
        <legend><h2>Zmień hasło</h2></legend>
        <div class="clearfix">
            <label for="id_old_password">Stare hasło</label>
            <div class="input">
              <input type="password" size="30" name="old_password" id="id_old_password" class="xlarge">
            </div>
          </div>
        <div class="clearfix">
            <label for="id_new_password1">Nowe hasło</label>
            <div class="input">
              <input type="password" size="30" name="new_password1" id="id_new_password1" class="xlarge">
            </div>
          </div>
        <div class="clearfix">
            <label for="id_new_password2">Nowe hasło ponownie</label>
            <div class="input">
              <input type="password" size="30" name="new_password2" id="id_new_password2" class="xlarge">
            </div>
          </div>
        <div class="actions">
            <input type="submit" class="btn success" value="zmień">
          </div>
		
	</fieldset>
</form>

{% endblock %}

