{% extends "base.html" %}
{% load compressed %}
{% load static %}

{% block styles %}
  {% compressed_css 'my_profile' %}
  <link rel="stylesheet" href="{% static "css/users/my_profile.css" %}" type="text/css">
{% endblock %}

{% block bread %}
	<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
	<li class="breadcrumb-item active" aria-current="page">Resetuj hasło</li>
{% endblock %}

{% block main-subtitle %}Nowe hasło utworzone{% endblock %}

{% block content %}
<p class="message">
	Twoje hasło zostało zresetowane. Możesz się <a href="{% url 'user-login' %}">zalogować</a> korzystając z nowego hasła.
</p>
{% endblock %}
