{% extends "base.html" %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
Resetuj hasło
{% endblock %}

{% block content %}
<form action="" method="post" autocomplete="off">{% csrf_token %}
	<fieldset>
	  	<legend><h2>Resetuj hasło</h2></legend>
        <div class="clearfix">
            <label for="id_email">Email</label>
            <div class="input">
              <input type="text" size="30" name="email" id="id_email" class="xlarge">
            </div>
          </div>
        <div class="actions">
            <input type="submit" class="btn success" value="resetuj">
          </div>

	</fieldset>
</form>
{% endblock %}