{% load render_bundle from webpack_loader %}

<div id="student-profile">
	<h3 class="subheader">{{student.get_full_name}}</h3>
	<table class="table table-condensed">
			<colgroup>
				<col class="table-info-type"></col>
				<col></col>
			</colgroup>
		<tr>
			<th>Adres email</th>
			<td>
				{% if student.user.email %}
					<a href="mailto:{{student.user.email}}">
						{{student.user.email}}
					</a>
				{% else %}
					brak danych
				{% endif %}
			</td>
		</tr>
        <tr>
            <th>Nr indeksu</th>
            <td>{{student.matricula}}</td>
        </tr>
        <tr>
            <th>Rodzaj studiów</th>
            <td>{{student.program}}</td>
        </tr>
        <tr>
            <th>Semestr</th>
            <td>{{student.semestr}}</td>
        </tr>
        {% if user.is_staff or user.employee %}
        <tr>
            <th>Punkty ECTS</th>
            <td>{{student.ects}}</td>
        </tr>
        {% endif %}
	</table>

	<h3 class="subheader">Plan zajęć:</h3>
	<div id="timetable"></div>
	<script id="timetable-data" type="application/json">{{ groups_json|safe }}</script>
	{% render_bundle 'timetable-timetable-component' %}
</div>
