{% extends "enrollment/base.html" %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}
    {% if employees_dict %} Lista pracowników {% elif students %} Lista studentów {% endif %}
{% endblock %}

{% block bread %}
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item"><a href="/courses">Zapisy</a></li>
  <li class="breadcrumb-item active" aria-current="page">
      {% if employees_dict %} Pracownicy {% elif students %} Studenci {% endif %}
  </li>
{% endblock %}


{% block enrollment_menu_employees %} {% if employees_dict %} class="active" {% endif %} {% endblock %}
{% block enrollment_menu_students %} {% if students %} class="active" {% endif %} {% endblock %}


{% block top-content %}
    <div id="user-filter"></div>
{% endblock %}

{% block content %}
    {% if employees_dict %}
        {% if employee %}
            {% include "users/employee_profile_contents.html" %}
        {% else %}
            <div class="alert alert-primary">
                Wybierz pracownika z listy
            </div>
            <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Konsultacje
            </a>
            <div class="collapse mt-2" id="collapseExample" >
                    {% include "users/consultations_list.html" %}
            </div>
        {% endif %}
    {% elif students %}
        {% if student %}
            {% include "users/student_profile_contents.html" %}
        {% else %}
            <div class="alert alert-primary">
                Wybierz studenta z listy
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if employees_dict %}
        {{ employees_dict|json_script:"user-list-json-script" }}
    {% elif students %}
        {{ students|json_script:"user-list-json-script" }}
    {% endif %}
    <div id="user-link" data="{{ user_link }}" style="display:none;"></div>
        <h3>{% if employees_dict %} Lista pracowników {% else %} Lista studentów {% endif %}</h3>
        <div id="user-list"></div>
{% endblock %}
{% block rendered_bundles %}
    {% render_bundle 'users-user-filter'%}
{% endblock rendered_bundles %}