/**
 * Style odpowiadające za wyświetlanie pobierania biletów
 */


#grade-connection-choice{
	padding: 10px;
}

#grade-connection-choice h3{text-align: left;}

#grade-connection-choice-form {
	margin-top: 10px;
	width: 100%;
}

#grade-connection-choice-form tr {background-color: #cccccc;}

#grade-connection-choice-form td, #grade-connection-choice-form th{padding: 5px 10px 5px 10px;}

#grade-connection-choice-form th {font-weight: normal;}

#grade-connection-choice-form tr:nth-child(even) {background-color:#F8F8F8;}

#grade-connection-choice-form td:nth-child(2) {
	width:20%;
	text-align: center;
}
 
#connection_choice_button {
	margin-top: 20px;
        padding: 5px 40px;
}

h3 > a {
	float: right;
	margin-right: 8%;
}
