/**
 * Style odpowiadające za wyświetlanie wyników oceny
 */


/*** WYŚWIETLANIE WYNIKÓW OCENY ***/

#menu_boczne
{
width:200px;
background:#F8F8F8;
border: 1px solid #CCC;
padding:10px;
}

.lata
{
width:80px;
}

/*** WYŚWIETLANIE WYNIKÓW OCENY - koniec ***/

