/**
 * Style odpowiadające za panel oceny
 */


/*** GŁOWNA STRONA OCENY ***/

#grade-main-rules
{
    text-align: justify;
    margin-bottom: 30px;
}

#grade-main .link, #grade-main .disabled-link
{
    text-align: center;
}

#grade-main .link
{
    font-size: 20px;
    padding-top: 10px;
}

#grade-main
{
border: 1px solid #CCC;
padding:10px;
}

#grade-main-rules
{
background:#F8F8F8;
border: 1px solid #CCC;
padding:10px;
}

/*** GŁOWNA STRONA OCENY - koniec ***/

