/**
 * Style odpowiadające za tworzenie zbioru
 */


/*** TWORZENIE ANKIETY ***/

#tytul_ankiety
{
margin:10px;
}

#questionset
{
background:#F8F8F8;
border: 1px solid #CCC;
padding:15px 20px 10px 10px; 
}

.hideOnCheckbox
{
    display:inline;
}

#section-title
{
    width: 440px;
    font-size:14px;
    font-weight:bold;
    color: #666666;
}

#section-desc
{
    margin-top:5px;
    font-size:12px;
    width:598px;
    color: #666666;
}

.section-option
{
    width:440px;
}

.section-edit
{
    background: #FFF4C2;
}

.section-show
{
    width:500px;
}

.section-mouseover
{
    background: #FFF4C2;
}

.poll-question-answer
{
margin:10px;
}

.poll-question
{
margin:15px;
}

.poll-question-answers
{
}

.edit-mode
{
    display:block;
    position:absolute;
    top: 0px;
    right:0px;
}

#poll-form {
    list-style-type: none;
}

/*** TWORZENIE ANKIETY - koniec ***/


label.error {
    color: red;
    display:block;
}

.poll-question-answer label.error {
    display: inline;
}
