#results-content
{
	border: 1px solid #cccccc;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	margin-left: 170px;
	padding: 20px 40px;
}

#results-poll-menu
{
	width: 170px;
	float: left;
}

#results-groupping-list, #results-by-subject-list, #results-by-teacher-list
{
	list-style-type: none;
	padding-left: 0;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#results-by-subject-list li, .result-groupped-list li, #results-by-teacher-list li
{
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

#results-by-subject-list li:last-child, .results-groupped-list li:last-child, #results-by-teacher-list li:last-child
{
	border-bottom: 0;
}

.results-groupped-list
{
	list-style-type: none;
	padding: 0;
	border: 0;
	border-top: 1px solid #cccccc;
}

#subjects-list-link, #teachers-list-link, #results-by-subject-list li a, #results-by-subject-list li span, .results-groupped-list li a, .results-groupped-list li span, #results-by-teacher-list li a, #results-by-teacher-list li span
{
	padding-top: 2px;
	padding-bottom: 2px;
	background: #F8F8F8;
	display: block;
	color: black;
	text-decoration: none;
}

#subjects-list-link, #teachers-list-link, #results-by-subject-list li a, #results-by-subject-list li span, #results-by-teacher-list li a, #results-by-teacher-list li span .results-groupped-list li a
{
	background: #F8F8F8;
}

#subjects-list-link, #teachers-list-link, .results-groupped-list li a, .results-groupped-list li span
{
	padding-left: 20px;
}

#subjects-list-link:hover, #teachers-list-link:hover, #results-by-subject-list li a:hover, #results-by-teacher-list li a:hover, .results-groupped-list li a:hover
{
	background: #eeeeee;
}

