#grade-tickets-save-form {
        padding: 10px;

}

#grade-tickets-save-form textarea {
        
	display: block;
	margin-top: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}

#grade-tickets-save-form h3 {
	font-size: 20px;
	font-weight: bold;
}


.download-keys-button {
    margin-top: 3px;
    padding: 10px;
    margin-left: 40%;
    text-align: center;
    }

.grade-error-message
{
        border: 1px solid #cccccc;
        background: #FFF5B3;
        font-size: 16px;

        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        margin-bottom: 35px;
        padding: 20px 40px;

}

