<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Fereol &ndash; błąd 500</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
</head>
<body>
	<h1>Błąd 500</h1>
	<p>Wystąpił błąd w naszym oprogramowaniu. Zapisał się w logu, ale jeżeli
		uważasz, że posiadasz dodatkowe informacje, które mogły by się przydać
		w identyfikowaniu problemu &ndash; skontaktuj się z obsługą serwisu.
	</p>
	<p><a href="/">Powrót do strony głównej</a>.</p>
</body>
</html>