{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Błąd 500 &ndash; System Zapisów</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
</head>
<body>
<h1>Błąd 500</h1>
<h3>Wystąpił błąd w naszym oprogramowaniu.</h3>
<p>Szczegóły błędu zostały zapisane w logu serwisu, a administratorzy zostali powiadomieni, ale jeżeli posiadasz
    dodatkowe informacje, które pomogą namierzyć przyczynę problemu,
    <a href="https://github.com/iiuni/projektzapisy/issues/new">stwórz nowy problem na trackerze Zapisów</a>.
</p>
<p><a href="/">Powrót do strony głównej</a>.</p>
</body>
</html>
