{% load static %}
{% load settings_value %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Błąd 500 &ndash; System Zapisów</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
</head>
<body>
	<h1>Błąd 500</h1>
	<h3>Wystąpił błąd w naszym oprogramowaniu.</h3>
	<p>Szczegóły błędu zostały zapisane w logu serwisu,
	a administratorzy zostali powiadomieni, ale jeżeli posiadasz
	dodatkowe informacje, które pomogą namierzyć przyczynę problemu,
	<a href="{{ "ISSUE_TRACKER_NEW_ISSUE_URL"|settings_value }}">stwórz nowy problem 
	na trackerze Zapisów.</a></p>
	<p><a href="/">Powrót do strony głównej</a>.</p>
</body>
</html>
