{% load fereol_common %}
{% load compressed %}
{% load staticfiles %}
{% load settings_value %}
{% load osenv_value %}
{% load django_version %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block main-subtitle %}{% endblock %} &ndash; {% block title %}System Zapisów{% endblock %}</title>
    <meta name="description"
          content="System obsługi cyklu dydaktycznego Instytut Informatyki Uniwersytetu Wrocławskiego">
    <meta name="author" content="KSI i Studenci Instytutu Informatyki Uniwersytetu Wrocławskiego">
    <script src="{% static "vendor.js" %}"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109984921-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109984921-1');
    </script>
    <!-- Le styles -->
    <style>
        .label {
          padding: 1px 3px 2px;
          font-size: 9.75px;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          white-space: nowrap;
          background-color: #bfbfbf;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        .label.important {
          background-color: #c43c35;
        }
        .label.warning {
          background-color: #f89406;
        }
        .label.success {
          background-color: #46a546;
        }
        .label.notice {
          background-color: #62cffc;
        }

    </style>
    {% block styles %}
        {% compressed_css 'main' %}
    {% endblock %}
    <script type="text/javascript">
            const user_is_student = {% if request.user.student %}true{% else %}false{% endif %};
    </script>
    {% block js %}{% compressed_js 'main' %}{% endblock %}
    {% block rss %}{% endblock %}
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cookieconsent.min.css' %}" />
    <script src="{% static 'js/cookieconsent.min.js' %}"></script>
    <script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#222222"
            },
            "button": {
              "background": "#00709e"
            }
          },
          "showLink": false,
          "theme": "classic",
          "position": "bottom",
          "content": {
            "message": "{% trans 'System zapisów wykorzystuje pliki cookies. Korzystanie z witryny oznacza zgodę na ich zapis lub odczyt według ustawień przeglądarki.' %}",
            "dismiss": "OK"
          }
        })
    });
    </script>
    <script src="{% static "js/common/utils.js" %}"></script>
    <script src="{% static "js/common/base.js" %}"></script>
</head>

<body>


<form action="/" method="post" style="display: none">
    <p><input type="hidden" name="data-invalidated" value="no"/></p>
</form>
<script type="text/javascript">
    jQuery.dataInvalidate_check();
    $(document).ready(function() {
        $('.dropdown-menu input,label').click(function(e) {
                e.stopPropagation(); //This will prevent the event from bubbling up and close the dropdown when you type/click on text boxes.
        });
    });
</script>

<div class="top">
    <div class="topbar">
        <div class="fill">
            <!-- up-menu  -->
            <div class="container">

                <ul class="topBarLinkContainer">
                    <li{% block enrollment_active %}{% endblock %}>
                        <a href="{% url 'enrollment-main' %}">System Zapisów</a>
                    </li>
                    <li{% block grade_active %}{% endblock %}>
                        <a href="{% url 'grade-main' %}">Ocena Zajęć</a>
                    </li>
                    <li{% block offer_active %}{% endblock %}>
                        <a href="{% url 'offer-main' %}">Oferta</a>
                    </li>
                    {% if perms.courses.view_stats %}
                        <li{% block statistics_active %}{% endblock %}>
                            <a href="{% url 'statistics:main' %}">Statystyki</a>
                        </li>
                    {% endif %}
                    <li{% block events_active %}{% endblock %}>
                        <a href="{% url 'events:classrooms' %}">Sale</a>
                    </li>

                </ul>
                {% if user.is_authenticated %}
                    <div class="user-panel">
                        <strong>
                        {{ user.get_full_name }}
                        </strong>
                        |
                        <a href="{% url 'my-profile' %}">Moje konto</a> |
                        {% if user.is_staff %}
                            <a href="/fereol_admin/">Admin</a> |
                        {% endif %}
                        {% if user.profile.is_student and user.student.get_number_of_news > 0 %}
                            <a href="{% url 'news-all' %}"
                               class="unread">Aktualności ({{ user.student.get_number_of_news }})</a> |
                            {% elif user.profile.is_employee and user.employee.get_number_of_news > 0 %}
                                <a href="{% url 'news-all' %}"
                                   class="unread">Aktualności ({{ user.employee.get_number_of_news }})</a> |
                            {% else %}
                                <a href="{% url 'news-all' %}">Aktualności</a> |

                        {% endif %}
                        <a href="{% url 'help' %}">Pomoc</a> |
                        <a href="{% url 'cas_ng_logout' %}">Wyloguj</a>
                    </div>
                {% else %}
      <ul class="nav secondary-nav">
          <li class="dropdown" data-dropdown="dropdown">
              <a href="#" id="login-dropdown" class="dropdown-toggle" data-toggle="dropdown"><b>Zaloguj się</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                         <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'cas_ng_login' %}" class="btn" id="btn-usos"><img src="{% static 'images/usos-login-logo.png'%}" alt="Uniwersytet Wrocławski">Zaloguj się przez USOS</a>
                                    <button class="btn primary" id="btn-no-usos">
                                      lub użyj konta Systemu Zapisów
                                    </button>
                                    <div id="login-without-usos">
                                      <form action="{% url 'user-login' %}" method="POST">
                                          {% csrf_token %}
                                          {% if request.path == '/' %}
                                              <input type="hidden" name="next" value="{% url 'schedule-own' %}"/>
                                          {% else %}
                                              <input type="hidden" name="next" value="{{request.path}}"/>
                                          {% endif %}
                                          <div class="form-group">
                                              <input tabindex="1" type="text" id="id_login" name="username" placeholder="Użytkownik">
                                          </div>
                                          <div class="form-group">
                                              <input tabindex="2" type="password" id="id_password" name="password" placeholder="Hasło">
                                          </div>
                                          <div class="form-group">
                                               <button type="submit" tabindex="4" class="btn btn-primary btn-block">Zaloguj &raquo;</button>
                                          </div>
                                          <div class="form-group">
                                              <label>
                                              <input type="checkbox" tabindex="3"  value="true" id="xlInput3" name="remember_me"> Pamiętaj mnie</label>
                                          </div>
                                      </form>
                                    </div>
                                </div>
                         </div>
                    </li>
                </ul>
            </li>
        </ul>
                {% endif %}
            </div>
            <!-- end up-menu  -->
        </div>
    </div>


    <div class="header">

        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'images/logotyp.jpg'%}" alt="Uniwersytet Wrocławski">
                </a>
            </div>
        </div>
    </div>
    <!-- down-menu  -->
    <div class="topbar systemtopbar">
        <div class="fill">
            <div class="container">
                <ul id="main-menu-list">
                    {% block system_menu %}
                        {# end system_menu #}
                    {% endblock %}
                </ul>


            </div>
        </div>
    </div>
    <!-- end down-menu  -->
</div>



<div class="container">
    <div class="container space">
        <div class="bread">
            {% block bread %}
            {% endblock %}
        </div>
        {% block messages %}
        {% for message in messages %}
            <div class="alert-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        {% endblock %}
        <div id="main-content-container" class="row show-grid sidebar-right marginFix">
            {% block topContent %}{% endblock %}
            {% block center %}
                <div class="span{% block content-width %}11{% endblock %} columns marginFix contentNoCollapse">
                    {# WARNING ajaxCourseLoad.ts depends on this #}
                    <div id="main-content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div class="span{% block sidebar-width %}5{% endblock %} columns">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>


    <footer>
        <p>
            {# <a href="{% url 'on-mobile' %}" class="go-mobile">Przejdź do wersji mobilnej</a> #}
            &copy; {% now "Y" %} <a href="http://www.ii.uni.wroc.pl/">Instytut Informatyki UWr</a>
            {% if user.is_authenticated %} | Nieprawidłowe dane należy zgłaszać na adres <a href="mailto:zapisy@cs.uni.wroc.pl">zapisy@cs.uni.wroc.pl</a>{% endif %}
            | Błędy i uwagi: <a href="https://tracker-zapisy.ii.uni.wroc.pl/">[link]</a> Wygenerowano: {% now "H:i:s" %}
            {% if "DEBUG"|settings_value == True or "II_ZAPISY_STAGING"|osenv_value == "True" %}| <strong>Django {% django_version %}</strong>{% endif %}
        </p>
    </footer>

</div>
<!-- /container -->

</body>

</html>
