<!DOCTYPE html>
<html>
<head>
  <title>{{ subject }}</title>
</head>
<body>
Cześć {{ user.first_name }},<br>
<br>
{% block content %}
{% endblock %}
<br><br>
Zespół zapisy.ii.uni.wroc.pl<br>
<br>
---<br>
{% if include_direct_link %}<a href="https://zapisy.ii.uni.wroc.pl/news/{{ news_id }}">Wyświetl na stronie zapisów</a><br>{% endif %}
Wiadomość wygenerowana automatycznie. Treść może ulec zmianie.<br>
Jeśli nie chcesz otrzymywać więcej powiadomień tego typu, zaktualizuj opcje w swoim profilu (https://zapisy.ii.uni.wroc.pl/users).<br>

</body>
</html>
