{% extends "enrollment/base.html" %}
{% load compressed %}
{% load cache %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block styles %}
{% compressed_css 'mainpage' %}
{% endblock %}

{% block main-subtitle %}Powiadomienia{% endblock %}

{% block bread %}
<a href="/">Strona główna</a> &raquo;
Powiadomienia
{% endblock %}

{% block all-content %}
<span style="font-weight: bold;">{{ notification_counter }}</span>
<div class="notifications-list">
    <h3>Lista powiadomień</h3>
    {% if notifications %}
    <ol>
        {% for notification in notifications %}
        <li>{{ notification }}</li>
        {% endfor %}
    </ol>
    {% else %}
    <p>jest pusta</p>
    {% endif %}
</div>

<hr>
<div class="notifications-preferences">
    <h3>Ustawienia</h3>
    <p>Jeśli chcesz wyłączyć powiadomienia mailowe <a href="{% url 'notifications:preferences' %}"> >> Preferencje</a></p>
</div>
{% endblock %}
