{% extends "base.html" %}

{% load url from future %}
{% load fereol_common %}
{% load compressed %}
{% block main-subtitle %}Powiadomienia{% endblock %}

{% block content-class %}narrow{% endblock %}


{% block bread %}
    <a href="/">Strona główna</a>  &raquo;
    Powiadomienia
{% endblock %}

{% block content %}
    <h2>Powiadomienia</h2>
    <div id="notifications-content">
	Wyślij powiadomienia:
	<ul>
	    <li>
                Rozpoczęcie głosowania:
		<form method="post" action="{% url 'notifications:vote_start' %}">
		    {% csrf_token %}
		    <label for="year">Rok akademicki: &nbsp;</label> <input type="number" id="year" name="year" class="small" value="{{ year }}" /><br />
		    <label for="which">Rodzaj głosowania: &nbsp;</label>
		    <select name="which" id="which" class="small">
		        <option value="main">Główne</option>
			<option value="winter">Korekta zimowa</option>
			<option value="summer">Korekta letnia</option>
		    </select>
		    <br />
		    <input type="submit" value="Wyślij" />
		</form>
            </li>
            <li><a href="{% url 'notifications:grade_start' %}">Rozpoczęcie oceny zajęć</a></li>
            <li><a href="{% url 'notifications:enrollment_limit' %}">Podniesiono limit ECTS</a></li>
	</ul>
    </div>
{% endblock %}
