{% extends "common/index.html" %}

{% block main-subtitle %}Powiadomienia{% endblock %}

{% block bread %}
<a href="/">Strona główna</a> &raquo; Powiadomienia &raquo; Preferencje
{% endblock %}

{% block all-content %}

<h2>Preferencje</h2>
<p>O czym chcesz być informowany mailowo?</p>
<form method="POST" action="{% url 'notifications:preferences-save' %}">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <button type="submit">Wyślij</button>
</form>

{% endblock %}
