/**
 * Kształtowanie oferty dydaktycznej - propozycje przedmiotów
 */

 a.with-js
 {
     display:none;
 }
 
 form.force-js
 {
     display:inline;
 }
 
 #od-proposal-contents
 {
     border: 1px solid #cccccc;
 
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     padding: 10px 40px;
 }
 
 /* Komunikat widoczny, jeżeli user nie wybierze przedmiotu. */
 #od-proposal-mainMessage
 {
     text-align: center;
     font-size: 18px;
     padding-top: 20px;
 }
 
 /*** LISTA PROPOZYCJI ***/
 
 #od-proposal-proposalmenu
 {
     width: 170px;
     float: left;
 }
 
 #od-proposal-proposalmenu #od-proposal-addlink
 {
     display:block;
     margin: 10px 5px;
 }
 
 .proposals-list li { margin-bottom: 7px; }
 ul.proposals-list li a { color: #000000; }
 
 
 
 /*** FORMULARZ DODAWANIA / EDYCJI ***/
 
 #od-proposal-form hr
 {
     margin-top: 30px;
 }
 
 #od-proposal-form .title input
 {
     width: 100%;
     font-size: 30px;
 }
 
 #od-proposal-form .infoBox
 {
     font-size: 12px;
     padding: 0;
     list-style: none;
     height: 100%;
     overflow: hidden;
     padding: 10px 0;
 }
 
 #od-proposal-form .infoBox li
 {
     float: right;
     clear: right;
     width: 300px;
     text-align: right;
     padding: 2px;
 
     height: 100%;
     overflow: hidden;
 }
 
 #od-proposal-form .infoBox li label
 {
     float: left;
     padding: 4px;
     padding-top: 6px;
 }
 
 #od-proposal-form .infoBox .proposedTime label
 {
     padding-top: 19px;
 }
 
 #od-proposal-form .infoBox .proposedTime span
 {
     display: inline-block;
 }
 
 #od-proposal-form .infoBox .proposedTime span label
 {
     padding: 0;
     float: none;
     
     display: block;
     font-size: 10px;
     text-align: center;
     height: 13px;
     overflow: hidden;
 }
 
 #od-proposal-form .infoBox .proposedTime select
 {
     width: 45px;
 }
 
 #od-proposal-form-ects
 {
     width: 30px;
 }
 
 #od-proposal-form h3
 {
     font-size: 10px;
     padding-top: 20px;
 }
 
 #od-proposal-form textarea
 {
     width: 100%;
 }
 
 #od-proposal-form .mceEditor
 {
     display: block;
 }
 
 #od-proposal-form .mceLayout
 {
     width: 100% !important;
 }
 
 #od-proposal-form-books ul
 {
     list-style: none;
     padding: 0;
     padding-left: 20px;
 }
 
 #od-proposal-form-books ul input
 {
     width: 85%;
 }
 
 #od-proposal-form-books li
 {
     padding: 3px 0;
 }
 
 #od-proposal-form-books img
 {
     position: relative;
     top: 2px;
     margin-left: 3px;
 }
 
 #od-proposal-form-books > input
 {
     margin-top: 10px;
     margin-left: 20px;
     padding: 2px 15px;
 }
 
 #od-proposal-form #od-proposal-web-page
 {
     width: 95%;
 }
 
 #od-proposal-form-submitBar
 {
     text-align: right;
 }
 
 /*** FORMULARZ DODAWANIA / EDYCJI - koniec ***/
 
 /*** HISTORIA ZMIAN PROPOZYCJI ***/
 
 #od-proposal-history { }
 
 #od-proposal-history .back
 {
     padding: 0 15px;
 }

 #od-proposal-history h2
 {
     font-weight: normal;
     font-size: 30px;
     display: inline;
 }
 
 #od-proposal-history h3
 {
     padding-top: 20px;
     padding-bottom: 10px;
     font-weight: normal;
 }
 
 #od-proposal-history .author
 {
     padding-left: 10px;
     color: #999999;
 }
 
 #od-proposal-history .courserestore
 {
     padding-left: 10px;
 }
 
 /*** HISTORIA ZMIAN PROPOZYCJI - koniec ***/
 
 /*** PODGLĄD PROPOZYCJI ***/
 
 #od-proposal-view
 {
     height: 100%;
     overflow: hidden;
 }
 
 #od-proposal-view h2
 {
     font-weight: normal;
     font-size: 30px;
 }
 
 #od-proposal-view-editBtn
 {
     float: right;
     width: 16px;
     height: 16px;
     overflow: hidden;
     text-indent: 1000px;
 
     background: #e6e6e6 url('/static/images/edit-ico.png') no-repeat center;
 
     border: 1px solid #cccccc;
 
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
 }
 
 #od-proposal-view .infoBox
 {
     padding: 0;
     list-style: none;
     text-align: right;
 }
 
 #od-proposal-view .infoBox .proposedTime span:first-child:before
 {
     content: '(';
 }
 
 #od-proposal-view .infoBox .proposedTime span:after
 {
     content: ',';
 }
 
 #od-proposal-view .infoBox .proposedTime span:last-child:after
 {
     content: ')';
 }
 
 #od-proposal-view h3
 {
     font-size: 10px;
     padding-top: 20px;
 }
 
 #od-proposal-view .books
 {
     padding-left: 20px;
     padding-top: 5px;
     padding-bottom: 10px;
 }
 
 #od-proposal-view .interested
 {
     float: left;
     font-size: 12px;
     list-style: none;
     padding: 0;
 }
 
 #od-proposal-view .interested li
 {
     padding-bottom: 3px;
 }
 
 #od-proposal-view .actions
 {
     padding-top: 7px;
     text-align: right;
     font-size: 12px;
 }
 
 #od-proposal-view .actions p
 {
     padding-bottom: 3px;
 }
 
 #od-proposal-view .actions a
 {
     border-right: 1px solid #cccccc;
     padding-right: 6px;
     padding-left: 3px;
 }
 
 #od-proposal-view .actions a:last-child
 {
     border-right: 0;
     padding-right: 0;
 }

 ul
 {
    list-style: none;
 }

 .befan
 {
     font-weight: bold;
     font-size: large;
 }
 
 /*** PODGLĄD PROPOZYCJI - koniec ***/
 
