/**
 * Style odpowiedzialne za widoki dotyczące przeglądania i zapisów na
 * przedmioty.
 */





/*******************************************************************************
 * Widok przedmiotu - ogólne
 ******************************************************************************/

#enr-course-view h1
{
	font-weight: normal;
	font-size: 29px;
	padding-bottom: 10px;
}
/*******************************************************************************
 * Widok przedmiotu - szczegóły
 ******************************************************************************/

.details th { width: 120px;}

#enr-course-view, #enr-group-view
{
	position: relative;
}

#enr-course-view .details, #enr-group-view .details
{
	position: relative;
	margin-bottom: 20px;
    margin-top: 10px;
	overflow: hidden;
}

#enr-course-view .details h2,#enr-group-view .details h2
{
	font-size: 14px;
	color: #999999;
	font-weight: bold;

	margin-bottom: 10px;
}

#enr-course-view .details ul.properties, #enr-group-view .details ul.properties
{
	list-style: none;

	padding: 0;
	margin-right: 15px;
	margin-bottom: 12px;
	width: 320px;

	border: 1px solid #cccccc;
	background: none repeat scroll 0 0 #f8f8f8;

	float: left;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#enr-course-view .details ul.properties li, #enr-group-view .details ul.properties li
{
	border-bottom: 1px dotted #cccccc;
	padding: 3px 5px;
	font-size: 12px;

	/* dziwne, ale bez tego nie da się zaznaczać tego bloku */
	z-index: 1;
	position: relative;
}

#enr-course-view .details ul.properties li:last-child, #enr-group-view .details ul.properties li:last-child
{
	border-bottom: 0;
}

#enr-course-view .details ul.properties li span, #enr-group-view .details ul.properties li span
{
	color: #666666;
}

#enr-course-view .details .description, #enr-group-view .details .description
{
	position: relative;
	margin-bottom: 12px;
}

#enr-course-view .details .description .more, #enr-group-view .details .description .more
{
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	background: white;
	padding-left: 7px;

	white-space: nowrap;
}

#enr-course-view .details .footer, #enr-group-view .details .footer
{
	clear: left;
	margin-top: -12px;
}

#enr-course-view .details-toggle, #enr-group-view .details-toggle
{
	font-size: 12px;
	float: right;
}

#enr-course-edit-link
{
	float: right;
}

.course-details th
{
	width: 120px;
}

/*******************************************************************************
 * Widok przedmiotu - listy terminów
 ******************************************************************************/


/*******************************************************************************
 * Widok przedmiotu - listy terminów - padding tabeli i obramowania
 ******************************************************************************/

.setEnrolledButton
{
	margin-right: 10px;
    font-weight:bold;
}


/*******************************************************************************
 * Konsultacje prowadzących - łamanie długich linków 
 ******************************************************************************/

/* Strona kursu */
table.consultations tbody td:nth-child(3) {
	word-break: break-all;
}
/* Strona prowadzącego*/
 p.consultations {
	word-break: break-all;
}
