{% load i18n %}

<h3>{% trans "Lista osób zapisanych na przedmiot" %}:</h3>
        {% if group.limit_isim > 0 %}
			<p>Zapisanych w ramach limitu ISIM:
				{{ group.enrolled_isim }}
				/ {{ group.limit_isim }}.
			</p>
			<p>Zapisanych w ramach limitu dodatkowego:
				{{ group.get_count_of_enrolled_non_isim }}
				/ {{ group.limit_non_isim }}.
			</p>

		{% else %}
			<p>{% trans "Liczba zapisanych osób" %}: {{students_in_group|length}} /
			{{group.get_group_limit}}</p>
		{% endif %}

		{% if students_in_group %}
			{% include "enrollment/records/students_list.html" with students=students_in_group %}
			{# Translators: tekst przy linku mailto #}
			{% if request.user.is_staff or request.user.employee %}
			<p><strong>{% trans "Wyślij wiadomość do grupy" %}</strong>:
			<ul>
				<li><a href="mailto:{{ mailto_group }}">{% trans "udostępniając adresy mailowe studentów" %}</a></li>
				<li><a href="mailto:{{ mailto_group_bcc }}">{% trans "ukrywając adresy mailowe studentów" %}</a></li>
			</ul>
			</p>

			<p><strong>{% trans "Ściągnij listę studentów z grupy jako" %}</strong>:
			<ul>
				<li><a href="{% url 'group-pdf' group.id %}">pdf</a></li>
				<li><a href="{% url 'group-csv' group.id %}">csv</a></li>
			</ul>
			</p>
			{% endif %}
		{% endif %}

		<br/>
		{%if students_in_queue %}
			<h3>{% trans "Lista osób oczekujących na zapis" %}:</h3>
			<p> {% trans "Liczba osób oczekujących na zapis" %}: {{students_in_queue|length}} </p>

            {% include "enrollment/records/students_list.html" with students=students_in_queue %}
            {# Translators: tekst przy linku mailto #}
			{% if request.user.is_staff or request.user.employee %}
						<p><strong>{% trans "Wyślij wiadomość do kolejki" %}</strong>:
						<ul>
				  		<li><a href="mailto:{{ mailto_queue }}">{% trans "udostępniając adresy mailowe studentów" %}</a></li>
							<li><a href="mailto:{{ mailto_queue_bcc }}">{% trans "ukrywając adresy mailowe studentów" %}</a></li>
						</ul>
			      </p>

						<p><strong>{% trans "Ściągnij listę studentów z kolejki jako" %}</strong>:
            <ul>
              <li><a href="{% url 'queue-pdf' group.id %}">pdf</a></li>
              <li><a href="{% url 'queue-csv' group.id %}">csv</a></li>
            </ul>
						</p>
            {% endif %}
		{% endif %}
