{% load i18n %}

<h3>{% trans "Lista osób zapisanych na przedmiot" %}:</h3>
		{% if group.limit_zamawiane %}
			<p>{% trans "Zapisanych w ramach limitu studiów zamawianych" %}:
				{{ group.get_count_of_enrolled_zamawiane }}
				/ {{ group.limit_zamawiane }}.
			</p>
			{# Translators: limit dodatkowy to ten poza limitem dla zamawianych #}
			<p>{% trans "Zapisanych w ramach limitu dodatkowego" %}:
				{{ group.get_count_of_enrolled_non_zamawiane }}
				/ {{ group.limit_non_zamawiane }}.
			</p>
        {% elif group.limit_isim > 0 %}
			<p>Zapisanych w ramach limitu ISIM:
				{{ group.enrolled_isim }}
				/ {{ group.limit_isim }}.
			</p>
			<p>Zapisanych w ramach limitu dodatkowego:
				{{ group.get_count_of_enrolled_non_isim }}
				/ {{ group.limit_non_isim }}.
			</p>

		{% else %}
			<p>{% trans "Liczba zapisanych osób" %}: {{students_in_group|length}} /
			{{group.get_group_limit}}</p>
		{% endif %}


        {% if students_in_group %}
		    {% include "enrollment/records/students_list.html" with students=students_in_group %}
		    {# Translators: tekst przy linku mailto #}
        	<a href="mailto:{% for student in students_in_group %},{{ student.user.email }}{% endfor %}">[{% trans "Wyślij wiadomość do grupy" %}]</a>&nbsp;
            {% if user.is_staff or user.employee %}
                <ul>
                    <li><a href="{% url group-pdf group.id %}">{% trans "Ściągnij jako pdf" %}</a></li>
                    <li><a href="{% url group-csv group.id %}">{% trans "Ściągnij jako csv" %}</a></li>
                </ul>
            {% endif %}
        {% endif %}

		<br/>
		{%if students_in_queue %}
			<h3>{% trans "Lista osób oczekujących na zapis" %}:</h3>
			<p> {% trans "Liczba osób oczekujących na zapis" %}: {{students_in_queue|length}} </p>

            {% include "enrollment/records/students_list.html" with students=students_in_queue %}
            {# Translators: tekst przy linku mailto #}
			<a href="mailto:{% for student in students_in_queue %},{{ student.user.email }}{% endfor %}">[{% trans "Wyślij wiadomość do kolejki" %}]</a>

            {% if request.user.is_staff or request.user.employee %}
                <ul>
                    <li><a href="{% url queue-pdf group.id %}">{% trans "Ściągnij jako pdf" %}</a></li>
                    <li><a href="{% url queue-csv group.id %}">{% trans "Ściągnij jako csv" %}</a></li>
                </ul>
            {% endif %}
		{% endif %}
