$font-size-base: 0.9rem;

$display1-size:               $font-size-base * 3.5 !default;
$display2-size:               $font-size-base * 3 !default;
$display3-size:               $font-size-base * 2.5 !default;
$display4-size:               $font-size-base * 2 !default;

$enable-responsive-font-sizes: true;
$breadcrumb-bg: #ffffff;
