{% extends "base.html" %}

{% block bread %}
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item"><a href="/users">Moje konto</a></li>
  <li class="breadcrumb-item active" aria-current="page">Zmień e-mail</li>
{% endblock %}

{% block main-subtitle %}Zmień e-mail{% endblock %}

{% block all-content %}
  <h4>Zmień adres e-mail</h4>
    <form action='' method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="text" size="30" name="email" id="id_email" class="form-control" value="{{ form.email.value }}" required>
        </div>
        <input type="submit" class="btn btn-light" value="Resetuj">
    </form>

{% endblock %}