
.hidden-answers ul
{
    text-align: left;
}

#results-poll-menu
{
	width: 170px;
	float: left;
}

.hidden-answers .new { color:red;}

#results-groupping-list, #results-by-course-list, #results-by-teacher-list
{
	list-style-type: none;
	padding-left: 0;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#results-by-course-list li, .result-groupped-list li, #results-by-teacher-list li
{
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

#results-by-course-list li:last-child, .results-groupped-list li:last-child, #results-by-teacher-list li:last-child
{
	border-bottom: 0;
}

.results-groupped-list
{
	list-style-type: none;
	padding: 0;
	border: 0;
	border-top: 1px solid #cccccc;
}

#courses-list-link, #teachers-list-link, #results-by-course-list li a, #results-by-course-list li span, .results-groupped-list li a, .results-groupped-list li span, #results-by-teacher-list li a, #results-by-teacher-list li span
{
	padding-top: 2px;
	padding-bottom: 2px;
	background: #F8F8F8;
	display: block;
	color: black;
	text-decoration: none;
}

#courses-list-link, #teachers-list-link, #results-by-course-list li a, #results-by-course-list li span, #results-by-teacher-list li a, #results-by-teacher-list li span .results-groupped-list li a
{
	background: #F8F8F8;
}

#courses-list-link, #teachers-list-link, .results-groupped-list li a, .results-groupped-list li span
{
	padding-left: 20px;
}

.other-link:hover, #courses-list-link:hover, #teachers-list-link:hover, #results-by-course-list li a:hover, #results-by-teacher-list li a:hover, .results-groupped-list li a:hover
{
	background: #eeeeee;
}

.poll-header
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
}

.section-results
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

table {
    width: 100%;
    margin: 0px;
}

th
{
    text-align: center;
}

tr:nth-child(odd) {
    background-color:#F8F8F8;
}

.answer-data{
    border: 1px solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    float: left;
    height: 100%;
}

.answers-field{
    text-align: center;
}

.section-link, .show-ans-link, .show-other-ans-link{
    width: 100%;
    text-decoration: none;
    color: black; }

.share-results-toggle, .result-details{
    margin-left: 20px;
    float:right;
}

.pages{
    clear: both;
    width: 100%;
    }

.beglink{
    float:left;
    margin-right: 10%;
    font-weight: bold;
    }
    
.endlink{
    float: right;
    margin-left: 10%;
    font-weight: bold;
    }    

.page-link{
    float:left;
    margin-right: 3px; 
    margin-left: 3px;
    }

.active{
    font-weight: bold;
}

.connected-link{
    float: right;
    text-decoration: none;
    color: black;
    font-size: big;
    font-weight: bold;
    margin: 10px;
    }
    
hr {
    clear:both;
    }
