/**
 * Style dotyczące komponenty terminarza.
 */

.schedule
{
	position: relative;
	margin: 10px 15px;
}

.schedule .termsContainer
{
	position: absolute;
	border: 1px solid #dddddd;
}

.schedule .hourLabelsContainer
{
	position: absolute;
}

.schedule .dayLabelsContainer
{
	position: absolute;
	height: 25px;
}

.schedule .dayRule
{
	position: absolute;
	border-left: 1px solid #dddddd;
}

.schedule .hourRule
{
	position: absolute;
	border-top: 1px solid #dddddd;
}

.schedule .halfHourRule
{
	position: absolute;
	border-top: 1px dotted #dddddd;
}

.schedule .hourLabel
{
	position: absolute;
	display: block;
	width: 40px;
	text-align: right;
}

.schedule .dayLabel
{
	position: absolute;
	height: 20px;
	padding-top: 5px;
	text-align: center;
}

.schedule .term
{
	position: absolute;
	border: 1px solid #666666;
	background: #F8F8F8;
	border-radius: 4px;
	overflow: hidden;
	color: black;
	line-height: 120%;
}

.schedule .termWithPopup
{
	cursor: pointer;
}

.schedule .termPopupContainer
{
	position: absolute;
	z-index: 3;
	border: 1px solid #666666;
	border-radius: 4px;
	background: #f8f8f8;
	overflow: hidden;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.schedule .termPopupContents
{
	position: absolute;
}
