{% extends "enrollment/base.html" %}

{% block enrollment_statistics %} class="active"{% endblock %}

{% block styles %}{{ block.super }}
<style>
    .overlimit td { color:red; }
    .fulllimit td { color:green; }
</style>
{% endblock %}

{% block main-subtitle %}Statystyki{% endblock %}

{% block content-width %}16{% endblock %}

{% block content %}

    {% regroup groups by course as courses_list %}

    <table>
        <thead>
            <tr>
                <th><h4>Prowadzący</h4></th>
                <th><h4>Typ</h4></th>
                <th><h4>Miejsca</h4></th>
                <th><h4>Miejsca zamawiane</h4></th>
                <th><h4>Zapisani</h4></th>
                <th><h4>Zapisani zamawiani</h4></th>
                <th><h4>Kolejka</h4></th>

            </tr>
        </thead>
        <tbody>
            {% for course in courses_list %}
                <tr>
                <th colspan="7">{{ course.grouper }}</th>
                </tr>
                {% for group in course.list|dictsort:'type' %}
                    <tr{% if group.limit < group.cache_enrolled %} class="overlimit"{% elif group.limit == group.cache_enrolled %} class="fulllimit"{% endif %}>
                        <td>{{ group.teacher }}</td>
                        <td>{{ group.get_type_display }}</td>
                        <td>{{ group.limit }}</td>
                        <td>{{ group.limit_zamawiane }}</td>
                        <td>{{ group.cache_enrolled }}</td>
                        <td>{{ group.cache_enrolled_zam }}</td>
                        <td>{{ group.cache_queued }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>


    <hr>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Index</th>
                <th>ECTS</th>
                <th>Punkty w semestrze</th>
                <th>T0</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.matricula }}</td>
                    <td>{{ student.ects }}</td>
                    <td>{{ student.semester_points }}</td>
                    <td>{{ student.t0 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}