.DS_Store
.idea/
.idea/
.mypy_cache
.project
.pydevproject
.rvmrc
.settings/
.vagrant/
.vscode/
*.gz
*.log
*.pyc
*.sql
*.sqlite3
*.swp
*.tmp
*~
/apache
compiled_assets/
node_modules/
personal/
search_index/*
static/
static/
venv/
zapisy/logs/
zapisy/webpack_resources/webpack-stats.json
zapisy/zapisy/settings_local.py
