venv/
*.pyc
*.swp
.project
.pydevproject
.settings/
search_index/*
*.tmp
*.log
*~
.idea/
zapisy/zapisy/settings_local.py
/apache
.idea/
.rvmrc
static/
.vagrant/
.DS_Store
zapisy/logs/
personal/
*.gz
*.sql
