venv/
*.pyc
*.swp
.project
.pydevproject
.settings/
search_index/*
*.tmp
*.log
*~
.idea/
zapisy/zapisy/settings_local.py
/apache
.idea/
.rvmrc
static/
.vagrant/
a_dump_20160301.sql
.DS_Store
zapisy/logs/
personal/
static/
node_modules/
compiled_assets/
webpack-stats.json
