{% extends "grade/base.html" %}
{% load static %}

{% load compressed %}
{% block styles %}

    {% compressed_css 'gradebase' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery/jquery-tmpl/jquery.tmpl.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery.validate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-validation-1.8.0/localization/messages_pl.js" %}"></script>
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
    <li>Zarzadzanie ankietami</li>
{% endblock %}

{{ fdata }}




{% block content %}
    <div>
        {% block poll-managment %}
            
        {% endblock %}
    </div>
{% endblock %}
