{% extends "grade/poll/managment/base.html" %}
{% load static %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/grade/managment/without_polls.js" %}" type="application/javascript"></script>
    <script src="{% static "js/grade/poll/create.js" %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
    {{  block.super  }}
    <link rel="stylesheet" href="{% static "css/grade/poll-managment.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/grade/create.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/grade/answer.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/grade/poll-managment.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/ui-progressbar.css" %}" type="text/css" />
{% endblock %}


{% block poll-managment %}
  
    {% if groups %}
        <h3>Następujące grupy nie posiadają przypisanych ankiet:</h3>
        <ul id="poll-managment-list">
        {% for group in groups%}
            <li><a href="{% url 'grade-poll-poll-create-group' group_id=group.pk %}">{{group}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="main-message">Wszystkie grupy mają przypisane ankiety</div>
    {% endif %}
{% endblock %}

