{% extends "grade/poll/managment/base.html" %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/grade/managment/list.js" %}" type="application/javascript"></script>
    <script src="{% static "js/grade/managment/poll_list.js" %}" type="application/javascript"></script>

    <script src="{% static "js/grade/poll/templates/question_view.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grade/poll/templates/question_edit.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grade/poll/templates/question.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grade/poll/templates/question_add.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grade/poll/templates/type_option.js" %}" type="text/javascript"></script>


    <script src="{% static "js/grade/poll/section_create.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grade/poll/poll_types.js" %}" type="text/javascript"></script>
{% endblock %}

{% block poll-managment %}
    <form method="POST" action="{% url 'grade-poll-section_actions' %}">
        <div class="well poll-list-actions">
                <div class="clearfix left">
                    <label class="my-1 mr-2" for="action">Akcja</label>
                        <select name="action" class="custom-select my-1 mr-sm-2">
                            <option selected="selected" value="">Wybierz...</option>
                            <option value="delete_selected">Usuń wybrane sekcje</option>
                        </select>
                    </div>
        </div>                
        
        <div class="btn-group ml-lg-2 my-sm-2" role="group">
                <button value="0" name="index" class="btn btn-success" type="submit">Wybierz</button>
                <button id="new-section" value="0" name="create" class="btn btn-primary" 
                        title="Utwórz nową" type="submit">
                    Utwórz nową
                </button>
        </div>


        <table class="table table-striped" id="poll-managment-table">
            <thead>
            <tr>
                <th class="action-checkbox-column"><input type="checkbox" id="action-toggle" style="display: inline;"
                        {% if not user.is_staff %} disabled {% endif %}></th>
                <th>Sekcje</th>
            </tr>
            </thead>
            <tbody>
            {% for section in sections.object_list %}
                <tr>
                    <td class="action-checkbox-column">
                        <input type="checkbox" class="_selected_action" name="_selected_action" value="{{section.pk}}"
                               class="action-select" {% if not user.is_staff %} disabled {% endif %}>
                    </td>
                    <td>
                        <a href="{% url 'grade-poll-show_section' section.id %}" class='section_list_a'>{{ section }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="pagination">
        Strony: {% if sections.has_previous %}
        <a href="?page={{ sections.previous_page_number }}" class="prev">&lsaquo;&lsaquo; poprzednia</a>
    {% endif %}
        {% for page in pages %}
            {% if page > 0 %}
                {% ifequal page sections.number %}
                    <span class="current page">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}" class="page">{{ page }}</a>
                {% endifequal %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        {% if sections.has_next %}
            <a href="?page={{ sections.next_page_number }}" class="next">następna &rsaquo;&rsaquo;</a>
        {% endif %}

        {% if sections.paginator.num_pages > 1 %}
            <form action="" method="GET" style="float:right;">
                Przejdź do: <select name="page" onchange="submit()">
                {% for p in pages_range %}
                    <option value="{{ p }}"{% if p == sections.number %} selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select> strony.
            </form>
        {% endif %}
    </div>


    <p>{{ sections.paginator.count }} {{ sections_word }}</p>
    <div style="position: absolute;z-index: 99999;display: none;" class="modal">
        <div class="modal-header">
            <a class="close" href="#">×</a>

            <h3>Nowa sekcja</h3>
        </div>
        <div class="modal-body">
            <form action="{% url 'grade-poll-questionset-create' %}" id="questionset"  method="POST">{% csrf_token %}

                <fieldset>
                    <div class="clearfix">
                        <label for="section-title">Tytuł</label>

                                <div class="input">
                                    <input type="text" class="span6 required" id="section-title" name="poll[title]">
                                </div>
                    </div>

                    <div class="clearfix">
                        <label for="section-desc">Opis</label>
                                <div class="input">
                                    <textarea id="section-desc" name="poll[description]" class="span6"></textarea>
                                </div>
                              </div>


                    <div class="clearfix">
                        <label class="leading" for="section-leading">Posiada pytanie wiodące</label>
                      <div class="input">
                          <input class="leading" type="checkbox" id="section-leading" name="poll[leading]">
                      </div>
                    </div><!-- /clearfix -->

                <input type="hidden" name="fake" class="anyquestion" value="">

                <ol id="poll-form" class="questionset">
                </ol>
                <button class="btn primary" id="add-question">Dodaj pytanie</button>
                </fieldset>

                <fieldset>
                    <input id="questionset-submit" type="submit" value="Zapisz" class="btn success">
                </fieldset>
            </form>


        </div>
        <div class="modal-footer">
            <a id="poll-create-submit" class="btn primary" href="#">Stwórz ankietę</a>
            <a id="poll-create-template" class="btn secondary" href="#">Utwórz szablon</a>

        </div>
    </div>



{% endblock %}
