{% extends "grade/poll/managment/base.html" %}

{% block poll-managment %}
    Czy na pewno chcesz usunąć poniższe szablony?
    <form action="{% url 'grade-poll-delete_template' %}" method="POST">
        <ul>
            {% for template in templates %}
                <li>
                    <input type="hidden" name="templates[]" value="{{ template.pk }}">
                    <a href="{% url 'grade-poll-show_template' template.pk %}">{{template}}</a>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Usuń">
    </form>
{% endblock %}