{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block js %}
	{% render_bundle "theses-main" %}
{% endblock %}

{% block styles %}
	{{ block.super }}
	<style type="text/css">
		/* Fuck bootstrap */
		input, textarea, select {
			height: auto;
		}

		/* Broken default webkit stylesheets */
		div.rt-th:focus {
			outline: none;
		}
	</style>
{% endblock %}

{% block fullWidthContent %}
<div id="theses-react-root"></div>
{% endblock %}
