{% extends "grade/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/site_media/css/grade/poll.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/grade/answer.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/ui-progressbar.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/grade/poll-managment.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/common/dialog_box.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/grade/questionset_create.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/enrollment/courses.css" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/site_media/js/jquery/jquery-tmpl/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery-validation-1.8.0/localization/messages_pl.js"></script>
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url grade-main %}">Ocena zajęć</a></li>
    <li>Zarzadzanie ankietami</li>
{% endblock %}

{{ fdata }}




{% block content %}
    <div>
        {% block poll-managment %}
            
        {% endblock %}
    </div>
{% endblock %}
