{% extends "grade/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/site_media/css/grade/poll.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/grade/answer.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/ui-progressbar.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/grade/poll-managment.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/common/dialog_box.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/grade/questionset_create.css" type="text/css" />
    {% block extra-styles %}
    {% endblock %}
{% endblock %}

{% block mainscripts %}
    <script src="/site_media/js/common/dialog_box.js" type="text/javascript"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery-tmpl/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url apps.news.views.latest_news 'grade' %}">Ocena zajęć</a></li>
    <li>Zarzadzanie ankietami</li>
{% endblock %}

{{ fdata }}

{% block content %}

    <div id='poll-managment-menu'>
	<ul>
           <li{% if tab == "template_list" %} class="active_tab"{% endif %}><a href="{% url grade-poll-templates %}">Lista szablonów</a></li>
           <li{% if tab == "poll_list" %} class="active_tab"{% endif %}><a href="{% url grade-poll-list %}">Lista ankiet</a></li>
           <li{% if tab == "section_list" %} class="active_tab"{% endif %}><a href="{% url grade-poll-sections-list %}">Lista sekcji</a></li>
           <li{% if tab == "group_without" %} class="active_tab"{% endif %}><a href="{% url grade-poll-groups_without_polls %}">Grupy bez ankiet</a></li>
	</ul>
    </div>
    <div id="grade-managment-main">
        {% block poll-managment %}
            
        {% endblock %}
    </div>
{% include 'common/dialog_box.html' %}

{% endblock %}
