{% extends "grade/poll/managment/base.html" %}

{% block scripts %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/site_media/css/grade/poll-managment.css" type="text/css" />
{% endblock %}


{% block poll-managment %}
  
    {% if groups %}
        <h3>Następujące grupy nie posiadają przypisanych ankiet:</h3>
        <ul id="poll-managment-list">
        {% for group in groups%}
            <li>{{group}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="main-message">Wszystkie grupy mają przypisane ankiety</div>
    {% endif %}
{% endblock %}

