{% extends "grade/poll/managment/base.html" %}

{% block scripts %}
<script src="/site_media/js/grade/managment/list.js" type="application/javascript"></script>
<script src="/site_media/js/grade/managment/poll_list.js" type="application/javascript"></script>
<script src="/site_media/js/grade/poll/create.js" type="text/javascript"></script>
<script type="text/javascript" src="/site_media/js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
{% endblock %}



{% block extra-styles %}
	<link rel="stylesheet" href="/site_media/css/grade/create.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/grade/answer.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/grade/poll-managment.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/ui-progressbar.css" type="text/css" />
{% endblock %}

{% block poll-managment %}
<form method="POST" action="{% url grade-poll-poll_actions %}">
<div class="actions">
	<label>Akcja: 
		<select name="action">
		<option selected="selected" value="">---------</option>
		<option value="delete_selected">Usuń wybrane ankiety</option>
		</select>
	</label>
   	<button value="0" name="index" title="Wykonaj wybraną akcję" class="button" type="submit">Wykonaj</button>
        <span class="action-counter" style="display: inline;"><span id="object_count">0</span> z {{polls.object_list.count}} wybranych</span>

    <button id="new-poll" value="0" name="create" title="Utwórz nową" class="button" type="submit" style="position:absolute;right:80px">Utwórz nową</button>
</div>
<table id="poll-managment-table">
	<thead>
	<tr>
		<th class="action-checkbox-column"><input type="checkbox" id="action-toggle" style="display: inline;"></th>
		<th>Ankiety</th>
	</tr>
	</thead>
	<tbody>
	{% for poll in polls.object_list %}
        <tr>
            <td class="action-checkbox-column">
                <input type="checkbox" class="_selected_action" name="_selected_action" value="{{poll.pk}}" class="action-select" {% if not user.is_staff and not poll.author.user == user %} disabled {% endif %}>
            </td>
            <td>
                <a href="{% url grade-poll-show_poll poll.id %}" class='poll_list_a'>{{poll}}</a>
            </td>
        </tr>
    	{% endfor %}
	</tbody>
</table>
</form>

<div class="pagination">
    Strony: {% if polls.has_previous %}
        <a href="?page={{ polls.previous_page_number }}" class="prev">&lsaquo;&lsaquo; poprzednia</a>
    {% endif %}
    {% for page in pages %}
        {% if page > 0 %}
            {% ifequal page polls.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if polls.has_next %}
        <a href="?page={{ polls.next_page_number }}" class="next">następna &rsaquo;&rsaquo;</a>
    {% endif %}

    {% if polls.paginator.num_pages > 1 %}
    <form action="" method="GET" style="float:right;">
        Przejdź do: <select name="page" onchange="submit()">
            {% for p in pages_range %}
                <option value="{{ p }}"{% if p == polls.number %} selected{% endif %}>{{ p }}</option>
            {% endfor %}
        </select> strony.
    </form>
    {% endif %}
</div>
<p>{{polls.paginator.count}} {{polls_word}}</p>

{% comment %} Grey screen {% endcomment %}


{% endblock %}
