{% extends "grade/poll/managment/base.html" %}

{% block poll-managment %}
<div class="actions">
    <label>Akcja: <select name="action">
<option selected="selected" value="">---------</option>
<option value="delete_selected">Usuń wybrane sekcje</option>
</select></label>
    <button value="0" name="index" title="Wykonaj wybraną akcję" class="button" type="submit">Wykonaj</button>
        <span class="action-counter" style="display: inline;">0 z {{sections.count}} wybranych</span>
</div>
        <table>
<thead>
<tr>
<th class="action-checkbox-column">

<input type="checkbox" id="action-toggle" style="display: inline;">
</th><th>Sekcja</th>
</tr>
</thead>
<tbody>
    {% for section in sections %}
        <tr>
            <td>
                <input type="checkbox" name="_selected_action" value="{{section.pk}}" class="action-select">
            </td>
            <th>
                <a href="{% url grade-poll-show_section section.id %}">{{section}}</a>
            </th>
        </tr>
    {% endfor %}
</tbody>
</table>
<p>{{sections.count}} sekcje</p>
{% endblock %}