{% extends "base.html" %}

{% load news_extras %}

{% block main-menu %}
	<li><a href="{% url offer.news.views.latest_news %}">Aktualności</a> ({% newscount %})</li>
	{% if user.student %}
        <li><a href="{% url vote-main %}">Głosowanie</a></li>
    {% endif %}
    {% if user.employee %}
        <li><a href="#">Preferencje</a></li>
	{% endif %}
    <li><a href="{% url proposal-list %}">Propozycje</a></li>
    <li><a href="{% url proposal-offer-create %}">Oferta dydaktyczna</a></li>
	<li><a href="#">Inne</a></li>
	{% if user.is_authenticated %}
		<li>{{ user.first_name }} {{user.last_name }} {{user.student.matricula}} <a href="{% url user-logout %}">(wyloguj)</a></li>
	{% else %}
		<li><a href="{% url user-login %}">Zaloguj</a></li>
	{% endif %}
{% endblock %}
