{% extends "base.html" %}

{% load news_extras %}

{% block main-subsystemname %}Kształtowanie oferty dydaktycznej{% endblock %}

{% block main-menu %}
	{% if user.student %}
		<li><a href="{% url vote-main %}">Głosowanie</a></li>
	{% endif %}
	{% if user.employee %}
		<li><a href="{% url prefs-default-view %}">Preferencje</a></li>
	{% endif %}
	<li><a href="{% url proposal-list %}">Propozycje</a></li>
	{% if perms.can_create_offer %}
		<li><a href="{% url proposal-offer-create %}">Wybór oferty</a></li>
	{% endif %}
{% endblock %}
