{% extends "enrollment/courses/base.html" %}
{% load static %}
{% load i18n %}

{% block main-subtitle %}
	{{group.course.name}}
	({{group.get_type_display}}: {{group.get_teacher_full_name}})
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static "css/enrollment/courses.css" %}"  rel="stylesheet">
{% endblock %}


{% block bread %}
	<a href="{% url 'main-page' %}">{% trans "Strona główna" %}</a> &raquo;
	<a href="{% url 'enrollment-main' %}">{% trans "Zapisy" %}</a> &raquo;
	<a href="{% url 'course-list' %}">{% trans "Przedmioty" %}</a> &raquo;

	<a href="{% url 'course-page' group.course.slug %}"
			>{{group.course.name}}</a> &raquo;

	{{group.get_type_display}}: {{group.get_teacher_full_name}}
	{% if user.is_staff %}
    {# Translators: chodzi o zmianę, nie o odsłonę #}
    <a href="{% url 'admin:courses_group_change' group.pk %}">{% trans "Edycja" %}</a>
    {% endif %}
{% endblock %}



{% block content %}
    <div id="enr-group-view">


        <h2>{{ group.course }}</h2>

        <h4>{{group.get_type_display}}: {{group.get_teacher_full_name}}</h4>
        <h6>{% for term in group.term.all %}{{ term }}{% endfor %}</h6>

        <hr>

        {% include "records/records_list.html" %}

    </div>
{% endblock %}
