{% extends "enrollment/base.html" %}
{% load compressed %}
{% load i18n %}
{% load static %}

{% block main-subtitle %}{# Translators: podtytuł #}{% trans "Prototyp planu zajęć" %}{% endblock %}

{% block styles %}
    {% compressed_css 'prototype' %}
{% endblock %}

{% block js %}
    {% compressed_js 'prototype' %}
{% endblock %}

{% block topContent %}
{% include "common/course_list_filters.html" %}
{% endblock %}

{% block enrollment_menu_prototype %} class="active"{% endblock %}

{% block bread %}
	<a href="{% url 'main-page' %}">{% trans "Strona główna" %}</a> &raquo;
	<a href="{% url 'enrollment-main' %}">{% trans "Zapisy" %}</a> &raquo;
	{% trans "Prototyp planu" %}
{% endblock %}

{% block content-width %}12{% endblock %}
{% block content %}
    {% comment %}
	<form action="{% url 'records-set-locked' %}" method="post" id="enr-schedulePrototype-setLocked"><div>{% csrf_token %}
		<input type="hidden" name="ajax-url" value="{% url 'records-set-locked' '.json' %}" />
        {% if request.user.student %}
            {% if user.student.block %}
                <input type="hidden" name="lock" value="false" />
                <input type="submit" value="Odblokuj plan" />
            {% else %}
                <input type="hidden" name="lock" value="true" />
                <input type="submit" value="Zablokuj plan" />
            {% endif %}
		{% endif %}
	</div></form>
	{% endcomment %}

	{% block messages %}{% endblock %}{% include 'common/messages.html' %}

    <div id="scheduleData">
	  <script type="application/json" id="courses_list_json">{{ courses_json|safe }}</script>
	  <script type="application/json" id="courses_groups">{{ groups_json|safe }}</script>
      <input type="hidden" id="isLeavingAllowed" value="{{ allow_leave_course }}" />
      <input type="hidden" name="ajax-set-enrolled-url" value="{% url 'records-set-enrolled' '.json' %}" />
      <input type="hidden" name="ajax-set-pinned-url" value="{% url 'schedule-prototype-set-pinned' %}" />
      <input type="hidden" name="ajax-set-queue-priority-url" value="{% url 'records-set-queue-priority' '.json' %}" />
      <input type="hidden" name="priority-limit" value="{{ priority_limit }}" />
    </div>
	
	<div id="enr-schedulePrototype-scheduleContainer">
        <h3 style="display: inline">Trwa ładowanie prototypu planu zajęć</h3>
        <img src="{% static "images/loading.gif" %}" style="vertical-align: middle">
		
		<noscript>
		<div class="main-message">
		{% trans "Nie masz włączonej obsługi JavaScript &ndash; aplikacja prototypu planu nie może bez niej działać" %}.
		</div>
		</noscript>
	</div>
	<br>
	<hr>
	<h4>{% trans "Legenda" %}</h4>
	<br>	
    <ul class="schedule-legend">
        <li>
            <div class="legend-box enrolled"></div> - {% trans "Jesteś zapisany do tej grupy" %}
        </li>
        <li>
            <div class="legend-box queued"></div> - {% trans "Jesteś w kolejce do tej grupy" %}
        </li>
        <li>
            <div class="legend-box pinned"></div> - {% trans "Grupa przypięta do prototypu" %}
        </li>
    </ul>
    <ul class="schedule-legend">
        <li>
            <div class="legend-box icons pinIn"></div> - {% trans "Przypnij do prototypu. Widoczność grupy w prototypie zostaje zapamiętana. Przycisk <strong>NIE</strong> zapisuje na zajęcia" %}.
        </li>
        <li>
            <div class="legend-box icons pinOut"></div> - {% trans "Odepnij od prototypu. Przywraca domyślną widoczność grupy w prototypie. Przycisk <strong>NIE</strong> wypisuje z zajęć" %}.
        </li>
        <li>
            <div class="legend-box icons signIn"></div> - {% trans "Zapisz do grupy. Następuje próba zapisu studenta do grupy. Jeżeli przedmiot posiada również wykład, nastąpi automatyczne dopisanie także do tej grupy" %}.
        </li>
        <li>
            <div class="legend-box icons signOut"></div> - {% trans "Wypisz z grupy. Następuje wypisanie z grupy. Wypisanie z wykładu skutkuje wypisaniem się z pozostałych grup przedmiotu" %}.
        </li>
    </ul>
{% endblock %}

{% block sidebar-width %}4{% endblock %}
{% block sidebar %}
	<div id="main-sidebar" class="prototype-sidebar">
		{# Translators: tytuł nad sidebarem #}
		<h3>{% trans "Semestr" %} {{ semester }}</h3>
		<a id="enr-schedulePrototype-uncheckAll">Odznacz wszystkie</a>
        <hr>
        <p class="main-side-message hidden" id="noResultsMessage">
            Do podanego filtra nie pasuje żaden przedmiot.
        </p>
		<ul id="enr-schedulePrototype-course-list">
            {% for course in courses %}
                <li id="listItem-course-{{ course.id }}">
                    <span class="checkbox">
                        <input type="checkbox" id="checkbox-course-{{ course.id }}">
                    </span>
                    <label for="checkbox-course-{{ course.id }}">{{ course.name }}</label>
                </li>
            {% endfor %}
		</ul>
	</div>
{% endblock %}
