{% load i18n %}

<table class="zebra-striped">
    <thead>
    <tr>
        <th>{% trans "Imię" %}</th>
        <th>{% trans "Nazwisko" %}</th>
        <th>{% trans "Nr indeksu" %}</th>
        <th>{% trans "Rodzaj studiów" %}</th>
        <th>{% trans "Semestr" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{% if user.employee or student.consent_granted %}<a href="{% url 'student-profile' student.user.id %}" class="person">
                {{ student.user.first_name }}</a>{% endif %}</td>
            <td>{% if user.employee or student.consent_granted %}<a href="{% url 'student-profile' student.user.id %}" class="person">
                {{ student.user.last_name }}</a>{% endif %}</td>
            <td>{{ student.matricula }}</td>
            <td>
                {{ student.program }}
            </td>
            <td>{{ student.semestr }}</td>
        </tr>

    {% empty %}
        {% trans "Brak zapisanych osób" %}.
    {% endfor %}
    </tbody>
</table>
