{% extends "enrollment/base.html" %}

{% block main-subtitle %}Statystyki{% endblock %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item active" aria-current="page">Statystyki</li>
{% endblock %}

{% block enrollment_statistics %}class="active"{% endblock %}

{% block all-content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% block statistics-groups-active %}{% endblock %}" 
           href="{% url 'statistics:groups' %}">Grupy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block statistics-students-active %}{% endblock %}"
           href="{% url 'statistics:students' %}">Studenci</a>
    </li>
</ul>
<div class="tab-content p-3 border-left border-right">
    {% block statistics-content %}{% endblock %}
</div>

{% endblock all-content %}