{% extends "base.html" %}


{% block statistics_active %} class="active"{% endblock %}
{% block main-subtitle %}Statystyki{% endblock %}
{% block content-width %}16{% endblock %}


{% block system_menu %}
    <li{% block students_active %}{% endblock %}><a
            href="{% url 'statistics:students' %}">Studenci</a></li>
    <li{% block groups_active %}{% endblock %}><a href="{% url 'statistics:groups' %}">Grupy</a></li>
    <li{% block swaps_active %}{% endblock %}><a
            href="{% url 'statistics:swap' %}">Swapy</a></li>
    <li{% block vote_active %}{% endblock %}><a
            href="{% url 'statistics:vote' %}">Głosowanie</a></li>
{% endblock %}
