{% extends "statistics/base.html" %}


{% block groups_active %} class="active"{% endblock %}


{% block content %}

    {% regroup groups by course as courses_list %}

    <table>
        <thead>
            <tr>
                <th><h4>Prowadzący</h4></th>
                <th><h4>Typ</h4></th>
                <th><h4>Miejsca</h4></th>
                <th><h4>Zapisani</h4></th>
                <th><h4>Kolejka</h4></th>
                <th><h4>Przypięci</h4></th>

            </tr>
        </thead>
        <tbody>
            {% for course in courses_list %}
                <tr>
                <th colspan="12">{{ course.grouper.name }}</th>
                </tr>
                {% for group in course.list|dictsort:'type' %}
                    <tr{% if group.limit < group.enrolled %} class="overlimit"{% elif group.limit == group.enrolled %} class="fulllimit"{% endif %}>
                        <td>{{ group.teacher.user.get_full_name }}</td>
                        <td>{{ group.get_type_display }}</td>
                        <td>{{ group.limit }}</td>
                        <td>{{ group.enrolled }}</td>
                        <td>{{ group.queued }}</td>
                        <td>{{ group.pinned }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}