{% extends "statistics/base.html" %}

{% block statistics-groups-active %}active{% endblock %}

{% block statistics-content %}
<div class="table-responsive">

    {% regroup groups by course as courses_list %}

    <table class="table table-striped">
        <thead class="text-muted">
            <tr>
                <th scope="col">Prowadzący</th>
                <th scope="col">Typ</h4>
                <th scope="col">Miejsca</th>
                <th scope="col">Zapisani</th>
                <th scope="col">Kolejka</th>
                <th scope="col">Przypięci</th>

            </tr>
        </thead>
        <tbody>
            {% for course, groups in courses_list %}
                <tr>
                    <th colspan="12">{{ course.name }}</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.teacher }}</td>
                        <td>{{ group.get_type_display }}</td>
                        <td>{{ group.limit }}</td>
                        <td>{{ group.enrolled }}</td>
                        <td>{{ group.queued }}</td>
                        <td>{{ group.pinned }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}