{% extends "statistics/base.html" %}

{% block statistics-students-active %}active{% endblock %}

{% block statistics-content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="text-muted">
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Ostatnie logowanie</th>
                <th scope="col">Index</th>
                <th scope="col">ECTS</th>
                <th scope="col">T0</th>
                <th scope="col">Najwcześniejsza możliwość zapisu</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.user.last_login }}</td>
                    <td>{{ student.matricula }}</td>
                    <td>{{ student.ects }}</td>
                    <td>{{ student.min_t0|date:"d E Y, G:i" }}</td>
                    <td>{{ student.min_opening_time|date:"d E Y, G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}