{% extends "statistics/base.html" %}

{% block students_active %} class="active"{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Ostatnie logowanie</th>
                <th>Index</th>
                <th>ECTS</th>
                <th>T0</th>
                <th>Najwcześniejsza możliwość zapisu</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.user.last_login }}</td>
                    <td>{{ student.matricula }}</td>
                    <td>{{ student.ects }}</td>
                    <td>{{ student.min_t0|date:"d E Y, G:i" }}</td>
                    <td>{{ student.min_opening_time|date:"d E Y, G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}