{% extends "offer/base.html" %}
{% load compressed %}

{% block main-subtitle %}Głosowanie{% endblock %}

{% block offer_menu_vote %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    <li class="breadcrumb-item">Głosowanie</li>
{% endblock %}

{% block js %}{% endblock %}

{% block styles %}
	{% compressed_css 'vote' %}
{% endblock %}

{% block all-content %}
	<div id="od-vote-main">
		{% if isVoteActive %}
			<h3>Zasady głosowania</h3>
			<div id="od-vote-main-rules">
				<ol>
                    <li><h4>Cele</h4>
                        <p>
                            Głosowanie ma na celu wybór przedmiotów na przyszły rok akademicki oraz zoptymalizowanie planu.
                        </p>
                    </li>
                    <li><h4>Przebieg</h4>
                        <p>Student może przyznać każdemu przedmiotowi <strong>0-1-2-3 punkty</strong>, sygnalizując swoje zainteresowanie przedmiotem.
                            Suma przyznanych punktów nie może przekroczyć <strong>{{ max_points }}</strong>. Do sumy nie wliczają się przedmioty nieinformatyczne. Swój głos można zmieniać do czasu zakończenia głosowania.
                        </p>
                    </li>
                    <li><h4>Bonus/marchewka</h4>
                        <p>Każdy oddany punkt na przedmiot daje <strong>24 godzinny bonus</strong> (maksymalnie 72 godziny) otwarcia zapisów na niego.</p>
                    </li>
                    <li><h4>Przedmioty 'przegrane'</h4>
                        <p>Przed rozpoczęciem semestru odbędzie się korekta, podczas której można będzie ponownie przydzielić punkty, które zostały przyznane na przedmioty,
                        które nie będą prowadzone w tym roku.</p>
                    </li>
				</ol>
			</div>

			{% if user.student %}<p class="link"><a href="{% url 'vote' %}">Głosuj</a></p>{% endif %}
		{% elif isCorrectionActive %}
            <div id="od-correction-main-rules">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla nulla sed nibh porta ultricies. Fusce lobortis nibh at ante consectetur gravida. Cras varius, nibh sit amet semper ornare, metus velit euismod eros, a lobortis ipsum sem eget nulla. Ut sagittis sodales ligula, ac congue erat mattis ut. Proin velit massa, dapibus venenatis rutrum vitae, malesuada id lacus. Suspendisse potenti. Etiam fermentum eros a lacus facilisis pulvinar. Phasellus interdum aliquet lacus, quis molestie arcu interdum commodo. Integer pellentesque sodales lorem, in suscipit metus imperdiet vel. Aliquam erat volutpat. Integer pharetra vestibulum odio eget congue. Pellentesque pellentesque enim eget nisl pulvinar vitae fringilla nisi molestie.
			</div>
        {% else %}
			<p class="text-muted disabled-link">Głosowanie nie jest w tej chwili aktywne.</p>
		{% endif %}

		<p class="link"><a href="{% url 'vote-summary' %}">Podsumowanie głosowania</a></p>
        {% if user.student %}<p class="link"><a href="{% url 'vote-view' %}">Pokaż mój głos</a></p>{% endif %}
	</div>
{% endblock %}
