{% extends "offer/base.html" %}

{% load compressed %}
{% block main-subtitle %}Podsumowanie głosowania{% endblock %}

{% block offer_menu_vote %} class="active"{% endblock %}


{% block styles %}
    {% compressed_css 'vote' %}
{% endblock %}


{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'vote-main' %}">Głosowanie</a></li>
    <li class="breadcrumb-item">Podsumowanie</li> {% if is_voting_active and user.student %}(<li class="breadcrumb-item"><a href="{% url 'vote' %}">głosuj</a></li>){% endif %}
    {# end bread #}
{% endblock %}


{% block content-width %}16{% endblock %}
{% block all-content %}
	<div id="od-vote-summary">

        {% if winter or summer or unknown %}

        {% if winter %}
            {% include 'offer/proposal/summary_table.html' with semester=winter label='Semestr zimowy' %}
        {% endif %}
        {% if summer %}
            {% include 'offer/proposal/summary_table.html' with semester=summer label='Semestr letni' %}
        {% endif %}

        {% if unknown %}
            {% include 'offer/proposal/summary_table.html' with semester=unknown label='Semestr nieoznaczony' %}
        {% endif %}

		{% else %}
			<div class="main-message">Jeszcze nikt na nic nie zagłosował.</div>
		{% endif %}
	</div>
{% endblock %}