{% extends "offer/vote/summary.html" %}

{% block main-subtitle %}Pokaż mój głos{% endblock %}


{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    <a href="{% url offer-main %}">Oferta dydaktyczna</a> &raquo;
    <a href="{% url vote-main %}">Głosowanie</a> &raquo;
    <h2>Mój głos (<a href="{% url vote %}">głosuj</a>)</h2>
    {# end bread #}
{% endblock %}

{% block content %}
	<div id="od-vote-view">
		{% if winter_votes or summer_votes or unknown_votes %}
			<ul>
				{% if winter_votes %}
                    {% include 'offer/vote/summary_li.html' with label='Semestr zimowy' votes=winter_votes %}
				{% endif %}

				{% if summer_votes %}
                    {% include 'offer/vote/summary_li.html' with label='Semestr letni' votes=summer_votes %}
				{% endif %}

				{% if unknown_votes %}
                    {% include 'offer/vote/summary_li.html' with label='Semestr nieoznaczony' votes=unknown_votes %}
				{% endif %}
			</ul>
		{% else %}
			<p class="emptyList">Nie zagłosowałeś jeszcze na żaden przedmiot.</p>
		{% endif %}
		<p class="sum">Suma: {{ vote_sum }}</p>
	</div>
{% endblock %}
