{% extends "offer/vote/summary.html" %}

{% block main-subtitle %}Pokaż mój głos{% endblock %}


{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'vote-main' %}">Głosowanie</a></li>
    {# end bread #}
{% endblock %}

{% block main-content %}
    <div class="span15" style="margin-bottom: 30px;"><h2>Mój głos {% if is_voting_active %}(<a href="{% url 'vote' %}">głosuj</a>){% endif %}</h2></div>


		{% if votes %}
            {% regroup votes by entity.get_semester_display as semesters %}
                {% for semester in semesters %}
                    <div class="span15">
                    <h3>Semestr {{ semester.grouper }}</h3>
                        <table class="table table-striped">
                    	    <thead><tr>
                                <th>Przedmiot</th>
{#                                <th>Prowadzony w tym roku?</th>#}
                                <th class="text-center">Punkty w głosowaniu</th>
                                <th class="text-center">Punkty w korekcie</th>
                    	    </tr></thead>
                    		{% for vote in semester.list %}
                                <tr>
                                    <td style="width:400px;"><a href="{% url 'offer-page' vote.entity.slug %}">{{ vote.entity.name }}</a> </td>
{#                                    <td>{{ vote.in_semester|yesno:"Tak,Nie,Nie wiadomo" }}</td>#}
                                    <td class="text-center">{{ vote.value }}</td>
                                    <td class="text-center">{{ vote.correction }}</td>
                                </tr>

                    		{% endfor %}
                        </table>
                    </div>
                {% endfor %}
		{% else %}
            <div class="span15">
			    <p class="emptyList">Nie zagłosowałeś jeszcze na żaden przedmiot.</p>
            </div>
		{% endif %}
        <div class="span15">
        <p>
            <strong>Każdy przyznany punkt</strong> daje bonus 24 godzin do zapisów na dany przedmiot.
        </p>
        <p>
            Domyślną wartością w korekcie jest wartość przydzielona w głosowaniu.
        </p>
<!--         <p>
            Wartość w kolumnie "Prowadzony w tym roku?" jest prawidłowa tylko dla już dodanych semestrów.
            W szczególności, w semestrze zimowym, informacja o semestrze letnim może być nieprawdziwa.
        </p> -->
	    </div>
{% endblock %}
