<div class="od-vote-semester" id="od-vote-semester-{{ semester }}"><h2>{{ label }}</h2>
    <ul>
        {% for form in formset %}
            {% for field in  form.hidden_fields %}
                {{ field }}
            {% endfor %}
        <li class="od-vote-course {{ semester }} course-type-{{ form.instance.entity.type.id }} {% if form.instance.correction > 0 %}voted{% endif %}">
           <label for="id_{% if isCorrectionActive %}{{ form.correction.html_name }}{% else %}{{ form.value.html_name }}{% endif %}"><a href="{% url 'offer-page' form.instance.entity.slug %}">{{ form.instance.entity.name }}</a></label>
           <input type="hidden" class="proposal-type-is_free" value="{{ form.instance.entity.type.free_in_vote }}">
            {% if isCorrectionActive %}
                <input type="hidden" class="value" value="{{ form.instance.value }}">
                {{ form.correction }}
            {% else %}
                {{ form.value }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
