#user-alpha-list ul {
    float: right;
    list-style: none outside none;
    margin: 10px;
}

span.consultations {
    margin: 10px;
    float: left;
}

#user-list-menu > li
{
    float:left;
    margin-left: 10px
}

#user-list-menu a
{
    text-decoration:none;
}

.active {
    color:#000000;
}