#user-alpha-list ul {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}

span.consultations {
    margin: 10px;
}

#user-list-menu > li {
    float:left;
    margin-left: 10px
}

#user-list-menu a {
    text-decoration:none;
}

.active {
    color:#000000;
}

.small-fieldset {
    margin-bottom: 0;
}

.filter-label {
    /* margin-left: 26px; */
    padding-right: 15px;
    text-align: left;
}

.filter {
    display: flex;
    margin-left: 10px;
    padding-top: 5px;
}

colgroup col.table-info-type 
{
	background-color: #F9F9F9;
}

h3.subheader
{
    padding-bottom: 5px;
    margin-top: 10px;
}

h3.subheader:not(:first-child)
{
    margin-top: 35px;
}