{% extends "mobile/base_m.html" %}

{% block content %}

<div id="center-container">
    <a href="{% url students-list %}">
        <div class="subject-outer">
            <div class="subject-inner round" >
                <b>Zmień na: plany studentów</b>
            </div>
        </div>
    </a>
</div>
<br/>

<div id="center-container">
        <a href="/students/">
            <div class="subject-outer">
                <div class="subject-inner round" >
                <b>Powrót</b>
                </div>
            </div>
        </a>
</div>

<br/>
<div id="center-container">
    <div class="subject-outer">
        <div class="subject-inner">
            <b>Lista pracowników {% if keyname != '' %} ({{keyname}}) {%endif %} </b>
            <hr>
            {% for e in employees %}
                <div class="listpos">
                    <a href="/employees/schedule/{{ e.user.username }}/" style="float:left">{{e.get_full_name}}</a><br/>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
