{% extends "mobile/base_m.html" %}

{% block styles %}
    <!--custom stylesheet-->
{% endblock %}

{% block content %}
    <a href="/records/schedule">
    <div class="plan_header" style="width: 80%; height: 10%; text-align: center; margin: 10% 10% 10% 10%; border: 1px solid black;">
        <h2>Plan zajęć</h2>
    </div>
    </a>
    <a href="{% url latest_news 'enrollment' %}">
    <div class="plan_header" style="width: 80%; height: 10%; text-align: center; margin: 10% 10% 10% 10%; border: 1px solid black;">
        <h2>Zapisy</h2>
    </div>
    </a>
    </a>

{% endblock %}
