{% extends "mobile/base_m.html" %}

{% block styles %}
	<!--custom stylesheet-->
{% endblock %}

{% block content %}

<div class="middle">
	<div style="width:40%; padding: 5% 30%; text-align: center; ">
		<a href="/records/schedule">
			<div style="width:100%; padding: 5% 0%; border: 0.1em solid black; background: aqua;">
				Moj plan
			</div>
		</a>
	</div>
	<br/>
	<div style="width:40%; padding: 5% 30%; text-align: center; ">
		<a href="{% url latest_news 'enrollment' %}">
			<div style="width:100%;padding: 5% 0%; border: 0.1em solid black; background: green;">
				Zapisy
			</div>
		</a>
	</div>
</div>

{% endblock %}
