{% extends "mobile/base_m.html" %}

{% block content %}

<div id="center-container">
	<a href="{% url employees-list %}">
		<div class="subject-outer">
			<div class="subject-inner" >
				Zmień na: plany pracowników
			</div>
		</div>
	</a>
<div class="square" style="border:0px">

</div>

<a href="{% url  students-list %}2">
<div class="square" >
abc/ć
</div>
</a>

<a href="{% url  students-list %}3">
<div class="square">
def
</div>
</a>

<a href="{% url  students-list %}4">
<div class="square">
ghi
</div>
</a>

<a href="{% url  students-list %}5">
<div class="square">
jkl/ł
</div>
</a>

<a href="{% url  students-list %}6">
<div class="square">
mno
</div>
</a>

<a href="{% url  students-list %}7">
<div class="square">
pqrs/ś
</div>
</a>

<a href="{% url employees-list %}8">
<div class="square">
tuv
</div>
</a>

<a href="{% url employees-list %}9">
<div class="square">
wxyz/źż
</div>
</a>
</div>
{% endblock %}