{% extends "mobile/base_m.html" %}

{% block content %}

<div id="center-container">
    <a href="{% url students-list %}">
        <div class="subject-outer">
            <div class="subject-inner" >
               <b>Zmień na: plany studentów</b>
            </div>
        </div>
    </a>


<div class="square emptysquare">

</div>


<a href="{% url employees-list %}2">
<div class="square">
ABC
</div>
</a>

<a href="{% url employees-list %}3">
<div class="square">
DEF
</div>
</a>

<a href="{% url employees-list %}4">
<div class="square">
GHI
</div>
</a>

<a href="{% url employees-list %}5">
<div class="square">
JKL
</div>
</a>

<a href="{% url employees-list %}6">
<div class="square">
MNO
</div>
</a>

<a href="{% url employees-list %}7">
<div class="square">
PQRS
</div>
</a>

<a href="{% url employees-list %}8">
<div class="square">
TUV
</div>
</a>

<a href="{% url employees-list %}9">
<div class="square">
WXYZ
</div>
</a>
</div>
{% endblock %}
