{% extends "mobile/base_m.html" %}

{% block content %}

<div id="center-container">
    
        <a href = {% url student-enrollment %}>
            <div class="subject-outer">
                <div class="subject-inner round" >
                <b>Powrót</b>
                </div>
            </div>
        </a>    
    <div>
        <h3>Wszystkie przedmioty: </h3>
        {% for s in subjects %}
            <div class="subject-outer">
                <a href= "/subject/{{ s.slug }}/" ><div class="subject-inner">{{ s.name }}</div></a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
