{% extends "mobile/base_m.html" %}

{% block content %}
    <div id="schedule-wrapper">
        {% for group in groups %}
            {% for term in group.terms_ %}
                <div style="background-color:{{ group.background_color }};  border-color:{{ group.border_color }}" 
                    subjectID="{{group.subject_.pk}}"
                    groupID="{{group.pk}}"
                    termID="{{term.pk}}"
                    from="{{ term.time_from_in_minutes }}" 
                    minutes="{{ term.length_in_minutes }}" 
                    day="{{ term.day_in_zero_base }}"
                    status="fixed">
                    {{group}}<br/>
                    (s.{{term.classroom}})
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    
    <p>Zajecia na które jesteś zapisany:</p>
    <table class="schedule-table-simple">
        <tr>
            <th>Przedmiot</th>
            <th>Termin</th>
        </tr>
        {% for group in groups %}
            {% for term in group.terms_ %}
            <tr>
                <td>{{group}}</td>
                <td>{{term}}</td>
            </tr>
                {% empty %}brak zajęć
           {% endfor %}
        {% endfor %}
    </table>

{% endblock %}

