{% extends "mobile/base_m.html" %}

{% block content %}
<div class="sschedule">
    <div class="row">
        <h2 style="">Plan zajęć </h2>
    </div>
    <div class="row">
        <a href="{% url student-schedule-delta owner left%}">
        <div class="nav">
            <h3>wstecz</h3>
        </div>
        </a>
        <div class="center">
            <h2>{{ weekday_name }}</h2>
        </div>
        <a href="{% url student-schedule-delta owner right %}">
        <div class="nav">
            <h3>dalej</h3>
        </div>
        </a>
        <div class="align"></div>
    </div>
    <div>
        <div style="border-bottom:1px solid black;">
        <div class="left">
        <h3> termin </h3>
        </div>
        <div class="right">
            <h3> przedmiot </h3>
        </div>
        <div class="align"></div>
        </div>
        {% for event in schedule %}
        {% if event.term == 0 %}
            <div class="break"></div>
        {% else %}
          <a href= "/subject/{{ event.group.subject.id }}/" >
            <div style="border-bottom:1px solid black;">
                <div class="left">
                    <p> {{event.term.period_string}}</br> s. {{event.term.classroom}}</p>
                </div>
                <div class="right">
                    <p style = ""> {{event.group.subject.name}} ({{event.group.get_type_display}})</p>
                </div>
                <div class="align"></div>
            </div>
          </a>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
