{% extends "mobile/base_m.html" %}

{% block content %}
<div id="center-container">
    <a href="{% url employees-list %}">
        <div class="subject-outer">
            <div class="subject-inner round" >
                <b>Zmień na: plany pracowników</b>
            </div>
        </div>
    </a>
</div>
<br/>
<div id="center-container">
        <a href="/students/">
            <div class="subject-outer">
                <div class="subject-inner round" >
                <b>Powrót</b>
                </div>
            </div>
        </a>
</div>
<br/>
<div id="center-container">
    <div class="subject-outer">
        <div class="subject-inner">
            <b>Lista studentów {% if keyname != '' %} ({{keyname}}) {%endif %} </b>
            <hr>
            {% for s in students %}
                <div class="listpos" >
                    <a href="{% url student-schedule-owner s.user.username %}" style="float:left">{{s.get_full_name}}</a><br/>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


