{% extends "mobile/base_m.html" %}

{% block content %}
<div id="main-content">
<div id="center-container">

	<div>
	<h3>Przedmioty, na które jesteś zapisany:</h3>
	
		{% for e in enrolled %}
			<div class="subject-outer">
			<a href= "/subject/{{ e.subject.id }}/" >
			<div class="subject-inner">{{ e.subject.name }} <!--{{ e.allGroups }}--></div></a></div>
		{% endfor %}
	</div>
	
	<div>
	<h3>Przedmioty przypięte:</h3>

		{% for p in pinned %}
			<div class="subject-outer">
			<a href= "/subject/{{ p.subject.id }}/" >
			<div class="subject-inner">{{ p.name }} </div></a></div>
		{% endfor %}
	</div>

	<div>
	<h3>Przedmioty, na które głosowałeś:</h3>

		{% for v in voted %}
			<div class="subject-outer">
			<a href= "/subject/{{ v.subject.id }}/" >
			<div class="subject-inner">{{ v.name }} </div></a></div>
		{% endfor %}
	</div>

	
	<form method="get" action="{% url enrollment-other %}">
		<input class="inne-button" type="submit" value = "Inne">
	</form>
</div>
</div>
{% endblock %}
