{% extends "mobile/base_m.html" %}

{% block content %}

<style type="text/css">
table{border-collapse:collapse;width:100%;}
table,td,th{border:1px solid black;}
</style>

<div class="sschedule">
<table>
    <tr ><td colspan="3" style="border: 1px solid black;">
        <h2 style="text-align: center">Plan zajęć {% if owner != user %}: {{ owner.first_name }} {{ owner.last_name }} {% endif %}</h2>
        </td>
    </tr>
    <tr>
        <td width="25%"><a href="{% url student-schedule-delta owner.username left%}">
            <h3>wstecz</h3>
        </a>
        </td>
        <td width="50%">
            <h2>{{ weekday_name }}</h2>
            </td>
        <td width="25%"><a href="{% url student-schedule-delta owner.username right %}">
            <h3>dalej</h3>
        </a></td>
    </tr>
<tr>
    <td>  <h3> termin </h3> </td>
    <td colspan="2"> <h3>przedmiot </h3> </td>
</tr>
        {% for event in schedule %}
        {% if event.term == 0 %}
            <tr class="break"> </tr>
        {% else %}
          <a href= "/subject/{{ event.group.subject.slug }}/" >
            <tr>
                <td> <p> {{event.term.period_string}}  </br> s. {{event.term.classroom}}</p> </td>
                <td colspan="3"> <p> {{event.group.subject.name}} ({{event.group.get_type_display}})</p> </td>
            </tr> 
          </a>
    {% endif %}
  {% endfor %}
  </table>
</div>
{% endblock %}
