{% extends "offer/base.html" %}

{% load preferences_extras %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url latest_news 'offer' %}">Oferta</a></li>
	<li>Preferencje</li>
{% endblock %}

{% block scripts %}
	<script src="/site_media/js/jquery/jquery.cookies.2.2.0.min.js" type="text/javascript"></script>

	<script src="/site_media/js/components/sidebar.js" type="text/javascript"></script>
	<script src="/site_media/js/components/topBarFilter.js" type="text/javascript"></script>

	<script src="/site_media/js/common/listFilter.js" type="text/javascript"></script>
	<script src="/site_media/js/common/listFilter-subjectType.js" type="text/javascript"></script>
	<script src="/site_media/js/offer/prefs.js" type="text/javascript"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/prefs.css" type="text/css" />
{% endblock %}

{% block top-bar %}
	<div id="od-prefs-top-bar" class="main-top-bar" style="display: none">
		<fieldset id="od-prefs-filter">
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text filter-phrase" type="text" name="q" />
				<input class="reset filter-phrase-reset" type="reset" value="X" style="display:none;" />
			</div>
		</fieldset>
		<fieldset class="subject-type-filter">
			<legend><span>Rodzaj przedmiotu</span></legend>
			{% for type in proposalTypes %}
				<span class="checkbox">
					<input type="checkbox" checked="checked" id="filter-subject-type-{{ type.id }}" {% if type.meta_type %} class="filter-subject-type-meta" {% endif %} value="{{ type.id }}"/>
					<input type="hidden" class="group-id" value="{{ type.group.id }}" />
					<label for="filter-subject-type-{{ type.id }}">{{ type.name }}</label>
				</span>
			{% endfor %}
		</fieldset>
		<fieldset id="od-prefs-other">
			<legend><span>Inne</span></legend>
			<span class="checkbox"><input type="checkbox" id="od-prefs-hidden" name="hidden" value="True"/><label for="od-prefs-hidden">Pokaż ukryte przedmioty</label></span>
			<span class="checkbox"><input type="checkbox" id="od-prefs-only-new" disabled="disabled" /><label for="od-prefs-only-new">Pokaż tylko nowe przedmioty</label></span>
		</fieldset>
	</div>
{% endblock %}

{% block sidebar-class %}{% if unset_offer %}sidebar-right sidebar-visible{% endif %}{% endblock %}
{% block sidebar %}
	{% if unset_offer %}
		<div id="main-sidebar">
			<h2>Przedmioty bez ustalonych preferencji</h2>
			<ul id="od-prefs-undecided">
				{% for prop in unset_offer %}
					<li>
						<input type="hidden" class="initURL" value="{% url prefs-init-pref prop.id %}" />
						{{ prop.name }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if not prefs %}
		<p class="main-message" id="od-prefs-emptyMessage">Jeszcze nie ustaliłeś preferencji dla żadnego przedmiotu. Możesz to
			zrobić, dodając je z menu po prawej.</p>
	{% endif %}
	<form action="{% url prefs-save-all %}" method="post" id="od-prefs-form" {% if not prefs %} style="display:none" {% endif %}>
		<h2>Przedmioty z ustalonymi preferencjami</h2>

		<ul id="od-prefs-list">
			{% for pref in prefs %}
				<li {% if pref.hidden %}class="hidden"{% endif %}>
					<span class="name">{{pref.name}}</span>

					<input type="hidden" class="pref-id" value="{{ pref.id }}" />
					<input type="hidden" class="pref-type" value="{% for type in pref.desc.types %}{{ type.lecture_type.id }} {% endfor %}" />
					<input type="hidden" class="pref-hide-url" value="{% url prefs-hide pref.id %}" />
					<input type="hidden" class="pref-unhide-url" value="{% url prefs-unhide pref.id %}" />

					<ul>
						{% ifnotequal pref.desc.lectures 0 %}
						<li>
							Wykład:
							<select name="lecture-{{ pref.id }}" class="lecture">
								{% prefs_form_options selected pref.lecture %}
							</select>
						</li>
						{% endifnotequal %}
						{% ifnotequal pref.desc.repetitories 0 %}
						<li>
							Repetytorium:
							<select name="review-lecture-{{ pref.id }}" class="review-lecture">
								{% prefs_form_options selected pref.review_lecture %}
							</select>
						</li>
						{% endifnotequal %}
						{% ifnotequal pref.desc.exercises 0 %}
						<li>
							Ćwiczenia:
							<select name="tutorial-{{ pref.id }}" class="tutorial">
								{% prefs_form_options selected pref.tutorial %}
							</select>
						</li>
						{% endifnotequal %}
						{% ifnotequal pref.desc.laboratories 0 %}
						<li>
							Pracownia:
							<select name="lab-{{ pref.id }}" class="lab">
								{% prefs_form_options selected pref.lab %}
							</select>
						</li>
						{% endifnotequal %}
					</ul>
				</li>
			{% endfor %}
		</ul>

		<p id="od-prefs-submitBar"><input type="submit" value="Zapisz" /></p>
	</form>
{% endblock %}
