{% extends "offer/base-offer.html" %}


{% block main-navigation %}
	<li>Preferencje</li>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/jquery/jquery.cookies.2.2.0.min.js"></script>

	<script type="text/javascript" src="/site_media/js/components/sidebar.js"></script>
	<script type="text/javascript" src="/site_media/js/components/topBarFilter.js"></script>

	<script type="text/javascript" src="/site_media/js/offer/prefs.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/prefs.css" type="text/css" />
{% endblock %}

{% block top-bar %}
	<div id="od-prefs-top-bar" class="main-top-bar">
		<form id="od-prefs-filtering" action="{% url prefs-default-view %}" method="get">
		<fieldset id="od-prefs-filter">
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text od-filter" id="od-prefs-q" type="text" name="q" />
				<input class="reset" id="od-prefs-reset" type="reset" value="X" style="display:none;" />
			</div>
		</fieldset>
		<fieldset id="od-prefs-subjtype">
			<legend><span>Rodzaj przedmiotu</span></legend>
			{% for type in proposalTypes %}
				<span class="checkbox od-filter-checkbox"><input type="checkbox" id="od-prefs-type-{{ type.0 }}" value="{{ type.0 }}"/><label for="od-prefs-type-{{ type.0 }}">{{ type.1 }}</label></span>
			{% endfor %}
		</fieldset>
		<fieldset id="od-prefs-other">
			<legend><span>Inne</span></legend>
			<span class="checkbox"><input type="checkbox" id="od-prefs-hidden" name="hidden" value="True"/><label for="od-prefs-hidden">Pokaż ukryte przedmioty</label></span>
			<span class="checkbox"><input type="checkbox" id="od-prefs-only-new"/><label for="od-prefs-only-new">Pokaż tylko nowe przedmioty</label></span>
		</fieldset>
		</form>
	</div>
{% endblock %}

{% block sidebar-class %}{% if unset_offer %}sidebar-right sidebar-visible{% endif %}{% endblock %}
{% block sidebar %}

	{% if unset_offer %}
		<div id="main-sidebar">
			<h2>Przedmioty bez ustalonych preferencji</h2>
			<ul id="od-prefs-undecided">

			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block content %} {% comment %}
	<p id="od-prefs-viewmode-selection">Widok:
		<a href="{% url prefs-list-view %}">listy</a>
		<a href="{% url prefs-tree-view %}">drzewa</a>
	</p>
{% endcomment %}
	{% if prefs %}
		<h2>Przedmioty z ustalonymi preferencjami</h2>

		{% block pref_list %}
		{% endblock %}
	{% else %}
		<p>Jeszcze nie ustaliłeś preferencji dla żadnego przedmiotu. Możesz to
			zrobić, dodając je z menu po prawej.</p>
	{% endif %}
{% endblock %}
