{% extends "offer/preferences/base.html" %}
{% load preferences_extras %}

{% block comment %} TODO: zbędne, do usunięcia (wraz z linkami)
    <ul style="display:none">
        <li id="od-prefs-undecided-list">{% url prefs-undecided-list %}</li> <!-- TODO: zbędne - ta lista jest wczytywana na stałe -->
        <li id="od-prefs-save-url">{% url prefs-set-pref 0 %}</li> <!-- TODO: zbędne - nie chcemy zapisywać ajaxem -->
        <li><select id="od-prefs-list-option">{% prefs_form_options %}</select></li> <!-- TODO: zbędne - pobieramy wraz z dodawaniem z sidebara -->
    </ul>
{% endblock %}

{% block pref-list %}
    <ul id="od-prefs-list">
        {% for pref in prefs %}
            <li {% if pref.hidden %}class="hidden"{% endif %}>
                <span class="name">{{pref.name}}</span>

                <input type="hidden" class="pref-id" value="{{ pref.id }}" />
                <input type="hidden" class="pref-type" value="{% for type in pref.desc.types %}{{ type.lecture_type.id }} {% endfor %}" />
                <input type="hidden" class="pref-hide-url" value="{% url prefs-hide pref.id %}" />
                <input type="hidden" class="pref-unhide-url" value="{% url prefs-unhide pref.id %}" />
                
                <ul>
                    {% ifnotequal pref.desc.lectures 0 %}
                    <li>
                        Wykład:
                        <select name="lecture-{{ pref.id }}" class="lecture">
                            {% prefs_form_options selected pref.lecture %}
                        </select>
                    </li>
                    {% endifnotequal %}
                    {% ifnotequal pref.desc.repetitories 0 %}
                    <li>
                        Repetytorium:
                        <select name="review-lecture-{{ pref.id }}" class="review-lecture">
                            {% prefs_form_options selected pref.review_lecture %}
                        </select>
                    </li>
                    {% endifnotequal %}
                    {% ifnotequal pref.desc.exercises 0 %}
                    <li>
                        Ćwiczenia:
                        <select name="tutorial-{{ pref.id }}" class="tutorial">
                            {% prefs_form_options selected pref.tutorial %}
                        </select>
                    </li>
                    {% endifnotequal %}
                    {% ifnotequal pref.desc.laboratories 0 %}
                    <li>
                        Pracownia:
                        <select name="lab-{{ pref.id }}" class="lab">
                            {% prefs_form_options selected pref.lab %}
                        </select>
                    </li>
                    {% endifnotequal %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
