{% extends "base.html" %}

{% block content %}
	<h1>{% if editMode %}Modyfikuj{% else %}Dodaj{% endif %} przedmiot</h1>
	<form action="" method="POST">
		{% if message %}<div class="message">{{ message }}</div>{% endif %} 
		<table class="form">
		<tr><td class="label">Nazwa:</td><td class="field"><input type="text" name="name" value="{{ subject.name }}" /></td></tr>
		<tr><td class="label">Opis:</td><td class="field"><textarea name="description">{{ subject.description.description }}</textarea></td></tr>
		<tr><td class="label">Ilość godzin wykładów:</td><td class="field"><input type="text" name="lectures" value="{{ subject.lectures }}" /></td></tr>
		<tr><td class="label">Ilość godzin ćwiczeń:</td><td class="field"><input type="text" name="exercises" value="{{ subject.exercises }}" /></td></tr>
		<tr><td class="label">Ilość godzin pracowni:</td><td class="field"><input type="text" name="laboratories" value="{{ subject.laboratories }}" /></td></tr>
		<tr><td colspan="2" class="button"><input type="submit" value="Zatwierdź" /></td></tr>
		
	</form>
	
{% endblock %}