{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site_media/css/od-subjectoffer.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/subjects/form.js"></script>
<script type="text/javascript" src="/site_media/js/subjects/form.js"></script>

{% include "tinymcebbcode.html" %}
    
</script>


{% endblock %}

{% block main-navigation %}
<li>Oferta</li>
<li><a href="{% url subject-list %}">Propozycje</a></li>
{% if subject %}
  <li><a href="{% url subject-page slug=subject.slug %}">{{subject.slug}}</a></li>
  {% if editMode %}
    <li>Edycja</li>
  {% endif %}
{% else %}
  {% if editForm %}
    <li>Dodaj nową</li>
  {% endif %}
{% endif %}
{% endblock %}


{% block content %}

<div id="main-content" class="narrow">
    <ul id="od-subjectoffer-subjectlist">
        {% for sub in subjects %}
            <li {% ifequal subject.id sub.id %}class="active"{% endifequal %}><a href="/subjects/{{sub.slug}}">{{sub.name}}</a></li>    		
    	   {% empty %}<li>Brak przedmiotów</li>
    	{% endfor %}
        <li {% ifequal mode 'form' %}{% if not editMode %}class="active"{% endif %}{% endifequal %} ><a  href="/subjects/add/">Dodaj przedmiot</a></li>
    </ul>
    <div id="od-subjectoffer-contents">
        {% ifequal mode 'form' %}
            {% include 'subjects/subject_form.html' %}
        {% else %}
            {% ifequal mode 'details' %}
                {% include 'subjects/subject.html' %}
            {% else %}
                <br /><br /><br /><br /><br /><br />
            {% endifequal %}
        {% endifequal %}
        
    </div>
</div>

{% endblock %}
