    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
   {% endif %}
   
<div>

<h2><a class="subject-details-link" link="{% url subject-page group.subject_slug %}">{{group.subject}}</a> {{group.type_and_teacher}} - Lista zapisanych osób </h2>
{% for student in students_in_group %}
<li>
    <a href="{% url student-profile student.user.id %}">{{student.user.get_full_name}}</a>
</li>
{% empty %}brak zapisanych osób
{% endfor %}
</ul>
</div>
