{% extends "enrollment/base-enrollment.html" %}
 
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/jquery/jquery.ui.schedule.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/enrollment/records/schedule-prototype.css" />
	<link rel="stylesheet" href="/site_media/css/offer/prefs.css" type="text/css" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/site_media/js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery/jquery.ui.schedule.js"></script>
    <script type="text/javascript" src="/site_media/js/enrollment/records/schedule-prototype.js"></script>
    <script type="text/javascript" src="/site_media/js/components/sidebar.js"></script>
	<script type="text/javascript" src="/site_media/js/enrollment/subjects/subjects-list-ajax.js" ></script>
{% endblock %}
 
{% block main-navigation %}
<li>
    <a href="{% url main-page %}">Strona Główna</a>
</li>
<li>
    <a href="{% url latest_news 'enrollment' %}">Zapisy</a>
</li>
<li>
    <a href="{% url schedule-prototype %}">Prototyp Planu</a>
</li>
{% endblock %}

{% block top-bar %}
	<div class="main-top-bar">
	<div id="od-prefs-top-bar" class="main-top-bar">
		<input type="hidden" id="ajaxUrl" value="{% url subject-ajax %}"/>
		
		<fieldset id="od-prefs-filter">
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text od-filter" id="keyword" type="text" name="keyword" />
				<input class="reset" type="reset" value="X" style="display:block;" />
			</div>
		</fieldset>
		
		<fieldset id="od-prefs-subjtype">
			<legend><span>Rodzaj przedmiotu</span></legend>
			{% for key, name in types_list %}
				<span class="checkbox"><input class='type-list' type="checkbox" value="{{ key }}" checked /><label>{{ name }}</label></span>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend><span>pozostałe</span></legend>
			<div style='width: 300px'>
				<span class="selectbox">
			    <select id="semester" name="semester">
	                {% for key, name in semesters_list %}<option value='{{ key }}'>{{ name }} </option>
	                {% endfor %}
	            </select>
				</span><br />
				<span class='checkbox'><input type='checkbox' disabled />Schowaj przedmioty na ktore bylem zapisany</span>
		    </div>
		</fieldset>
	</div>
	</div>
{% endblock %}

{% block content %}
    <p id="schedule-message" class="schedule-message">haha</p>

    <div id="schedule-wrapper" 
        pinUrl="{% url schedule-prototype-pin %}" 
        unpinUrl="{% url schedule-prototype-unpin %}"
        assignUrl="{% url schedule-prototype-assign %}" 
        resignUrl="{% url schedule-prototype-resign %}">
        {% for record in student_records %}
            {% for term in record.group_.terms_ %}
                <div subjectID="{{ record.group_.subject_.pk }}"
					semestrID="{{ record.group_.subject_.semester.pk }}"
                    groupID="{{ record.group_.pk }}"
                    termID="{{ term.pk}}"
                    from="{{ term.time_from_in_minutes }}" 
                    minutes="{{ term.length_in_minutes }}" 
                    day="{{ term.day_in_zero_base }}"
                    status="{{ record.schedule_widget_status_ }}">
                    <span>{{record.group_}}<br/>
                    (s.{{term.classroom}})</span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="schedule-buttons-wrapper">
        <input id="btnAssignToAll" type="button" value="Zapisz mnie na przypiete przedmioty">
    </div>
{% endblock %}
 
{% block sidebar-class %}sidebar-right sidebar-visible{% endblock %}
{% block sidebar %}
    <div id="main-sidebar">
        <h2>Przedmioty:</h2>
        <ul id="schedule-prototype-subject-list"></ul>
		<div style="display:none;">
			{% for term in terms %}
				<div class="subject{{ term.group.subject.pk }}"
					subjectID="{{ term.group.subject.pk }}"
					semestrID="{{ term.group.subject.semester.pk }}"
					groupID="{{ term.group.pk }}"
					termID="{{ term.pk }}"
					from="{{ term.time_from_in_minutes }}" 
					minutes="{{ term.length_in_minutes }}" 
					day="{{ term.day_in_zero_base }}">
					{{term.description}}
				</div>
			{% endfor %}
		</div>
    </div>
{% endblock %}
