{% extends "enrollment/base-enrollment.html" %}
 
{% block styles %}
	<link rel="stylesheet" href="/site_media/css/components/jquery/jquery.ui.schedule.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/enrollment/records/schedule-prototype.css" type="text/css" />
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.1.custom.min.js"></script> 
	<script type="text/javascript" src="/site_media/js/jquery.cookies.2.2.0.min.js"></script> 
	<script src="/site_media/js/jquery.ui.schedule.js" type="text/javascript"></script>
	<script src="/site_media/js/enrollment/records/schedule-prototype.js" type="text/javascript"></script>
	<script src="/site_media/js/components/sidebar.js" type="text/javascript"></script>
{% endblock %}
 
{% block main-navigation %}
<li>Przedmioty</li>
<li>Prototyp Planu</li>
{% endblock %}

{% block content %}

	<div id="schedule-wrapper" 
		pinUrl="{% url schedule-prototype-pin %}" 
		unpinUrl="{% url schedule-prototype-unpin %}"
		assignUrl="{% url schedule-prototype-assign %}" 
		resignUrl="{% url schedule-prototype-resign %}">
		{% for record in student_records %}
			{% for term in record.group_.terms_ %}
				<div subjectID="{{record.group_.subject_.pk}}"
					groupID="{{record.group_.pk}}"
					termID="{{term.pk}}"
					from="{{ term.time_from_in_minutes }}" 
					minutes="{{ term.length_in_minutes }}" 
					day="{{ term.day_in_zero_base }}"
					status="{{ record.schedule_widget_status_ }}">
					{{record.group_}}<br/>
					(s.{{term.classroom}})
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	
{% endblock %}
 
{% block sidebar-class %}sidebar-right sidebar-visible{% endblock %}
{% block sidebar %}
	<div id="main-sidebar">
		<h2>Przedmioty</h2>
	 	{% for sub in subjects %}
			{% if forloop.first %}<ul>{% endif %}
				<li>
					<span subjectid="{{sub.pk}}" class="schedule-prototype-subject" id="subject{{sub.pk}}">{{sub.name}}</span>
					<div style="display:none;">
					{% for group in sub.groups_ %}
						{% for term in group.terms_ %}
							<div class="subject{{sub.pk}}"
								subjectID="{{sub.pk}}"
								groupID="{{group.pk}}"
								termID="{{term.pk}}"
								from="{{ term.time_from_in_minutes }}" 
								minutes="{{ term.length_in_minutes }}" 
								day="{{ term.day_in_zero_base }}">
								{{group}}<br/>
								({{term.classroom}})
							</div>
						{% endfor %}
					{% endfor %}
					</div>
				</li>
			{% if forloop.end %}</ul>{% endif %}		
	 		{% empty %}Brak przedmiotów
	 	{% endfor %}
	</div>
{% endblock %}