/* Miscellaneous app styles */

// Customize the react-confirm alerts
.react-confirm-alert-overlay {
    animation: react-confirm-alert-fadeIn 0.2s 0.2s forwards;
}

// reset annoying Bootstrap styles
input, textarea {
    height: auto;
}
table {
    width: auto;
    margin-bottom: auto;
}
table th, table td {
    padding: 0px;
    line-height: auto;
    border-bottom: 0px;
}
input, textarea, label {
    width: auto;
}
select {
    padding: 0px;
}
label {
    padding-top: 0px;
}

select option:disabled {
    color: lightgray;
}
