

/*** ROZDZIELCZOSCI ***/




@media all and (max-width: 220px)  {
	#main-header{	width:100%; padding: 3% 0% }
	#main-content{
		width: 160px; height:128px; content: "Obróć ekran!"
	}

	.version-info{ content: "128x160";}
	
	div{ font-size: 7px; }
}





@media all  and (min-width: 220px) {
	#main-header{width:40%; float: left}
	#main-content{width:55%; float: right}
	#main-container{
		width: 220px;
	}

	#login-message{ content: "Spróbuj ponownie."}
	.version-info{content: "176x220";}
	
	div{ font-size: 8px; }
}

@media all and (min-width: 320px)  {
	#main-container{
			width: 320px; 
	}


	.main-message{ font-weight: bold; }
	.version-info{content: "240x320";}
	
	div{ font-size: 11px; }
	input{ font-size: 11px; }
}


/* ---- */ 

@media all and (min-width: 480px)  {
	#main-container{
		width: 480px; 
	}

	.high-res-cent{
		width:60%; padding: 3% 20% 20% 20%; 
	}
	.main-message{ content: "Podany identyfikator i hasło się nie zgadzają. Spróbuj ponownie"}
	.version-info{content: "320x480";}
	
	div{ font-size: 11px; }
	input{ font-size: 11px; }
	input[type=text], input[type=password], textarea{height: 25px;}
}

@media all and (min-width: 720px)  {
	#main-container{
	width: 720px; 
	}

	.version-info{content: "480x720";}
	
	div{ font-size: 16px; }
	input{ font-size: 16px; }
	input[type=text], input[type=password], textarea{height: 30px;}

}

@media all and (min-width: 960px) {
	#main-container{
	width: 960px;
	}

	.version-info{content: "640x960";}
	
	div{ font-size: 22px; }
	input{ font-size: 22px; }
	input[type=text], input[type=password], textarea{height: 40px;}

}