{% extends "common/index.html" %}
{% load static %}

{% load fereol_common %}

{% block styles %}
	<link rel="stylesheet" href="{% static "css/news.css" %}" type="text/css" />
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url 'news-all' %}">Aktualności</a></li>
	<li>Usuń ogłoszenie</li>
{% endblock %}

{% block content-class %}narrow{% endblock %}
{% block content %}
    <div class="main-message">Czy na pewno chcesz usunąć to ogłoszenie?</div>

<div class="od-news-list">
  <div class="od-news-item">
    <div class="od-news-header">
      <h2>{{ news.title }}</h2>
      <span class="od-news-date">{{ news.date|date:"l, d.m.Y"|lower }}</span>
    </div>
    <div class="od-news-body">
      {{ news.body|bbcode|nl2br|safe }}
    </div>
    <div class="od-news-footer">
      {{ news.author.first_name }} {{ news.author.last_name }}
    </div>
  </div>
</div>

<form action="{% url 'news-all-delete' news.id %}" method="POST">
  <input type="hidden" name="object_id" value="{{ news.id }}" />
  <p style="text-align:center;">
    <input type="submit" name="sumbit" value="Tak, chcę usunąć to ogłoszenie." />
  </p>
</form>
{% endblock %}
