{% extends "base.html" %}

{% load static %}
{% load fereol_common %}
{% load compressed %}
{% block main-subtitle %}Aktualności{% endblock %}

{% block content-class %}narrow{% endblock %}

{% block rss %}
<link href="/feeds/news/" rel="alternate" type="application/rss+xml" title="Aktualności RSS" />
{% endblock %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item active" aria-current="page">Aktualności</li>
{% endblock %}

{% block all-content %}

<h1 class="display-1 p-2">Aktualności</h1>

<div class="row">
    <div class="col-auto mr-auto">
        <form class="input-group">
            <input class="form-control form-control-lg form-control-borderless" type="search" name="q"
                    value="{{ query|default_if_none:''|lower }}" placeholder="Szukaj w tytułach i treści..." />
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Wyszukaj</button>
            </div>
        </form>
        {% if query %}
            <p class="mx-auto font-weight-bolder m-2">
                <span class="align-middle">
                    Wyniki wyszukiwania dla 
                    <mark class="px-2 text-monospace">{{ query|lower }}</mark>
                </span>
                <a class="btn btn-sm btn-danger" href="{% url 'news-all' %}">wyczyść filtr</a>
            </p>
        
        {% endif %}
        
    </div>
    {% if not query %}
    <div class="col-auto">
        <a href="/feeds/news/" title="Aktualności RSS">
            <img src="{% static "images/rss.png" %}" alt="RSS" />
        </a>
    </div>
    {% endif %}

</div>


<div class="row">
    <div class="col">
        {% if items %}
            {% for news in items %}
            <div class="od-news-item" id="od-news-{{news.id}}">
                <h3 class="display-3">{{ news.title }}</h3>
                <div>
                    <span class="od-news-date">{{ news.date|date:"l, d.m.Y · G:i" }}</span>
                    <span class="od-news-author">{{ news.author.get_full_name }}</span>
                </div>
                <div class="my-3">{{ news.body|safe }}</div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                Nie ma ogłoszeń pasujących do zapytania.
            </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="pagination justify-content-center">
            <ul class="pagination">
                <li class="page-item prev {% if not items.has_previous %}disabled{% endif %}">
                    <a class="page-link" {% if items.has_previous %}href="?page={{ items.previous_page_number }}"{% endif %}>Poprzednia</a>
                </li>
                {% for index in page_range %}
                    {% if index <= items.number|add:3 and index >= items.number|add:-3 %}
                        <li class="page-item {% if forloop.counter == items.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item next {% if not items.has_next %}disabled{% endif %}">
                    <a class="page-link" {%if items.has_next %}href="?page={{ items.next_page_number }}"{% endif %}>Następna</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}