{% extends "base.html" %}

{% load static %}
{% load fereol_common %}
{% load compressed %}
{% block main-subtitle %}Aktualności{% endblock %}

{% block content-class %}narrow{% endblock %}

{% block rss %}
    <link href="/feeds/news/" rel="alternate" type="application/rss+xml" title="Aktualności RSS"/>
{% endblock %}

{% block styles %}
    {% compressed_css 'news' %}
{% endblock %}

{% block js %}
    {% compressed_js 'news' %}
{% endblock %}
u
{% block bread %}
    <a href="/">Strona główna</a>  &raquo;
    Aktualności
{% endblock %}

{% block topContent %}
    <div id="od-news-top-bar" class="main-top-bar">
        <form id="od-news-search-form" method="get">
            <div class="main-filter-input">
                <input class="text" type="text" name="q" id="od-news-search-q" value="{{ query|default_if_none:''|lower }}" placeholder="Szukaj w tytułach i treści..."/>
                <input class="reset" type="reset" id="od-news-search-reset" value="X"/>
            </div>
        </form>
        
        <div class="od-news-navigator">
            <a href="/feeds/news/" title="Aktualności RSS" id="od-news-rss-icon">
                <img src="{% static "images/rss.png" %}" alt="RSS"/>
            </a>
        </div>

        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block content %}
    <h2>Aktualności</h2>
    {% if query %}<p> Wyniki wyszukiwania dla "{{ query|lower }}" | <a href="/news">usuń filtr</a></p>{% endif %}
    <div id="news-content">
        {% if items %}
            <div class="od-news-list">
                {% for news in items %}
                    <div id="od-news-{{news.id}}" class="od-news-item">
                        <div class="od-news-header">
                            <h3>{{ news.title }}</h3>
                            <span class="od-news-date">{{ news.date|date:"l, d.m.Y - G:i" }}</span>
                        </div>
                        <div class="od-news-body">
                            {{ news.body|safe }}
                        </div>
                        <div class="od-news-footer">
                            {{ news.author.first_name }} {{ news.author.last_name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
              <ul>
                <li class="prev{% if not items.has_previous %} disabled{% endif %}"><a {% if items.has_previous %}href="?page={{ items.previous_page_number }}"{% endif %}>&larr; Poprzednia</a></li>
                {% for index in page_range %}
                  <li{% if index == items.page %} class="active"{% endif %}><a href="?page={{ index }}">{{ index }}</a></li>
                {% endfor %}
                <li class="next{% if not items.has_next %} disabled{% endif %}"><a {% if items.has_next %}href="?page={{ items.next_page_number }}"{% endif %}>Następna &rarr;</a></li>
              </ul>
            </div>
        {% else %}
            <p>Nie ma ogłoszeń pasujących do zapytania.</p>
        {% endif %}
    </div>
{% endblock %}
