{% extends "base.html" %}
{% load static %}

{% load fereol_common %}

{% block main-subtitle %}Aktualności{% endblock %}

{% block content-class %}narrow{% endblock %}

{% block rss %}
	<link href="/feeds/news/" rel="alternate" type="application/rss+xml" title="Aktualności RSS" />
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static "css/news.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/common/dialog_box.css" %}" type="text/css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/components/messageBox.js" %}"></script>
	<script src="{% static "js/news.js" %}" type="text/javascript"></script>
	<script src="{% static "js/components/topBarFilter.js" %}" type="text/javascript"></script>
{% endblock %}
u
{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
    <li><a href="{% url 'latest_news' category %}">{% ifequal category "enrollment" %}Zapisy{% endifequal %}{% ifequal category "offer" %}Oferta{% endifequal %}{% ifequal category "grade" %}Ocena zajęć{% endifequal %}</a>
	</li>
    <li id="news-nav">
		{% if archive_view %}Archiwum aktualności{% endif %}
		{% if search_view %}Wyniki wyszukiwania aktualności{% endif %}
		{% if not archive_view and not search_view %}Aktualności{% endif %}
	</li>
{% endblock %}

{% block topContent %}
	<div id="od-news-top-bar" class="main-top-bar">
	  <form id="od-news-search-form" action="{% url 'news-search' category %}" method="get">
			<div class="main-filter-input">
			  <input class="text" type="text" name="q" id="od-news-search-q"/>
			  <input class="reset" type="reset" id="od-news-search-reset" value="X" style="display:none;" />
			</div>
		</form>

		{% if perms.news.add_news %}
			<a href="{% url 'admin:news_add' %}">Dodaj ogłoszenie</a>
		{% endif %}

		<div class="od-news-navigator">
			{% if newer_group or older_group%}
			<ul id="news-nav-groups">
				{{ newer_group }}
				{{ older_group }}
			</ul>
			{% endif %}
			<a href="/feeds/news/{{category}}/" title="Aktualności RSS" id="od-news-rss-icon">
				<img src="{% static "images/rss.png" %}" alt="RSS" />
			</a>
		</div>
		
		<div style="clear: both;"></div>
	</div>
{% endblock %}

{% block center %}
<div id="news-content">
  {{ content }}
</div>
{% endblock %}
