/**
 * Style odpowiadające za wygląd głównego szablonu (logo, menu, stopka itp)
 */

#center-container
{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*** NAGŁÓWEK ***/

#main-header
{
  background: #004872;
  width:100%;
  border-bottom: 0.1em solid #cccccc;
}

#logo{
    width:100%;
    border-bottom: 0.10em solid #cccccc;
}
#navbar{
    padding: 1% 1%;
}
/*** TREŚĆ ***/

#main-content
{
    text-align:left;
    padding:2%; width:96%;
}

/*** STOPKA ***/

#main-footer
{
    padding: 1%;
    width:98%;
    border-top: 0.1em solid #cccccc;
}

#main-footer a
{   
    color: #999999;
}
#main-container
{
    background: white;
    border: 0.1em solid #cccccc;
    width: 65%;
}

A:link {text-decoration: none; color: white} 
A:visited {text-decoration: none; color: white} 
A:hover {text-decoration: none; color: #3f5f72} 

li{float:left}

form{padding: 2% 0%}

body{margin: 0em 0em 2em 0em}

div{font-family: sans-serif}

.course-inner {
    text-align: center;
    width:100%; padding: 4% 1%; border: 1px solid black; 
    background: #0073b5;
    color: white;
}
.course-outer {
    width:70%; padding: 1% 15%;
}

.box{
  margin: 5% 15% 10% 15%;
  padding: 3% 0% 3% 0%;
  width:70%;
  text-align: center;
  border: 1px solid black; 
  background: #0073b5;
  color: white;
  font-weight: bolder;
}

/*** KOMUNIKAT ***/

.main-message
{
    text-align:center;
    border: 0.1em solid red;
    background: #FFF5B3;
    padding: 0.3em 0em;
    color:red;
    width:100%;
    border-radius: 0.4em;
}

.version-info
{
    float:right;
}
/*** KOMPONENTY ***/


.sschedule input[type=submit]{
  width: 60%;
  border: 2px solid #3F5F72;
}
input[type=submit] {
    margin: 5%;
    width: 90%;
    padding:3% 0%;
    font-family: sans-serif;
}
        
input[type=text], input[type=password], textarea
{
    border: 0.1em solid #cccccc;
    background: white;
    padding: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height:1.7em;
    width:99%;
}

.course-block{
 border: 1px solid black;
 background: #0073b5;
 color: white;
}
.signbutton{
  background: white;
  border: 1px solid #cccccc;
}
.clear{ 
  background: white;
  border: 1px solid #cccccc;
} 
/*** Student Schedule ***/

.sschedule
{
text-align: center; 
width: 80%; 
margin: 10% 0% 10% 10%; 
}

.sschedule table{
  border-collapse:collapse;
  width:100%;
}
.sschedule td, th, table{
  border:1px solid black;
  background: #0073b5;
  color: white;
}
.sschedule .break{
  height: 10px;
  background: white;
}
.listpos{
  margin: 1% 4%;
}
.listpos a{
  color: white;
}
.square{
  margin:5%;
  width:21%;
  float: left;
  color: white;
  background: #0073b5;
  padding: 5% 0% 5% 0%;
  border: 1px solid black;
}
.emptysquare{
  border: 0px;
  background: white;
}
.slist p{
  margin: 1em 0em 0em;
}

.round{
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
