{% extends "offer/manage/base.html" %}
{% load course_types %}

{% block groups_active %} class = "active" {% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/vendor/chosen.jquery.js" type="text/javascript"></script>
  <script>jQuery.dataInvalidate_check = function(){};</script>
{% endblock %}

{% block all-content %}
<link rel="stylesheet" href="/static/vendor/chosen.css" />

<h1 class="text-dark font-weight-bold">{{course}}</h1>
<form action="{{path}}" method="POST" id="groups">
{% csrf_token %}
<div class="table-responsive">
<table class="table table-stripped">
<thead class="text-muted">
<tr>
  <th>Prowadzący</th>
  <th>Nowy prowadzący</th>
  <th>Typ</th>
  <th>Termin</th>
  <th>Zapisani</th>
  <th>Limit</th>
</tr>
</thead>
<tbody class="text-muted">
  {% for group, group_teachers in groups_with_teachers %}
  <tr>
    <td>
      <strong>{{group.teacher}}</strong>
    </td>
    <td>
      <select name="group_{{group.id}}">
        {% if group_teachers == None %}
          {% for teacher in teachers %}
            <option value="{{teacher.id}}" {% if teacher == group.teacher %}selected="selected"{% endif %}>{{teacher.get_full_name}}</option>
          {% endfor %}
        {% else %}
          {% for level, teachers in group_teachers %}
            <optgroup label="{{level}}">
              {% for teacher in teachers %}
                <option value="{{teacher.id}}" {% if teacher == group.teacher %}selected="selected"{% endif %}>{{teacher.get_full_name}}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        {% endif %}
      </select>
    </td>
    <td><strong>{{group.human_readable_type}}</strong></td>
    <td>
      {% for d in group.get_all_terms %}
        <span>{{ d }}</span>
      {% endfor %}
    </td>
    <td>{{ students_in_group|length }}</td>
    <td>{{group.limit}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
<input value="Zapisz" class="btn btn-primary" type="submit" />
</form>
<script type="text/javascript">$("form#groups select").chosen()</script>
{% endblock %}
