{% extends "offer/manage/base.html" %}
{% block voting_active %}active{% endblock %}

{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>jQuery.dataInvalidate_check = function(){};</script>
{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

<link type="text/css" rel="stylesheet" href="/static/vendor/bootstrap-duallistbox.css" />
<script type="text/javascript" src="/static/vendor/jquery.bootstrap-duallistbox.js"></script>

<h1>Wybierz przedmioty pod głosowanie</h1>

<form id="courses-in-voting" action="/offer/manage/select_for_voting" method="POST">
  {% csrf_token %}
  <input type="submit" value="Zapisz" class="btn primary" />
  <select name="for_voting" multiple="multiple">
    {% for course in courses %}
      {% if course.is_in_voting %}
        <option value="{{course.id}}" selected="selected">{{course.name}}</option>
      {% else %}
        <option value="{{course.id}}">{{course.name}}</option>
      {% endif %}
    {% endfor %}
  </select>
  <script>
    $('form#courses-in-voting select').bootstrapDualListbox({
      'bootstrap2Compatible': true,
      'nonSelectedListLabel': 'Przedmioty',
      'selectedListLabel': 'Przedmioty w głosowaniu'
    })
  </script>
  <div id="test"></div>
  <input type="submit" value="Zapisz" class="btn primary" />
</for>

{% endblock %}
