{% extends "offer/manage/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load compressed %}
 
{% block voting_active %} class = "active" {% endblock %}
 
{% block js %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% compressed_js 'proposal_edit' %}
        <script id="filtered-select-multiple-data" type="application/json">
[{
   "id": "#selector-voting",
   "size": 15,
   "txtAvailable": "Przedmioty",
   "txtChosen": "Przedmioty w głosowaniu"
}]
    </script>
    {% render_bundle "filtered-select-multiple-converter" %}
{% endblock %}
 
{% block all-content %}
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
<link type="text/css" rel="stylesheet" href="/static/vendor/bootstrap-duallistbox.css" />
<script type="text/javascript" src="/static/vendor/jquery.bootstrap-duallistbox.js"></script>
 
<h1 class="text-dark font-weight-bold">Wybierz przedmioty pod głosowanie</h1>
  <form action="/offer/manage/select_for_voting" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
 
      <div class="d-flex justify-content-center">
          <div id="selector-voting" class="p-1 flex-fill mb-2">
          {{ form.courses }}
          {{ form.courses.errors }}
          </div>
      </div>
 
      <input type="submit" value="Zapisz" class="btn btn-primary" />
  </form>
{% endblock %}