{% extends "enrollment/base.html" %}
{% load render_bundle from webpack_loader %}

{% block sidebar %}
    <div class="dropdown">
        <div class="btn-group btn-block mb-3">
            <button class="btn btn-light" disabled>
                <strong>Semestr {{ semester }}</strong>    
            </button>
            <button class="btn btn-light dropdown-toggle dropdown-toggle-split"
                    href="#" role="button" id="semester-dropdown" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
            </button>
            
            <div class="dropdown-menu" aria-labelledby="semester-dropdown">
                {% for semester in all_semesters %}
                <a class="dropdown-item" href={% url 'courses-semester' semester.pk %}>{{ semester }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <script id="courses-data" type="application/json">{{ courses_json|safe }}</script>
	<div id="course-list"></div>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'courses-course-list' %}
{% endblock rendered_bundles %}
