{% extends "courses/base.html" %}
{% load i18n %}
{% load compressed %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}{% trans "Przedmioty" %}{% endblock %}

{% block styles %}
    {% compressed_css 'courseview' %}
{% endblock %}

{# WARNING if you change the enr- links below make sure you don't break
    break assets/ajaxCourseLoad.ts as it depends on the DOM layout #}
{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url "main-page" %}">{% trans "Strona główna" %}</a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% url "course-list" %}">{% trans "Przedmioty" %}</a>
    </li>

    <li class="breadcrumb-item active hidden" id="enr-course-name">
        {{ course.name }}
    </li>
{% endblock %}

{% block top-content %}
{% include "common/course_list_filters.html" with custom_filters="enrollment/semesterChooser.html" %}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    {% trans "Wybierz przedmiot z listy" %}
</div>

{% render_bundle 'proposal-render-markdown' %}

{% endblock %}
