{% extends "courses/courses_list.html" %}

{% load fereol_common %}
{% load i18n %}

{% block main-subtitle %}{{ course.name }}{% endblock %}

{# WARNING if you change the enr- links below make sure you don't break
    break assets/ajaxCourseLoad.ts as it depends on the DOM layout #}
{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url "main-page" %}">{% trans "Strona główna" %}</a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% url "course-list" %}">{% trans "Przedmioty" %}</a>
    </li>

    <li class="breadcrumb-item active" id="enr-course-name">
        {{ course.name }}
    </li>
{% endblock %}


{% block content %}
<div id="enr-course-view">
    {% include "courses/course_info.html" %}
</div>
{% endblock %}
