{% load i18n %}
{% load course_types %}

{% include "courses/course_head.html" %}
<hr>
{% regroup groups|dictsort:"type" by type as groups_by_type %}

{% for tutorial in groups_by_type %}

    <div class="table-responsive tutorial">
        <h3>{{ tutorial.grouper|decode_class_type_plural  }}</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                {# Translators: nagłówek tabeli #}
                <th>{% trans "Prowadzący" %}</th>
                <th class="term align-middle" scope="col">{% trans "Termin zajęć" %}</th>
                <th title="Maksymalna liczba osób, które mogą zapisać się na przedmiot" class="align-middle number" scope="col">{% trans "Limit" %}</th>
                <th title="Liczba aktualnie zapisanych osób" class="align-middle number termEnrolledHeader" scope="col">{% trans "Zapisani" %}</th>
                <th title="Liczba osób oczekujących na zapis" class="align-middle number termQueuedHeader" scope="col">{% trans "Kolejka" %}</th>
                {% if course.is_enrollment_on %}
                <th class="align-middle controls" scope="col"></th>
                <th class="align-middle priority" scope="col">{% trans "Priorytet" %}</th>
                {% endif %}
                {% if user.student or user.employee or user.is_staff %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for group in tutorial.list %}
                <tr {% if group.is_enrolled %} class="signed" {% endif %} >
                    <td class="align-middle" >
                        {% if group.teacher %}
                            <a href="{% url 'employee-profile' group.teacher.user.id %}" class="person">
                                {{ group.teacher.user.get_full_name }}
                            </a>
                        {% else %}
                            {% trans "(nieznany prowadzący)" %}
                        {% endif %}
                        {% if group.extra %}
                            <br/><span class="small">{{ group.get_extra_display }}</span>
                        {% endif %}
                    </td>
                    <td class="term align-middle">
                        {% for term in group.term.all %}
                            <span>{{ term }}</span>
                        {% endfor %}
                    </td>
                    <td class="number termLimit align-middle">{{ group.limit }}</td>
                    <td class="number termEnrolledCount align-middle">{{ group.num_enrolled }}</td>
                    <td class="number termQueuedCount align-middle">{{ group.num_enqueued }}</td>
                    {% if course.is_enrollment_on %}
                        <td class="controls align-middle">
                            {% if group.can_enqueue and not group.is_enrolled and not group.is_enqueued %}
                            <form action="{% url 'records-enqueue' %}" method="post" class="setEnrolled">{% csrf_token %}
                                    <div>
                                        <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                        <button type="submit" class="btn btn-success btn-sm success setEnrolledButton"
                                        onclick="return confirm('Czy na pewno chcesz się dopisać do tej grupy?');">
                                        Zapisz
                                    </button>
                                    </div>
                                </form>
                                {% elif group.can_dequeue and group.is_enrolled or group.can_dequeue and group.is_enqueued %}
                                <form action="{% url 'records-dequeue' %}" method="post" class="setEnrolled">{% csrf_token %}
                                    <div>
                                        <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                        <button type="submit" class="btn btn-danger btn-sm danger setEnrolledButton"
                                        onclick="return confirm('Czy na pewno chcesz się wypisać z tej grupy?');">
                                        Wypisz
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </td>
                        <td class="priority align-middle">
                            {% if group.can_enqueue and group.is_enqueued %}
                            <form action="{% url 'records-set-priority' %}" method="post">{% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                <select name="priority" onchange="this.form.submit()">
                                    {% for s in "0123456789" %}
                                        <option {% if forloop.counter == group.priority %} selected {% endif %}
                                                value="{{ forloop.counter }}">
                                            {{ forloop.counter }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if user.student or user.employee or user.is_staff %}
                        <td class="align-middle">
                            <a href="{% url 'group-view' group.pk %}">{% trans "lista" %}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><strong>UWAGA!</strong>
            Wyższa liczba oznacza wyższy priorytet, po zapisaniu do grupy zostajemy usunięci z kolejek o niższym priorytecie.
        </p>
    </div>
{% endfor %}

<hr>
{% include "courses/course_consultations.html" %}
