{% extends "courses/base.html" %}

{% block main-subtitle %}
	{{ group }}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url 'main-page' %}">Strona główna</a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% url 'course-list' %}">Zapisy</a>
    </li>

    <li class="breadcrumb-item">
	    <a href="{% url 'course-list' %}">Przedmioty</a>
    </li>

    <li class="breadcrumb-item">
	    <a href="{% url 'course-page' group.course.slug %}">
            {{group.course.name}}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{group.get_type_display}}: {{group.get_teacher_full_name}}
    </li>
{% endblock %}



{% block content %}
    <header class="d-flex justify-content-between align-items-center">
        <div>
            <h1>{{ group.course }}</h1>
            <h4>{{group.get_type_display}}: {{group.get_teacher_full_name}}</h4>
            <h6>{% for term in group.term.all %}{{ term }}{% endfor %}</h6>
        </div>
        {% if user.is_staff %}
            <a class="btn btn-outline-info btn-sm mx-2" 
            href="{% url 'admin:courses_group_change' group.pk %}">
                Edytuj
            </a>
        {% endif %}
    </header>


    <hr>

    <div class="table-responsive-sm">
        <h3>Lista osób zapisanych na przedmiot:</h3>
        <p>
            Liczba zapisanych osób: {{students_in_group|length}} / {{group.limit}}
            {% for gs in guaranteed_spots %}
                + 
                <span title="Miejsca gwarantowane dla grupy {{gs.role.name}}.">
                    {{ gs.limit }}
                    <span class="badge badge-dark">{{ gs.role.name }}</span>
                </span>
            {% endfor %}
        </p>

        {% if students_in_group %}
            {% include "courses/students_list.html" with students=students_in_group|dictsort:"user.last_name" %}
            
            {% if request.user.is_staff or request.user.employee %}
            <div class="d-print-none">
                <h5>Wyślij wiadomość do grupy</h5>
                <ul>
                    <li><a href="mailto:{{ mailto_group }}">udostępniając adresy mailowe studentów</a></li>
                    <li><a href="mailto:{{ mailto_group_bcc }}">ukrywając adresy mailowe studentów</a></li>
                </ul>
                
                <h5>Ściągnij listę studentów z grupy jako:</h5>
                <ul>
                    <li><a href="{% url 'group-csv' group.id %}">csv</a></li>
                </ul>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="table-responsive-sm d-print-none">
        {%if students_in_queue %}
            <h3>Lista osób oczekujących na zapis:</h3>
            <p>Liczba osób oczekujących na zapis: {{students_in_queue|length}}</p>

            {% include "courses/students_list.html" with students=students_in_queue %}
            
            {% if request.user.is_staff or request.user.employee %}
                <h5>Wyślij wiadomość do kolejki</h5>
                <ul>
                    <li><a href="mailto:{{ mailto_queue }}">udostępniając adresy mailowe studentów</a></li>
                    <li><a href="mailto:{{ mailto_queue_bcc }}">ukrywając adresy mailowe studentów</a></li>
                </ul>

                <h5>Ściągnij listę studentów z kolejki jako:</h5>
                <ul>
                    <li><a href="{% url 'queue-csv' group.id %}">csv</a></li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
