{% load i18n %}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Nr indeksu</th>
        <th scope="col">Rodzaj studiów</th>
        <th scope="col">Semestr</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{% if can_user_see_all_students_here or student.consent_granted %}<a href="{% url 'student-profile' student.user.id %}" class="person">
                {{ student.user.first_name }}</a>{% endif %}</td>
            <td>{% if can_user_see_all_students_here or student.consent_granted %}<a href="{% url 'student-profile' student.user.id %}" class="person">
                {{ student.user.last_name }}</a>{% endif %}
            </td>
            <td>{{ student.matricula }}</td>
            <td>
                {{ student.program }}
            </td>
            <td>{{ student.semestr }}</td>
            <td>
                {% for tag in student.guaranteed %}
                    <span class="badge badge-dark">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>

    {% empty %}
        Brak zapisanych osób.
    {% endfor %}
    </tbody>
</table>
