{% extends "offer/base.html" %}

{% load proposal_extras %}

{% block main-subtitle %}Propozycje{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/offer/proposal/proposal.css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/components/sidebar.js"></script>

	<script type="text/javascript" src="/site_media/js/offer/proposal/history.js"></script>

	{% include "common/tinymce.html" %}

	{% block proposal-scripts %}
	{% endblock %}
{% endblock %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url offer-main %}">Oferta</a></li>
	{% if proposal and proposal.pk %}
		<li><a href="{% url proposal-list %}">Propozycje</a></li>
		{% if editMode %}
			<li><a href="{% url proposal-page slug=proposal.slug %}">{{proposal.name}}</a></li>
			<li>Edycja</li>
		{% else %}
			<li>{{proposal.name}}</li>
		{% endif %}
	{% else %}
		{% if editForm %}
			<li><a href="{% url proposal-list %}">Propozycje</a></li>
			<li>Dodaj nową</li>
		{% else %}
			<li>Propozycje</li>
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<div id="od-proposal-proposalmenu">
        {% if user.student or user.employee %}
		<a href="/proposal/add/" id="od-proposal-addlink">Dodaj przedmiot</a>
		{% endif %}
		<ul id="od-proposal-proposallist">
			{% for sub in proposals %}
				<li {% ifequal proposal.id sub.id %}class="active"{% endifequal %}>
					<a href="{% url proposal-page slug=sub.slug %}">{{sub.name}}</a>
				</li>
			   {% empty %}<li>Brak przedmiotów</li>
			{% endfor %}
		</ul>
	</div>
	<div id="od-proposal-contents">
		{% block proposal-content %}
			<p id="od-proposal-mainMessage">Wybierz przedmiot z menu po lewej lub dodaj nowy.</p>
		{% endblock %}
		<div style="clear: left"></div>
	</div>
{% endblock %}

{% block sidebar-class %}sidebar-right sidebar-visible{% endblock %}
{% block sidebar %}
	<div id="main-sidebar">
		{% get_courses_in_offer as courses_in_offer %}
		<h2>Przedmioty w ofercie dydaktycznej</h2>
		<ul>
			{% for sub in courses_in_offer %}
				<li>{{ sub.name }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
