{% extends "offer/base.html" %}

{% block main-subtitle %}Wybór przedmiotów do oferty dydaktycznej{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/proposal/offerCreate.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/jquery/jquery.colorbox.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/common/dialog_box.css" type="text/css" />
{% endblock %}

{% block scripts %}    
	<script type="text/javascript" src="/site_media/js/jquery/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="/site_media/js/offer/proposal/offerCreate.js"></script>
{% endblock %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url offer-main %}">Oferta</a></li>
	<li><a href="{% url proposal-list %}">Propozycje</a></li>
	<li>Wybór przedmiotów do oferty dydaktycznej</li>
{% endblock %}


{% block content %}
	<div id="offerCreate">
        <form method="POST">
            <table cellspacing="0">
                <tr>
                    <th></th>
                    <th>Oferta</th>
                    <th>Głosowanie</th>
                    <th>Semestr</th>
                    <th style="text-align: left;">Przedmiot</th>
                    <th>Pójdą</th>
                    <th>Poprowadzą</th>
                    <th>Pomogą</th>
                </tr>
                {% for course in courses %}
                <tr class="selected-{{ course.state }}">
                    <td class="state">
                        <input type="radio" class="course-state" name="course[{{ course.id }}]" value="0" autocomplete="off" {% if course.state == "none"  %}checked {% endif %}/>
                    </td>
                    <td class="state">
                        <input type="radio" class="course-state" name="course[{{ course.id }}]" value="1" autocomplete="off" {% if course.state == "offer"  %}checked {% endif %}/>
                    </td>
                    <td class="state">
                        <input type="radio" class="course-state" name="course[{{ course.id }}]" value="2" autocomplete="off" {% if course.state == "vote"  %}checked {% endif %}/>
                    </td>
                    <td class="state">
                        <select class="select-semester" name="course_semester[{{ course.id }}]">
                            <option value="brak"></option>
                            <option value="zimowy"{% if course.semester == "winter" %} selected{% endif %}>Zimowy</option>
                            <option value="letni"{% if course.semester == "summer" %} selected{% endif %}>Letni</option>
                        </select>
                    </td>
                    <td>{{ course.name }}<input type="hidden" name="courses[]" value="{{ course.id }}"></td>
                    <td class="cen">{% if course.fans_count == 0 %}0
                        {% else %}
                            <a link="{{ course.id }}" class="show-fans">{{ course.fans_count }}</a>
                        {% endif %}</td>
                    <td class="cen">
                        {% if course.teachers_count == 0 %}0
                        {% else %}
                            <a link="{{ course.id }}" class="show-teachers">{{ course.teachers_count }}</a>
                        {% endif %}
                    </td>
                    <td class="cen">
                        {% if course.helpers_count == 0 %}0
                        {% else %}
                            <a link="{{ course.id }}" class="show-helpers">{{ course.helpers_count }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" class="right" id="offer-button" value="Zapisz">
       </form>
		<div class="teachers">
			{% for course in courses %}
				<div class="teacher" id="teachers{{ course.id }}">
					{% for teacher in course.teachers.all %}
					<div>{{ teacher.first_name }} {{ teacher.last_name }}</div>
					{% endfor %}
				</div>
			{% empty %}
				 <div>- brak -</div>
			{% endfor %}
		</div>

		<div class="helpers">
			{% for course in courses %}
				<div class="helper" id="helpers{{ course.id }}">
					{% for helper in course.helpers.all %}
					<div>{{ helper.first_name }} {{ helper.last_name }}</div>
					{% endfor %}
				</div>
			{% empty %}
				 <div>- brak -</div>
			{% endfor %}
		</div>
	</div>
{% include 'common/dialog_box.html' %}
{% endblock %}
