{% extends "offer/base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/proposal/offerCreate.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/jquery/jquery.colorbox.css" type="text/css" />
{% endblock %}

{% block scripts %}    
	<script type="text/javascript" src="/site_media/js/jquery/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="/site_media/js/offer/proposal/offerCreate.js"></script>
{% endblock %}

{% block main-navigation %}
	<li>Oferta</li>
	<li>Propozycje</li>
	<li>Wybór przedmiotów do oferty dydaktycznej</li>
{% endblock %}


{% block content %}
	<div id="offerCreate">
		<table cellspacing="0">
			<tr>
				<th></th>
				<th style="text-align: left;">Przedmiot</th>
				<th>Poparcie</th>
				<th>Chętni do poprowadzenia</th>
				<th>Chętni do pomocy</th>
			</tr>
			{% for subject in subjects %}
			<tr {% if subject.in_offer %}class="selected"{% endif %}>
				<td>
					<input type="checkbox" name="selectSubject" value="{{ subject.id }}" autocomplete="off" {% if subject.in_offer %}checked{% endif %} />
				</td>
				<td>{{ subject.name }}</td>
				<td class="cen">{{ subject.fans_count }}</td>
				<td class="cen">
				    {% ifequal subject.teachers_count 0 %}0
                    {% else %}
                        <a href="#" subject="{{ subject.id }}" class="teachersDetails">{{ subject.teachers_count }}</a>
                    {% endifequal %}
                </td>
				<td class="cen">
				    {% ifequal subject.helpers_count 0 %}0
                    {% else %}
                        <a href="#" subject="{{ subject.id }}" class="helpersDetails">{{ subject.helpers_count }}</a>
                    {% endifequal %}
                </td>
			</tr>
			{% endfor %}
		</table>

		<div class="teachers">
			{% for subject in subjects %}
				<div class="teacher" id="teachers{{ subject.id }}">
				    {% for teacher in subject.teachers.all %}
					<div>{{ teacher.first_name }} {{ teacher.last_name }}</div>
					{% endfor %}
				</div>
			{% empty %}
			     <div>- brak -</div>
			{% endfor %}
		</div>

		<div class="helpers">
			{% for subject in subjects %}
				<div class="helper" id="helpers{{ subject.id }}">
				    {% for helper in subject.helpers.all %}
					<div>{{ helper.first_name }} {{ helper.last_name }}</div>
					{% endfor %}
				</div>
			{% empty %}
			     <div>- brak -</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
