{% extends "offer/proposal/base.html" %}

{% block main-subtitle %}Edycja propozycji{% if proposal.name %}:{% endif %} {{proposal.name}}{% endblock %}

{% block proposal-scripts %}
	<script type="text/javascript" src="/site_media/js/offer/proposal/form.js"></script>
{% endblock %}

{% block proposal-content %}
	<form action="" method="post" id="od-proposal-form">
		<p class="title">
			<input id="od-proposal-form-name" type="text" name="name" value="{{ proposal.name }}" />
		</p>

		<ul class="infoBox">
			<li id="od-proposal-form-types">
				Typ przedmiotu:
				<ul>
							{% if types %}
								{% for type in types %}
								<li class="type">
									<select name="types[]">
									  {% for typeName in typesName %}
										 <option value="{{ typeName.id }}"{% ifequal typeName.id type.lecture_type.id %} selected="selected"{% endifequal %}>{{ typeName.name }}</option>
									  {% endfor %}
									 </select>
								</li>
								{% endfor %}
							{% else %}
					<li class="type">
						<select name="types[]">
								 <option class="label" value="">- wybierz -</option>
								 {% for typeName in typesName %}
								 <option value="{{ typeName.id }}">{{ typeName.name }}</option>
								 {% endfor %}
							{% endif %}
						 </select>
					</li>
				</ul>
			</li>
			</li>
			<li class="proposedOwner">
				<label for="od-proposal-form-lock">Zablokuj innym edycję:</label>
				<select class="main-labelledSelect" id="od-proposal-form-lock" name="owner">
				   <option value="no">Nie</option>
				   <option value="yes" {% if proposal.owner %}{% endif %}>Tak</option>
				</select>
			</li>
			<li class="proposedTime">
				<label>Wymiar godzin:</label>
				<span>
					<label for="od-proposal-form-time-lectures">wyk.</label>
					<select class="main-labelledSelect" id="od-proposal-form-time-lectures" name="lectures" title="sugerowana liczbę godzin wykładów">
						{% for hour in proposalHours %}
							<option value="{{ hour.0 }}"{% ifequal proposal.description.lectures hour.0 %} selected=selected{% endifequal %}>{{ hour.1 }}</option>
						{% endfor %}
					</select>
				</span>
				<span>
					<label for="od-proposal-form-time-repetitories">rep.</label>
					<select class="main-labelledSelect" id="od-proposal-form-time-repetitories" name="repetitories" title="sugerowana liczbę godzin repetytoriów">
						{% for hour in proposalHours %}
							<option value="{{ hour.0 }}"{% ifequal proposal.description.repetitories hour.0 %} selected=selected{% endifequal %}>{{ hour.1 }}</option>
						{% endfor %}
					</select>
				</span>
				<span>
					<label for="od-proposal-form-time-seminars">sem.</label>
					<select class="main-labelledSelect" id="od-proposal-form-time-seminars" name="seminars" title="sugerowana liczbę godzin seminariów">
						{% for hour in proposalHours %}
							<option value="{{ hour.0 }}"{% ifequal proposal.description.seminars hour.0 %}  selected=selected{% endifequal %}>{{ hour.1 }}</option>
						{% endfor %}
					</select>
				</span>
				<span>
					<label for="od-proposal-form-time-exercises">ćw.</label>
					<select class="main-labelledSelect" id="od-proposal-form-time-exercises" name="exercises" title="sugerowana liczbę godzin ćwiczeń">
						{% for hour in proposalHours %}
							<option value="{{ hour.0 }}"{% ifequal proposal.description.exercises hour.0 %} selected=selected{% endifequal %}>{{ hour.1 }}</option>
						{% endfor %}
					</select>
				</span>
				<span>
					<label for="od-proposal-form-time-laboratories">lab.</label>
					<select class="main-labelledSelect" id="od-proposal-form-time-laboratories" name="laboratories" title="sugerowana liczbę godzin pracowni">
						{% for hour in proposalHours %}
							<option value="{{ hour.0 }}"{% ifequal proposal.description.laboratories hour.0 %} selected=selected{% endifequal %}>{{ hour.1 }}</option>
						{% endfor %}
					</select>
				 </span>
			</li>
			<li>
				<label for="od-proposal-form-ects">Sugerowana ilość punktów ECTS:</label>
				<input type="text" name="ects" id="od-proposal-form-ects" value="{{ proposal.description.ects }}" />
			</li>
			<li class="exam">
				<label for="od-proposal-form-exam">Egzamin:</label>
				<select class="main-labelledSelect" id="od-proposal-form-exam" name="exam">
				   <option value="no">Nie</option>
				   <option value="yes" {% if exam %}selected="selected"{% endif %}>Tak</option>
				</select>
			</li>
			<li class="classesInEnglish">
				<label for="od-proposal-form-classes-in-english">Możliwe zajęcia w języku angielskim:</label>
				<select class="main-labelledSelect" id="od-proposal-form-classes-in-english" name="classes-in-english">
				   <option value="no">Nie</option>
				   <option value="yes" {% if english %}selected="selected"{% endif %}>Tak</option>
				</select>
			</li>
		</ul>

		<h3>Opis przedmiotu</h3>
		<p><textarea name="description" rows="12" cols="70">{{ proposalDescription }}</textarea></p>

		<h3>Wymagania</h3>
		<p><textarea name="requirements" rows="12" cols="70">{{ proposalRequirements }}</textarea></p>

		<h3>Uwagi do potencjalnych prowadzących i dyrekcji</h3>
		<p><textarea name="comments" rows="5" cols="70">{{ proposalComments }}</textarea></p>

		<h3>Strona przedmiotu</h3>
		<p><input id="od-proposal-web-page" type="text" name="web-page" {% if proposalWWW %} value="{{ proposalWWW }}" {% endif %} /></p>

		<h3>Literatura:</h3>
		<div id="od-proposal-form-books">
			<ul>
				{% if books %}
					{% for book in books %}
						<li class="book"><input type="text" name="books[]" value="{{ book.name }}" /></li>
					{% endfor %}
				{% else %}
					<li class="book"><input type="text" name="books[]" /></li>
				{% endif %}
			</ul>
		</div>
        
        {% if form_hash %}
            {{ form_hash }}
            <input type="hidden" value="{{ form_hash }}" name="form-hash"/>
        {% endif %}
            llll{{ hasze }}

		<hr />

		<p id="od-proposal-form-submitBar">
			<input class="bigButton" type="submit" value="{% if editMode %}zapisz{% else %}zgłoś przedmiot{% endif %}" />
		</p>
	</form>
{% endblock %}
