{% extends "offer/proposal/base.html" %}

{% block proposal-scripts %}
    <script type="text/javascript" src="/site_media/js/offer/proposal/form.js"></script>
{% endblock %}

{% block proposal-content %}
    <form action="" method="post" id="od-proposal-form">
        <p class="title">
            <input id="od-proposal-form-name" type="text" name="name" value="{{ proposal.name }}" />
        </p>

        <ul class="infoBox">
            <li>
                <label for="od-proposal-form-type">Sugerowany rodzaj:</label>
                <select name="type" id="od-proposal-form-type" class="main-labelledSelect">
                    {% if not proposal.type %}
                        <option class="label" value="">- wybierz -</option> {# TODO: usuwać przez js po wybraniu #}
                    {% endif %}
                    {% for type in proposalTypes %}
                        <option value="{{ type.0 }}" {% ifequal proposal.type type.0 %}selected="selected"{% endifequal %}>{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </li>
            <li class="proposedTime">
                <label>Wymiar godzin:</label>
                <select class="main-labelledSelect" name="lectures" title="sugerowana ilość godzin wykładów">
                    {% if not proposal.lectures %}{% ifnotequal proposal.lectures proposalHours.0.0 %}
                        <option class="label" value="-1">w.</option>
                    {% endifnotequal %}{% endif %}
                    {% for hour in proposalHours %}
                        <option value="{{ hour.0 }}" {% ifequal proposal.lectures hour.0 %}selected="selected"{% endifequal %}>{{ hour.1 }}</option>
                    {% endfor %}
                </select>
                <select class="main-labelledSelect" name="repetitories" title="sugerowana ilość godzin repetytoriów">
                    {% if not proposal.repetitories %}{% ifnotequal proposal.repetitories proposalHours.0.0 %}
                        <option class="label" value="-1">r.</option>
                    {% endifnotequal %}{% endif %}
                    {% for hour in proposalHours %}
                        <option value="{{ hour.0 }}" {% ifequal proposal.repetitories hour.0 %}selected="selected"{% endifequal %}>{{ hour.1 }}</option>
                    {% endfor %}
                </select>
                <select class="main-labelledSelect" name="exercises" title="sugerowana ilość godzin ćwiczeń">
                    {% if not proposal.exercises %}{% ifnotequal proposal.exercises proposalHours.0.0 %}
                        <option class="label" value="-1">ćw</option>
                    {% endifnotequal %}{% endif %}
                    {% for hour in proposalHours %}
                        <option value="{{ hour.0 }}" {% ifequal proposal.exercises hour.0 %}selected="selected"{% endifequal %}>{{ hour.1 }}</option>
                    {% endfor %}
                </select>
                <select class="main-labelledSelect" name="laboratories" title="sugerowana ilość godzin pracowni">
                    {% if not proposal.laboratories %}{% ifnotequal proposal.laboratories proposalHours.0.0 %}
                        <option class="label" value="-1">p.</option>
                    {% endifnotequal %}{% endif %}
                    {% for hour in proposalHours %}
                        <option value="{{ hour.0 }}" {% ifequal proposal.laboratories hour.0 %}selected="selected"{% endifequal %}>{{ hour.1 }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <label for="od-proposal-form-ects">Sugerowana ilość punktów ECTS:</label>
                <input type="text" name="ects" id="od-proposal-form-ects" value="{{ proposal.ects }}" />
            </li>
        </ul>

        <h3>Opis przedmiotu</h3>
        <p><textarea name="description" rows="12" cols="70">{{ proposalDescription }}</textarea></p>

        <h3>Wymagania</h3>
        <p><textarea name="requirements" rows="12" cols="70">{{ proposalRequirements }}</textarea></p>

        <h3>Uwagi do potencjalnych prowadzących i dyrekcji</h3>
        <p><textarea name="comments" rows="5" cols="70">{{ proposalComments }}</textarea></p>

        <h3>Literatura:</h3>
        <div id="od-proposal-form-books">
            <ul>
                {% if books %}
                    {% for book in books %}
                        <li class="book"><input type="text" name="books[]" value="{{ book.name }}" /></li>
                    {% endfor %}
                {% else %}
                    <li class="book"><input type="text" name="books[]" /></li>
                {% endif %}
            </ul>
        </div>

        <hr />

        <p id="od-proposal-form-submitBar">
            <input class="bigButton" type="submit" value="{% if editMode %}zapisz{% else %}zgłoś przedmiot{% endif %}" />
        </p>
    </form>
{% endblock %}
