{% load news_extras %}

{% block scripts %}
    <script src="/site_media/js/jquery-v1.4.2.js" type="text/javascript"></script>
    <script src="/site_media/js/offer/proposal/history.js" type="text/javascript"></script>
    
{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% ifnotequal descid newest.id %}
    <h4>Uwaga wersja archiwalna!
        <a class="subjectrestore" href="{% url proposal-restore descid=descid %}">Przywróć</a>
    </h4>
{% endifnotequal %}


{% if prev %}
    <a href="{% url proposal-page-archival slug=proposal.slug descid=prev.id  %}">Wersja poprzednia</a>
{% endif %}

{% if next %}
    <a href="{% url proposal-page-archival slug=proposal.slug descid=next.id  %}">Wersja następna</a>
{% endif %}

<h1>{{proposal.name}}</h1>
<div class="actions">
    <a href="{% url proposal-history sid=id %}">Historia zmian</a> ::
    <a href="{% url proposal-edit sid=id %}">Edytuj</a>
</div>

<hr />

<div>Typ: {{ proposal.get_type_display }}</div>
<div>ECTS: {{ proposal.ects }}</div>

<div>Ilość godzin wykładów: {{ proposal.lectures }}</div>
<div>Ilość godzin repetytoriów: {{ proposal.repetitories }}</div>
<div>Ilość godzin ćwiczeń: {{ proposal.exercises }}</div>
<div>Ilość godzin pracowni: {{ proposal.laboratories }}</div>

<h2>Opis:</h2>
<div>
    {{ proposal.description.description|bbcode|nl2br|safe }}
</div>

<h2>Wymagania:</h2>
<div>
    {{ proposal.description.requirements|bbcode|nl2br|safe }}
</div>

<h2>Uwagi:</h2>
<div>
    {{ proposal.description.comments|bbcode|nl2br|safe }}
</div>

<br /><br />

<h3>Literatura:</h3>
<ul>
    {% for book in proposal.books.all %}
        <li>{{ book.name }}</li>
        {% empty %}<li>Brak</li>
    {% endfor %}
</ul>

{% ifnotequal descid newest.id %}
    <h4>Uwaga wersja archiwalna!
        <a class="subjectrestore" href="{% url proposal-restore descid=descid %}">Przywróć</a>
    </h4>
{% endifnotequal %}
