{% extends "offer/base-offer.html" %}

{% load proposal_extras %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/proposal/proposal.css" type="text/css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/offer/proposal/form.js"></script>
	<script type="text/javascript" src="/site_media/js/offer/proposal/history.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.1.custom.min.js"></script>
	
	{% include "tinymcebbcode.html" %}
{% endblock %}

{% block main-navigation %}
	<li>Oferta</li>
	<li><a href="{% url proposal-list %}">Propozycje</a></li>
	{% if proposal %}
		{% if proposal.pk %}
			<li><a href="{% url proposal-page slug=proposal.slug %}">{{proposal.slug}}</a></li>
			{% if editMode %}
				<li>Edycja</li>
			{% endif %}
		{% else %}
			{% if editForm %}
				<li>Dodaj nową</li>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	{% if message %}<div class="message">{{ message }}</div>{% endif %}
	<div id="od-proposaloffer-proposalmenu">
		<ul id="od-proposaloffer-proposallist">
			{% for sub in proposals %}
				<li {% ifequal proposal.id sub.id %}class="active"{% endifequal %}>
					<a href="{% url proposal-page slug=sub.slug %}">{{sub.name}}</a>
				</li>
			   {% empty %}<li>Brak przedmiotów</li>
			{% endfor %}
		</ul>
		<a href="/proposal/add/" id="od-proposaloffer-addlink">Dodaj przedmiot</a>
	</div>
	<div id="od-proposaloffer-contents">
		{% ifequal mode 'form' %}
			{% include 'offer/proposal/proposal_form.html' %}
		{% else %}
			{% ifequal mode 'details' %}
				{% include 'offer/proposal/proposal.html' %}
			{% else %}
				<p>Wybierz przedmiot z menu po lewej.</p>
			{% endifequal %}
		{% endifequal %}
		<div style="clear:both"></div>
	</div>

	<div class="right_sidebar">
	  <p>Przedmioty w ofercie dydaktycznej</p>
	  <ul>
	    {% subjects_in_offer %}
	  </ul>
	</div>

{% endblock %}
