{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">
{% trans "Home" %}</a> > Import planu semestru</div>{% endblock %}

{% block title %}Import planu semestru{% endblock %}

{% block content %}
<div id="content-main">
    <form enctype="multipart/form-data" action="/admin/courses/import_semester/" method="post">
        {{ form.as_p }}
        <input type="submit" value="Importuj" />
    </form>
    {% if errormsg %}
    <p><b>Treść błędu:</b><br />{{errormsg|linebreaks}}</p>
    {% endif %}
</div>
{% endblock %}
