/**
 * Style używane w prototypie planu.
 */

#enr-schedulePrototype-course-list
{
	list-style: none;
    margin: 0;
}

#enr-schedulePrototype-course-list li
{
	clear: left;
	padding-bottom: 8px;
}

#enr-schedulePrototype-course-list li span.checkbox
{
	float: left;
	width: 25px;
	text-align: center;
    margin-top: 1px;
}

#enr-schedulePrototype-course-list li label
{
	display: block;
	padding-left: 30px;
	padding-top: 2px;
}

form#enr-schedulePrototype-setLocked
{
	text-align: right;
}

a#enr-schedulePrototype-setLocked
{
	position: absolute;
	top: 5px;
    right: -10px;

	display: block;
	width: 16px;
	height: 16px;

	overflow: hidden;
	text-indent: 10000px;

	background: no-repeat;
}

a#enr-schedulePrototype-setLocked.locked
{
	background-image: url('/site_media/images/padlock-locked.png');
}

a#enr-schedulePrototype-setLocked.unlocked
{
	background-image: url('/site_media/images/padlock-unlocked.png');
}

#enr-schedulePrototype-uncheckAll
{
	font-size: 10px;
	display: inline-block;
    margin-bottom: 5px;
}
