/**
 * Style używane w prototypie planu.
 */

#enr-schedulePrototype-subject-list
{
	list-style: none;
	padding-left: 5px !important;
}

#enr-schedulePrototype-subject-list li
{
	clear: left;
	padding-bottom: 8px;
}

#enr-schedulePrototype-subject-list li span.checkbox
{
	float: left;
	width: 25px;
	text-align: center;
}

#enr-schedulePrototype-subject-list li label
{
	display: block;
	padding-left: 30px;
	padding-top: 2px;
}

form#enr-schedulePrototype-setLocked
{
	text-align: right;
}

a#enr-schedulePrototype-setLocked
{
	position: absolute;
	top: 5px;
	left: 730px;

	display: block;
	width: 16px;
	height: 16px;

	overflow: hidden;
	text-indent: 10000px;

	background: no-repeat;
}

a#enr-schedulePrototype-setLocked.locked
{
	background-image: url('/site_media/images/padlock-locked.png');
}

a#enr-schedulePrototype-setLocked.unlocked
{
	background-image: url('/site_media/images/padlock-unlocked.png');
}

/******************************************************************************/

#enr-schedulePrototype-scheduleContainer .enrolled,
#enr-schedulePrototype-scheduleContainer .enrolled .classroom,
#enr-schedulePrototype-scheduleContainer .enrolled .type
{
	background: #f5ca7b !important; /* wheat */
}

#enr-schedulePrototype-scheduleContainer .queued,
#enr-schedulePrototype-scheduleContainer .queued .classroom,
#enr-schedulePrototype-scheduleContainer .queued .type
{
	background: #f5e5c4 !important;
}

#enr-schedulePrototype-scheduleContainer .term .name
{
	display: block;
	padding: 2px;
	padding-bottom: 0;

	font-size: 14px;
}

#enr-schedulePrototype-scheduleContainer .term .teacher
{
	padding: 2px;
	padding-top: 0;
	
	font-size: 10px;
}


#enr-schedulePrototype-scheduleContainer .term .classroom
{
	position: absolute;
	display: block;
	padding: 2px;
	padding-top: 0;

	font-size: 10px;
	text-align: right;
	white-space: nowrap;
	z-index: 2;

	background: #F8F8F8;
	border-radius: 3px;
}

#enr-schedulePrototype-scheduleContainer .term .type
{
	position: absolute;
	display: block;
	padding: 2px;
	padding-top: 0;

	font-size: 10px;
	color: #666666;
	z-index: 1;
	background: #F8F8F8;

	border-radius: 3px;
}

#enr-schedulePrototype-scheduleContainer .term .controls
{
	position: absolute;
	background: white;
	top: 0;
	left: 0;
	width: 18px;

	border: 1px solid #666666;
	border-top: 0;
	border-left: 0;
	border-radius: 4px 0;

	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#enr-schedulePrototype-scheduleContainer .term .controls span
{
	display: block;
	width: 12px;
	height: 12px;
	margin: 3px;

	overflow: hidden;
	cursor: pointer;
	background: no-repeat;
	background-image: url('/site_media/images/schedule-prototype-controls.png');
}

#enr-schedulePrototype-scheduleContainer .term .controls span.signInOut
{
	background-position: 0 0;
}

#enr-schedulePrototype-scheduleContainer .term .controls span.pinUnpin
{
	background-position: 0 -12px;
}

#enr-schedulePrototype-scheduleContainer .term .controls div.loadingIndicator
{
	display: block;
	width: 16px;
	height: 16px;
	margin: 1px;
	
	background: no-repeat url('/site_media/images/loading-small.gif');
}
