{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/z-schedule.css" type="text/css" />
{% endblock %}

{% block content %}

	
	<div class="schedule-wrapper">
		<table class="schedule-table">
			<tr>
				<td></td>
				{% for day in days %}
					<td>
						<div class="schedule-days-cell-content">
							{{ day.1 }}
						</div>
					</td>
				{% endfor %}
			</tr>
			<tr>
				<td>
					{% for hour in hours %}
						<div class="schedule-hours-cell-content">
							{{ hour.1 }}
						</div>
					{% endfor %}
				</td>
				{% for day in days %}
					<td class="schedule-grid-cell">
						{% for hour in hours %}
							<div class="schedule-grid-cell-content">
								{% for group in groups %}
									{% for term in group.terms_ %}
										{% ifequal term.dayOfWeek day.0  %}
											{% ifequal term.hourFrom hour.0  %}
												<div class="group-term" style="height: {{ term.length }}px">
													{{ group }}
												</div>
											{% endifequal  %}
										{% endifequal  %}
									{% endfor %}
								{% endfor %}
								&nbsp;
							</div>
						{% endfor %}
					</td>
				{% endfor %}
			</tr>
		</table>
		<p>Zajecia na które jesteś zapisany:</p>
	    <table class="schedule-table-simple">
	    	<tr>
				<td>Przedmiot</td>
				<td>Termin</td>
				<td>Sale</td>
			</tr>
	    {% for group in groups %}
			{% for term in group.terms_ %}
	       	<tr>
				<td>{{group}}</td>
				<td>{{term}}</td>
				<td>
					{% for class in group.get_all_classrooms %}
						{{class}}
					{% endfor %}
				</td>
			</tr>
	       		{% empty %}brak zajęć
		   {% endfor %}
	    {% endfor %}
	    </table>
	</div>

    
{% endblock %}

