{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/jquery.ui.schedule.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/z-schedule.css" type="text/css" />
{% endblock %}
{% block scripts %}
	<script src="/site_media/js/jquery-ui-1.8.widget.min.js" type="text/javascript"></script>
	<script src="/site_media/js/jquery.ui.schedule.js" type="text/javascript"></script>
	<script src="/site_media/js/z-schedule.js" type="text/javascript"></script>
{% endblock %}

{% block main-navigation %}
<li>Plan zajęć</li>
<li>{{user.first_name}} {{user.last_name}} {{user.student.matricula}}</li>
{% endblock %}

{% block content %}
	<div id="schedule-wrapper">
		{% for group in groups %}
			{% for term in group.terms_ %}
				<div style="background-color:{{ group.background_color }};  border-color:{{ group.border_color }}" 
					subjectID="{{group.subject_.pk}}"
					termID="{{group.pk}}-{{term.pk}}"
					from="{{ term.time_from_offset_in_minutes }}" 
					minutes="{{ term.length_in_minutes }}" 
					day="{{ term.day_in_zero_base }}">
					{{group}}<br/>
					(
					{% for class in group.get_all_classrooms %}
						{{class}} {%if not forloop.last %}, {%endif%}
					{% endfor %}
					)
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	
	<p>Zajecia na które jesteś zapisany:</p>
    <table class="schedule-table-simple">
    	<tr>
			<th>Przedmiot</th>
			<th>Termin</th>
			<th>Sala</th>
		</tr>
	    {% for group in groups %}
			{% for term in group.terms_ %}
	       	<tr>
				<td>{{group}}</td>
				<td>{{term}}</td>
				<td>
					{% for class in group.get_all_classrooms %}
						{{class}}
					{% endfor %}
				</td>
			</tr>
	       		{% empty %}brak zajęć
		   {% endfor %}
	    {% endfor %}
    </table>

{% endblock %}

