{% extends "enrollment/subjects/base.html" %}

{% block main-subtitle %}{{subject.name}}{% endblock %}

{% block enrollment-subjects-scripts %}
	<script src="/site_media/js/enrollment/views/subject.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div id="enr-subject-view">

		<h1>{{subject.name}}</h1>

		<div class="details">
			<ul class="properties">
				<li>
					<span>Rodzaj:</span>
					{{subject.type}}
				</li>
				<li>
					<span>Prowadzący:</span>
					{% for teacher in subject.teachers.all %}
						<a href="{% url employee-profile teacher.user.id %}">{{teacher.user.get_full_name}}</a>{%if not forloop.last %}, {% endif %}
					{% endfor %}
				</li>
				{% if subject.ects %}
					<li>
						<span>Punkty ECTS:</span>
						{{subject.ects}}
					</li>
				{% endif %}
				{% if subject.lectures or subject.exercises or subject.laboratories %}
					<li>
						<span>Ilość godzin:</span>
						{% if subject.lectures %}{{subject.lectures}} (wyk) {%if subject.lectures or subject.laboratories %}+{% endif %}{% endif %}
						{% if subject.exercises %}{{subject.exercises}} (ćw) {%if subject.laboratories %}+{% endif %}{% endif %}
						{% if subject.laboratories %}{{subject.laboratories}} (prac){% endif %}
					</li>
				{% endif %}
				<li>
					<span>Wymagane:</span>
					<a onclick="alert('to tylko przykład')">JFiZO</a>,
					Matematyka w zakresie szkoły średniej,
					<a onclick="alert('to tylko przykład')">AiSD</a>
				</li>
				<li>
					<span>Możesz zapisać się od:</span>
					2010-13-37 (za 3 dni)
				</li>
			</ul>

			<div class="description">
				<h2>Opis przedmiotu:</h2>
				<p>{{subject.description}}</p>
			</div>

			<div class="footer"></div>
		</div>

		{% for message in messages %}
			<p class="main-message">{{ message }}</p>
		{% endfor %}

		{% for tutorial in tutorials %}
			{% if tutorial.groups %}
				<h3>{{tutorial.name}}</h3>
					<div>
						<table class="subject-details-table">
							<thead>
								<tr>
									<th>Prowadzący</th><th>Termin zajęć</th><th>Max. liczba osób</th><th>Akt. liczba osób</th><th>Liczba osób w kolejce</th>
								</tr>
							</thead>
							<tbody>
							{% for t in tutorial.groups %}
								<tr>
									<td>{{ t.get_teacher_full_name }}</td>
									<td>
										{% for d in t.get_all_terms|dictsort:"dayOfWeek" %}
										   {{d}}<br/>
										{% endfor %}
									</td>
									<td>{{ t.get_group_limit }}</td>
									<td>{{ t.enrolled }}</td>
									<td>{{ t.queued }}</td>
									<td>
									{% if subject.is_recording_open %}
										{% if t.signed %}
											<a class="subject-details-link forget" href="{% url record-resign t.id %}">wypisz</a>
										{% else %}
											{% if t.is_in_diff %}
												<a class="subject-details-link forget" href="{% url record-assign t.id %}">przenieś</a>
											{% else %}
												{% if t.is_full %}
													{% if t.priority %}
														<a class="subject-details-link forget" href="{% url queue-resign t.id %}">wypisz z kolejki</a></td>
														<td> priorytet <br />
														<a class="subject-details-link forget" href="{% url dec-priority t.id %}"> - </a>
														{{ t.priority }}
														<a class="subject-details-link forget" href="{% url inc-priority t.id %}"> + </a>
													{% else %}
														<a class="subject-details-link forget" href="{% url queue-assign t.id %}">zapisz do kolejki</a>
													{% endif %}
												{% else %}
													<a class="subject-details-link forget" href="{% url record-assign t.id %}">zapisz</a>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
									</td>
									<td><a class="subject-details-link forget" href="{% url group-records t.id %}">Lista</a></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
            <br />
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
