{% extends "enrollment/base-enrollment.html" %}
 {% block styles %}
	<link rel="stylesheet" href="/site_media/css/enrollment/subjects/subjects-list.css" type="text/css" />
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var ajaxUrl = "{% url subject-ajax %}";
</script>
<script src="/site_media/js/enrollment/subjects/subjects-list-ajax.js" type="text/javascript">
</script>
<script src="/site_media/js/enrollment/subjects/subjects-list.js" type="text/javascript">
</script>
{% endblock %}
{% block main-navigation %}
<li>
    Zapisy
</li>
<li>
    <a href="{% url subject-list %}">Przedmioty</a>
</li>
<br/>
<table id="subject-filter-bar" cellspacing="0">
    <tr>
        <td>
            <label>
                <input type="text" id="keyword" name="keyword" />
                <br/>
                <sub>
                    Tutaj wpisz fragment nazwy lub prowadzącego
                </sub>
            </label>
        </td>
        <td>
        	<label for="semester">Semestr</label>
            <select id="semester" name="semester">
                {% for key, name in semesters_list %}<option value='{{ key }}'>{{ name }} </option>
                {% endfor %}
            </select>
        </td>
        <td>
            {% for key, name in types_list %}
            <label>
                <input type='checkbox' class='type-list' name='type[{{ forloop.counter0 }}]' value='{{ key }}' checked />
                {{ name }}
            </label>{% endfor %}
        </td>
        <td>
            <label>
                <input type="checkbox" name="">Schowaj przedmioty na które już byłem zapisany
            </label>
        </td>
    </tr>
</table>{% endblock %}
{% block content %}
<div id='main-content-left'>
    {% comment %}
    <h1>Przedmioty</h1>
    {% for sem, subs in subjects %}
    <h2>{{sem}}</h2>
    <ul>
    {% for sub in subs %}
    <li><a class="subject-link" id="subject-{{ sub.pk }}" href="#" link="/subjects/{{ sub.slug }}">{{sub.name}}</a></li>
    {% empty %}Brak przedmiotów
    {% endfor %}
    </ul>
    {% empty %} Brak semestrów
    {% endfor %}
    {% endcomment %}
</div>
<div id="main-content-right">
    <div id="subject-details">
        .
    </div>
</div>
<div style="clear-both">
</div>
{% endblock %}