
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>{{subject.name}}</h1>
    <h3>Prowadzący:</h3>
    {% for teacher in subject.teachers.all %}
    	<a class="subject-details-link" link="{% url profile teacher.user.id %}">{{teacher.user.get_full_name}}</a> 
    {% endfor %}
    
    <h3>Opis przedmiotu:</h3>
    <p>{{subject.description}}</p>
    <a>pokaż więcej...</a>
    
    <!--
    <ul>
        <li>Wykłady: {{subject.lectures}} godz.</li>
        <li>Ćwiczenia: {{subject.exercises}} godz.</li>
        <li>Pracownia: {{subject.laboratories}} godz.</li>  
    </ul>
    -->
    
    <h3>Wykład:</h3>
    <table>
    	<thead>
    		<tr>
    			<th>Prowadzący</th><th>Termin zajęć</th><th>Sala</th><th>Max. liczba osób</th><th>Akt. liczba osób</th><th></th><th></th>
    		</tr>
    	</thead>
    	<tbody>
	    {% for lec in lectures %}
	        <tr>
		        <td>{{ lec.teacher.user.get_full_name }}</td>
		        <td>
		            {% for d in lec.get_all_terms|dictsort:"dayOfWeek" %} {% comment %} Set order ;){% endcomment %}
		               {{d}}
		            {% endfor %}
		        </td>
		        <td>{{ lec.classroom.all|join:", " }}</td> 
		        <td>{{ lec.get_group_limit }}</td>
		        <td>{{ lec.enrolled }}</td>
	        	<td>
	        	{% if not lec.signed %}
		            {% ifnotequal lec.get_group_limit lec.enrolled %}
		                <a class="subject-details-link" link="{% url record-assign lec.id %}">zapisz</a>
		            {% endifnotequal %}
	        	{% else %}
	            	<a class="subject-details-link" link="{% url record-resign lec.id %}">wypisz</a>
	        	{% endif %}
	        	</td>
	        	<td><a class="subject-details-link" link="{% url group-records lec.id %}">Lista zapisanych osób</a></td>
	        </tr>
    	{% endfor %}
    	</tbody>
    </table>

	<h3>Ćwiczenia:</h3>
    <table>
    	<thead>
    		<tr>
    			<th>Prowadzący</th><th>Termin zajęć</th><th>Sala</th><th>Max. liczba osób</th><th>Akt. liczba osób</th><th></th><th></th>
    		</tr>
    	</thead>
    	<tbody>
	    {% for exe in exercises %}
	        <tr>
		        <td>{{ exe.teacher.user.get_full_name }}</td>
		        <td>
		            {% for d in exe.get_all_terms|dictsort:"dayOfWeek" %} {% comment %} Set order ;){% endcomment %}
		               {{d}}
		            {% endfor %}
		        </td>
		        <td>{{ exe.classroom.all|join:", " }}</td> 
		        <td>{{ exe.get_group_limit }}</td>
		        <td>{{ exe.enrolled }}</td>
	        	<td>
	        	{% if not exe.signed %}
		            {% ifnotequal exe.get_group_limit exe.enrolled %}
		            	{% if subject.user_enrolled_to_exercise %}
	        				<a class="subject-details-link" link="{% url record-change subject.user_enrolled_to_exercise exe.id %}">przenieś</a>
	        			{% else %}
		                	<a class="subject-details-link" link="{% url record-assign exe.id %}">zapisz</a>
		                {% endif %}
		            {% endifnotequal %}
	        	{% else %}
	            	<a class="subject-details-link" link="{% url record-resign exe.id %}">wypisz</a>
	        	{% endif %}
	        	</td>
	        	<td><a class="subject-details-link" link="{% url group-records exe.id %}">Lista zapisanych osób</a></td>
	        </tr>
    	{% endfor %}
    	</tbody>
    </table>
    
	<h3>Pracownia:</h3>
    <table>
    	<thead>
    		<tr>
    			<th>Prowadzący</th><th>Termin zajęć</th><th>Sala</th><th>Max. liczba osób</th><th>Akt. liczba osób</th><th></th><th></th>
    		</tr>
    	</thead>
    	<tbody>
	    {% for lab in laboratories %}
	        <tr>
		        <td>{{ lab.teacher.user.get_full_name }}</td>
		        <td>
		            {% for d in lab.get_all_terms|dictsort:"dayOfWeek" %} {% comment %} Set order ;){% endcomment %}
		               {{d}}
		            {% endfor %}
		        </td>
		        <td>{{ lab.classroom.all|join:", " }}</td> 
		        <td>{{ lab.get_group_limit }}</td>
		        <td>{{ lab.enrolled }}</td>
	        	<td>
	        	{% if not lab.signed %}
		            {% ifnotequal lab.get_group_limit lab.enrolled %}
		            	{% if subject.user_enrolled_to_laboratory %}
	        				<a class="subject-details-link" link="{% url record-change subject.user_enrolled_to_laboratory lab.id %}">przenieś</a>
	        			{% else %}
		                	<a class="subject-details-link" link="{% url record-assign lab.id %}">zapisz</a>
		                {% endif %}
		            {% endifnotequal %}
	        	{% else %}
	            	<a class="subject-details-link" link="{% url record-resign lab.id %}">wypisz</a>
	        	{% endif %}
	        	</td>
	        	<td><a class="subject-details-link" link="{% url group-records lab.id %}">Lista zapisanych osób</a></td>
	        </tr>
    	{% endfor %}
    	</tbody>
    </table>    
