[Unit]
Description=Yarn install service

[Service]
User=vagrant
Group=vagrant
TimeoutStartSec=900
WorkingDirectory=/vagrant/zapisy/
ExecStart=/usr/bin/yarnpkg
Type=oneshot

[Install]
WantedBy=vagrant.mount