[Unit]
Description=Yarn dev:watch service
After=yarn.service

[Service]
User=vagrant
Group=vagrant
TimeoutStartSec=900
WorkingDirectory=/vagrant/zapisy/
ExecStart=/usr/bin/yarnpkg dev:watch
Type=simple

[Install]
WantedBy=vagrant.mount