{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  
      "http://www.w3.org/TR/html4/loose.dtd">  
<html>  
  <head>
    <title>Fereol's tests of its great javascript universe</title>
    <link rel="stylesheet" href="{% static "css/jquery/qunit.css" %}" type="text/css"/>
    <script type="text/javascript" src="{% static "js/jquery/jquery-1.4.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/qunit.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/tests/jquery.ui.schedule.test.js" %}"></script>
	<script type="text/javascript">
	QUnit.log = function(result, message) {
		if (window.console && window.console.log) {
	      window.console.log(result +' :: '+ message);
	    }
	}	
	</script>
  </head>  
  <body>  
    <h1 id="qunit-header">Fereol's tests of its great javascript universe</h1>  
    <h2 id="qunit-banner"></h2>  
    <h2 id="qunit-userAgent"></h2>  
    <ol id="qunit-tests">  
    </ol>  
  </body>  
</html>  