<form method="POST" id="poll-create" action="{% url 'grade-poll-poll-create' %}">
{% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="semester">Semestr: </label>
            </td>
            <td>
                <select name="semester" id="semester">
                    {% for sem in semesters %}
                        <option value="{{sem.pk}}"{% if semester.pk == sem.pk %} selected{% endif %}>{{sem}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="studies-type">Typ studiów: </label>
            </td>
            <td>
                <select name="studies-type" id="studies-type">
                    <option value="-1">Dowolny</option>
                    {% for study_type in studies_types %}
                        <option value="{{study_type.pk}}"{% if study_type.pk == studies_type.pk %} selected{% endif %}>{{study_type}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="courses">Przedmiot: </label>
            </td>
            <td>
                <select name="courses" id="courses">
                    <option value="-1">Nie przypisane do przedmiotu</option>
                    <option value="0"{% if course_id == 0 %} selected{% endif %}>Wszystkie przedmioty</option>
                    {% for sub in courses %}
                        <option value="{{sub.pk}}"{% if sub.pk == course.pk or sub.pk == course_id %} selected{% endif %}>{{sub.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="type" class="type-visibility">Typ zajęć: </label>
            </td>
            <td>
                <select name="type" id="type" class="type-visibility">
                    <option value="0">Wszystkie typy</option>
                    {% for k, v in types %}
                        <option value="{{k}}"{% if k == type %} selected{% endif %}>{{v}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="group" class="group-visibility">Grupa: </label>
            </td>
            <td>
                <select name="group" id="group" class="group-visibility">
                    <option value="0">Wszystkie grupy</option>
                    {% if group > 0 %}
                        {% for gr in groups %}
                            <option value="{{ gr.pk }}"{% if gr.pk == group.pk or gr.pk == group %} selected{% endif %}>{{ gr }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="poll-only-without">Utwórz tylko dla grup bez ankiet</label>
            </td>
            <td>
                <input type="checkbox" name="poll-only-without" id="poll-only-without"{% if groups_without == "on" %} checked{% endif %}>
            </td>
        </tr>
    </table><hr>
    <label for="title">Tytuł: </label>
    <input type="text" name="title" id="title" class="required"><br>
<div class="clear"></div>
    <label for="description">Opis: </label>
    <textarea name="description" id="description" rows="4"></textarea>
<div class="clear"></div>
    <hr>
    <div id="sections-list">

        <input type="hidden" class="anysection">
        Wybrane sekcje: 
        <ul class="chosen-sections">
        </ul>
    </div>
    <div class='section-add'  id="sections-list-ul">
        <small>(Przeciągnij, aby zmienić kolejność)</small>
        <br/>
        <label for="sections">Wybierz sekcję: </label>
        <select name="section" id="sections">
               <option value="-1">Wybierz...</option>
            {% for section in sections %}
                <option value="{{section.pk}}">{{section}}</option>
            {% endfor %}
        </select>
        <input id="section-add" type="button" value="Dodaj sekcję"><br/><br/>
        <input id="poll-create-submit" type="submit" value="Stwórz ankietę"><br/>
    </div>
</form>



