<form method="POST" id="poll-create" action="{% url 'grade-poll-poll-edit' %}">
    <input type="hidden" name="poll_id" value="{{ poll.pk }}">
    <label for="title">Tytuł:</label>
    <input type="text" name="title" id="title" class="required" value="{{ poll.title }}"><br>
<div class="clear"></div>
    <label for="description">Opis:</label>
    <textarea name="description" id="description" rows="4">{{ poll.description }}</textarea>
<div class="clear"></div>
    <input type="checkbox" name="for_all" id="for_all">
    <label for="for_all">Zmienić wszystkie ankiety</label>
    <hr>
    <div id="sections-list">

        <input type="hidden" class="anysection">
        Wybrane sekcje:
        <ul class="chosen-sections" id="sections-list-ul">
            {% for form in poll.forms %}
                <li>
                    <div class='section' id='section-{{ form.sid}}'>
                        <input type="hidden" class="sectionid" name="sections[]" value="{{ form.sid }}">
                        {{ form.as_divs }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class='section-add'>
        <small>(Przeciągnij, aby zmienić kolejność)</small>
        <br/>
        <label for="sections">Wybierz sekcję:</label>
        <select name="section" id="sections">
               <option value="-1">Wybierz...</option>
            {% for section in sections %}
                <option value="{{section.pk}}">{{section}}</option>
            {% endfor %}
        </select>
        <input id="section-add" type="button" value="Dodaj sekcję"><br/><br/>
        <input id="poll-create-submit" type="submit" value="Zmień ankietę"><br/>
    </div>
</form>


