<form method="POST" id="poll-create" action="{% url 'grade-poll-create-template' %}">
    <table>
        <tr>
            <td>
                <label for="semester">Semestr: </label>
            </td>
            <td>
                <select name="semester" id="semester">
                    {% for sem in semesters %}
                        <option value="{{sem.pk}}"{% if semester.pk == sem.pk %} selected{% endif %}>{{sem}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="studies-type">Typ studiów: </label>
            </td>
            <td>
                <select name="studies-type" id="studies-type">
                    <option value="-1">Dowolny</option>
                    {% for study_type in studies_types %}
                        <option value="{{study_type.pk}}"{% if study_type.pk == studies_type.pk %} selected{% endif %}>{{study_type}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="courses">Przedmiot: </label>
            </td>
            <td>
                <select name="course" id="courses">
                    <option value="-1">Nie przypisane do przedmiotu</option>
                    <option value="0"{% if course_id == 0 %} selected{% endif %}>Wszystkie przedmioty</option>
                    {% for sub in courses %}
                        <option value="{{sub.pk}}"{% if sub.pk == course.pk %} selected{% endif %}>{{sub.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="type" class="type-visibility">Typ zajęć: </label>
            </td>
            <td>
                <select name="type" id="type" class="type-visibility">
                    <option value="0">Wszystkie typy</option>
                    {% for k, v in types %}
                        <option value="{{k}}"{% if k == type %} selected{% endif %}>{{v}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table><hr>
    <label for="title">Tytuł:</label>
    <input type="text" name="title" id="title"><br>

    <label for="description">Opis:</label>
    <textarea name="description" id="description" rows="4"></textarea>

    <hr>
    <div id="sections-list">
        Wybrane sekcje:
        <ul>
        </ul><small>(Przeciągnij, aby zmienić kolejność)</small>
    </div><br/>
    <label for="sections">Wybierz sekcję:</label>
    <select name="section" id="sections">
        {% for section in sections %}
            <option value="{{section.pk}}">{{section}}</option>
        {% endfor %}
    </select>
    <input id="section-add" type="button" value="Dodaj sekcję"><br/><br/>
    <input id="poll-create-submit" type="submit" value="Stwórz szablon"><br/>
</form>



