{% extends "grade/poll/polls_for_user.html" %}
{% load poll_answers_extra %}
{% load crispy_forms_tags %}



{% block main-subtitle %}Ankiety{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
    <li><a href="{% url 'grade-poll-polls-for-user' slug %}">Twoje ankiety</a></li>
    <li>{{ link_name }}</li>
{% endblock %}


{% block poll-content %}
    <form id="poll-form" action="." method="post" onclick="submitForm()">{% csrf_token %}
    	<input type="hidden" id="poll-form-id" value="{{pid}}">
        {% if form.instance.group %}
            <h2>{{ form.instance.group.course }}</h2>
        {% else %}
            <h2>Ankieta Ogólna</h2>
        {% endif %}
        <h3>{{ title }}</h3>
        <span>{{ desc }}</span>
        {% if form_errors %}
            {{ form|as_divs_with_errors:form_errors }}
        {% else %}
            {{ form|crispy }}
        {% endif %}

        {% if not errors %}
        <div class="btn-group" role="group">
            <input type="submit"
                   name="Prev"
                   class="btn btn-secondary"
                    {% if not prev %}
                   disabled="true"
                    {% endif %} 
                   value="&laquo; Poprzednia ankieta"/>
            {% if not form.finished %}
                <button 
                    class="btn btn-secondary" 
                    type="submit" 
                    name="Save"
                    data-toggle="tooltip" data-placement="bottom" 
                    value="Zapisz ankietę"
                    title="Zapisze wypełnioną ankietę na serwerze ale nie zamknie możliwości jej edytowania.">
                    Zapisz ankietę
                </button>
            {% endif %}
            <input type="submit"
                   name="Next"
                   class="btn btn-secondary"
                    {% if not next %}
                   disabled="true"
                    {% endif %}
                   value="Następna ankieta &raquo;"/>
        </div>
        <a class="btn btn-primary float-right" href="{% url 'poll-end-grading' %}"
           title="Opuszcza stronę oceniania zajęć. Można do niej wrócić wklejając swoje klucze.">
           Zakończ oceniać
        </a>
        {% endif %}

    </form>
{% endblock %}
