<ul class="sitemap list-group my-4">
    <li class="list-group-item text-center p-1"><h5 class="m-1">{{ summary }}</h5></li>
    {% for poll_sub in polls %}
        <li class="list-group-item p-0">
            <a class="grade-fillable-poll-link text-dark"
                href="{% url 'grade-poll-polls-for-user' poll_sub.0.1 %}"
                style="display:block; margin: 1rem;"><h6>{{ poll_sub.0.0 }}</h6></a>
            <ul class="list-group grade-fillable-poll-sublist list-group-flush">
            {% for poll in poll_sub.2 %}
                <li class="list-group-item
                            list-group-item-action
                            {% if  poll.0 == pid %}active{% else %}list-group-item-secondary{% endif %}">
                    <a href="{% url 'grade-poll-poll-answer' poll_sub.0.1 poll.0 %}"
                            id="grade-fillable-poll-link-{{ poll.0 }}"
                            class="{% if  poll.0 == pid %}text-light active_poll{% else %}text-secondary{% endif %}"
                            style="display: block; padding-left: 1rem;">
                        {{ poll.3 }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>