{% extends "grade/base.html" %}

{% block main-subtitle %}Wyniki oceny{% endblock %}
{% block nav-grade-poll-v2-submissions %}active{% endblock %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item"><a href="{% url 'grade-main' %}">Ocena Zajęć</a></li>
<li class="breadcrumb-item active" aria-current="page">Ankiety</li>
{% endblock %}

{% block all-content %}
Wybrana ankieta: {{ request.session.grade_poll_current_submission }}
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Zapisz ankietę" />
</form>
<hr>
Wszystkie ankiety:<br>
{% for poll in request.session.grade_poll_submissions %}
Poll #{{ poll }}<br>
{% endfor %}
{% endblock %}