{% extends "grade/base.html" %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
    <li>Zarządzanie ankietami</li>
{% endblock %}


{% block content %}

    <a href="{% url 'grade-poll-questionset-create' %}">Utwórz nową sekcję</a>
    <ul>
        {% for section in sections %}
            <li><a href="{% url 'grade-poll-questionset-edit' section %}">{{section}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
