{% load poll_answers_extra %}
{% for section in sections %}	
    <div class="poll-section">
        <button style="width:25px;height:25px" class='grade-section-toggle-button' id='section-toggle-{{section.pk}}'>-</button>
        <h4 class="poll-section-title" id="poll-section-title-{{section.pk}}">{{section.title}}</h4>
        <span class="poll-section-description">{{section.description}}</span>
        <div class='section-content' id='section-content-{{section.pk}}'>
	    {% for field in section.questions %}
        {% if field.type %}
            <div style="margin-bottom: 30px;" class="fieldWrapper poll-section-field{% if field.is_leading %} poll-section-leading{% endif %}">
                <h7 style="margin-bottom: 10px;display:block;">{{field.label}}</h7>
                {% if field.description %}<span class="poll-section-description">{{field.description}}</span>{% endif %}
                {% if field.choice_limit %}{% if field.choice_limit > 0 %}<span class="poll-section-description">Możesz zaznaczyć maksymalnie {{field.choice_limit}} odpowiedzi</span>{% endif %}{% endif %}
                {% if errors and field.title in errors.keys %} 
                    <div class="main-message"><ul>
                        {% for err in errors|get_value:field.title %}
                            <li>{{ err }}</li>
                        {% endfor %}
                        </ul></div>
                {% endif %}
                {% if field.type == 'single' %}
                    <ul class="poll-section-answer-list">
                    {% for key, radio in field.widget.choices %}
                        <li  class="poll-section-answer-item">
                            <input type="radio" id="{{field.title}}-{{key}}" class="poll-section-radio{% if key in  field.hide_on %} poll-section-radio-hideon{% else %} poll-section-radio-all{% endif %}" name="{{field.title}}" value="{{key}}"{% if field.initial == key%} checked{% endif %}{% if field.disabled %} disabled="disabled"{% endif %}>
                            <label for="{{field.title}}-{{key}}">{{radio}}</label>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}{% if field.type == 'multi' %}
                    {% if field.choice_limit %}<input type="hidden" value="{{field.choice_limit}}" class="poll-section-answer-limit">{% endif %}
                    <ul class="poll-section-answer-list{% if field.choice_limit %} poll-section-choicelimit{% endif %}">
                    {% for key, radio in field.widget.choices %}
                        <li  class="poll-section-answer-item"><input type="checkbox" class="poll-section-choice {% if field.choice_limit %}poll-section-choicelimit-choice{% endif %}" id="{{field.title}}-{{key}}" name="{{field.title}}" value="{{key}}"{% if  key in field.initial%} checked{% endif %}{% if field.disabled %} disabled="disabled"{% endif %}>
                        <label for="{{field.title}}-{{key}}">{{radio}}</label>
                        {% if key == -1 %}
                            <input type="text" name="{{field.other.title}}" {% if field.other.initial %}value="{{field.other.initial}}"{% endif %} {% if field.disabled %} disabled="disabled"{% endif %} class="poll-section-other{% if field.choice_limit %} poll-section-choicelimit-choice{% endif %}">
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}{% if field.type == 'open'  %}
                    <textarea cols="40" rows="5" name="{{field.title}}"{% if field.disabled %} disabled="disabled"{% endif %}>{{field.initial}}</textarea>
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
        </div>
    <hr>
	</div>
{% endfor %}
<SCRIPT language="javascript" type="text/javascript">
    $( '.grade-section-toggle-button' ).click( function(){
        var toToggleId  = $(this).attr( 'id' ).split( '-' )[2];
        var toToggleObj = $('#section-content-' + toToggleId );
        toToggleObj.slideToggle( 250 );
        if ( $(this).text() == '+' ){
            $(this).text( '-' );
        } else {
            if ( $(this).text() == '-' ) {
                $(this).text( '+' );
            }
        }
        return false;
    });
</SCRIPT>
