{% extends "grade/base.html" %}
{% load compressed %}



{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
    <li>Twoje ankiety</li>
{% endblock %}

{% block fill_grade_form %}active{% endblock %}


{% block content-width %}11{% endblock %}

{% block top-content %}
    <div class="col">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" 
                aria-valuenow="{{ finished_polls }}" 
                aria-valuemin="0" 
                aria-valuemax="{{ all_polls }}"
                style="width: {% widthratio finished_polls all_polls 100 %}%;"></div>
        </div>
        <p class="text-center">Zakończono {{ finished_polls }} z {{ all_polls }} ankiet.</p>
    </div>
{% endblock %}
{% block sidebar %}
    <div>
        {% if polls or finished %}
            <h3>Twoje ankiety</h3>
        {% endif %}
        {% if polls %}
            {% include "grade/poll/polls_sidebar_list.html" with polls=polls pid=pid summary="Ankiety aktywne" only %}
        {% endif %}
        {% if finished %}
            {% include "grade/poll/polls_sidebar_list.html" with polls=finished pid=pid summary="Ankiety zakończone" only %}
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div id="grade-poll-content">
        {% block poll-content %}
            Brak ankiet
        {% endblock %}
    </div>
{% endblock %}
