{% extends "grade/poll/managment/base.html" %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static "css/grade/questionset_create.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/grade/answer.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/ui-progressbar.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/grade/poll-managment.css" %}" type="text/css" />
{% endblock %}


{% block poll-managment %}
  
	<form id="questionset" method="Post" class="">
			<label for="section-title">Tytuł:</label>
            <input type="text" id="section-title" name="poll[title]" class="required">
            <label for="section-desc">Opis:</label>
            <textarea id="section-desc" name="poll[description]"></textarea>
            <input class="leading" type="checkbox" id="section-leading" name="poll[leading]">
            <label class="leading" for="section-leading">Posiada pytanie wiodące</label>
            <input type="hidden" name="fake" class="anyquestion" value="">
			<ol id="poll-form" class="questionset">
			</ol>
		<input type="button" value="Dodaj pytanie" id="add-question">
    <br/><br/>
		<input id="questionset-submit" type="submit" value="Zapisz">
	</form>
{% endblock %}

