{% load static %}
{% for section in sections %}
<form method="Post" id="questionset" action="{% url 'grade-poll-questionset-create' %}">{% csrf_token %}

    <input type="hidden" name="old_id" value="{{ section.pk }}">
    <input type="text"   value="{{section.title}}" name="poll[title]" id="section-title" class="required only-edit">

    <textarea name="poll[description]" id="section-desc" class="only-edit">{{section.description}}</textarea>
    <h2 class="poll-section-title only-show">{{section.title}}</h2>
    <span class="poll-section-description only-show">{{section.description}}</span>
    <input class="leading only-edit" type="checkbox" id="section-leading" name="poll[leading]"{% if section.leading %} checked{% endif %}>
    <label class="leading only-edit" for="section-leading">Posiada pytanie wiodące</label>

    <input type="hidden" name="fake" class="anyquestion" value="">
    <ol id="poll-form" class="ui-sortable questionset">
        {% for field in section.questions %}
            <li class="poll-question{% if field.is_leading %} firstQuestion{% endif %}">
                <input value="{{forloop.counter}}" class="poll-question-id" name="poll[question][order][]" type="hidden">
                <div class="section-edit section-mouseover">
                <table>
                    <tbody>
                        <tr>
                            <td>Treść pytania: </td>
                            <td>
                                <input class="section-option" name="poll[question][{{forloop.counter}}][title]" id="poll[question][{{forloop.counter}}][title]" type="text" value="{{field.label}}"  class='section-option required'>
                            </td>
                        </tr>
                        <tr>
                            <td>Opis pytania: </td>
                            <td>
                                <input class="section-option" name="poll[question][{{forloop.counter}}][description]" id="poll[question][{{forloop.counter}}][description]" type="text" value="{{field.description}}">
                            </td>
                        </tr>
                        <tr>
                            <td>Typ pytania: </td>
                            <td>
                                <input type='hidden' name='poll[question][{{forloop.counter}}][type]' value='{{ field.type }}'>
                                <select class="typeSelect options" name="poll[question][{{forloop.counter}}][formtype]">
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type='hidden' name='fake' class='fake-answerser anyanswer'>
                <ul class="answerset">
                    {% if field.type != 'open' %}
                        {% for key, answer in field.widget.choices %}
                        <li class="poll-question-answer">
                            <div>
                                <input class="autocomplete" name="poll[question][{{forloop.parentloop.counter}}][answers][]" type="text" value="{{answer}}">
                                <input{% if not field.is_leading %} style="display: none;"{% endif %} class="hideOnCheckbox" value="{{forloop.counter}}" id="poll[question][{{forloop.parentloop.counter}}][hideOn][]" name="poll[question][{{forloop.parentloop.counter}}][hideOn][]" type="checkbox">
                                <label{% if not field.is_leading %} style="display: none;"{% endif %} for="poll[question][{{forloop.parentloop.counter}}][hideOn][]">Ukryj sekcję</label>
                                <img class = "delete-answer" src="{% static "images/remove-ico.png" %}" class="remove" alt="usuń">
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {% if field.type != 'open' %}
                    <input type="button" class="addQuestion" name="addQuestion" value="Dodaj odpowiedź">
                {% endif %}
	            <ul class='optionset'>
		            <li class='isScale option' style='display: none;'>
			            <input type='checkbox' id='poll[question][{{forloop.counter}}][isScale]' class='scale' name='poll[question][{{forloop.counter}}][isScale]'>
			            <label for='poll[question][{{forloop.counter}}][isScale]'>Odpowiedź w formie skali</label>
		            </li>
		            <li class='choiceLimit option' style='display: none;'>
                        <select id='poll[question][{{forloop.counter}}][choiceLimit]' name='poll[question][{{forloop.counter}}][choiceLimit]'>
                            <option value='0'>Brak limitu</option>
                            {% for key, answer in field.widget.choices %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {%  endfor %}
                        </select>
			            <label for='poll[question][{{forloop.counter}}][choiceLimit]'>Limit odpowiedzi</label>
		            </li>
		            <li class='hasOther option' style='display: none;'>
			            <input type='checkbox' id='poll[question][{{forloop.counter}}][hasOther]' name='poll[question][{{forloop.counter}}][hasOther]'>
			            <label for='poll[question][{{forloop.counter}}][hasOther]'>Odpowiedź inne</label>
		            </li>
                </ul>
                <input class="ready" value="Gotowe" type="button"><input class="delete" value="Usuń" type="button"></div>
            </li>
        {% endfor %}
    </ol>
        <input type="button" id="add-question" value="Dodaj pytanierrrr" class="only-edit">
    <br><br>
        <input type="submit" value="Zapisz" id="questionset-submit" class="only-edit">
    </form>
{% endfor %}
