{% extends "grade/poll/managment/base.html" %}
{% load static %}

{% block js %}

{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery/jquery-validation-1.8.0/localization/messages_pl.js" %}"></script>

<script src="{% static "js/grade/poll/templates/question_view.js" %}" type="text/javascript"></script>
<script src="{% static "js/grade/poll/templates/question_edit.js" %}" type="text/javascript"></script>
<script src="{% static "js/grade/poll/templates/question.js" %}" type="text/javascript"></script>
<script src="{% static "js/grade/poll/templates/question_add.js" %}" type="text/javascript"></script>
<script src="{% static "js/grade/poll/templates/type_option.js" %}" type="text/javascript"></script>


<script src="{% static "js/grade/poll/section_create.js" %}" type="text/javascript"></script>
<script src="{% static "js/grade/poll/poll_types.js" %}" type="text/javascript"></script>
   
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/grade/questionset_create.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/grade/answer.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/ui-progressbar.css" %}" type="text/css" />
{% endblock %}


{% block poll-managment %}
    {{form.as_edit}}
{% endblock %}

