{% extends "grade/base.html" %}
{% load static %}
{% load compressed %}
{% block scripts %}

<script src="{% static "js/grade/grade.js" %}" type="text/javascript"></script> 
	
{% endblock %}

{% block styles %}
    {% compressed_css 'gradepollshow' %}
{% endblock %}
{% block content %}


<div id="menu_boczne">

Lata:<br/>	
<input type="text" class="lata"> - <input type="text" class="lata">
<hr/>

Semestr:<br/>
<input type="radio" name="semestr" value="zimowy"/>Zimowy<br/>
<input type="radio" name="semestr" value="letni"/>Letni
<hr/>

Zasoby:<br/>
<input type="radio" name="zasoby" value="wlasne"/>Własne<br/>
<input type="radio" name="zasoby" value="udostepnione"/>Udostepnione
<hr/>

Filtrowanie:<br/>
<input type="radio" name="filtrowanie" value="wszystko"/>Wszystko<br/>
<input type="radio" name="filtrowanie" value="wyklady"/>Wykłady<br/>
<input type="radio" name="filtrowanie" value="cwiczenia"/>Ćwiczenia<br/><br/>

<input type="submit" value="pokaz">

</div>			


{% endblock %}

