{% extends "grade/base.html" %}

{% load crispy_forms_tags %}
{% load filters %}

{% block main-subtitle %}Ankiety{% endblock %}
{% block nav-grade-poll-submissions %}active{% endblock %}

{% block bread %}
{% include 'grade/poll/_breadcrumbs.html' %}
<li class="breadcrumb-item active" aria-current="page">Ankiety</li>
{% endblock %}

{% block all-content %}
{% if user.is_authenticated %}
{% include 'grade/poll/_user_is_authenticated.html' %}
{% else %}
<div class="row">
  <div class="col-lg-8 col-12">
    <div class="card mb-3 {% if grouped_submissions.submittedd == grouped.submissions.total%}border-success{% else %}border-danger{% endif %}">
      <div class="card-body">
        {% if grouped_submissions.submittedd == grouped.submissions.total %}
        <h5 class="card-title">Wypełniłeś wszystkie ankiety!</h5>
        <p class="card-text">W każdej chwili możesz wprowadzić poprawki do przesłanych odpowiedzi. Wystarczy, że ponownie wprowadzisz klucze. Jeżeli nie chcesz wprowadzać żadnych zmian, wyczyść sesję.</p>
        {% else %}
        <h5 class="card-title">Dbaj o własną anonimowość</h5>
        <p class="card-text">System <a href="{% url 'grade-poll-index' %}">oceny zajęć</a> przechowuje informacje o
          wygenerowanych ankietach w aktywnej sesji.<br> Nie pozwól aby ktoś uzyskał dostęp do Twoich odpowiedzi –
          wyczyść sesję po zakończeniu oceniania!</p>
        {% endif %}
        <div class="row">
          <div class="col">
            <div class="progress h-100">
              <div
                class="progress-bar {% if grouped_submissions.submittedd == grouped.submissions.total%}bg-success{% endif %}"
                role="progressbar" style="width: calc(100% * ({{ grouped_submissions.progress }}))"
                aria-valuenow="{{ grouped_submissions.submitted }}" aria-valuemin="0"
                aria-valuemax="{{ grouped_submissions.total }}"><strong>{{ grouped_submissions.progress }}</strong>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <a href="{% url 'grade-poll-clear-session' %}"
              class="btn {% if grouped_submissions.submittedd == grouped.submissions.total%}btn-primary{% else %}btn-dark{% endif %}">Wyczyść sesję</a>
          </div>
        </div>
      </div>
    </div>
    <h3>{{ active_submission }}</h3>
    {{ active_submission.category }}
    <hr>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Zapisz ankietę" />
    </form>
  </div>
  <div class="col-lg-4 col-12">
    {% for group_name, submissions in grouped_submissions.with_categories.items %}
    <div
      class="card {% if grouped_submissions.statuses|lookup:group_name == submissions|length %}list-group-item-success{%else%}text-white bg-secondary{% endif %} mb-3">
      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <span>{{ group_name }}</span>
          <span class="text-right text-nowrap">{{ grouped_submissions.statuses|lookup:group_name }} /
            {{ submissions|length }}</span>
        </div>
      </div>

      <div class="list-group list-group-flush">
        {% for entry in submissions %}
        {% with index=iterator|next %}
        <a href="{% url 'grade-poll-submissions' submission_index=index %}" type="button"
          class="list-group-item list-group-item-action {% if current_index == index %} active{% elif entry.submitted %} list-group-item-light{% endif %}">
          <div class="d-flex w-100 justify-content-between">
            <span>{{ entry.submission }}</span>
            <span>{% if entry.submitted %}zapisane{% endif %}</span>
          </div>
        </a>
        {% endwith %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}