{% extends "grade/base.html" %}

{% block main-subtitle %}Udział w ocenie{% endblock %}

{% block fill_grade_form %}active{% endblock %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item"><a href="/grade">Ocena zajęć</a></li>
<li class="breadcrumb-item active" aria-current="page">Oceń zajęcia</li>
{% endblock %}

{% block all-content %}
<div class="alert alert-danger" role="alert">
    <strong>Uwaga!</strong>
        Aby ankieta pozostała anonimowa należy się <a class="alert-link" href="{% url 'grade-logout' %}">
        wylogować</a>.
</div>
{% endblock %}