.poll-section-title
{
    display: block;
    font-weight: bold;
    text-align: left;
}

.poll-section-description
{
    color: #666666;
    display: block;
    margin: 0.1em 0 0.25em;
}

.poll-section-answer-list
{
    list-style: none outside none;
    margin: 0.5em 0 0;
    padding: 0;
}

.poll-section-answer-item
{
    line-height: 1.3em;
    margin: 0;
    padding-bottom: 0.5em;
}

.poll-section-answer-item label
{
    float: none;
}

.poll-section-field
{
    margin: 15px;
}

.poll-section-leading {
    background-color: #fff7bc;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border--radius: 4px;
    padding: 5px 0px 0px 5px;
}

.only-show {
    display:none;
}

ul[class*="scale"] > li{
	float: none;
}

label[for*="scale"]{
	margin-right: 1em;
	float: none;
}

input[class*="scale"]{
	float: left;
}

hr, .poll-section-field {
	clear: left;
}

.edit-mode
{
    position:absolute;
    right: 55px;
}

.active_poll
{
    background-color: #228B22!important;
}

textarea {
    width: 450px;
    height: 200px;
}

