{% extends "base.html" %}

{% load news_extras %}

{% block styles %}
    <link rel="stylesheet" href="/site_media/css/grade/poll.css" type="text/css" />
{% endblock %}


{% block main-menu %}
    <!-- TRZEBA ZROBIĆ NEWSY DLA OCENY I TO POPRAWIĆ -->
    <!-- <li><a href="{% url news.views.latest_news 'offer' %}">Aktualności</a> ({% newscount "offer" %})</li> -->
    
    
    
    {% if user.employee %}        
    <li><a href="{% url grade-poll-add %}">Dodaj ankietę</a></li>
    {% endif %}
    <li><a href="#">Pobieranie kluczy</a></li>
    <li><a href="{% url grade-poll-verify-keys %}">Ocena zajęć</a></li>
    <li><a href="#">Wyniki oceny</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url my-profile %}">{{ user.first_name }} {{user.last_name }}</a>
        {% if user.student %}
            ({{user.student.matricula}})
        {% endif %}
         </li>
    <li><a href="{% url user-logout %}">(wyloguj)</a></li>
    {% else %}
    <li><a href="{% url user-login %}">Zaloguj</a></li>
    {% endif %}
{% endblock %}

