<form action="/grade/poll/managment/section/create/" id="questionset" method="POST" class="">

    <fieldset class="poll-type-filter">


        <div class="clearfix">
                    <label for="section-title">Tytuł</label>
                    <div class="input">
                        <input type="text" id="section-title" name="poll[title]" class="required">
                    </div>
        </div>

        <div class="clearfix">
                    <label for="section-desc">Opis</label>
                    <div class="input">

                        <textarea id="section-desc" name="poll[description]"></textarea>
                    </div>
        </div>
        <div class="clearfix">
            <label class="leading" for="section-leading">Posiada pytanie wiodące</label>
            <div class="input">
                <input class="leading" type="checkbox" id="section-leading" name="poll[leading]">
            </div>
        </div>
        <input type="hidden" name="fake" class="anyquestion" value="">
        <ol id="poll-form" class="questionset">
        </ol>
        <button class="btn-primary" id="add-question">Dodaj pytanie</button>
    </fieldset>
    <fieldset>
        <input id="questionset-submit" type="submit" value="Zapisz" class="btn-success">
    </fieldset>
</form>


