{% extends "grade/base.html" %}

{% block main-navigation %}
	<li><a href="/">Strona Główna</a></li>
	<li><a href="{% url grade-default %}">Ocena Zajęć</a></li>
	<li>Weryfikacja kluczy</li>
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<h3>Uwaga</h3>
		<div>Aby ankieta pozostała anonimowa należy się <a href="{% url user-logout %}">wylogować</a>
	{% else %}
		<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Wyślij" />
		</form>
	{% endif %}
{% endblock %}
