{% extends "grade/poll/managment/base.html" %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/jquery-tmpl/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/jquery-validation-1.8.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/jquery-validation-1.8.0/localization/messages_pl.js"></script>

<script src="/site_media/js/grade/poll/templates/question_view.js" type="text/javascript"></script>
<script src="/site_media/js/grade/poll/templates/question_edit.js" type="text/javascript"></script>
<script src="/site_media/js/grade/poll/templates/question.js" type="text/javascript"></script>
<script src="/site_media/js/grade/poll/templates/question_add.js" type="text/javascript"></script>
<script src="/site_media/js/grade/poll/templates/type_option.js" type="text/javascript"></script>
<script src="/site_media/js/grade/poll/poll_types.js" type="text/javascript"></script>

<script src="/site_media/js/grade/poll/section_create.js" type="text/javascript"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/grade/questionset_create.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/grade/answer.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/ui-progressbar.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/grade/poll-managment.css" type="text/css" />
{% endblock %}


{% block poll-managment %}
  
	<form url="" id="questionset" method="Post" class="">
			<label for="section-title">Tytuł:</label>
            <input type="text" id="section-title" name="poll[title]" class="required">
            <label for="section-desc">Opis:</label>
            <textarea id="section-desc" name="poll[description]"></textarea>
            <input class="leading" type="checkbox" id="section-leading" name="poll[leading]">
            <label class="leading" for="section-leading">Posiada pytanie wiodące</label>
            <input type="hidden" name="fake" class="anyquestion" value="">
			<ol id="poll-form" class="questionset">
			</ol>
		<input type="button" value="Dodaj pytanie" id="add-question">
    <br/><br/>
		<input id="questionset-submit" type="submit" value="Zapisz">
	</form>
{% endblock %}

