{% extends "grade/base.html" %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url apps.news.views.latest_news 'grade' %}">Ocena zajęć</a></li>
	<li>Weryfikacja biletów</li>
{% endblock %}
{% block content %}
<!--
    {% if error %}
        <div class="grade-error-message">
        <h4>{{ error }}</h4>
        </div>
    {% endif %}
-->
	{% if user.is_authenticated %}
		<div class='main-message'><h3>Uwaga</h3>
		Aby ankieta pozostała anonimowa należy się <a href="{% url grade-logout %}">wylogować</a></div>
	{% else %}
		<div id='grade-tickets-enter'>
		<form action="" method="post" enctype="multipart/form-data">
		<table id='grade-tickets-enter-form'>
			{{ form.as_p }}
		</table>
		<input id= "grade-tickets-enter-button" type="submit" value="Wyślij" />
		</form>
		</div>
	{% endif %}
{% endblock %}
