{% extends "base.html" %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static "css/common/mainPage.css" %}" type="text/css" />
{% endblock %}

{% block content %}
	<div id="mainPage-container">
		<div>
			<a href="{% url 'latest_news' 'enrollment' %}">System zapisów - wersja mobilna</a>
			<span>System zapisów na zajęcia w Instytucie Informatyki
				Uniwersytetu Wrocławskiego.</span>
		</div>
		<div>
			<a href="{% url 'latest_news' 'offer' %}">Kształtowanie oferty dydaktycznej</a>
			<span>System kształtowania oferty dydaktycznej w Instytucie
				Informatyki Uniwersytetu Wrocławskiego.</span>
		</div>
	</div>
{% endblock %}
