{% extends "base.html" %}


{% block title %}Oferta dydaktyczna{% endblock %}

{% block offer_active %} class="active"{% endblock %}

{% block system_menu %}
    <li {% block offer_menu_offer %}{% endblock %}>
        <a class="nav-link" href="{% url 'offer-main' %}">Oferta</a>
    </li>
    {% if user.employee %}
    <li {% block offer_menu_my_proposals %}{% endblock %}>
        <a class="nav-link" href="{% url 'my-proposals' %}">Moje Propozycje</a>
    </li>
    {% endif %}
    {% if user.employee %}
    <li {% block enrollment_preferences %}{% endblock %}>
        <a class="nav-link" href="{% url 'preferences-main' %}">Preferencje</a>
    </li>
    {% endif %}
    {% if user.employee or user.student %}
    <li {% block offer_menu_vote %}{% endblock %}>
        <a class="nav-link" href="{% url 'vote-main' %}">Głosowanie</a>
    </li>
    {% endif %}

    {% if user.employee %}
    <li {% block offer_menu_desiderata %} {% endblock %}>
            <a class="nav-link" href="{% url 'change_desiderata' %}">Dezyderaty</a>
    </li>
    {% endif %}
{% endblock %}
