{% extends "base.html" %}
{% load compressed %}


{% block title %}Oferta dydaktyczna{% endblock %}

{% block js %}
    {% compressed_js 'proposal' %}

{% endblock %}

{% block styles %}
    {% compressed_css 'proposal' %}
{% endblock %}


{% block offer_active %} class="active"{% endblock %}

{% block system_menu %}
    <li{% block offer_menu_offer %}{% endblock %}><a href="{% url offer-main %}">Oferta</a></li>
    {% if user.employee %}
    <li{% block enrollment_menu_courses %}{% endblock %}><a
            href="{% url my-proposal %}">Moje Propozycje</a></li>{% endif %}
    {% if perms.proposal.can_create_offer %}
    <li><a href="{% url manage %}">Zarządzaj</a></li>
    {% endif %}
    {% if user.employee %}
    <li{% block enrollment_preferences %}{% endblock %}><a
            href="{% url prefs-default-view %}">Preferencje</a></li>{% endif %}
    {% if user.employee or user.student %}
    <li{% block offer_menu_vote %}{% endblock %}><a
            href="{% url vote-main %}">Głosowanie</a></li>{% endif %}

    {# end system_menu #}
{% endblock %}


{% block sidebar %}
    {% include "common/coursesitebar.html" with courses=proposals semester=semester %}
{% endblock %}
