{% extends "offer/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/mainPage.css" %}" type="text/css" />
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li>Oferta</li>
{% endblock %}

{% block content %}
<div class="container">
    <div id="mainPage-container">
        <div>
            <a href="{% url 'offer-main' %}">Kształtowanie oferty dydaktycznej</a>
            <span>System kształtowania oferty dydaktycznej w Instytucie
                Informatyki Uniwersytetu Wrocławskiego.</span>
        </div>
    </div>
</div>
{% endblock %}
