{% extends "offer/base.html" %}

{% block offer_menu_offer %} class="active"{% endblock %}

{% block main-subtitle %}
    {% if proposal %}
        {{ proposal.name }}
    {% else %}
        Oferta
    {% endif %}
{% endblock %}


{% block topContent %}
{% include "common/course_list_filters.html" with custom_filters="offer/custom_filters.html" %}
{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    {% if proposal %}
    <a href="{% url 'offer-main' %}">Oferta dydaktyczna</a> &raquo;
        {{ proposal.name }}
    {% else %}
    Oferta dydaktyczna
    {% endif %}
    {# end bread #}
{% endblock %}


{% block content %}
    {% if proposal %}
        {% include 'offer/proposal.html' with course=proposal %}
    {% endif %}
{% endblock %}
