    <table class="table table-striped text-muted" id="table-info">
        {% if course.ects %}
        <tr>
            <th scope="row">ECTS</th>
            <td>{{ course.ects }}</td>
        </tr>
        {% endif %}

        <tr>
            <th scope="row">Semestr</th>
            <td>{{ course.get_semester_display }}</td>
        </tr>

        <tr>
            <th scope="row">Status</th>
            <td>{{ course.get_status_display }}</td>
        </tr>


        {% if course.get_lectures or course.get_exercises or course.get_laboratories or course.get_repetitions %}
            <tr>
                <th scope="row">Liczba godzin</th>
                <td>{% if course.get_lectures %}{{ course.get_lectures }}
                    (wyk) {% if course.get_exercises or course.get_laboratories or course.get_repetitions or course.get_exercises_laboratories %}
                        +{% endif %}{% endif %}
                    {% if course.get_exercises_laboratories %}{{ course.get_exercises_laboratories }}
                        (ćw+prac) {% if course.get_exercises or course.get_laboratories or course.get_repetitions %}
                        +{% endif %}{% endif %}
                    {% if course.get_repetitions %}{{ course.get_repetitions }}
                        (rep) {% if course.get_lectures or course.get_laboratories %}+{% endif %}{% endif %}
                    {% if course.get_exercises %}{{ course.get_exercises }} (ćw) {% if course.get_laboratories %}
                        +{% endif %}{% endif %}
                    {% if course.get_laboratories %}{{ course.get_laboratories }} (prac){% endif %}</td>
            </tr>
        {% endif %}
        {% if course.english %}
            <tr>
                <th scope="row">Przedmiot prowadzony w języku angielskim</th>
                <td>Tak</td>
            </tr>
        {% endif %}
        {% include "common/common_course_info.html" with course_entity=course %}
        {% if course.web_page %}
            <tr>
                <th scope="row">Strona WWW</th>
                <td><a href="{{ course.web_page }}">{{ course.web_page }}</a></td>
            </tr>
        {% endif %}
        {% comment %}
        TODO: turn this on when requirements are enabled
        on the backend
        <tr>
            <th scope="row">Wymagania</th>
            <td>{% if course.information.requirements.all %}{{ course.information.requirements.all|join:", " }}{% else %}Brak{% endif %}</td>
        </tr>
        {% endcomment %}
        {% if course.created %}
            <tr>
                <th scope="row">Utworzono</th>
                <td>{{ course.created }}</td>
            </tr>
        {% endif %}
        {% if course.edited %}
            <tr>
                <th scope="row">Aktualizacja</th>
                <td>{{ course.edited }}</td>
            </tr>
        {% endif %}

    </table>

    <div class="description text-muted">

        <h5 class="text-dark font-weight-bold">Opis przedmiotu:</h5>
        {% if course.description %}
        <p>{{ course.description|safe }}</p>
        {% else %}
            <p>Brak</p>
        {% endif %}
    </div>
