{% extends "offer/base.html" %}

{% block main-subtitle %}Podsumowanie głosowania: {{ proposal.name }}{% endblock %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url offer-main %}">Oferta</a></li>
	<li><a href="{% url vote-main %}">Głosowanie</a></li>
	<li><a href="{% url vote-summary %}">Podsumowanie</a></li>
	<li>{{ proposal.name }}</li>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/vote.css" type="text/css" />
{% endblock %}

{% block content-class %}narrow{% endblock %}
{% block content %}
	<div id="od-vote-summary-proposal">
		<h2>Podsumowanie głosowania: {{ proposal.name }}</h2>
		<p>
			Na ten przedmiot zagłosowało osób: <strong>{{ votes }}</strong>;
			oddając punktów: <strong>{{ points }}</strong>.
		</p>
		{% if voters %}
			<h3>Lista głosujących na ten przedmiot</h3>
			<table>
				<thead>
					<tr>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th title="Ilość punktów, jakie student przeznaczył na ten przedmiot">Punkty</th>
					</tr>
				</thead>
				<tbody>
					{% for voter in voters %}
						<tr>
							<td>{{ voter.user.first_name }}</td>
							<td>{{ voter.user.last_name }}</td>
							<td class="number">{{ voter.points }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="main-message">Nikt nie zagłosował na ten przedmiot.</div>
		{% endif %}
	</div>
{% endblock %}
