{% extends "offer/base-offer.html" %}

{% block main-navigation %}
	<li><a href="/">Strona Główna</a></li>
	<li><a href="{% url vote-main %}">Głosowanie</a></li>
	<li><a href="{% url vote %}"> Głosuj</a></li>
{% endblock %}

{% block content %}
{% if message %}
<div style="text-align:center">
    <b><font color=red>{{ message }}</font></b>
    <br><br>
</div>
{% endif %}

<form action="" method="POST">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Głosuj" />
</form>
{% endblock %}
