{% extends "offer/base-offer.html" %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url vote-main %}">Głosowanie</a></li>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/offer/vote.css" type="text/css" />
{% endblock %}

{% block content-class %}narrow{% endblock %}
{% block content %}
    <div id="od-vote-main">
        {% if isVoteActive %}
            <h2>Zasady głosowania</h2>
            <div id="od-vote-main-rules">
                <!--
                    TU FAJNIE BYŁOBY DAĆ JAKIEŚ PRAWDZIWE ZASADY :)
                -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla nulla sed nibh porta ultricies. Fusce lobortis nibh at ante consectetur gravida. Cras varius, nibh sit amet semper ornare, metus velit euismod eros, a lobortis ipsum sem eget nulla. Ut sagittis sodales ligula, ac congue erat mattis ut. Proin velit massa, dapibus venenatis rutrum vitae, malesuada id lacus. Suspendisse potenti. Etiam fermentum eros a lacus facilisis pulvinar. Phasellus interdum aliquet lacus, quis molestie arcu interdum commodo. Integer pellentesque sodales lorem, in suscipit metus imperdiet vel. Aliquam erat volutpat. Integer pharetra vestibulum odio eget congue. Pellentesque pellentesque enim eget nisl pulvinar vitae fringilla nisi molestie.
            </div>

            <p class="link"><a href="{% url vote %}">Głosuj</a></p>
        {% else %}
            <p class="disabled-link">Głosowanie nie jest w tej chwili aktywne.</p>
        {% endif %}
        <p class="link"><a href="{% url vote-view %}">Pokaż mój głos</a></p>
    </div>
{% endblock %}
