{% extends "offer/base-offer.html" %}

{% block main-nawigation %}
<li><a href="{% url vote-main %}">Głosowanie</a></li>
{% endblock %}

{% block content %}
{% if message %}
<div style="text-align:center">
    <b><font color=red>{{ message }}</font></b>
    <br><br>
</div>
{% endif %}

{% if isVoteActive %}
<h3> Zasady głosowania</h3>
<div style="text-align:justify">
    <!--
        TU FAJNIE BYŁOBY DAĆ JAKIEŚ PRAWDZIWE ZASADY :)
    -->
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla nulla sed nibh porta ultricies. Fusce lobortis nibh at ante consectetur gravida. Cras varius, nibh sit amet semper ornare, metus velit euismod eros, a lobortis ipsum sem eget nulla. Ut sagittis sodales ligula, ac congue erat mattis ut. Proin velit massa, dapibus venenatis rutrum vitae, malesuada id lacus. Suspendisse potenti. Etiam fermentum eros a lacus facilisis pulvinar. Phasellus interdum aliquet lacus, quis molestie arcu interdum commodo. Integer pellentesque sodales lorem, in suscipit metus imperdiet vel. Aliquam erat volutpat. Integer pharetra vestibulum odio eget congue. Pellentesque pellentesque enim eget nisl pulvinar vitae fringilla nisi molestie.
</div>
<br><br>
<div style="text-align:center">
    <a href="{% url vote %}"> Głosuj </a>
</div>
{% else %}
<div style="text-align:justify">
    Głosowanie nie jest aktywne.
</div>
<br><br>
{% endif %}
<div style="text-align:center">
    <a href="{% url vote-view %}"> Pokaż mój głos </a>
</div>
{% endblock %}
