{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/fereol_admin/">
{% trans "Home" %}</a> > <a href="/fereol_admin/users/">Users</a> > Import studentów zamawianych</div>{% endblock %}

{% block title %}Import studentów zamawianych{% endblock %}

{% block content %}
<div id="content-main">
    <form enctype="multipart/form-data" action="{{action}}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Importuj" />
    </form>
    {% if errormsg %}
    <p><b>Treść błędu:</b><br />{{errormsg|linebreaks}}</p>
    {% endif %}
</div>
{% endblock %}
