{% extends "enrollment/base.html" %}
{% load compressed %}
{% load cache %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}{# Translators: podtytuł #}{% trans "Plan zajęć" %}{% endblock %}

{% block enrollment_menu_schedule %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url 'main-page' %}">{% trans "Strona główna" %}</a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% url 'course-list' %}">{% trans "Zapisy" %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Plan zajęć</li>
{% endblock %}


{% block all-content %}
    <p class="text-right">
        <a class="text-secondary" href="{% url 'ical' %}">{% trans "Eksportuj plan zajęć do pliku .ical" %}</a>
    </p>
    <div class="row m-0" id="timetable">
    </div>
    <script id="timetable-data" type="application/json">{{ groups_json|safe }}</script>
    {% render_bundle 'timetable-timetable-component' %}
    
    {% if user.student %}
    <h3>{% trans "Zajęcia, na które jesteś zapisany" %}</h3>
    <div class="table-responsive">
	<table id="enr-schedule-listByCourse" class="table table-striped">
		<thead>
			<tr>
                {# Translators: Tytuł kolumny w tabelce #}
				<th scope="col">{% trans "Przedmiot" %}</th>
				{% if user.student %}
                    {# Translators: Tytuł kolumny w tabelce #}
                    <th class="ects" scope="col">{% trans "ECTS" %}</th>
                {% else %}
                    {# Translators: Tytuł kolumny w tabelce #}
                    <th class="ects" scope="col">{% trans "Godziny" %}</th>
                {% endif %}
			</tr>
		</thead>
		<tfoot>
			<tr>
                <td><strong>Suma punktów ECTS:</strong></td>
                <td class="ects">{{ sum_points }}</td>
			</tr>
		</tfoot>
		<tbody>
            {% regroup groups|dictsort:"course_id" by course as courses %}
            {% for course in courses %}
            <tr class="courseHeader">
                <td class="name" scope="col">
                    <a href="{% url 'course-page' course.grouper.slug %}">
                        {{ course.grouper.name }}
                    </a>

                </td>
                <td rowspan="2" class="ects">
                    {{ course.grouper.points }}
                </td>
            </tr>
            <tr class="courseDetails">
                <td>
                    <ul>
                        {% for item in course.list %}
                        {% with item as group %}
                        <li>
                            <span class="type">{{ group.get_type_display }}:</span>
                            {% for term in group.term.all %}
                            <span class="term">
                                {{ term.get_dayOfWeek_display }}
                                {{ term.start_time|time:'G:i' }}-{{ term.end_time|time:'G:i' }}
                            </span>
                            <span class="classroom">sala:
                                  {% for classroom in term.classrooms.all %}
                                    {{ classroom.number }}
                                  {% endfor %}
                            </span>
                            {% endfor %}
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
		</tbody>
    </table>
    </div>  
    {% endif %}
{% endblock %}

