
#schedule-wrapper {  margin:auto; }

.schedule-prototype-subject { cursor:pointer; }
.schedule-prototype-subject .hide { display:none; color: blue; font-style:italic; }
.schedule-prototype-subject:hover { text-decoration:underline; }
.schedule-prototype-subject-hide .hide { display:inline; }

.schedule-buttons-wrapper { text-align: right; padding: 10px; }
.schedule-buttons-wrapper input {padding: 10px;}

.schedule-message {
	background: white; color: white; font-size: 12px;font-weight: bold; text-align: center; 
	margin: 10px 60px;padding: 5px; border: 1px solid black;
	border-bottom-left-radius: 4px 4px;border-bottom-right-radius: 4px 4px;border-top-left-radius: 4px 4px;border-top-right-radius: 4px 4px;
	display:none;
}
.success { background: green; display:block; }
.error { background: #B00000; display:block; }
