{% extends "grade/base.html" %}
{% load compressed %}
{% block styles %}
    {% compressed_css 'connectionchoice' %}
{% endblock %}

{% block js %}
    {% compressed_js 'connectionchoice' %}
{% endblock %}

{% block connection-choice %}active{% endblock %}

{% block main-subtitle %}Pobieranie kluczy{% endblock %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item"><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
<li class="breadcrumb-item active" aria-current="page">Zasady</li>
{% endblock %}

{% block all-content %}
    {% if success %}
    <div class="main-success">{{ success }}</div>
    {% endif %}
    {% if message %} 
    <div class="main-message">{{ message }}</div>
    {% endif %}
    {% if error %} 
    <div class="main-error">{{ error }}</div>
    {% endif %}
    {% if grade %}
    <div id="progressbar" style="margin-bottom: 10px;"></div>
	<div id="grade-connection-choice">
	<form method="post" id="connection_choice">{% csrf_token %}
	<h2>
		Pobieranie kluczy do następujących ankiet:
	</h2>

    <h4>Ankiety przypisane do przedmiotu:</h4>
	<table id = "grade-connection-choice-form">
        {% for k, poll in polls.items %}
            <ul>
                <li><h4><a href="{% url 'course-page' poll.courses.slug %}">{{ poll.courses }}</a></h4>
                    <ul>
                    {% for g in poll.polls %}
                        <li>{{ g }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        {% empty %}
            <h6>Brak ankiet</h6>
        {% endfor %}
    <h4>Ankiety ogólne:</h4>
        {% if general_polls %}
            <ul>
                {% for p in general_polls %}
                    <li>{{ p }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h6>Brak ankiet</h6>
        {% endif %}
	</table>
        {% if general_polls or polls %}
        <div style="text-align: center"><input id="connection_choice_button" class="btn" type="submit" value="Pobierz klucze"></div>
            {% endif %}
    	</form>
	</div>

    <div>{{ p }}</div>
    {% endif %}
{% endblock %}

