{% extends "grade/base.html" %}
{% load compressed %}
{% block js %}
    <script type="text/javascript">
        var url_generate = "{% url 'grade-ticket-keys-generator' %}";
        var url_progress = "{% url 'grade-ticket-keys-progress' %}";
    </script>
    {% compressed_js 'keysgenerate' %}
{% endblock %}

{% block grade_active %} class="active"{% endblock %}

{% block all-content %}
<div style="display:none" id="keys_to_create">{{ keys_to_create }}</div>
<div id="creator"></div>
{% endblock %}

