{% extends "grade/base.html" %}
{% load compressed %}
{% block styles %}
    {% compressed_css 'ticketssave' %}
{% endblock %}

{% block main-navigation %}
	<a href="/">Strona Główna</a> &raquo;
	<a href="{% url 'grade-main' %}">Ocena zajęć</a> &raquo;
	Pobieranie biletów
{% endblock %}


{% block connection-choice %} active{% endblock %}

{% block main-subtitle %}Pobierz klucze{% endblock %}

{% block all-content %}

    {% if tickets %}
        <div id='grade-tickets-save-form'>
                <h3> Pomyślnie wygenerowano klucze.</h3><h3>Zapisz je w bezpiecznym miejscu - <strong>nie ma powrotu do tego ekranu</strong>.</h3>
            <form action=".">
    	        <textarea id="keys" name="keys" cols="80" rows="20" readonly="readonly">{{ tickets }}
                </textarea>
            </form>
{#            <input id="download-keys" #}
{#                   class="download-keys-button" #}
{#                   type="button" #}
{#                   value="Zapisz bilety do pliku"#}
{#                   onclick='window.open("data:application/octet-stream," + encodeURIComponent($("#keys").text()))'>#}
        </div>
    {% else %}
        <div class="alert-message">
            Nie udało się pobrać kluczy do oceny zajęć.
        </div>
    {% endif %}
{% endblock %}
