{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="Fereol mobile - System zapisów Instytutu Informatyki Uniwersytetu Wrocławskiego"/>
    <meta name="Author" content="Autor" />
    <meta name="viewport" content="width=device-width; height=device-height; maximum-scale=1.4; initial-scale=1.0; user-scalable=yes"/>
    <link rel="stylesheet" href="{% static "css/mobile.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/m_portrait.css" %}" type="text/css" /> 
    <!--WIDOK POZIOMY, milestone1, rekomendacja: nie włączać przed spopularyzowaniem CSS3
        <link rel="stylesheet" media="all and (orientation: landscape)" href="{% static "css/m_landscape.css" %}" />     
    -->
    <title>
        Zapisy II UWr - wersja mobilna
    </title>
</head>

<body>
    <div id="main-container">
    
        <div id="main-header" >
            <a href="/"><img src="{% static "images/logo_mobile.gif" %}" id="logo" title="Fereol mobile - strona główna" alt="System Zapisów II UWr"/></a>
             <a href = {% url 'user-mobile-logout' %}>
                {% if user.is_authenticated %}
                     <div id="navbar">
                           Wyloguj {{ user.username }}
                    </div>
                {% endif %}
            </a>
        </div>
        
        <div id="main-content" >
                {% block content %}
                {% endblock %}
        </div>
    
    <div style="clear:both"></div>
        
        <div id="main-footer">
                <a href="{% url 'no-mobile' %}"> przejdź do pełnej wersji</a>
                <div class="version-info"></div>
        </div>
    </div>
    
</body>
</html>
