{% extends "mobile/base_m.html" %}

{% block content %}

    {% for message in messages %} <p class="main-message">{{ message }}</p> {% endfor %}

    <a href="{% url 'student-enrollment' %}">
        <div class="box round">Powrót</div>
    </a>
    
    <div class="sschedule slist">
    <table>
    <tr><th><h2>{{course.name}}</h2></th></tr></table>
        {% if lectures %} 
            <h4>Wykład</h4><table>
            {% for lecture in lectures %}
            <tr><td>
                            <p>{% for term in  lecture.get_all_terms%}
                                {{ term }}<br/>
                            {% endfor %}
                            {{ lecture.get_teacher_full_name }}<br/>
                            ({{ lecture.get_count_of_enrolled }}/{{ lecture.limit }})</p>
                            {% if not lecture.signed %}
                                <form action='/group/{{lecture.id}}/assign/' name='enrol_unenrol' method="post">
                                    <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                                </form>
                            {% else %}
                                <form action='/group/{{lecture.id}}/resign/' name='enrol_unenrol' method="post">
                                    <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                                </form>
                            {% endif %}
            </td></tr>
                    {% endfor %}  </table>
                {% endif %}
            {% if exercises %}
            <h4>Ćwiczenia</h4> <table>
                        {% for ex in exercises %} <tr><td>
                           <p> {% for term in ex.get_all_terms%}
                                {{ term }}<br/>
                            {% endfor %}
                            {{ ex.get_teacher_full_name }}<br/>
                            ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                            </p>
                            {% if course.user_enrolled_to_exercise == ex.id %}
                                <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post"> <input type='submit' class="signbutton" value="Wypisz" name='unenrol' /></form>
                            {% else %}
                                {% if course.user_enrolled_to_exercise %}
                                    <form action='/group/{{course.user_enrolled_to_exercise}}/{{ex.id}}/reassign/' name='enrol_unenrol' method="post"> <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                                    </form>
                                {% else %}
                                    <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                                    </form>
                                {% endif %}
                            {% endif %}
                        </td></tr>
                        {% endfor %}
                        </table>
                {% endif %}
                    
                {% if exer_labs %}
               <h4>Ćwiczenia + pracownia</h4><table>      
                        {% for ex in exer_labs %}
                        <tr><td><p>
                            {% for term in ex.get_all_terms%}
                                {{ term }}<br/>
                            {% endfor %}
                            {{ ex.get_teacher_full_name }}<br/>
                            ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                            </p>
                            {% if course.user_enrolled_to_exlaboratory == ex.id %}
                                <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post">
                                    <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                                </form>
                            {% else %}
                                {% if course.user_enrolled_to_exlaboratory %}
                                    <form action='/group/{{ex.id}}/{{course.user_enrolled_to_exlaboratory}}/reassign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                                    </form>
                                {% else %}
                                    <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                                    </form>
                                {% endif %}
                            {% endif %}
                            </td></tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if laboratories %}
                <h4>Pracownia</h4><table>      
                {% for lab in laboratories %} <tr><td>
                            <p>{% for term in lab.get_all_terms%}
                                {{ term }}<br/>
                            {% endfor %}
                            {{ lab.get_teacher_full_name }}<br/>
                            ({{ lab.get_count_of_enrolled }}/{{ lab.limit }})
                            </p>
                            {% if course.user_enrolled_to_laboratory == lab.id %}
                                <form action='/group/{{lab.id}}/resign/' name='enrol_unenrol' method="post">
                                    <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                                </form>
                            {% else %}
                                {% if course.user_enrolled_to_laboratory %}
                                    <form action='/group/{{course.user_enrolled_to_laboratory}}/{{lab.id}}/reassign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                                    </form>
                                {% else %}
                                    <form action='/group/{{lab.id}}/assign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                                    </form>
                                {% endif %}
                            {% endif %}
                            </td></tr>
                        {% endfor %}
                        </table>
                {% endif %}

                {% if exercises_adv %}
                <h4>Ćwiczenia zaawansowane</h4><table>
                        {% for ex in exercises_adv %}
                        <tr><td>
                            <p>{% for term in ex.get_all_terms%}
                                {{ term }}<br/>
                            {% endfor %}
                            {{ ex.get_teacher_full_name }}<br/>
                            ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                            </p>
                            {% if course.user_enrolled_to_exercise == ex.id %}
                                <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post">
                                    <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                                </form>
                            {% else %}
                                {% if course.user_enrolled_to_eaoratory %}
                                    <form action='/group/{{course.user_enrolled_to_eaoratory}}/{{ex.id}}/reassign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                                    </form>
                                {% else %}
                                    <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                        <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                                    </form>
                                {% endif %}
                            {% endif %}
            </td></tr> {% endfor %}
        </table>{% endif %}
        {% if seminar %}
            <h4>Seminarium</h4><table> 
                {% for ex in seminar %} <tr><td>
                    <p>{% for term in ex.get_all_terms%}
                        {{ term }}<br/>
                    {% endfor %}
                    {{ ex.get_teacher_full_name }}
                    <br/>
                    ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                    </p>
                    {% if course.user_enrolled_to_seminar == ex.id %}
                        <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post">
                            <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                        </form>
                    {% else %}
                        {% if course.user_enrolled_to_exercise %}
                            <form action='/group/{{course.user_enrolled_to_seminar}}/{{ex.id}}/reassign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                            </form>
                        {% else %}
                            <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                            </form>
                        {% endif %}
                    {% endif %}
                    </td></tr>
                {% endfor %}
                </table>
        {% endif %}
        {% if language %}
            <h4>Lektorat</h4><table>
            {% for ex in language %}
                  <tr><td>
                    <p> 
                    {% for term in ex.get_all_terms%}
                    {{ term }} <br/>
                    {% endfor %}
                    {{ ex.get_teacher_full_name }}
                    <br/>
                    ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                    </p>
                    {% if course.user_enrolled_to_exercise == ex.id %}
                        <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post">
                            <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                        </form>
                    {% else %}
                        {% if course.user_enrolled_to_langoratory %}
                            <form action='/group/{{course.user_enrolled_to_langoratory}}/{{ex.id}}/reassign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                            </form>
                        {% else %}
                            <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                            </form>
                        {% endif %}
                    {% endif %}
                </td> </tr>
                {% endfor %}
                </table>
        {% endif %}
        {% if sport %}
          <h4>Zajęcia sportowe</h4><table>
                {% for ex in sport %} <tr><td><p>
                    {% for term in ex.get_all_terms%}
                        {{ term }} <br/>
                    {% endfor %}
                    {{ ex.get_teacher_full_name }}
                    <br/>
                    ({{ ex.get_count_of_enrolled }}/{{ ex.limit }})
                    </p>
                    {% if course.user_enrolled_to_exercise == ex.id %}
                        <form action='/group/{{ex.id}}/resign/' name='enrol_unenrol' method="post">
                            <input type='submit' class="signbutton" value="Wypisz" name='unenrol' />
                        </form >
                    {% else %}
                        {% if course.user_enrolled_to_langoratory %}
                            <form action='/group/{{course.user_enrolled_to_langoratory}}/{{ex.id}}/reassign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Przepisz" name='reenrol' />
                            </form>
                        {% else %}
                            <form action='/group/{{ex.id}}/assign/' name='enrol_unenrol' method="post">
                                <input type='submit' class="signbutton" value="Zapisz" name='enrol' />
                            </form>
                        {% endif %}
                    {% endif %}
                    </td></tr>
                {% endfor %}
        </table>
        {% endif %}

</div>
{% endblock %}
