{% extends "mobile/base_m.html" %}

{% block content %}
<a href="{% url 'students-list' %}">
    <div class="box round">Zmień na: plany studentów</div>
</a>

<a href="/employees/">
    <div class="box round">Powrót</div>
</a>

<div id="center-container">
    <div class="course-outer">
        <div class="course-inner">
            <b>Lista pracowników {% if keyname != '' %} ({{keyname}}) {%endif %} </b>
            <hr>
            {% for e in employees %}
                <div class="listpos">
                    <a href="/employees/schedule/{{ e.user.username }}/" style="float:left">{{e.get_full_name}}</a><br/>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
