{% extends "mobile/base_m.html" %}

{% block content %}
<a href="{% url 'students-list' %}">
    <div class="box round">Zmień na: plany studentów</div>
</a>

<div id="center-container">

<div class="square emptysquare"> </div>
<a href="{% url 'employees-list' %}2"> <div class="square round"> ABC </div> </a>
<a href="{% url 'employees-list' %}3"> <div class="square round"> DEF </div> </a>
<a href="{% url 'employees-list' %}4"> <div class="square round"> GHI </div> </a>
<a href="{% url 'employees-list' %}5"> <div class="square round"> JKL </div> </a>
<a href="{% url 'employees-list' %}6"> <div class="square round"> MNO </div> </a>
<a href="{% url 'employees-list' %}7"> <div class="square round"> PQRS</div> </a>
<a href="{% url 'employees-list' %}8"> <div class="square round"> TUV </div> </a>
<a href="{% url 'employees-list' %}9"> <div class="square round"> WXYZ </div></a>

</div>
{% endblock %}
