{% extends "mobile/base_m.html" %}


{% block styles %}
    /*custom stylesheet*/
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div id="login-message" class="main-message">Podany identyfikator i hasło się nie zgadzają. <br/> Spróbuj ponownie.</div>
    {% endif %}

    <form class="high-res-cent" method="post" action="{% url 'django.contrib.auth.views.login' %}" >
        <div>
            {{ form.username.label_tag }}:<br/>
             {{ form.username }}
        </div>
      <div>{{ form.password.label_tag }}:<br/>
          {{ form.password }}
       </div>
        
        <div>
        <input type="checkbox"  class="clear" value="1" checked="yes " style="float: left"/> Zapamiętaj mnie<br/>
            <input type="submit"  value="Zaloguj"  />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

{% endblock %}
