{% extends "mobile/base_m.html" %}

{% block content %}

<div id="center-container">
    <h3>Przedmioty, na które jesteś zapisany:</h3>
        {% for e in enrolled %}
            <div class="course-outer">
            <a href= "/course/{{ e.course.slug }}/" >
            <div class="course-inner">{{ e.course.name }} <!--{{ e.allGroups }}--></div></a></div>
        {% empty %}
            <div style="font-style:italic;">
                Brak przedmiotów w tej kategorii.
            </div>
        {% endfor %}
    <h3>Przedmioty, na które głosowałeś:</h3>
        {% for v in voted %}
            <div class="course-outer">
            <a href= "/course/{{ v.slug }}/" >
            <div class="course-inner">{{ v.name }} </div></a></div>
        {% empty %}
            <div style="font-style:italic;">
                Brak przedmiotów w tej kategorii.
            </div>
        {% endfor %}
    <a href= "{% url 'enrollment-other' %}">
        <div class="box round">Wszystkie przedmioty</div>
    </a>
</div>

{% endblock %}
