{% extends "mobile/base_m.html" %}

{% block content %}
    <a href="{% url 'employees-list' %}"> 
        <div class="box round">Zmień na: plany pracowników </div>
    </a>
    <a href="/students/"> 
        <div class="box round"> Powrót </div>
    </a>

<div id="center-container">
    <div class="course-outer">
        <div class="course-inner">
            <b>Lista studentów {% if keyname != '' %} ({{keyname}}) {%endif %} </b>
            <hr>
            {% for s in students %}
                <div class="listpos" >
                    <a href="{% url 'student-schedule-owner' s.user.username %}" style="float:left">{{s.get_full_name}}</a><br/>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


