{% extends "enrollment/base.html" %}
{% load url from future %}
{% load compressed %}
{% load cache %}
{% load i18n %}
{% load static %}

{% block js %}
    {% compressed_js 'courses' %}
    
    <script src="{% static "js/enrollment/views/courses-list-filters-ui.js" %}"></script>
    <script src="{% static "js/common/utils.js" %}"></script>
{% endblock %}

{% block styles %}
    {% compressed_css 'main' %}
{% endblock %}


{% block filter %}
	<div id="enr-coursesList-top-bar" class="main-top-bar" style="display: none">
		<fieldset>
			<legend><span>{% trans "Filtrowanie" %}</span></legend>
			<div class="main-filter-input">
				<input class="text filter-phrase" type="text" />
				<input class="reset filter-phrase-reset" type="button" value="X" style="display:none;" />
			</div>
			
			<div id="tagsEffectsFilters" style="display: none">
                <hr class="filterListDivider">
                
                <legend><span>{% trans "Efekty kształcenia" %}</span></legend>
                <div>
                    <label style="font-size: 11px"><input id="effectsSearchEnabled" type="checkbox" onclick="onEffectsFilterToggled();">&nbsp;Włącz filtrowanie po efektach kształcenia</label>
                    <select disabled="disabled" id="enr-courseFilter-effects" class="courseListMultipleSelect" multiple>
                        {% for effect in effects %}
                            <option value="{{ effect.id }}">{{ effect.group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <hr class="filterListDivider">
                
                <span>{% trans "Tagi" %}</span>
                <div>
                    <label style="font-size: 11px"><input id="tagsSearchEnabled" type="checkbox" onclick="onTagsFilterToggled();">&nbsp;Włącz filtrowanie po tagach</label>
                    <select disabled="disabled" id="enr-courseFilter-tags" class="courseListMultipleSelect" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr class="filterListDivider">
                <p class="tagsEffectsFilterHint">
                    {% trans "Możesz zaznaczyć wiele tagów/efektów naraz &dash; użyj klawisza Ctrl (Command na Mac OS). Wyświetlone zostaną wówczas wszystkie przedmioty, które zaliczają co najmniej jeden z wybranych tagów/efektów." %}
                </p>
            </div>
            <div class="showMoreFiltersContainer">
                <a id="tagsEffectsFiltersToggle" href="javascript: void(0)" onclick="effectsTagsFiltersToggled();">
                    pokaż filtry efektów/tagów
                </a>
            </div>
		</fieldset>
		<fieldset class="course-type-filter">
			<legend><span>{% trans "Rodzaj przedmiotu" %}</span></legend>
			
			<ol class="filterList">
			{% for type in types_list %}
				<li class="checkbox">
					<input type="checkbox" checked="checked" id="filter-course-type-{{ type.id }}" {% if type.meta_type %} class="filter-course-type-meta" {% endif %} value="{{ type.id }}"/>
					<input type="hidden" class="group-id" value="{{ type.group.id }}" />
					<label for="filter-course-type-{{ type.id }}">&nbsp;{{ type.name }}</label>
				</span>
			{% endfor %}
			
			<li class="checkbox" style=""><input checked="checked" class="filter-course-type-meta" id="filter-course-type-0" value="0" type="checkbox">
			<input class="group-id" value="" type="hidden"><label for="filter-course-type-0" style="-moz-user-select: none;">&nbsp;Inne</label></li>
			</ol>
			
			<div class="showMoreFiltersContainer">
                <a id="extraCourseTypeFiltersToggle" href="javascript: void(0)">
                    pokaż więcej filtrów
                </a>
            </div>
		</fieldset>
		<fieldset id="enr-coursesList-other">
			<legend><span>{% trans "Inne" %}</span></legend>
			<span class="selectbox" style="display:block; float:none;">
				<label for="enr-courseFilter-semester">{% trans "Semestr" %}: </label>
				<select id="enr-courseFilter-semester">
					<option value="0">{# Translators: filtr przedmiotów - wybór semestru #}{% trans "dowolny" %}</option>
					{% for semester in semester_courses %}
						<option value="{{ semester.id }}" {% if semester.id == default_semester.id %} selected="selected" {% endif %}>{{ semester.year }} {{ semester.get_type_display }}{% if semester.id == default_semester.id %} (bieżący){% endif %}</option>
					{% endfor %}
				</select>
			</span>
			<hr class="filterListDivider">
			<ol class="filterList">
                {% if user.student %}
                    <li class="checkbox">
                    <input type="checkbox" id="enr-hidesigned" /><label for="enr-hidesigned">{% trans "Schowaj przedmioty, na które byłem zapisany" %}</label>
                    </li>
                {% else %}
                    <li class="checkbox" style="display: none;">
                    <input type="checkbox" id="enr-hidesigned"/><label for="enr-hidesigned">{% trans "Schowaj przedmioty, na które byłem zapisany" %}</label>
                    </li>
                {% endif %}
                
                <li class="checkbox"><input type="checkbox" id="enr-courseFilter-english" checked="checked"/><label for="enr-courseFilter-english">{% trans "Pokaż przedmioty prowadzone w j.angielskim" %}</label></li>
                <li class="checkbox"><input type="checkbox" id="enr-courseFilter-exam" checked="checked"/><label for="enr-courseFilter-exam">{% trans "Pokaż przedmioty kończące się egzaminem" %}</label></li>
                <li class="checkbox"><input type="checkbox" id="enr-courseFilter-suggestedForFirstYear" {% if user.student.is_first_year_student %}checked="checked"{% endif %}/><label for="enr-courseFilter-suggestedForFirstYear">{% trans "Pokaż tylko przedmioty zalecane dla 1 roku" %}</label></li>
            </ol>
		</fieldset>
	</div>
{% endblock %}


{% block sidebar %}
    {% cache 3600 courses_list request.user %}
	<div id="main-sidebar">
		<div id="course-list">
			<div class="semester">
				{# Translators: Tytuł nad sidebarem  #}
				<h3>{% trans "Semestr" %} <span id="current_semester_year">{{ default_semester.year }}</span>&nbsp;<span id="current_semester_type">{{ default_semester.get_type_display }}</span></h3>
				<input type="hidden" id="semester_id" value="{{ default_semester.id }}" />
				<input type="hidden" id="courses_list_json" value='{{ courses_list_json|safe }}'>
				
				<ul id="courses-list">
				</ul>
            </div>
		</div>
	</div>
    {% endcache %}
{% endblock %}
