{% extends "enrollment/courses/base.html" %}
{% load i18n %}

{% block main-subtitle %}{% trans "Przedmioty" %}{% endblock %}

{% block bread %}
<a href="/">{% trans "Strona główna" %}</a> &raquo;
<a href="/">{% trans "System Zapisów" %}</a> &raquo;
{% trans "Przedmioty" %}
    {# end bread #}
{% endblock %}

{% block topContent %}
{% include "common/course_list_filters.html" with custom_filters="enrollment/semesterChooser.html" %}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}
    <div class="alert-message info">
        <a href="#" class="close">×</a>
        <p>{% trans "Wybierz przedmiot z listy" %}</p>
    </div>
    {# end content#}
{% endblock %}
