{% load fereol_common %}

<h2>{{ course.name }}</h2>
<div class="details course-details{% if details_hidden %} hidden{% endif %}">
    <table class="table-info">
        <tr>
            <th>Rodzaj</th>
            <td>{{ course.type }}</td>
        </tr>
        {% if course.teachers_list %}
            <tr>
                <th>Prowadzący</th>
                <td>
                    {% for teacher in course.teachers_list %}
                        <a href="{% url employee-profile teacher.user.id %}"
                           class="person">{{ teacher.user.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
            </tr>
        {% endif %}
        {% if points %}
            <tr>
                <th>Punkty ECTS</th>
                <td>{{ points.value }}</td>
            </tr>
        {% endif %}
        {% if course.lectures or course.exercises or course.laboratories or course.repetitions %}
            <tr>
                <th>Liczba godzin</th>
                <td>{% if course.lectures %}{{ course.lectures }}
                    (wyk) {% if course.exercises or course.laboratories or course.repetitions or course.exercises_laboratories %}
                        +{% endif %}{% endif %}
                    {% if course.exercises_laboratories %}{{ course.exercises_laboratories }}
                        (ćw+prac) {% if course.exercises or course.laboratories or course.repetitions %}
                        +{% endif %}{% endif %}
                    {% if course.repetitions %}{{ course.repetitions }}
                        (rep) {% if course.lectures or course.laboratories %}+{% endif %}{% endif %}
                    {% if course.exercises %}{{ course.exercises }} (ćw) {% if course.laboratories %}
                        +{% endif %}{% endif %}
                    {% if course.laboratories %}{{ course.laboratories }} (prac){% endif %}</td>
            </tr>
        {% endif %}
        {% if course.tags %}
            <tr>
                <th>Tagi</th>
                <td>
                    <ul style="list-style: none;">
                    {% for tag in course.tags %}
                        <li><span class="label success">{{ tag.tag }}</span>{% if tag.weight %} - {{ tag.weight }}%{% endif %}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% if course.english %}
            <tr>
                <th>Przedmiot prowadzony w j.angielskim</th>
                <td>Tak</td>
            </tr>
        {% endif %}

        {% if course.suggested_for_first_year %}
            <tr>
                <th>Przedmiot przyjazny dla I roku</th>
                <td>Tak</td>
            </tr>
        {% endif %}
            <tr>
                <th>Egzamin</th>
                <td>{% if course.exam %}Tak{% else %}Nie{% endif %}</td>
            </tr>
    {% if course.web_page %}
            <tr>
                <th>Strona WWW</th>
                <td><a href="{{ course.web_page }}">{{ course.web_page }}</a></td>
            </tr>{% endif %}
        {% if requirements %}
            <tr>
                <th>Wymagane</th>
                <td>{{ requirements|join:", " }}</td>
            </tr>
        {% endif %}
        {% if False %}
            <tr>
                <th>Konsultacje</th>
                <td><a href="{% url course-consiltations-page course.slug %}">link</a></td>
            </tr>
            <tr>
                <th>Oddane głosy</th>
                <td> {{ course.votes_count }} <a href="{% url course-votes course.slug %}">lista</a></td>
            </tr>
        {% endif %}
        {% if t0 %}
            <tr>
                <th>Możesz zapisać się od</th>
                <td>
                {{ t0.opening_time }}
                </td>
            </tr>
        {% endif %}
    </table>

    <div class="description">
        
        <h5>Opis przedmiotu:</h5>
        {% if course.description %}
        <p>{{ course.description|safe }}</p>
        {% else %}
            <p>Brak</p>
        {% endif %}
    </div>

    <div class="footer"></div>

</div>