{% extends "enrollment/courses/base.html" %}

{% load fereol_common %}
{% load compressed %}
{% load i18n %}

{% block main-subtitle %}{{ course.name }}{% endblock %}


{% block styles %}
    {% compressed_css 'courseview' %}
{% endblock %}

{% block js %}
    {% compressed_js 'courses' %}
{% endblock %}

{% block bread %}
    <a href="/">{% trans "Strona główna" %}</a> &raquo;
    <a href="/">{% trans "System Zapisów" %}</a> &raquo;
    <a href="/">{% trans "Przedmioty" %}</a> &raquo;
    {{ course.name }}
    {% if user.is_staff %}
        <a href="{% url admin:courses_course_change course.pk %}">{% trans "Edycja" %}</a>
    {% endif %}
    {# end bread #}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}

<input type="hidden" name="ajax-course-data" value="{{ course_json }}"/>
<input type="hidden" name="ajax-set-enrolled-url" value="{% url records-set-enrolled '.json' %}"/>
<input type="hidden" name="ajax-set-pinned-url" value="{% url schedule-prototype-set-pinned %}"/>
<input type="hidden" name="ajax-set-queue-priority-url" value="{% url records-set-queue-priority '.json' %}"/>
<input type="hidden" name="priority-limit" value="{{ priority_limit }}"/>

<div id="enr-course-view">
    {% include "enrollment/courses/course_head.html" %}
    <hr>
    {% for tutorial in tutorials %}{% if tutorial.groups %}
        <div class="tutorial">
            <h2>{{ tutorial.name }} {% if user.is_staff %}&nbsp;&nbsp; 
                <small class='right'>({% blocktrans %}Studenci w grupach: {{tutorial.statistics.in_group}}, studenci bez grupy: {{tutorial.statistics.in_queue}}{% endblocktrans %})</small>
            {% endif %}</h2>
            <input type="hidden" name="tutorial-type" value="{{ tutorial.type }}"/>
            <table class="zebra-striped">
                <thead>
                <tr>
                    {# Translators: nagłówek tabeli #}
                    <th>{% trans "Prowadzący" %}</th>
                    <th class="term">{% trans "Termin zajęć" %}</th>
                    <th title="Maksymalna liczba osób, które mogą zapisać się na przedmiot" class="number">{% trans "Limit" %}</th>
                    <th title="Liczba aktualnie zapisanych osób" class="number termEnrolledHeader">{% trans "Zapisani" %}</th>
                    <th title="Liczba osób oczekujących na zapis" class="number termQueuedHeader">{% trans "Kolejka" %}</th>
                    <th class="controls"></th>
                    {% if course.is_recording_open and user.student.is_active %}
                        <th class="priority">{% trans "Priorytet" %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for t in tutorial.groups %}
                    <tr {% if t.signed %} class="signed" {% endif %} >
                        <td>
                            {% if t.teacher %}
                                <a href="{% url employee-profile t.teacher.user.id %}" class="person">
                                    {{ t.teacher.user.get_full_name }}
                                </a>
                            {% else %}
                                {% trans "(nieznany prowadzący)" %}
                            {% endif %}
                            {% if t.extra %}
                                <br/><span class="small">{{ t.extra }}</span>
                            {% endif %}
                        </td>
                        <td class="term">
                            {% for d in t.terms_list %}
                                <span>{{ d }}</span>
                            {% endfor %}
                        </td>
                        <td class="number termLimit">
                            {% if t.limit_zamawiane or t.limit_zamawiane2012 %}
                                {{ t.limit_non_zamawiane }}
                                {% if t.limit_zamawiane %} + {{ t.limit_zamawiane }}{% endif %}
                                {% if t.limit_zamawiane2012 %} + {{ t.limit_zamawiane2012 }}{% endif %}
                            {% elif t.limit_isim  %}
                                {{ t.limit_non_isim }}
                                {% if t.limit_isim %} + {{ t.limit_isim }}{% endif %}
                            {% else %}
                                {{ t.limit }}
                            {% endif %}
                        </td>
                        <td class="number termEnrolledCount">
                            {% if t.limit_zamawiane or t.limit_zamawiane2012 or t.limit_isim %}
                                {{ t.get_count_of_enrolled_non_zamawiane }}
                                {% if t.limit_zamawiane %} + {{ t.get_count_of_enrolled_zamawiane }}{% endif %}
                                {% if t.limit_zamawiane2012 %} + {{ t.get_count_of_enrolled_zamawiane2012 }}{% endif %}
                                {% if t.limit_isim %} + {{ t.enrolled_isim }}{% endif %}
                            {% else %}
                                {{ t.enrolled }}
                            {% endif %}
                        </td>
                        <td class="number termQueuedCount">{% if t.queued %}{{ t.queued }}{% else %}0{% endif %}</td>
                        <td class="controls">
                            <input type="hidden" name="group-id" value="{{ t.id }}"/>
                            <input type="hidden" name="group-json-{% now "Hms" %}" value='{{ t.serialized }}'/>
                            <input type="hidden" name="is-signed-in"
                                   value="{% if t.signed %}true{% else %}false{% endif %}"/>
                            {% if course.is_recording_open and user.student.is_active %}
                                <form action="{% url records-set-enrolled %}" method="post" class="setEnrolled">{% csrf_token %}
                                    <div>
                                        <input type="hidden" name="group" value="{{ t.id }}"/>
                                        {% if t.signed %}
                                            <input type="hidden" name="enroll" value="false"/>
                                            <button type="submit" class="btn small danger setEnrolledButton">{% trans "wypisz" %}
                                            </button>
                                            {% else %}{% if not t.is_full %}
                                                <input type="hidden" name="enroll" value="true"/>
                                                <button type="submit"
                                                        class="btn small success setEnrolledButton">{% if t.is_in_diff %}
                                                    przenieś{% else %}{% trans "zapisz" %}{% endif %}</button>
                                                {% else %}{% if t.priority %}
                                                    <input type="hidden" name="enroll" value="false"/>
                                                    <button type="submit" class="btn small danger setEnrolledButton">
                                                        {% trans "wypisz z kolejki" %}
                                                    </button>
                                                {% else %}
                                                    <input type="hidden" name="enroll" value="true"/>
                                                    <button type="submit" class="btn small success setEnrolledButton">
                                                        {% trans "zapisz do kolejki" %}
                                                    </button>
                                                {% endif %}{% endif %}{% endif %}
                                    </div></form>
                            {% else %}

                                {% if t.signed %}<form>
                                    <div>
                                        <button disabled="disabled" type="submit" class="btn small disabled setEnrolledButton">{% trans "wypisz" %}
                                        </button>
                                    </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                            {% if user.student or user.employee or user.is_staff %}
                                <a href="{% url records-group t.id %}">{% trans "lista" %}</a>
                            {% endif %}
                        </td>
                        {% if course.is_recording_open and user.student.is_active %}
                            <td class="priority">
                                {% if t.priority %}
                                    <form action="{% url records-set-queue-priority %}" method="post">{% csrf_token %}
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:-1}}"/>
                                            <input type="submit" value="-" {% if t.priority <= 1 %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                    <span>{{ t.priority }}</span>
                                    <form action="{% url records-set-queue-priority %}" method="post">{% csrf_token %}
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:1}}"/>
                                            <input type="submit" value="+" {% if t.priority >= priority_limit %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><strong>UWAGA!</strong>
                Wyższa liczba oznacza wyższa priorytet, po zapisaniu do grupy zostajemy usunięci z kolejek o niższym priorytecie.
            </p>
        </div>
    {% endif %}{% endfor %}

    {% if course.entity.ue %}
    <div class="row">
        <h6>{% trans "Przedmiot współfinansowany ze środków Unii Europejskiej w ramach Europejskiego Funduszu Społecznego" %}</h6>
        <div class="span14">
            <img style="width:640px" src="https://zamawiane.ii.uni.wroc.pl/loga_www.png">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
