{% extends "base.html" %}

{% load news_extras %}

{% block main-subsystemname %}System zapisów{% endblock %}

{% block content-class %}wide{% endblock %}

{% block main-menu %}
	<li><a href="{% url apps.news.views.latest_news 'enrollment' %}">Aktualności</a> ({% newscount "enrollment" %})</li>
	<li><a href="{% url course-list %}">Przedmioty</a></li>

        {% if user.student or user.employee %}
	<li><a href="{% url schedule-own %}">Plan zajęć</a></li>
        {% if user.student %}
	<li><a href="{% url schedule-prototype %}">Prototyp planu</a></li>
        {% endif %}
	<li><a href="{% url employees-list %}">Pracownicy</a></li>
	<li><a href="{% url students-list %}">Studenci</a></li>
        {% endif %}
{% endblock %}
