{% extends "base.html" %}

{% load news_extras %}

{% block mainstyles %}
    <link rel="stylesheet" href="/site_media/css/enrollment/main-menu-droppy.css" type="text/css" />
{% endblock %}
{% block mainscripts %}
	<script src="/site_media/js/jquery/jquery.droppy.js" type="text/javascript"></script>
	<script src="/site_media/js/enrollment/main-enrollment.js" type="text/javascript"></script>
{% endblock %}
{% block content-class %}wide{% endblock %}

{% block main-menu %}
	<li><a href="{% url offer.news.views.latest_news %}">Aktualności</a> ({% newscount %})</li>
	<li><a href="{% url subject-list %}">Przedmioty</a>
	<ul>
	<li><a href="{% url schedule-own %}">Plan Zajęć</a></li>
	<li><a href="{% url subject-list %}">Oferta Dydaktyczna</a></li>
	<li><a href="#">Zaliczone Przedmioty</a></li>
	<li><a href="{% url schedule-prototype %}">Prototyp Planu</a></li>
	</ul>
	</li>
	<li><a href="#">Pracownicy</a></li>
	<li><a href="#">Inne</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url my-profile %}">{{ user.first_name }} {{user.last_name }}</a> ({{user.student.matricula}}) </li>
	<li><a href="{% url user-logout %}">(wyloguj)</a></li>
	{% else %}
	<li><a href="{% url user-login %}">Zaloguj</a></li>
	{% endif %}
{% endblock %}
