{% extends "base.html" %}

{% load news_extras %}

{% block content-class %}wide{% endblock %}

{% block main-menu %}
	<li><a href="{% url offer.news.views.latest_news %}">Aktualności</a> ({% newscount %})</li>
	<li>Przedmioty
	<ul>
	<li><a href="{% url record-schedule %}">Plan Zajęć</a></li>
	<li><a href="{% url proposal-list %}">Oferta Dydaktyczna</a></li>
	<li><a href="#">Zaliczone Przedmioty</a></li>
	<li><a href="{% url schedule-prototype %}">Prototyp Planu</a></li>
	</ul>
	</li>
	<li><a href="#">Pracownicy</a></li>
	<li><a href="#">Inne</a></li>
	{% if user.is_authenticated %}
	<li>{{ user.first_name }} {{user.last_name }} {{user.student.matricula}} <a href="{% url user-logout %}">(wyloguj)</a></li>
	{% else %}
	<li><a href="{% url user-login %}">Zaloguj</a></li>
	{% endif %}
{% endblock %}
