{% load fereol_common %}

{% if object_list %}
<div class="od-news-list">
  {% for news in object_list %}
  <div class="od-news-item">
    <div class="od-news-header">
      <h3>{{ news.title }}<span id="news_title_category">&nbsp;{{news.category}}</span></h3>
      <span class="od-news-date">{{ news.date|date:"l, d.m.Y"|lower }}</span>
    </div>
    <div class="od-news-body">
      {{ news.body|bbcode|nl2br|safe }}
    </div>
    <div class="od-news-footer">
      {{ news.author.first_name }} {{ news.author.last_name }}
      {% if perms.news.change_news %}
      <a href="{% url news-all-edit news.id %}">Edytuj</a>
      {% endif %}
      {% if perms.news.delete_news %}
      <a href="{% url news-all-delete news.id %}">Usuń</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Nie ma ogłoszeń pasujących do zapytania.</p>
{% endif %}
