{% load fereol_common %}

{% if object_list %}
<div class="od-news-list">
  {% for news in object_list %}
  <div class="od-news-item">
    <div class="od-news-header">
      <h3>{{ news.title }}<small>&nbsp;{{news.category}}</small></h3>
      <span class="od-news-date">{{ news.date|date:"l, d.m.Y"|lower }}</span>
    </div>
    <div class="od-news-body">
      {{ news.body|safe }}
    </div>
    <div class="od-news-footer">
      {{ news.author.first_name }} {{ news.author.last_name }}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Nie ma ogłoszeń pasujących do zapytania.</p>
{% endif %}
