{% extends "offer/base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/news.css" type="text/css" />
{% endblock %}

{% block scripts %}
	{% include "common/tinymce.html" %}
{% endblock %}

{% block main-navigation %}
    <li><a href="/">Strona główna</a></li>
    <li><a href="{% url latest_news category %}">
		{% ifequal category "enrollment" %}Zapisy{% endifequal %}
        {% ifequal category "offer" %}Oferta{% endifequal %}
        {% ifequal category "grade" %}Ocena zajęć{% endifequal %}
        </a>
	</li>
	{% if adding %}
		<li>Dodaj ogłoszenie</li>
	{% else %}
		<li>Edytuj ogłoszenie</li>
	{% endif %}
{% endblock %}

{% block content-class %}narrow{% endblock %}
{% block content %}
	{% for message in messages %}
		<div class="main-message">{{ message }}</div>
	{% endfor %}
	<form action="" method="post" id="od-news-form">
		{{ form.as_p }}
		<p class="submit">
			<input type="submit" value="zapisz" />
		</p>
	</form>
{% endblock %}
