{% csrf_token %}
{{ form.non_field_errors }}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<div class="form-group">
    <div class="input-group d-flex">
        {{ form_table.rooms }}
        <div class="input-group-append" style="width: 5em;">
            <button type="button" class="select-all-button btn btn-dark w-100">
                <span style="writing-mode: tb-rl; writing-mode: vertical-rl;">
                    Zaznacz wszystkie
                </span>
            </button>
        </div>
    </div>
    {{ form.rooms.errors }}
</div>

{% if form.beg_date and form.end_date %}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">{{ form_table.beg_date.label }}</label>
        </div>
        {{ form_table.beg_date }}
        <div class="input-group-prepend input-group-append">
            <label class="input-group-text">{{ form_table.end_date.label }}</label>
        </div>
        {{ form_table.end_date }}
    </div>
</div>
{% endif %}

{% if form.week %}
<div class="form-group">
    {{ form.week }}
    {{ form.week.errors }}
</div>
{% endif %}