/**
 * Wybór przedmiotów do oferty dydaktycznej.
 */

#offerCreate table {
    width: 95%;        
    margin: 15px 0px;
    margin: auto;
}

#offerCreate table th {
    padding: 5px 2px;
    text-align: center;
    font-weight: bold;    
}

#offerCreate .cen {
    text-align: center; 
}

#offerCreate table td {
    padding: 5px 2px;
    border-top: 1px solid #cccccc;
}

#offerCreate table td select{
    height: 25px;
}

.helpers div {
    display: none;
}

.teachers div {
    display: none;
}

.teacher {
    width: 500px;
}

.helper {
    width: 500px;
}
.teacher div {
    padding: 3px 5px;
}

.helper div {
    padding: 3px 5px;
}

.selected-offer
{
    background-color:#E9F7EF;
}

.selected-vote
{
    background: #228B22;
}

#offer-button
{
    margin-top:10px;
    margin-right: 20px;
}

.state
{
    width:40px;
    text-align:center;
}

.cen a,.cen a:hover
{
    color:#000000;
}

