/**
 * Kształtowanie oferty dydaktycznej - propozycje przedmiotów
 */

#od-proposaloffer-contents
{
	border: 1px solid #cccccc;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	margin-left: 170px;
	padding: 20px 40px;
}

/*** LISTA PROPOZYCJI ***/

#od-proposaloffer-proposallist
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#od-proposaloffer-proposallist li
{
	border: 1px solid #cccccc;
	border-right: 0;
	border-bottom: 0;
	overflow: hidden;
}

#od-proposaloffer-proposallist li:first-child
{
	-moz-border-radius-topleft: 4px;
	-webkit-border-radius-topleft: 4px;
	border-radius-topleft: 4px;
}

#od-proposaloffer-proposallist li:last-child
{
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius-bottomleft: 4px;
	border-radius-bottomleft: 4px;
	border-bottom: 1px solid #cccccc;
}

#od-proposaloffer-proposallist li:first-child a
{
	-moz-border-radius-topleft: 3px;
	-webkit-border-radius-topleft: 3px;
	border-radius-topleft: 3px;
}

#od-proposaloffer-proposallist li:last-child a
{
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius-bottomleft: 3px;
	border-radius-bottomleft: 3px;
}

#od-proposaloffer-proposallist
{
	margin-top: 30px;
	width: 170px;
	float: left;
}

#od-proposaloffer-proposallist li a, #od-proposaloffer-proposallist li span
{
	padding: 2px;
	background: #dddddd;
	display: block;
	color: black;
	text-decoration: none;
}

#od-proposaloffer-proposallist li a:hover
{
	background: #eeeeee;
}

#od-proposaloffer-proposallist li.active a
{
	background: #f7f7f7;
}

/*** LISTA PROPOZYCJI - koniec ***/

/*** FORMULARZ DODAWANIA / EDYCJI ***/

#od-proposaloffer-form textarea
{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

#od-proposaloffer-form table input
{
	width: 40px; /* ilości godzin */
	margin-left: 20px;
}


#od-proposaloffer-form table .book input
{
	width: 300px;	
}

#od-proposaloffer-form table  a
{
	padding-left: 20px;	
}

#od-proposaloffer-form-title input
{
	width: 100%;
	font-size: 30px;
}

#od-proposaloffer-form-submit
{
	text-align: right;
}

/*** FORMULARZ DODAWANIA / EDYCJI - koniec ***/
