/**
 * Style odpowiadające za wygląd głównego szablonu (logo, menu, stopka itp)
 */

#id_requirements { width: 280px; height: 300px;}

#main-container
{
	width: 1000px;
	background: white;
	border: 1px solid #cccccc;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*** PASEK LOGOWANIA I NAZWY PODSYSTEMU ***/
#main-topContainer
{
	width: 996px; /* 1000px - 2 * 2px */
	margin: auto;
	padding-top: 7px;

	color: #666666;
	font-size: 12px;
}

#main-topContainer #main-systemTypeBar
{
	position: relative;
	float: left;
	font-weight: bold;
}

#main-topContainer a.unread { color: #bf3030; }
#main-topContainer a { color: #666; }

#main-topContainer #main-signinBar
{
	text-align: right;
}

#main-systemTypeBar span
{
	background: url('/static/images/main-system-selector-arrow.png') no-repeat right;
	padding-right: 13px;
}

#main-systemTypeBar ul
{
	position: absolute;
	left: -6px;
	top: -3px;
	z-index: 1000;

	list-style: none;
	
	display: none;
	opacity: .95;

	padding-bottom: 5px;
	background: #f8f8f8;
	border: 1px solid #cccccc;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: 0 0 6px rgba(204, 204, 204, 0.6);
	-webkit-box-shadow: 0 0 6px rgba(204, 204, 204, 0.6);
	box-shadow: 0 0 6px rgba(204, 204, 204, 0.6);
}

#main-systemTypeBar ul li
{
	white-space: nowrap;
}

#main-systemTypeBar ul li.current
{
	padding: 2px 5px;

	color: black;

	border-bottom: 1px dotted #cccccc;
	margin-bottom: 5px;
	cursor: default;
}

#main-systemTypeBar ul li a
{
	display: block;
	padding: 2px 5px;

	color: black;
}

/*** PASEK LOGOWANIA I NAZWY PODSYSTEMU - koniec ***/





/*** KOMUNIKATY - koniec ***/

/*** PANEL FILTROWANIA ***/

.main-top-bar
{
	background: #f8f8f8;
	border: 1px solid #cccccc;
	height: 100%;
	overflow: hidden;
}

.main-top-bar fieldset
{
	position: relative;
	float: left;

	border: 0;
	border-right: 1px dotted #cccccc;

	min-height: 30px;

	padding: 10px;
	padding-top: 20px;
	padding-bottom: 110px;
	margin: 0;
	margin-bottom: -100px;
}

.main-top-bar fieldset:last-child
{
	border: 0;
}

.main-top-bar fieldset legend
{
	position: absolute;
	height: 1px;
	font-size: 1px;
    margin-left: 0;
}

.main-top-bar fieldset legend span
{
	position: absolute;
	white-space: nowrap;
	font-size: 10px;
	top: -15px;
	left: -5px;
}

.main-top-bar fieldset > span
{
	float: left;
}

.main-top-bar .selectbox
{
	overflow: hidden;
	height: 100%;
}

/*** PANEL FILTROWANIA - koniec ***/

/*** PANEL FILTROWANIA - KOMPONENTY ***/

.main-top-bar fieldset .main-filter-input
{ /* Przy podziale na sekcje (fieldset) panel jest trochę wyższy, więc pole
   * filtra powinno być trochę niżej.
   */
	margin-top: 7px;
}


/*** PANEL FILTROWANIA - KOMPONENTY - koniec ***/

/*** STOPKA ***/

#main-footer
{
	clear: both;
	color: #999999;
	background: #f8f8f8;
	border-top: 1px solid #cccccc;
	padding: 5px 10px;
	font-size: 12px;

	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#main-footer a
{
	color: #999999;
}

#main-footer .go-mobile
{
	float: right;
}

/*** STOPKA - koniec ***/


/*** KOMUNIKAT ***/

.main-message, .main-side-message, .main-error
{
	border: 1px solid #cccccc;
	background: #FFF5B3;
	font-size: 16px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.main-message, .main-error
{
	margin: 10px;
	margin-bottom: 35px;
	padding: 20px 40px;
}

/* komunikaty w sidebarze */
.main-side-message
{
	margin: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
}

/*** KOMUNIKAT - koniec ***/


/*** KOMPONENTY ***/


input[type=checkbox].partialCheck
{
	opacity: 0.35;
}

.mcePlaceHolder{ display: inline-block !important; }

.course-type-filter { width: 300px; }
.course-type-filter > span { min-width: 150px; }

/*** KOMPONENTY - koniec ***/

/*** WIDOK PROFILU UŻYTKOWNIKA ***/
.change_profile{
	margin: 5px;
}
/*** WIDOK PROFILU UŻYTKOWNIKA  - koniec ***/


.modal.proposal-details .modal-body {
	max-height: 400px;
	overflow-y: scroll;
}

.modal.proposal-details form {
	display: inline-block;
}

.modal-header .my-close {
  color: #999999;
  font-size: 18px;
  line-height: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

form#courses-in-voting select
{
	display: block;
	height:300px;
}

.bootstrap-duallistbox-container .box1, .bootstrap-duallistbox-container .box2 {
	display: inline-block;
	margin-right:50px;
}

.topbar {
	z-index: initial;
}

#consentDialog textarea {
	width:100%;
	height:100px;
}

img#consent-icon {
	float:left;
	margin-right: 20px;
	margin-top: -15px;
}

/*** STICKY FOOTER ***/
.content-container
{
	min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.inner-content-container
{
	flex: 1 0 auto;
}

.sticky-footer
{
	padding-top: 30px;
}
/*** STICKY FOOTER - koniec ***/