{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/common/mainPage.css" type="text/css" />
{% endblock %}

 {% block main-subtitle %}Stona główna{% endblock %}

{% block bread %}
	Strona główna
{% endblock %}

{% block center %}
    <h1>Aktualności</h1>
    <div class="hero-unit">
      <h3>Ocena zajęć ruszyła</h3>
      <h5>2011-06-28 - Paweł Rychlikowski</h5>
      <p>do 21 lipca będzie można oceniać zajęcia. Bardzo zachęcam, żeby wszyscy skorzystali z tej możliwości. Udział w ocenie służy przede wszystkim anonimowemu przekazaniu władzom instytutu Waszych opinii o zajęciach, a ponieważ bardzo nam na tym zależy, dodatkowo premiujemy osoby oceniające wcześniejszym czasem otwarcia zapisów.</p>
      <p><a class="btn primary large right" href="/news/">Więcej &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row space">
      <div class="span5">
        <h2>System Zapisów</h2>
        <p>System zapisów na zajęcia w Instytucie Informatyki
				Uniwersytetu Wrocławskiego.</p>
        <p><a class="btn" href="{% url enrollment-main %}">Przejdź &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>Oferta Dydaktyczna</h2>
         <p>System kształtowania oferty dydaktycznej w Instytucie
				Informatyki.</p>
        <p><a class="btn" href="/">Wkrótce &raquo;</a></p>
     </div>
      <div class="span5">
        <h2>Ocena zajęć</h2>
        <p>System oceny zajęć w Instytucie
				Informatyki Uniwersytetu Wrocławskiego.</p>
        <p><a class="btn" href="/">Wkrótce &raquo;</a></p>
      </div>
    </div>
{% endblock %}
