/**
 * Formularz logowania (dla obu podprojektów).
 */

#common-login-form table
{
    width: 400px;
    margin: auto;
}

#common-login-form th
{
    width: 150px;
}

#common-login-form td
{
    text-align: right;
}

#common-login-form td input
{
    width: 200px;
    padding: 4px 7px;
}

#common-login-form p
{
    padding-top: 20px;
    text-align: center;
}

#common-login-form p input
{
    padding: 5px 25px;
    font-size: 16px;
}

.info-header
{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #212529;
}

p.info-header.additional-margin
{
    margin-left: 20px;
}

div.clearfix
{
    margin-bottom: 10px;
}

label.checkbox-label
{
    margin-left: 15px;
    margin-right: 5px;
}

form.additional-margin
{
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.input.additional-margin
{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.input.additional-margin
{
    padding-left: 20px;
}