/**
 * Strona główna (dla obu podprojektów).
 */

#mainPage-container
{
	width: 800px;
	margin: auto;
}

#mainPage-container div
{
	padding: 25px;
	padding-top: 15px;
}

#mainPage-container a
{
	display: block;
	font-size: 40px;
	font-variant: small-caps;
	text-shadow: 1px 1px #CCCCCC;
	color: #333333;
	padding: 10px 0;
}

.jumbotron {
	margin-top: 2rem;
}
