{% extends "grade/base.html" %}


{% block main-subtitle %}Informacje{% endblock %}
{% block grade_active %} class="active"{% endblock %}

{% block grade-info %} active {% endblock %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
<li class="breadcrumb-item active" aria-current="page">Zasady oceny</li>
{% block content %}
    <div id="mainPage-container">
      {% if grade %}
        {% load static %}
        {% load render_bundle from webpack_loader %}
        {% render_bundle "grade-katex" %}
   			<h2>Ocena Zajęć</h2>
   			<div id="od-vote-main-rules">
          <p>
            Ocena zajęć ma na celu zebranie informacji na temat zajęć prowadzonych w Instytucie Informatyki UWr. Po uzyskaniu kluczy należy je zapisać w bezpiecznym miejscu, ponieważ można je uzyskać <strong>tylko raz</strong>. Mając klucze przechodzimy do wypełnienia ankiet, które jest <strong>anonimowe</strong>, co pozwala na całkowitą szczerość. Udział nagradzany jest <strong>24 godzinnym bonusem</strong> do otwarcia zapisów w kolejnym roku akademickim.
          </p>
          <p>
            Anonimowość zapewniona jest dzięki protokołowi ślepych podpisów. Klucze można pobrać w serwisie po zalogowaniu lub używając <a style="display: inline; font-size: 100%; color: #0069d6; font-variant: normal; text-shadow: none;" href="{% static "grade/grade-client.py" %}">przykładowego klienta</a>. W komentarzach zawarte są szczegóły implementacyjne.
          </p>
          <h3>Cały proces jest przeprowadzony w następujący sposób:</h3>
          <p>
Kroki przeprowadzone są dla wszystkich dostępnych dla studenta ankiet.
          </p>
   				<ol>
                   <li><h4>Przygotowanie</h4>
                      <p>
Serwer posiada klucze RSA:
                      </p>
                      <p>
\((e, n)\) &mdash; klucz publiczny ankiety,<br/>
\((d, n)\) &mdash; klucz prywatny ankiety.
                      </p>
                      <p>
Klient będzie potrzebował klucza publicznego ankiety do zaślepiania i odślepiania kluczy do głosowania.
                      </p>
                      <p>
O kluczu do głosowania można myśleć jako o karcie do głosowania, a zaślepianiu i odślepianiu jak o wkładaniu i wyjmowaniu karty z koperty.
                      </p>
                   </li>
                   <li><h4>Tworzenie kart</h4>
                      <p>
Karta to liczba o tylu samo bitach co \(n\):
                      </p>
                      <p>
\(m\) &mdash; karta,<br/>
\(k\) &mdash; koperta.
                      </p>
                      <p>
Dodatkowo muszą spełniać warunek:
                      </p>
\[\gcd\left( k, n \right) = 1 \text{.}\]
                   </li>
                   <li><h4>Zaślepianie</h4>
                       <p>
Otrzymane karty wkładamy do kopert:
                       </p>
\[\tilde{m} \coloneqq \text{sha256}^\ast(m) \text{,}\]
\[t \coloneqq \tilde{m} \cdot {k}^{e} \bmod n \text{,}\]
                       <p>
gdzie \(\text{sha256}^\ast(x)\) to funkcja \(\text{sha256}\) hashująca reprezentację dziesiętną liczby \(x\) w ASCII, bez wiodących zer.
                       </p>
                   </li>
                   <li><h4>Podpisanie</h4>
                       <p>
Karta w kopercie jest wysłana do podpisu, pomimo że serwer wie od kogo dostał koperte, to nie zna karty \(m\). Podpisuje wykonując następującą operację:
                       </p>
\[s \coloneqq {t}^{d} \bmod n \text{.}\]
                       <p>
Tak podpisane dane są odsyłane do klienta.
                       </p>
                   </li>
                   <li><h4>Odślepianie</h4>
                       <p>
Wiedząc, że:
                       </p>
\[s = {t}^{d} = (\tilde{m} \cdot {k}^{e})^{d} =  {\tilde{m}}^{d} \cdot {k}^{e \cdot d} = {\tilde{m}}^{d} \cdot k  \pmod {n} \text{,}\]
                       <p>
obliczamy z użyciem algorytmu Euklidesa:
                       </p>
\[ \dfrac{ s }{ k } = \dfrac{ {\tilde{m}}^{d} \cdot k }{ k } = {\tilde{m}}^{d} \cdot k \cdot {k}^{-1} = {\tilde{m}}^{d}  \pmod {n} \text{.}\]
                       <p>
Wyjmujemy karty z kopert. Dzięki arytmetyce modulo, która zadziała jak kalka, karty również będą podpisane.
                       </p>
                   </li>
                   <li><h4>Wypełnianie ankiet</h4>
                       <p>
Otrzymane podpisane karty zapisane są w ustalonym formacie. Należy je zapisać, a następnie wylogować się i w dowolnym czasie, z dowolnej maszyny,  wejść do serwisu i bezpiecznie odpowiedzieć na pytania.
                       </p>
                       <p>
Ostatecznie przy wypełnianiu ankiet wysyłamy \(\tilde{m}^d\) i \(m\). Karta jest poprawna, gdy:
                       </p>
\[{(\tilde{m}^d)}^{e} = \text{sha256}^\ast(m) \text{.}\]
                       <p>
Bonus zostaje przyznany, gdy klucze do głosowania są podpisane, ponieważ nie istnieje możliwość zweryfikowania do kogo należy dany klucz.
                       </p>
                   </li>
   				</ol>
   			</div>

           {% else %}
   			<p class="disabled-link">Ocena nie jest w tej chwili aktywna.</p>
   		{% endif %}

    </div>

{% endblock %}


{% block all-content %}
    {% if grade %}
    <h3>Zasady oceny</h3>
    <div id="od-vote-main-rules">
        <h4>Cele</h4>
        <p>
            Ocena zajęć ma na celu w pełni anonimowe zebranie informacji na temat zajęć prowadzonych w Instytucie
            Informatyki UWr. Posiadając takie informacje, jesteśmy w stanie pracować nad poprawą jakości naszych
            studiów.
        </p>
    </div>

    <div id="od-vote-main-rules">
        <h4>Przebieg</h4>
        <p>
            Student po zalogowaniu powinien pobrać klucze, które umożliwią mu wypełnienie ankiet oceniających zajęcia,
            na które był zapisany w danym semestrze. Klucze (które są fragmentem tekstu) są tworzone przez aplikację
            działającą po stronie klienta i nie są w żaden sposób powiązane z użytkownikiem. Należy je skopiować z okna
            przeglądarki i zapisać w bezpiecznym miejscu. W czasie, gdy ocena jest aktywna, każdy użytkownik może,
            używając swoich kluczy, dokonać oceny (oczywiście bez logowania się do systemu). Operację tę można
            wykonywać wielokrotnie, dodając nowe oceny i ewentualnie zmieniając swoje poprzednie wpisy.
        </p>
    </div>

    <div id="od-vote-main-rules">
        <h4>Bonus</h4>
        <p>
            Każdy udział w ocenie daje *24 godzinny bonus* do otwarcia zapisów na zajęcia w kolejnym roku akademickim
            (maksymalnie 48 godzin). Ponieważ ocena jest anonimowa, nie jesteśmy w stanie zapamiętać rzeczywistego
            udziału w ocenie, pamiętamy zatem jedynie fakt pobrania kluczy -- niemniej jednak gorąco apelujemy, by
            każdy pobierający klucze rzeczywiście je wykorzystał do przeprowadzenia oceny.
        </p>
    </div>

    {% else %}
    <p class="disabled-link">Ocena nie jest w tej chwili aktywna.</p>
    {% endif %}

    {% endblock %}