/**
 * Style odpowiadające za tworzenie ankiety
 */


/*** TWORZENIE ANKIETY ***/

#create_main
{
width:300px;
background:#F8F8F8;
border: 1px solid #CCC;
padding:10px;
}

label[for="title"], label[for="description"]{
	float: left;
}

#title, #description {
	width: 80%;
	margin-left: 2em;
	padding: 5px;
}

.poll-question-answer
{
margin:10px;
}

.poll-question
{
margin:15px;
}


.poll-section-title{
    float: left;
    }
    
.remove{
    float: right;
    }

.section{
    clear: both;
    }

.section-add{
    clear: both;
    }

.chosen-sections > li{
    clear: left;
}

.chosen-sections {
    list-style: none;
    }
    
.section-content {
    clear: both;
    }
/*** TWORZENIE ANKIETY - koniec ***/

