
/*** GLOWNE MENU POLL MANAGMENT ***/

#poll-managment-menu
{
	margin: 0;
	padding: 0;
}

#poll-managment-menu ul, #poll-managment-menu ul li
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	
}

#poll-managment-menu ul
{
	text-align: center;
	padding-bottom: 5px;
}

#poll-managment-menu ul li
{
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
}

#poll-managment-menu ul a:link, #poll-managment-menu ul a:visited
{
	text-decoration: none;
	background-color: #F8F8F8;
	color: #000000;       
	border: 1px solid #cccccc;
	-moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
	border-bottom:0;
	padding: 5px 10px 5px;
}

#poll-managment-menu ul a:hover
{
	background: #eeeeee;
}

/***************************/

#grade-managment-main
{
	border: 1px solid #CCC;
        border: 1px solid #cccccc;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
	padding:10px;
}

/*** TABELA Z ANKIETAMI/SEKCJAMI ***/

#poll-managment-table {
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #cccccc;
}

#poll-managment-table a 
{
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	display: block;
}

#poll-managment-table tr
{
	background-color: #F8F8F8;
	border-top: 1px solid #cccccc;
}

#poll-managment-table tr:nth-child(even)
{
	background-color: #cccccc;
}

#poll-managment-table td, #poll-managment-table th 
{
	padding: 5px;
}

#poll-managment-table thead th
{
	background-color: #FFF5B3;
	padding: 5px;
}

#poll-managment-table .action-checkbox-column
{
	width: 30px;
	text-align: center;
}

/*** RESZTA WIDOKU ANKIET/SEKCJI ***/

.actions
{
	padding: 5px;
}

#grade-managment-main p
{
	text-align: center;
}

.poll-managment-message
{
	text-align: center;
	font-size: 20px;
	padding: 20px;
	border: 1px solid #cccccc;
        background: #FFF5B3;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;

}

#poll-managment-list
{
	margin-top: 10px;
	padding: 0;
	border: 1px solid #cccccc;
	border-bottom: 0;
	list-style: none;

}

#poll-managment-list li
{
	display: block;
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #cccccc;
	background-color: #F8F8F8;
}

#poll-managment-list li:nth-child(even)
{
	background-color: #cccccc;
}


#poll-managment-menu ul li.active_tab a
{
	background: #eeeeee;
}

.poll-type-filter {
    width: 640px;
}

.poll-type-filter div {
    width:213px; float:left;
}