{% extends "grade/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/site_media/css/grade/connections_choice.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/css/ui-progressbar.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script type="application/javascript" src="/site_media/js/jquery/jquery-ui-1.8.9.custom.min.js"></script>
<script type="application/javascript" src="/site_media/js/jquery/tooltip.jquery.js"></script>
<script src="/site_media/js/grade/ticket_create/BigInt.js" type="text/javascript"></script>
<script src="/site_media/js/grade/ticket_create/ticket_create.js" type="text/javascript"></script>
{% endblock %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url apps.news.views.latest_news 'grade' %}">Ocena zajęć</a></li>
	<li>Pobieranie biletów</li>
{% endblock %}

{% block content %}
    {% if success %} <!-- TODO: przerobić na request.user.message_set.create(message='wiadomość') -->
    <div class="main-success">{{ success }}</div>
    {% endif %}
    {% if message %} 
    <div class="main-message">{{ message }}</div>
    {% endif %}
    {% if error %} 
    <div class="main-error">{{ error }}</div>
    {% endif %}
    {% if grade %}
    <div id="progressbar"></div>
	<div id="grade-connection-choice">
	<form method="post" id="connection_choice">
	<h3>
		Pobieranie biletów na następujące ankiety:
		{% if connected %}
			<a href="link do strony pomocy o powiązaniu ankiet"><img class="tooltip" src="/site_media/images/documentinfo.png"></a>
		{% endif %}
	</h3> 
	<table id = "grade-connection-choice-form">
            {{ form.as_table }}
	</table>
        <input id="connection_choice_button" type="submit" value="Pobierz bilety">
    	</form>
	</div>

    <div>{{ p }}</div>
    <div class="data_tooltip"  style="display:none;">
        Powiązanie oceny oznacza wygenerowanie tego samego biletu dla kilku ankiet; <br>
        umożliwia to połączenie wyników ankiet jednego wypełniającego.
    </div>
    {% endif %}
{% endblock %}

