{% extends "grade/base.html" %}
{% load compressed %}
{% block styles %}
    {% compressed_css 'connectionchoice' %}
{% endblock %}

{% block js %}
    {% compressed_js 'connectionchoice' %}
{% endblock %}

{% block main-subtitle %}Pobieranie kluczy{% endblock %}

{% block bread %}
	<a href="/">Strona główna</a> &raquo;
	<a href="{% url grade-main %}">Ocena zajęć</a> &raquo;
	Pobieranie biletów
{% endblock %}

{% block content %}
    {% if success %}
    <div class="main-success">{{ success }}</div>
    {% endif %}
    {% if message %} 
    <div class="main-message">{{ message }}</div>
    {% endif %}
    {% if error %} 
    <div class="main-error">{{ error }}</div>
    {% endif %}
    {% if grade %}
    <div id="progressbar"></div>
	<div id="grade-connection-choice">
	<form method="post" id="connection_choice">
	<h3>
		Pobieranie kluczy na następujące ankiety:
		{% if connected %}
			<a href="#"><img class="tooltip" src="/site_media/images/documentinfo.png"></a>
		{% endif %}
	</h3> 
	<table id = "grade-connection-choice-form">
            {{ form.as_table }}
	</table>
        <input id="connection_choice_button" class="btn" type="submit" value="Pobierz bilety">
    	</form>
	</div>

    <div>{{ p }}</div>
    <div class="data_tooltip"  style="display:none;">
        Powiązanie oceny oznacza wygenerowanie tego samego biletu dla kilku ankiet; <br>
        umożliwia to połączenie wyników ankiet jednego wypełniającego.
    </div>
    {% endif %}
{% endblock %}

