{% extends "enrollment/base.html" %}

{% block js %}
    {{ block.super }}
	<script src="/site_media/js/components/sidebar.js" type="text/javascript"></script>
	<script src="/site_media/js/components/topBarFilter.js" type="text/javascript"></script>
	<script src="/site_media/js/common/listFilter.js" type="text/javascript"></script>
	<script src="/site_media/js/common/listFilter-courseType.js" type="text/javascript"></script>
	<script src="/site_media/js/enrollment/views/courses-list.js" type="text/javascript"></script>
{% endblock %}


{% block filter %}
	<div id="enr-coursesList-top-bar" class="main-top-bar" style="display: none">
		<fieldset>
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text filter-phrase" type="text" />
				<input class="reset filter-phrase-reset" type="button" value="X" style="display:none;" />
			</div>
		</fieldset>
		<fieldset class="course-type-filter">
			<legend><span>Rodzaj przedmiotu</span></legend>
			{% for type in types_list %}
				<span class="checkbox">
					<input type="checkbox" checked="checked" id="filter-course-type-{{ type.id }}" {% if type.meta_type %} class="filter-course-type-meta" {% endif %} value="{{ type.id }}"/>
					<input type="hidden" class="group-id" value="{{ type.group.id }}" />
					<label for="filter-course-type-{{ type.id }}">{{ type.name }}</label>
				</span>
			{% endfor %}
		</fieldset>
		<fieldset id="enr-coursesList-other">
			<legend><span>Inne</span></legend>
			<span class="selectbox">
				<label for="enr-courseFilter-semester">Semestr:</label>
				<select id="enr-courseFilter-semester">
					<option value="0">dowolny</option>
					{% for semester in semester_courses %}
						<option value="{{ semester.id }}" {% if semester.id == default_semester.id %} selected="selected" {% endif %}>{{ semester.name }}{% if semester.is_default %} (bieżący){% endif %}</option>
					{% endfor %}
				</select>
			</span>
			{% if user.student %}
                <span class="checkbox"><input type="checkbox" id="enr-hidesigned" /><label for="enr-hidesigned">Schowaj przedmioty, na które byłem zapisany</label></span>
            {% else %}
                <span class="checkbox" style="display: none;"><input type="checkbox" id="enr-hidesigned" checked="unchecked"/><label for="enr-hidesigned">Schowaj przedmioty, na które byłem zapisany</label></span>
			{% endif %}
			
		</fieldset>
	</div>
{% endblock %}


{% block sidebar %}
	<div id="main-sidebar">
		<div id="course-list">
			{% for semester in semester_courses %}
				<div class="semester">
					<h2>Semestr <span>{{ semester.name }}</span></h2>
					<input type="hidden" name="semester-id" value="{{ semester.id }}" />
					<ul class="courses-list">
						{% for course in semester.courses %}
							<li>
								<a href="{% url course-page course.slug %}" id="course-{{ course.id }}">{{ course.name }}</a>
								<input type="hidden" name="type" value="{{ course.type }}" />
								<input type="hidden" name="wasEnrolled" value="{{ course.was_enrolled }}" />
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
