{% extends "enrollment/courses/base.html" %}

{% load fereol_common %}

{% block main-subtitle %}{{ course.name }}{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="/site_media/js/components/messageBox.js" type="text/javascript"></script>

    <script src="/site_media/js/enrollment/records/course.js" type="text/javascript"></script>
    <script src="/site_media/js/enrollment/records/course-group.js" type="text/javascript"></script>
    <script src="/site_media/js/enrollment/records/epanel-course-term.js" type="text/javascript"></script>
    <script src="/site_media/js/enrollment/views/course.js" type="text/javascript"></script>
{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    <a href="/">System Zapisów</a> &raquo;
    <a href="/">Przedmioty</a> &raquo;
    <h2>{{ course.name }}</h2>
    {% if user.is_staff %}
        <a href="{% url admin:courses_course_change course.pk %}">Edycja</a>
    {% endif %}
    {# end bread #}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}

{% block messages %}{% endblock %}{% include 'common/messages.html' %}

<input type="hidden" name="ajax-course-data" value="{{ course_json }}"/>
<input type="hidden" name="ajax-set-enrolled-url" value="{% url records-set-enrolled '.json' %}"/>
<input type="hidden" name="ajax-set-pinned-url" value="{% url schedule-prototype-set-pinned %}"/>
<input type="hidden" name="ajax-set-queue-priority-url" value="{% url records-set-queue-priority '.json' %}"/>
<input type="hidden" name="priority-limit" value="{{ priority_limit }}"/>

<div id="enr-course-view">
    <div class="details course-details">
        <table>
            <tr>
                <th>Rodzaj</th>
                <td>{{ course.type }}</td>
            </tr>
            {% if course.teachers.all %}
                <tr>
                    <th>Prowadzący</th>
                    <td>
                        {% for teacher in course.teachers.all %}
                            <a href="{% url employee-profile teacher.user.id %}"
                               class="person">{{ teacher.user.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</td>
                </tr>
            {% endif %}
            {% if points %}
                <tr>
                    <th>Punkty {{ points.type_of_point.name }}</th>
                    <td>{{ points.value }}</td>
                </tr>
            {% endif %}
            {% if course.lectures or course.exercises or course.laboratories or course.repetitions %}
                <tr>
                    <th>Liczba godzin</th>
                    <td>{% if course.lectures %}{{ course.lectures }}
                        (wyk) {% if course.exercises or course.laboratories or course.repetitions or course.exercises_laboratories %}
                            +{% endif %}{% endif %}
                        {% if course.exercises_laboratories %}{{ course.exercises_laboratories }}
                            (ćw+prac) {% if course.exercises or course.laboratories or course.repetitions %}
                            +{% endif %}{% endif %}
                        {% if course.repetitions %}{{ course.repetitions }}
                            (rep) {% if course.lectures or course.laboratories %}+{% endif %}{% endif %}
                        {% if course.exercises %}{{ course.exercises }} (ćw) {% if course.laboratories %}
                            +{% endif %}{% endif %}
                        {% if course.laboratories %}{{ course.laboratories }} (prac){% endif %}</td>
                </tr>
            {% endif %}
            {% if course.english %}
                <tr>
                    <th>Przedmiot prowadzony w j.angielskim</th>
                    <td>Tak</td>
                </tr>
            {% endif %}

            {% if course.suggested_for_first_year %}
                <tr>
                    <th>Przedmiot przyjazny dla I roku</th>
                    <td>Tak</td>
                </tr>
            {% endif %}
                <tr>
                    <th>Egzamin</th>
                    <td>{% if course.exam %}Tak{% else %}Nie{% endif %}</td>
                </tr>
        {% if course.web_page %}
                <tr>
                    <th>Strona WWW</th>
                    <td><a href="{{ course.web_page }}">{{ course.web_page }}</a></td>
                </tr>{% endif %}
            {% if requirements %}
                <tr>
                    <th>Wymagane</th>
                    <td>{{ requirements|join:", " }}</td>
                </tr>
            {% endif %}
                <tr>
                    <th>Konsultacje</th>
                    <td><a href="{% url course-consiltations-page course.slug %}">link</a></td>
                </tr>
            {% if course.can_enroll_from %}
                <tr>
                    <th>Możesz zapisać się od</th>
                    <td>
                    {{ course.can_enroll_from|date:'Y.m.d H:i' }}
                    ({{ course.can_enroll_interval|timedelta }})</td>
                </tr>
            {% endif %}
        </table>

        <div class="description">
            <h5>Opis przedmiotu:</h5>

            <p>{{ course.description|safe }}</p>
        </div>

        <div class="footer"></div>

    </div>
    <hr>
    {% for tutorial in tutorials %}{% if tutorial.groups %}
        <div class="tutorial">
            <h2>{{ tutorial.name }}</h2>
            <input type="hidden" name="tutorial-type" value="{{ tutorial.type }}"/>
            <table class="zebra-striped">
                <thead>
                <tr>
                    <th>Prowadzący</th>
                    <th class="term">Termin zajęć</th>
                    <th title="Maksymalna liczba osób, które mogą zapisać się na przedmiot" class="number">Limit</th>
                    <th title="Liczba aktualnie zapisanych osób" class="number termEnrolledHeader">Zapisani</th>
                    <th title="Liczba osób oczekujących na zapis" class="number termQueuedHeader">Kolejka</th>
                    <th class="controls"></th>
                    {% if course.is_recording_open and user.student.is_active %}
                        <th class="priority">Priorytet</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for t in tutorial.groups %}
                    <tr {% if t.signed %} class="signed" {% endif %} >
                        <td>
                            {% if t.teacher %}
                                <a href="{% url employee-profile t.teacher.user.id %}" class="person">
                                    {{ t.teacher.user.get_full_name }}
                                </a>
                            {% else %}
                                (nieznany prowadzący)
                            {% endif %}
                            {% if t.extra %}
                                <br/><span class="small">{{ t.extra }}</span>
                            {% endif %}
                        </td>
                        <td class="term">
                            {% for d in t.get_all_terms|dictsort:"dayOfWeek" %}
                                <span>{{ d }}</span>
                            {% endfor %}
                        </td>
                        <td class="number termLimit">
                            {% if t.limit_zamawiane and not user.student.is_zamawiany %}
                                {{ t.limit_non_zamawiane }} + {{ t.limit_zamawiane }}
                            {% else %}
                                {{ t.limit }}
                            {% endif %}
                        </td>
                        <td class="number termEnrolledCount">
                            {% if t.limit_zamawiane and not user.student.is_zamawiany %}
                                {{ t.number_of_students_non_zamawiane }} + {{ t.number_of_students_zamawiane }}
                            {% else %}
                                {{ t.enrolled }}
                            {% endif %}
                        </td>
                        <td class="number termQueuedCount">{{ t.queued }}</td>
                        <td class="controls">
                            <input type="hidden" name="group-id" value="{{ t.id }}"/>
                            <input type="hidden" name="group-json" value='{{ t.serialized }}'/>
                            <input type="hidden" name="is-signed-in"
                                   value="{% if t.signed %}true{% else %}false{% endif %}"/>
                            {% if course.is_recording_open and user.student.is_active %}
                                <form action="{% url records-set-enrolled %}" method="post" class="setEnrolled">
                                    <div>
                                        <input type="hidden" name="group" value="{{ t.id }}"/>
                                        {% if t.signed %}
                                            <input type="hidden" name="enroll" value="false"/>
                                            <button type="submit" class="btn small danger setEnrolledButton">wypisz
                                            </button>
                                            {% else %}{% if not t.is_full %}
                                                <input type="hidden" name="enroll" value="true"/>
                                                <button type="submit"
                                                        class="btn small success setEnrolledButton">{% if t.is_in_diff %}
                                                    przenieś{% else %}zapisz{% endif %}</button>
                                                {% else %}{% if t.priority %}
                                                    <input type="hidden" name="enroll" value="false"/>
                                                    <button type="submit" class="btn small danger setEnrolledButton">
                                                        wypisz z kolejki
                                                    </button>
                                                {% else %}
                                                    <input type="hidden" name="enroll" value="true"/>
                                                    <button type="submit" class="btn small success setEnrolledButton">
                                                        zapisz do kolejki
                                                    </button>
                                                {% endif %}{% endif %}{% endif %}
                                    </div></form>
                            {% endif %}
                            {% if user.student or user.employee or user.is_staff %}
                                <a href="{% url records-group t.id %}">lista</a>
                            {% endif %}
                        </td>
                        {% if course.is_recording_open and user.student.is_active %}
                            <td class="priority">
                                {% if t.priority %}
                                    <form action="{% url records-set-queue-priority %}" method="post">
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:-1}}"/>
                                            <input type="submit" value="-" {% if t.priority <= 1 %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                    <span>{{ t.priority }}</span>
                                    <form action="{% url records-set-queue-priority %}" method="post">
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:1}}"/>
                                            <input type="submit" value="+" {% if t.priority >= priority_limit %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}{% endfor %}


</div>
{% endblock %}
