{% extends "enrollment/courses/base.html" %}

{% block main-subtitle %}Przedmioty{% endblock %}

{% block bread %}
<a href="/">Strona główna</a> &raquo;
<a href="/">System Zapisów</a> &raquo;
<h2>Przedmioty</h2>
    {# end bread #}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}
    <div class="alert-message warning">
        <a href="#" class="close">×</a>
        <p>Wybierz przedmiot z listy</p>
    </div>
    {# end content#}
{% endblock %}
