{% extends "enrollment/courses/base.html" %}

{% load fereol_common %}
{% load compressed %}

{% block main-subtitle %}{{ course.name }}{% endblock %}


{% block styles %}
    {% compressed_css 'courseview' %}
{% endblock %}

{% block js %}
    {% compressed_js 'courses' %}
{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    <a href="/">System Zapisów</a> &raquo;
    <a href="/">Przedmioty</a> &raquo;
    {{ course.name }}
    {% if user.is_staff %}
        <a href="{% url admin:courses_course_change course.pk %}">Edycja</a>
    {% endif %}
    {# end bread #}
{% endblock %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block content %}

{% block messages %}{% endblock %}

<input type="hidden" name="ajax-course-data" value="{{ course_json }}"/>
<input type="hidden" name="ajax-set-enrolled-url" value="{% url records-set-enrolled '.json' %}"/>
<input type="hidden" name="ajax-set-pinned-url" value="{% url schedule-prototype-set-pinned %}"/>
<input type="hidden" name="ajax-set-queue-priority-url" value="{% url records-set-queue-priority '.json' %}"/>
<input type="hidden" name="priority-limit" value="{{ priority_limit }}"/>

<div id="enr-course-view">

    {% include "enrollment/courses/course_head.html" %}
    <hr>
    {% for tutorial in tutorials %}{% if tutorial.groups %}
        <div class="tutorial">
            <h2>{{ tutorial.name }} {% if user.is_staff %}&nbsp;&nbsp; 
            <small class='right'>(Studenci w grupach: {{tutorial.statistics.in_group}}, studenci bez grupy: {{tutorial.statistics.in_queue}})</small>{% endif %}</h2>
            <input type="hidden" name="tutorial-type" value="{{ tutorial.type }}"/>
            <table class="zebra-striped">
                <thead>
                <tr>
                    <th>Prowadzący</th>
                    <th class="term">Termin zajęć</th>
                    <th title="Maksymalna liczba osób, które mogą zapisać się na przedmiot" class="number">Limit</th>
                    <th title="Liczba aktualnie zapisanych osób" class="number termEnrolledHeader">Zapisani</th>
                    <th title="Liczba osób oczekujących na zapis" class="number termQueuedHeader">Kolejka</th>
                    <th class="controls"></th>
                    {% if course.is_recording_open and user.student.is_active %}
                        <th class="priority">Priorytet</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for t in tutorial.groups %}
                    <tr {% if t.signed %} class="signed" {% endif %} >
                        <td>
                            {% if t.teacher %}
                                <a href="{% url employee-profile t.teacher.user.id %}" class="person">
                                    {{ t.teacher.user.get_full_name }}
                                </a>
                            {% else %}
                                (nieznany prowadzący)
                            {% endif %}
                            {% if t.extra %}
                                <br/><span class="small">{{ t.extra }}</span>
                            {% endif %}
                        </td>
                        <td class="term">
                            {% for d in t.terms_list %}
                                <span>{{ d }}</span>
                            {% endfor %}
                        </td>
                        <td class="number termLimit">
                            {% if t.limit_zamawiane and not user.student.is_zamawiany %}
                                {{ t.limit_non_zamawiane }} + {{ t.limit_zamawiane }}
                            {% else %}
                                {{ t.limit }}
                            {% endif %}
                        </td>
                        <td class="number termEnrolledCount">
                            {% if t.limit_zamawiane and not user.student.is_zamawiany %}
                                {{ t.get_count_of_enrolled_non_zamawiane }} + {{ t.get_count_of_enrolled_zamawiane }}
                            {% else %}
                                {{ t.enrolled }}
                            {% endif %}
                        </td>
                        <td class="number termQueuedCount">{% if t.queued %}{{ t.queued }}{% else %}0{% endif %}</td>
                        <td class="controls">
                            <input type="hidden" name="group-id" value="{{ t.id }}"/>
                            <input type="hidden" name="group-json-{% now "Hms" %}" value='{{ t.serialized }}'/>
                            <input type="hidden" name="is-signed-in"
                                   value="{% if t.signed %}true{% else %}false{% endif %}"/>
                            {% if course.is_recording_open and user.student.is_active %}
                                <form action="{% url records-set-enrolled %}" method="post" class="setEnrolled">{% csrf_token %}
                                    <div>
                                        <input type="hidden" name="group" value="{{ t.id }}"/>
                                        {% if t.signed %}
                                            <input type="hidden" name="enroll" value="false"/>
                                            <button type="submit" class="btn small danger setEnrolledButton">wypisz
                                            </button>
                                            {% else %}{% if not t.is_full %}
                                                <input type="hidden" name="enroll" value="true"/>
                                                <button type="submit"
                                                        class="btn small success setEnrolledButton">{% if t.is_in_diff %}
                                                    przenieś{% else %}zapisz{% endif %}</button>
                                                {% else %}{% if t.priority %}
                                                    <input type="hidden" name="enroll" value="false"/>
                                                    <button type="submit" class="btn small danger setEnrolledButton">
                                                        wypisz z kolejki
                                                    </button>
                                                {% else %}
                                                    <input type="hidden" name="enroll" value="true"/>
                                                    <button type="submit" class="btn small success setEnrolledButton">
                                                        zapisz do kolejki
                                                    </button>
                                                {% endif %}{% endif %}{% endif %}
                                    </div></form>
                            {% endif %}
                            {% if user.student or user.employee or user.is_staff %}
                                <a href="{% url records-group t.id %}">lista</a>
                            {% endif %}
                        </td>
                        {% if course.is_recording_open and user.student.is_active %}
                            <td class="priority">
                                {% if t.priority %}
                                    <form action="{% url records-set-queue-priority %}" method="post">{% csrf_token %}
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:-1}}"/>
                                            <input type="submit" value="-" {% if t.priority <= 1 %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                    <span>{{ t.priority }}</span>
                                    <form action="{% url records-set-queue-priority %}" method="post">{% csrf_token %}
                                        <div>
                                            <input type="hidden" name="id" value="{{ t.id }}"/>
                                            <input type="hidden" name="priority" value="{{ t.priority|add:1}}"/>
                                            <input type="submit" value="+" {% if t.priority >= priority_limit %}
                                                   disabled="disabled" {% endif %} />
                                        </div>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}{% endfor %}


</div>
{% endblock %}
