<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

{% load fereol_common %}
{% captureas subsystemname %}{% block main-subsystemname %}{% endblock %}{% endcaptureas %}
{% captureas subtitle %}{% block main-subtitle %}{% endblock %}{% endcaptureas %}

<head>
	<title>
		{%if subtitle %} {{ subtitle }} &ndash {% endif %}
		{%if subsystemname %} {{ subsystemname }} (Fereol) {% else %} Fereol {% endif %}
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/site_media/css/general.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" />
	{% block mainstyles %}
	{% endblock %}
	{% block styles %}
	{% endblock %}

	<link rel="shortcut icon" href="/site_media/favicon.ico" />
	
	<script src="/site_media/js/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/site_media/js/jquery/baseExtensions.js" type="text/javascript"></script>
	<script src="/site_media/js/main.js" type="text/javascript"></script>
	{% block mainscripts %}
	{% endblock %}
	{% block scripts %}
	{% endblock %}

	{% block rss %}
	{% endblock %}
</head>
<body>
	<div id="main-topContainer">
		{%if subsystemname %}
			<p id="main-systemTypeBar">{{ subsystemname }}</p>
		{% endif %}
		<p id="main-signinBar">
			{% if user.is_authenticated %}
				Jesteś zalogowany jako
				<a href="{% url my-profile %}">{{ user.first_name }} {{user.last_name }}</a>
				{% if user.student %}
					({{user.student.matricula}})
				{% endif %}
				&ndash;
				<a href="{% url user-logout %}">wyloguj</a>
			{% else %}
				Nie jesteś zalogowany
				&ndash;
				<a href="{% url user-login %}">zaloguj</a>
			{% endif %}
		</p>
	</div>
	<div id="main-container">
		<div id="main-header">
			<h1><a href="/">Fereol</a></h1>
			<div id="main-menu">
				<ul id="main-menu-list">
					{% block main-menu %}
						<li><a href="{% url latest_news 'enrollment' %}">System zapisów</a></li>
						<li><a href="{% url latest_news 'offer' %}">Kształtowanie oferty dydaktycznej</a></li>
						<li><a href="{% url grade-default %}">Ocena Zajęć</a></li>
					{% endblock %}
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="main-navigation">
			<ul>
				{% block main-navigation %}
					<li><a href="/">Strona główna</a></li>
				{% endblock %}
			</ul>
		</div>
		<div id="main-content-container" class="{% block sidebar-class %}{% endblock %}">
			{% block top-bar %}
			{% endblock %}
			{% block sidebar %}
			{% endblock %}
			<div id="main-content" class="{% block content-class %}normal{% endblock %}">
				{% block content %}
				{% endblock %}
				<div style="clear: right"></div>
			</div>
		</div>
		<div id="main-footer">
			&copy; 2010-{% now "Y" %} <a href="http://www.ii.uni.wroc.pl/">Instytut Informatyki UWr</a>
		</div>
	</div>
</body>
</html>
