<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Fereol &copy;</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/site_media/css/general.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/site_media/css/od-subjectoffer.css" type="text/css" />
{% block styles %}
{% endblock %}
{% comment %}
	<link rel="shortcut icon" href="/favicon.ico" />
{% endcomment %}
</head>
<body>
	<div id="main-container">
		<div id="main-header">
			<h1><a href="/">Fereol &copy;</a></h1>
			<ul>
				<li><a href="#">Aktualności</a> (2)</li>
				<li>Przedmioty</li>
				<li><a href="#">Pracownicy</a></li>
				<li><a href="#">Inne</a></li>
				<li>Artur Średnicki <a href="#">(wyloguj)</a></li>
			</ul>
		</div>
		<div id="main-navigation">
			<ul>
				<li><a href="#">Przedmioty</a></li>
				<li><a href="#">Plan zajęć</a></li>
				<li>Lato 2009/10</li>
			</ul>
		</div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>