{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/mainPage.css" type="text/css" />
{% endblock %}

{% block content %}
	<div id="mainPage-container">
		<div>
			<a href="/subjects/">System zapisów</a>
			<span>System zapisów na zajęcia w Instytucie Informatyki
				Uniwersytetu Wrocławskiego.</span>
		</div>
		<div>
			<a href="/news/">Kształtowanie oferty dydaktycznej</a>
			<span>System kształtowania oferty dydaktycznej w Instytucie
				Informatyki Uniwersytetu Wrocławskiego.</span>
		</div>
	</div>
{% endblock %}
