{% extends 'schedule/base.html' %}

{% block schedule_list %} class="active"{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .hidden {dislay:none!important;}
    </style>
{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
{% endblock %}

{% block content-width %}16{% endblock %}

{% block content %}
    <div class="row">
        <div class="span16">
            <h2>{% block classroomtitle %}Sale{% endblock %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span14">
            {% block classroomview %}
                <div class="row">
                <div class="span10">
                <div class="alert-message warning">
                        <a class="close" href="#">×</a>
                        <p>Wybierz salę.</p>
                      </div>
                </div>
                </div>
            {% endblock %}
        </div>
        <div class="span2">
            <h5>Sale</h5>
            <ul>
                {% for room in rooms %}
                    <li><a href="{{ room.get_absolute_url }}">{{ room.number }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
