{% extends 'schedule/classrooms.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:classrooms' %}">Sale</a></li>
{% endblock %}

{% block js %}{{ block.super }}
    <script id="calendar-data" type="application/json">
[{
    "selector":"#calendar",
    "settings":{
        "header":{
            "left":"prev,next today",
            "center":"title",
            "right":"month,agendaWeek,agendaDay"
        },

        "themeSystem":"bootstrap4",
        "allDayDefault":false,
        "buttonText":{
            "prev": "<",
            "next": ">",
            "today":"dziś",
            "month":"miesiąc",
            "week":"tydzień",
            "day":"dzień"
        },

        "locale":"pl",
        "height":"auto",

        "defaultView": "agendaWeek",
        "views":{
            "month":{
                "titleFormat":"MMMM YYYY",
                "columnFormat":"ddd",
                "timeFormat":"HH(:mm)"
            },
            "week":{
                "titleFormat":"DD MMM YYYY",
                "columnFormat":"ddd DD.MM",
                "timeFormat":"HH:mm"
            },
            "day":{
                "titleFormat":"dddd, d MMM, YYYY",
                "columnFormat":"dddd DD.MM",
                "timeFormat":"HH:mm"
            }
        },

        "minTime":"08:00:00",
        "maxTime":"22:00:00",
        "slotLabelFormat":"HH(:mm)",
        "allDaySlot":false,

        "events": "{% url "events:classroom_ajax" room.slug %}"
    }
}]
    </script>
    {% render_bundle "fullcalendar" %}
{% endblock %}

{% block classroomtitle %}Sala {{ room.number }}{% endblock %}

{% block classroomview %}
    <table class="table border">
    	<tbody>
            <tr>
        		<th width="12%" class="text-light bg-info">Piętro</th>
        		<td width="*">{{ room.get_floor_display }}</td>
        		<th width="12%" class="text-light bg-info">Pojemność</th>
        		<td width="20%">{{ room.capacity }}</td>
    	    </tr>
    	    <tr>
                <th class="text-light bg-info">Typ</th>
                <td colspan="3">{{ room.get_type_display }}</td>
            </tr>
    		<tr>
                <th class="text-light bg-info">Opis</th>
                <td colspan="3">
                    {% if room.description %}{{ room.description }}{% else %}Brak{% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div id='calendar'></div>
{% endblock %}
