{% extends "schedule/base.html" %}
{% load url from future %}

{% block conflicts_manage %} class="active"{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="/site_media/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css"
          media="screen,projection"/>
    <link href="/site_media/js/timepicker/jquery.ui.timepicker.css" rel="stylesheet" type="text/css"
          media="screen,projection"/>
<style>
  #days-list { list-style: none; }
  .rooms-list { list-style: disc; }
  .head-list { list-style: circle; }
  .conflicts-list { list-style: none !important; margin-left:0; }

</style>
{% endblock %}


{% block js %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script type="text/javascript" src="/fereol_admin/jsi18n/"></script>
  <script type="text/javascript" src="/site_media/js/timepicker/jquery.ui.timepicker.js"></script>
  <script type="text/javascript" src="/site_media/js/timepicker/i18n/jquery.ui.timepicker-pl.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery/jquery.smooth-scroll.js"></script>
  <script>
  var LoadPickers = function () {
      $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
    }
  window.onload = LoadPickers;

  </script>
{% endblock %}

{% block bread %}
<a href="/">Strona główna</a> &raquo;
<a href="{% url 'events:classrooms' %}">Sale</a> &raquo;
{% endblock %}

{% block content %}
<div class="row">
  <div class="span16">
    <h2>{{ title }}</h2>
  </div>
  <form action="{% url 'events:conflicts' %}" method="GET" class="form-stacked">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    Od: {{ form.beg_date }}
    Do: {{ form.end_date }}
    <input type="submit" value="Szukaj" class="btn success">
  </form>
  <ul id="days-list">
    {% for day, rooms_data in terms.items %}
    <li><span><h4>{{ day|date:"l, j E Y" }}</h4></span>
      <ul class="rooms-list">
        {% for room, data in rooms_data.items %}
        <li>
          <a href={{ room.get_absolute_url }}>Sala {{ room.number }}</a>
          <ul class="head-list">
          {% for _, conflict_data in data.items %}
            <li>{{ conflict_data.head.pretty_print|safe }}</br>
            <span><i>konflikt z:</i></span>
            <ul class="conflicts-list">
              {% for conflict in conflict_data.conflicted %}
              <li> {{ conflict.pretty_print|safe }} </li>
              {% endfor %}
          </li>
          </ul>
        </li>
        {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

