{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//PL">

<html xmlns:pdf="">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    </head>
    <style>
        @font-face { font-family: Helvetica; src: url("/usr/share/fonts/truetype/dejavu/DejaVuSerif.ttf");}
        html {
            font-family: Helvetica, sans-serif;
            font-size: 8pt;
            }
        th { font-size: 12px;}
        table { border: 1px #000000 solid;}
        td, th { text-align: left; padding-top: 3px; padding-left: 3px;}
    </style>
    <body>
    <h1>{% trans "Raport sal" %}</h1>

    <h2>{% trans "Zakres" %}: {{ beg_date|date:"Y-m-d" }} - {{ end_date|date:"Y-m-d" }}</h2>

    {% for room, terms_list in events %}
      <h3>{% trans "Sala" %}: {{ room.number }}</h3>
      {% if terms_list %}
        <table>
          <thead>
            <tr>
              <td>{% trans "Godziny" %}</td>
              <td>{% trans "Wydarzenie" %}</td>
              <td>{% trans "Autor" %}</td>
            </tr>
          </thead>
          <tbody>
            {% for term in terms_list %}
            <tr>
              <td>{{term.day|date:"Y-m-d"}} {{term.start}} - {{term.end}}</td>
              {% with term.event.title.strip as evt_title %}
                <td>
                {% if evt_title|length > 0 %}
                  {{ evt_title }}
                {% else %}
                  &lt;brak nazwy&gt;
                {% endif %}
                </td>
              {% endwith %}
              <td>{{term.event.author.get_full_name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{% trans "Brak wydarzeń w tej sali." %}</p>
      {% endif %}
    {% endfor %}

    </body>
</html>
