{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//PL">

<html xmlns:pdf="">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    </head>
    <style>
        @font-face { font-family: Helvetica; src: url("/usr/share/fonts/truetype/ttf-dejavu/DejaVuSerif.ttf");}
        html {
            font-family: Helvetica, sans-serif;
            font-size: 8pt;
            }
        th { font-size: 12px;}
        table { border: 1px #000000 solid;}
        td, th { text-align: left; padding-top: 3px; padding-left: 3px;}
    </style>
    <body>
    <h2>Rooms report</h2>

    <h3>Time range: {{ beg_date|date:"Y-m-d" }} - {{ end_date|date:"Y-m-d" }}</h3>

    {% for room, terms_list in events.items %}
      <p>Room: {{ room.number }}</p>
      {% if terms_list %}
        <table>
          <thead>
            <tr>
              <td>Hours</td>
              <td>Event</td>
              <td>Author</td>
            </tr>
          </thead>
          <tbody>
            {% for term in terms_list %}
            <tr>
              <td>{{term.day|date:"Y-m-d"}} {{term.start}} - {{term.end}}</td>
              <td>{{term.event.title}}</td>
              <td>{{term.event.author}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No events in this room.</p>
      {% endif %}
    {% endfor %}

    </body>
</html>
