{% extends 'schedule/base.html' %}
{% load static %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
{% endblock %}

{% block scedule_events %} class="active"{% endblock %}

{% block js %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "js/fullcalendar/fullcalendar.css" %}">
    <script type="text/javascript" src="{% static "js/fullcalendar/fullcalendar.js" %}"></script>
    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                {#               defaultView: 'BasicWeek',#}
                header:{
                    left:'prev,next today',
                    center:'title',
                    right:'month,agendaWeek,agendaDay'
                },

                {##}
{#                               defaultView: 'agendaWeek',#}

                allDayDefault:false,
                buttonText:{
                    prev:'&nbsp;&#9668;&nbsp;',
                    next:'&nbsp;&#9658;&nbsp;',
                    prevYear:'&nbsp;&lt;&lt;&nbsp;',
                    nextYear:'&nbsp;&gt;&gt;&nbsp;',
                    today:'dziś',
                    month:'miesiąc',
                    week:'tydzień',
                    day:'dzień'
                },
                monthNames:['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec',
                    'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                monthNamesShort:['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip',
                    'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'],
                dayNames:['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
                dayNamesShort:['Ni', 'Pn', 'Wt', 'Śr', 'Cz', 'Pi', 'So'],
                firstHour:8,
                firstDay:1,
                allDaySlot:false,

                // time formats
                titleFormat:{
                    month:'MMMM yyyy',
                    week:"d {'&#8212;' d} MMM[ yyyy]{ [ MMM] yyyy}",
                    day:'dddd, d MMM, yyyy'
                },

                columnFormat:{
                    month:'ddd',
                    week:'ddd d.M',
                    day:'dddd d.M'
                },
                timeFormat:{ // for event elements
                    '':'HH(:mm)', // default

                    agenda:'HH:mm{ - HH:mm}'
                },
                minTime:8,
                maxTime:22,

                axisFormat:'HH(:mm)',
                events: '{% url 'events:events_ajax' %}'
            });

        });

    </script>{% endblock %}

{% block content-width %}16{% endblock %}

{% block content %}
    <div class="row">
        <div class="span15">
            <h2>Wydarzenia</h2>
        </div>
        <div class="span1" style="text-align: right;">
            <a href="{% url 'events:events_feed' %}"><img src="{% static "feed-icon.png" %}" alt="RSS"></a>
        </div>
    </div>
    <div class="row">

        <div class="span16">
        <div class="alert-message info">
                <a class="close" href="#">×</a>
                <p>Przegląd zgłoszonych wydarzeń - kliknij na wydarzenie w kalendarzu, by zobaczyć jego opis.</p>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="span16">
                <div id='calendar'></div>
        </div>
    </div>
{% endblock %}
