

/*** ROZDZIELCZOSCI ***/
#main-header{	width:100%;}


@media all and (min-device-width: 128px)  {
	#main-container{
		width:128px;
	}

	.high-res-cent{
		width:100%; 
		padding: 10% 0% 20% 0%; 
	}
	#login-message{ content: "Spróbuj ponownie."}
	.version-info{ content: "128x160";}
	
	div{ font-size: 7px; }
}

@media all  and (min-device-width: 176px) {
	#main-container{
		width:176px;
	}

	
	.version-info{content: "176x220";}
	
	div{ font-size: 8px; }
}

@media all and (min-device-width: 240px)  {
	#main-container{
		width:240px;
	}

	#login-message{ font-weight: bold; }
	.version-info{content: "240x320";}
	
	div{ font-size: 11px; }
	input{ font-size: 11px; }
}


/* ---- */ 

@media all and (min-device-width: 320px)  {
	#main-container{
		width:320px;
	}

	.high-res-cent{
		width:60%; padding: 10% 20% 20% 20%; 
	}
	
	.version-info{content: "320x480";}
	
	div{ font-size: 11px; }
	input{ font-size: 11px; }
	input[type=text], input[type=password], textarea{height: 25px;}
}

@media all and (min-device-width: 480px)  {
	#main-container{
		width:480px;
	}

	.version-info{content: "480x720";}
	
	div{ font-size: 16px; }
	input{ font-size: 16px; }
	input[type=text], input[type=password], textarea{height: 30px;}

}

@media all and (min-device-width: 640px) {
	#main-container{
		width:640px;
	}

	.version-info{content: "640x960";}
	
	div{ font-size: 22px; }
	input{ font-size: 22px; }
	input[type=text], input[type=password], textarea{height: 40px;}

}