/**
 * Style odpowiadające za wygląd głównego szablonu (logo, menu, stopka itp)
 */

#main-container
{
	width: 1000px;
	background: white;
	border: 1px solid #cccccc;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*** NAGŁÓWEK ***/

#main-header
{
	position: relative;
	min-height: 32px;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
	background: #fff5b3 url('/site_media/images/top-bg.png') repeat-x;

	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#main-header h1
{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 28px;
}

#main-header h1 a
{
	color: black;
	text-decoration: none;
	float: left;
	text-shadow: 1px 1px #CCCCCC;
}

#main-menu
{
	float: right;
	width: 800px;
	text-align: right;
	padding: 6px 10px;
}

#main-header ul, #main-header li
{
	margin: 0;
	padding: 0;
}

#main-header li
{
	display: inline;
}

#main-header li:before
{
    content: '| ';
    padding: 10px;
    font-size: 16px;
	color: #cccccc;
}

#main-header li:first-child:before
{
	content: '';
	padding: 0;
}

#main-header ul
{
	width: 800px;
}

/*** NAGŁÓWEK - koniec ***/

/*** BREADCRUMBS (pasek nawigacyjny) ***/

#main-navigation
{
	border-bottom: 1px solid #cccccc;
	padding: 5px;
	background: #f8f8f8;
}

#main-navigation ul, #main-navigation li
{
	margin: 0;
	padding: 0;
	display: inline;
}

#main-navigation li:before
{
	content: '» ';
	padding-left: 5px;
	padding-right: 5px;
}

#main-navigation li:first-child:before
{
	content: '';
	padding: 0;
}

/*** BREADCRUMBS - koniec ***/

#main-content-container
{
	position: relative;
}

/*** ZAWARTOŚĆ ***/

#main-content
{
	position:relative;
	background: white;
}


#main-content-left 
{
	position:absolute;
	width:30%;
	height: 100%;
	top:0; 
	left:0;
}

#main-content-right 
{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom:10px;
	width:70%;
	border-left: 2px solid black;
}

#main-content.narrow
{
	padding: 70px 150px;
}

#main-content.normal
{
	padding: 70px;
}

#main-content.wide
{
	padding: 5px;
}

/*** ZAWARTOŚĆ - koniec ***/


/*** SIDEBAR ***/

#main-sidebar
{
	position: relative;
	width: 250px;
}

#main-content-container.sidebar-visible.sidebar-right,
#main-content-container.sidebar-visible.sidebar-left
{
	background: #f8f8f8;
}

#main-content-container.sidebar-visible.sidebar-right #main-sidebar
{
	float: right;
}

#main-content-container.sidebar-visible.sidebar-left #main-sidebar
{
	float: left;
}

#main-content-container.sidebar-visible.sidebar-right #main-content
{
	margin-right: 250px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #cccccc;
}

#main-content-container.sidebar-visible.sidebar-left #main-content
{
	margin-left: 250px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #cccccc;
}

a.main-sidebar-toggle-button
{
	border: 1px solid #cccccc;

	display: block;
	width: 16px;
	height: 16px;
	padding: 2px;

	background: white;
	text-decoration: none;
	color: black;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}

#main-content-container.sidebar-visible.sidebar-right a.main-sidebar-toggle-button.hide,
#main-content-container.sidebar-left a.main-sidebar-toggle-button.show
{
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	border-left: 0;
}

#main-content-container.sidebar-visible.sidebar-right a.main-sidebar-toggle-button.hide
{
	position: absolute;
	top: 20px;
	left: 0;
}

#main-content-container.sidebar-visible.sidebar-left a.main-sidebar-toggle-button.hide
{
	position: absolute;
	top: 20px;
	left: 229px;
}

#main-content-container.sidebar-right a.main-sidebar-toggle-button.show,
#main-content-container.sidebar-visible.sidebar-left a.main-sidebar-toggle-button.hide
{
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	border-right: 0;
}

#main-content-container.sidebar-right a.main-sidebar-toggle-button.show
{
	position: absolute;
	top: 20px;
	left: 979px;
}

#main-content-container.sidebar-left a.main-sidebar-toggle-button.show
{
	position: absolute;
	top: 20px;
	left: 0;
}

a.main-sidebar-toggle-button:hover
{
	background: #dddddd;
}

#main-sidebar h2
{
	padding: 15px;
	padding-left: 25px;
	padding-right: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#main-sidebar ul
{
	padding-left: 25px;
}

/*** SIDEBAR - koniec ***/


/*** KOMUNIKATY ***/

.message {
    text-align: center;
    font-weight: bold;
    color: red;
    margin: 10px 0px;    
}

/*** KOMUNIKATY - koniec ***/

/*** PANEL FILTROWANIA ***/

.main-top-bar
{
	background: #f8f8f8;
	border-bottom: 1px solid #cccccc;
	height: 100%;
	overflow: hidden;
}

.main-top-bar fieldset
{
	position: relative;
	border: 0;
	float: left;
	border-right: 1px solid #cccccc;
	margin: 0;
	padding: 10px;
	display: block;

	min-height: 30px;

	padding-top: 20px;
}

.main-top-bar fieldset:last-child
{
	border: 0;
}

.main-top-bar fieldset legend
{
	position: absolute;
	height: 1px;
	font-size: 1px;
}

.main-top-bar fieldset legend span
{
	position: absolute;
	white-space: nowrap;
	font-size: 10px;
	top: -15px;
	left: -5px;
}

.main-top-bar fieldset > span
{
	float: left;
}

/*** PANEL FILTROWANIA - koniec ***/

/*** PANEL FILTROWANIA - KOMPONENTY ***/

.main-filter-input .text
{
	border: 1px solid #999999;
	height: 20px;
	float: left;
	padding-left: 20px;
	background: white url('/site_media/images/search-ico.png') no-repeat 3px 4px;

	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.main-filter-input .text:focus
{
	outline: 1px solid #A8D6FF;

	-moz-outline-radius: 5px 0 0 5px;
	-webkit-outline-radius: 5px 0 0 5px;
	outline-radius: 5px 0 0 5px;
}

.main-filter-input .reset
{
	border: 1px solid #999999;
	height: 24px;
	background-color: white;
	font-weight: bold;

	position: relative;
	left: -5px;

	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.main-filter-input .reset:hover
{
	background-color: #cccccc;
	cursor: pointer;
}

/*** PANEL FILTROWANIA - KOMPONENTY - koniec ***/

/*** STOPKA ***/

#main-footer
{
	clear: both;
	color: #999999;
	background: #f8f8f8;
	border-top: 1px solid #cccccc;
	padding: 5px 10px;
	font-size: 12px;

	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#main-footer a
{
	color: #999999;
}

/*** STOPKA - koniec ***/
