/**
 * Style odpowiadające za wygląd głównego szablonu (logo, menu, stopka itp)
 */

#main-container
{
	width: 1000px;
	background: white;
	border: 1px solid #cccccc;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*** NAGŁÓWEK ***/

#main-header
{
	position: relative;
	height: 32px;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
}

#main-header h1
{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 28px;
}

#main-header h1 a
{
	color: black;
	text-decoration: none;
}

#main-menu
{
	position: absolute;
	top: 11px;
	left: 250px;
	width: 740px;
	text-align: right;
}

/* menu list styled in droppy.css
#main-header ul, #main-header li
{
	margin: 0;
	padding: 0;
}

#main-header li
{
	display: inline;
}

#main-header li:before
{
	content: '| ';
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

#main-header li:first-child:before
{
	content: '';
	padding: 0;
}

#main-header ul
{
	position: absolute;
	top: 11px;
	left: 250px;
	width: 740px;
	text-align: right;
}*/

/*** NAGŁÓWEK - koniec ***/

/*** BREADCRUMBS (pasek nawigacyjny) ***/

#main-navigation
{
	border-bottom: 1px solid #cccccc;
	padding: 5px;
}

#main-navigation ul, #main-navigation li
{
	margin: 0;
	padding: 0;
	display: inline;
}

#main-navigation li:before
{
	content: '» ';
	padding-left: 5px;
	padding-right: 5px;
}

#main-navigation li:first-child:before
{
	content: '';
	padding: 0;
}

/*** BREADCRUMBS - koniec ***/

/*** ZAWARTOŚĆ ***/

#main-content
{
	position:relative;
}


#main-content-left 
{
	position:absolute;
	width:30%;
	height: 100%;
	top:0; 
	left:0;
}

#main-content-right 
{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom:10px;
	width:70%;
	border-left: 2px solid black;
}

#main-content.narrow
{
	padding: 70px 150px;
}

#main-content.normal
{
	padding: 70px;
}

#main-content.wide
{
	padding: 5px;
}

/*** ZAWARTOŚĆ - koniec ***/


/*** KOMUNIKATY ***/

.message {
    text-align: center;
    font-weight: bold;
    color: red;
    margin: 10px 0px;    
}
