/**
 * Aktualności
 */

.od-news-item
{
    margin-bottom: 50px;
}

.od-news-header
{
    width: 100%;
    text-align: right;
}

.od-news-header h2
{
    float: left;
}

.od-news-date
{
    height: 1.5em;
    padding-right: 15px;
    vertical-align: sub;
}

.od-news-body
{
    clear: both;
    padding-top: 10px;
}

#od-news-search-form {
    float:left;
}

.od-news-navigator
{
    text-align: right;
    margin-right: 30px;
}

.od-news-navigator a
{
    border-left: solid 2px #333;
    padding-left:  6px;
    padding-right: 6px;
}

.od-news-navigator :first-child
{
    border-left: none;
}

#od-news-rss-icon
{
    border-left: none;
}

.od-news-footer
{
    margin-top: 1em;
    text-align: left;
}

#od-news-top-bar {
    border-bottom: 2px solid #262626;
    padding: 15px;
}