/**
 * Kształtowanie oferty dydaktycznej - propozycje przedmiotów
 */

#od-subjectoffer-contents
{
	border: 2px solid #262626;

	margin-left: 171px;
	padding: 20px 40px;
}

/*** LISTA PROPOZYCJI ***/

#od-subjectoffer-subjectlist, #od-subjectoffer-subjectlist li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #262626;
	border-right: 0;
}

#od-subjectoffer-subjectlist
{
	margin-top: 30px;
	width: 170px;
	float: left;
}

#od-subjectoffer-subjectlist li a, #od-subjectoffer-subjectlist li span
{
	padding: 2px;
	background: #cfcfcf;
	display: block;
	color: black;
	text-decoration: none;
}

#od-subjectoffer-subjectlist li a:hover
{
	background: #dddddd;
}

#od-subjectoffer-subjectlist li.active span
{
	background: #f7f7f7;
}

/*** LISTA PROPOZYCJI - koniec ***/

/*** FORMULARZ DODAWANIA / EDYCJI ***/

#od-subjectoffer-form textarea
{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

#od-subjectoffer-form table input
{
	width: 40px; /* ilości godzin */
	margin-left: 20px;
}

#od-subjectoffer-form-title input
{
	width: 100%;
	font-size: 30px;
}

#od-subjectoffer-form-submit
{
	text-align: right;
}

/*** FORMULARZ DODAWANIA / EDYCJI - koniec ***/
