/**
 * Schedule styles
 */

#schedule-wrapper {  margin:auto; }

.schedule-table-simple 
	{ border-collapse:collapse; margin:auto; width:700px; border-collapse:collapse; }
	
.schedule-table-simple, .schedule-table-simple td, .schedule-table-simple th
	{ border:2px solid black; } 
	
.schedule-table-simple th
	{ background: #C0C0C0; }
	
.schedule-table-simple tr.even 
	{ background: #CDCDCD; }
