[Unit]
Description=Zapisy gunicorn daemon
After=network.target

[Service]
Restart=always
Type=simple
User={{ deploy_user }}
Group=www-data
WorkingDirectory=/home/{{ deploy_user }}/deploy/current/zapisy
Environment=NEW_RELIC_ENVIRONMENT={{ deploy_env }}
Environment=NEW_RELIC_CONFIG_FILE=/home/{{ deploy_user }}/newrelic.ini
ExecStart=/home/{{ deploy_user }}/deploy/current/env3/bin/newrelic-admin run-program \
  /home/{{ deploy_user }}/deploy/current/env3/bin/gunicorn \
    --name "zapisy" \
    --workers {{ nproc_out.stdout|int * 2 + 1 }} \
    --bind=unix:/home/{{ deploy_user }}/deploy/current/env3/run/gunicorn.sock zapisy.wsgi:application \
    --log-level=debug \
    --log-file=-

[Install]
WantedBy=multi-user.target
