{% extends "offer/base.html" %}

{% block main-subtitle %}Podsumowanie głosowania{% endblock %}

{% block offer_menu_vote %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'vote-main' %}">Głosowanie</a></li>
    <li class="breadcrumb-item"><a href="{% url 'vote-summary' %}">Podsumowanie</a></li>
    <li class="breadcrumb-item active">{{ proposal.name }}</li>
{% endblock bread %}


{% block all-content %}
        <h1>Podsumowanie głosowania</h1>
        <h2>{{ proposal.name }}</h2>
        <p class = "text-muted">
            Na ten przedmiot zagłosowało osób: <strong>{{ votes|length }}</strong>
            oddając punktów: <strong>{{ total }}</strong>.
        </p>
        {% if votes %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Numer indeksu</th>
                        <th title="Liczba punktów, jakie student przeznaczył na ten przedmiot">Punkty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vote in votes %}
                        <tr>
                            <td>{% if user.employee or vote.student.consent_granted %}{{ vote.student.user.first_name }}{% endif %}</td>
                            <td>{% if user.employee or vote.student.consent_granted %}{{ vote.student.user.last_name }}{% endif %}</td>
                            <td>{{ vote.student.matricula }}</td>
                            <td class="number">{{ vote.val }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.user.is_staff or request.user.employee %}
                <div class="d-print-none">
                    <h5>Wyślij wiadomość do głosujących</h5>
                    <ul>
                        <li><a href="mailto:{{ mailto_voters }}">udostępniając adresy mailowe studentów</a></li>
                        <li><a href="mailto:{{ mailto_voters_bcc }}">ukrywając adresy mailowe studentów</a></li>
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning">Nikt nie zagłosował na ten przedmiot.</div>
        {% endif %}
    </div>
{% endblock all-content %}
