[Unit]
Description=Start rqworker dispatch-notifications

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/zapisy/
ExecStart=/home/vagrant/env3/bin/python3 /vagrant/zapisy/manage.py rqworker dispatch-notifications
Type=simple

[Install]
WantedBy=vagrant.mount