[Unit]
Description=Yarn devw service
After=yarn.service

[Service]
User=vagrant
Group=vagrant
TimeoutStartSec=900
WorkingDirectory=/vagrant/zapisy/
ExecStart=/usr/local/bin/yarn devw
Type=simple

[Install]
WantedBy=vagrant.mount vagrant-zapisy-node_modules.mount