#employees-list h2, #students-list h2 { margin: 20px 10px; padding: 0;}
#employees-list ul, #students-list ul {list-style: none; margin: 10px; }
#employees-list li, #students-list li { margin: 5px 0; }

.profile-loading { 
	position: absolute; top:0; left:0; width:100%; height:100%; min-height:32px; 
	background: white url(../../../images/loading-black.gif) no-repeat scroll right top; 
	opacity: 0.5; filter: alpha(opacity = 50); zoom: 1; }

.student-loading {
	background: white url(../../../images/loading-black.gif) no-repeat scroll right top;
}

.employee-loading {
	background: white url(../../../images/loading-black.gif) no-repeat scroll right top;
}

#user-alpha-list ul {
    float: right;
    list-style: none outside none;
    margin: 10px;
}


#user-list-menu > li
{
    float:left;
    margin-left: 10px
}

#user-list-menu a
{
    text-decoration:none;
}

.active {
    color:#000000;
}