
#box
{
    bottom: 0;
    left: 50%;
    overflow-y: auto;
    padding: 0;
    padding-bottom: 100px;
    position: relative;
    top: 150px;
    width: 650px;
    margin-left: -250px;
    margin-top: -75px;
    margin-bottom: 100px;
    z-index:100;
    outline:none;
}

#box-content
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:  15px;
    padding-bottom: 15px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #FFF;
     
}

#screen
{
    display:none;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;

    top: 0;
    width: 100%;
    z-index:99;
}

#backscreen
{
    background: #000;
    position:fixed;
    left: 0;
    top: 0;
    z-index:9;
    height:100%;
    width:100%;

    float: left;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    display:none;
}

#box-belt
{
    background-color: #FFF5B3;
    padding: 5px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    min-height:23px;
}

#box-button
{
    display:inline;
    position:absolute;
    right:5px
}

#box-title-container
{
    display:inline;
    position:absolute;
    left:5px;
    float:left;
}
