/**
 * Style dotyczące osadzenia terminów przedmiotów w komponencie terminarza.
 */

#schedule-legend .pinned,
.schedule .pinned,
.schedule .pinned .classroom,
.schedule .pinned .type
{
    background: #EFF0F0 !important;
}

#schedule-legend .enrolled,
.schedule .enrolled,
.schedule .enrolled .classroom,
.schedule .enrolled .type
{
    background: #E0EEEE !important; /* wheat */
}

#schedule-legend .queued,
.schedule .queued,
.schedule .queued .classroom,
.schedule .queued .type
{
    background: #f5e5c4 !important;
}

.schedule .full
{
	background-image: url('/site_media/images/schedule-warning.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.schedule .term .name
{
	display: block;
	padding: 2px;
	padding-bottom: 0;

	font-size: 14px;
}

.schedule .term .teacher
{
	padding: 2px;
	padding-top: 0;

	font-size: 10px;
}


.schedule .term .classroom
{
	position: absolute;
	display: block;
	padding: 2px;
	padding-top: 0;
	line-height: 100%;

	font-size: 10px;
	text-align: right;
	white-space: nowrap;
	z-index: 2;

	background: #F8F8F8;
	border-radius: 3px;
}

.schedule .term .type
{
	position: absolute;
	display: block;
	padding: 2px;
	padding-top: 0;
	line-height: 100%;

	font-size: 10px;
	color: #666666;
	z-index: 1;
	background: #F8F8F8;

	border-radius: 3px;
}

.schedule .term .controls
{
	position: absolute;
	background: white;
	top: 0;
	left: 0;
	cursor: default;
    width: auto;

	border: 1px solid #666666;
	border-top: 0;
	border-left: 0;
	border-radius: 4px 0;

	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.schedule .term .controls span, .legend-box.icons
{
	display: block;
	width: 12px;
	height: 12px;
	margin: 3px;

	overflow: hidden;
	cursor: pointer;
	background: no-repeat;
	background-image: url('/site_media/images/schedule-prototype-controls.png');
}

.legend-box.icons {
    border: 0;
}

.legend-box.icons.signIn
{
	background-position: 0 0;
}

.legend-box.icons.signOut
{
    background-position: -12px 0;
}

.legend-box.icons.pinIn
{
    background-position: 0 -12px;
}

.legend-box.icons.pinOut
{
	background-position: -12px -12px;
}

.schedule .term .controls span.pinUnpin,
{
	background-position: 0 -12px;
    float: left;
}

.schedule .term .controls div.loadingIndicator
{
	display: block;
	width: 16px;
	height: 16px;
	margin: 1px;
    float:left;
	background: no-repeat url('/site_media/images/loading-small.gif');
}

/*******************************************************************************
 * Popup.
 ******************************************************************************/

.schedule .termPopupContents
{
	width: 300px;
	padding: 10px;
	color: black;
}

.schedule .termPopupContents p,
.schedule .termPopupContents h2
{
	line-height: 125%;
	margin-top: 1px;
	margin-bottom: 1px;
}

.schedule .termPopupContents .name
{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}

.schedule .termPopupContents .enrolledCount img
{
	vertical-align: middle;
}

.schedule .termPopupContents .enrolledInfo
{
	margin-top: 10px;
	font-weight: bold;
}

.schedule .termPopupContents .groupListLink
{
	margin-top: 10px;
}
