.legend-box {
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
}

#proposal-legend {
    list-style: none;
}


li.work, li.work a { color:#ff4500;}
li.offer,li.offer a { color: #0069d6;}
li.nooffer,li.nooffer a { color: #c5c5c5;}
li.vote, li.vote a { color: green !important;}
li.vote2013, li.vote2013 a { color:green!important; font-weight: bold;}

#proposal-legend .work { background-color: #ff4500;}
#proposal-legend .offer { background-color: #0069d6;}
#proposal-legend .nooffer { background-color: #c5c5c5;}
#proposal-legend .vote { background-color: green;}
#proposal-legend .vote2013 { background-color: green; font-weight: bold;}

.preferences-form label { margin-right: 20px;}

#extraOfferFilters td {
  vertical-align: middle;
}

#id_comment {
	width: 650px;
}
