/**
 * Style odpowiadające za panel głosowania
 */

/*** PANEL FILTROWANIA ***/

#od-vote-top-bar fieldset
{
	min-height: 40px;
}

#od-vote-other
{
	width: 400px;
}

/*** PANEL FILTROWANIA - koniec ***/


/*** GŁOWNA STRONA GŁOSOWANIA ***/

#od-vote-main-rules
{
    text-align: justify;
}

#od-vote-main .link, #od-vote-main .disabled-link
{
    text-align: center;
}

#od-vote-main .link
{
    font-size: 20px;
    padding-top: 10px;
}

/*** GŁOWNA STRONA GŁOSOWANIA - koniec ***/


/*** PODGLĄD GŁOSOWANIA ***/

#od-vote-view .emptyList
{
    padding: 20px;
    text-align: center;
}

#od-vote-view > ul
{
    margin: 20px;
    list-style: none;
    padding: 0;
}

#od-vote-view > ul > li > span
{
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}

#od-vote-view li ul
{
    list-style: none;
    padding-left: 20px;
}

#od-vote-view li li
{
    height: 100%;
    overflow: hidden;
}

#od-vote-view li li > span
{
    width: 250px;
    float: left;
}

/*** PODGLĄD GŁOSOWANIA - koniec ***/


#od-vote-submitBar
{
    clear: both;
    text-align: center;
}

#od-vote-submitBar input
{
    padding: 5px 40px;
}

#od-vote-maxPoints
{
    top: 3px;
    left: 3px;
}

#od-vote-maxPoints .warning
{
    color: #cc0000;
}

/*** LISTY PRZEDMIOTÓW W SEMESTRZE - FORMULARZ ***/


li.od-vote-course.voted {
    background-color: #BCE27F;
}

li.od-vote-course.voted.removed {
    background-color: #FFC000;
}


li.od-vote-course.changed {
    background-color: #ACE1AF;
}

.od-vote-semester
{
    width: 460px;
    float: left;
    margin: 5px;
    margin-bottom: 35px;
}

.od-vote-semester .emptyFilterWarning
{
    border: 1px solid #cccccc;
    background: #FFF5B3;

    padding: 5px 10px;
    font-size: 13px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#od-vote-form .od-vote-semester:nth-child(4)
{
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.od-vote-semester h2
{
    font-size: 16px;
    padding-bottom: 5px;
}

.od-vote-semester h2 > span
{
    font-weight: normal;
    font-size: 14px;
    float: right;
}

.od-vote-semester ul
{
    list-style: none;
    padding: 0;
    border: 1px solid #cccccc;
    background: #f8f8f8;

    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.od-vote-semester ul li
{
    border-bottom: 1px dotted #cccccc;
    padding: 2px 5px;
    height: 100%;
    overflow: hidden;
}

.od-vote-semester ul li.hidden
{
    display: none;
}

.od-vote-semester ul li:last-child
{
    border: 0;
}

.od-vote-semester ul li select
{
    width: 55px;
    float: right;
    padding-left: 10px;
}

.od-vote-semester ul li label
{
    position: relative;
    top: 2px;
    width: 365px;
    text-align: left;
}

/*** LISTY PRZEDMIOTÓW W SEMESTRZE - FORMULARZ - koniec ***/


/*** PODSUMOWANIE GŁOSOWANIA ***/

#od-vote-summary table
{
    margin: auto;
    margin-top: 20px;
}

#od-vote-summary table th
{
    padding-right: 5px;
    padding-top: 10px;
}

#od-vote-summary table tr.semester th
{
    text-align: center;
}

#od-vote-summary table td.number,
#od-vote-summary-proposal  table td.number
{
    text-align: center;
}

#od-vote-summary-proposal table
{
    margin: auto;
}

#od-vote-summary-proposal table td,
#od-vote-summary-proposal table th
{
    padding-right: 25px;
    padding-: 25px;
}

#od-vote-summary-proposal h2
{
    padding-bottom: 10px;
}

#od-vote-summary-proposal h3
{
    padding-top: 30px;
    padding-bottom: 10px;
}

/*** PODSUMOWANIE GŁOSOWANIA - koniec ***/
