{
    "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
          },
          "modules": false
        }]
    ],
    "plugins": [
      "transform-runtime",
      "babel-plugin-transform-object-rest-spread",
      ["transform-imports", {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }]
    ]
}
