# Packages from our development environment
Django==1.8.18 --no-binary django
Fabric==1.5.1
argparse==1.2.1
django-autoslug==1.6.1
django-cas-ng==3.5.7
django-debug-toolbar==1.3.0
django-extensions==1.6.7
django-filter==0.11.0
django-mailer==1.0.0
django-modeltranslation==0.9
django-pipeline==1.3.16
django-test-without-migrations
docutils==0.13.1
ipdb==0.9.0
ipython==5.5.0
paramiko==1.9.0
psycopg2==2.7.3.1
pyPdf==1.13
pycrypto==2.6
rollbar==0.13.3
wsgiref==0.1.2
yolk==0.4.3
newrelic==2.68.0.50
https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/django-endless-pagination/django-endless-pagination-1.1.tar.gz

rq==0.7.1

# Additional packages on production environment
gunicorn==19.7.1
lxml==3.0.1
python-dateutil==2.1
reportlab==2.6

# Packages which have version in both environments
#   I am choosing to install versions from production environment.
#   Development:
# unicodecsv==0.14.1
# html5lib==0.95
#   Production:
unicodecsv==0.9.4
html5lib==0.90

# On production: 0.8.1c, but this version has problems with installation
vobject==0.8.2

# On production: 1.45, but this version is no longer available
python-memcached==1.48

# On production, but we are using PostgreSQL
# MySQL-python==1.2.2

# This package is no longer available at all
# GnuPGInterface==0.3.2

# On production: 0.4, but it's only monitoring tool, may safely ignore
# iotop==0.4

# On production, but I don't even want to know what we were using it for
# python-apt==0.7.100.1-squeeze1

# On production, but one would need to find suitable version.
xhtml2pdf==0.0.5
