
<h3>{{student.get_full_name}}</h3>
<br \>
<ul>
    <li>adres email: {% if student.user.email %}<a href="mailto:{{student.user.email}}">{{student.user.email}}</a>{% else %}brak danych{% endif %}</li>
    <li>punkty ECTS: {{student.ects}}</li>
</ul>
<br \><br \>
<h3>Plan zajęć:</h3>
<br/>
<div id="schedule-wrapper">
	{% for group in groups %}
		{% for term in group.terms_ %}
			<div style="background-color:{{ group.background_color }};  border-color:{{ group.border_color }}" 
				courseID="{{group.course_.pk}}"
				groupID="{{group.pk}}"
				termID="{{term.pk}}"
				from="{{ term.time_from_in_minutes }}" 
				minutes="{{ term.length_in_minutes }}" 
				day="{{ term.day_in_zero_base }}"
				status="fixed">
				{{group}}<br/>
				(s.{{term.classroom}})
			</div>
		{% endfor %}
	{% endfor %}
</div>


