{% block styles %}
	<link rel="stylesheet" href="/site_media/css/jquery/jquery.ui.schedule.css" type="text/css" />
{% endblock %}
{% block scripts %}
	<script src="/site_media/js/jquery/jquery.ui.schedule.js" type="text/javascript"></script>
	<script src="/site_media/js/enrollment/records/schedule.js" type="text/javascript"></script>
{% endblock %}

<h3>Dane:</h3>
<ul>
	<li>{{student.get_full_name}}</li>
	<li>email: {{student.user.email}}</li>
	<li>punkty ECTS: {{student.ects}}</li>
</ul>
<div id="schedule-wrapper">
	{% for group in groups %}
		{% for term in group.terms_ %}
			<div style="background-color:{{ group.background_color }};  border-color:{{ group.border_color }}" 
				courseID="{{group.course_.pk}}"
				groupID="{{group.pk}}"
				termID="{{term.pk}}"
				from="{{ term.time_from_in_minutes }}" 
				minutes="{{ term.length_in_minutes }}" 
				day="{{ term.day_in_zero_base }}"
				status="fixed">
				{{group}}<br/>
				(s.{{term.classroom}})
			</div>
		{% endfor %}
	{% endfor %}
</div>


