{% extends "users/employees_list.html" %}
{% block styles %}

    {{ block.super }}
	<link rel="stylesheet" href="/site_media/css/jquery/jquery.ui.schedule.css" type="text/css" />
{% endblock %}
{% block js %}
    {{ block.super }}
	<script src="/site_media/js/jquery/jquery.ui.schedule.js" type="text/javascript"></script>
	<script src="/site_media/js/enrollment/records/schedule.js" type="text/javascript"></script>
{% endblock %}

{% block enrollment_menu_employees %} class="active"{% endblock %}
{% block main-subtitle %}Konsultacje{% endblock %}

{% block content %}
        <h3>Konsultacje prowadzących:</h3>

        <br/>
        
        {% if employees %}
        <table class="zebra-striped">
            <thead>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Pokój</th>
                <th>Konsultacje</th>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td><a href="{% url employee-profile employee.user.id %}" class="person">
                            {{employee.user.first_name}}</a></td>
                        <td><a href="{% url employee-profile employee.user.id %}" class="person">
                            {{employee.user.last_name}}</a></td>
                        <td>{% if employee.room %}{{employee.room}}{% endif %}</td>
                        <td>{{employee.consultations}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br />
        {% else %}
        Brak prowadzących.
        {% endif %}
{% endblock %}
