{% extends "base.html" %}

{% block main-navigation %}
	<li><a href="{% url main-page %}">Strona główna</a></li>
	<li>Mój profil</li>
{% endblock %}

{% block content %}

{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
	
Moje dane:
<ul>
	<li>login: {{user.username}}</li>
	<li>email: {{user.email}}</li>
</ul>

{% if zamawiany %}
<br/>
{{ comments|safe }}
<br/>
{% endif %}

<br/>
<table>
    {% for t in terms %}
        <tr>
        <td><b>{{t.name}}</b> : {{t.term}}</td>
        </tr>
    {% endfor %}
</table>
<br/>
<a href="{% url password-change %}">zmień hasło</a>
<a href="{% url email-change %}">zmień adres email</a>

{% endblock %}
