{% extends "base.html" %}

{% block bread %}
	<a href="{% url main-page %}">Strona główna</a> &raquo;
	<h3>Mój profil</h3>
{% endblock %}

{% block content %}
	
<h4>Moje dane</h4>
    <table class="zebra-striped">
        <tr>
            <td>login</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{user.email}}</td>
        </tr>
        {%if zamawiany%}
            <tr>
            <td>numer konta bankowego</td>
            <td>{{zamawiany.bank_account}}</td>
        </tr>{%endif%}

    {% if user.employee %}
        <tr>
            <td>pokój</td>
            <td>{{ room }}</td>
        </tr>
        <tr>
            <td>strona domowa</td>
            <td>{{ homepage }}</td>
        </tr>
        <tr>
            <td>login</td>
            <td></td>
        </tr>
    {%endif%}
    </table>

    <a class="change_profile" href="{% url password-change %}">zmień hasło</a>
&nbsp;
<a href="{% url email_change %}">zmień adres email</a>
{%if zamawiany%}
&nbsp;
<a class="change_bank_account" href="{% url bank-account-change %}">zmień numer konta bankowego</a>
{%endif%}
{% if user.employee %}
&nbsp;
<a href="{% url consultations-change %}">zmień inne dane</a>
{% endif %}

{% if user.employee %}
<br/>
Konsultacje:
<br/>
{{ consultations }}    
{% endif %}

{% if zamawiany %}<br/>
Studia zamawiane:<br/>
{{ comments|safe }}
<br/>
{% endif %}

<br/>
<h4>Terminy zapisów</h4>
<table class="zebra-striped">
    {% for t in terms %}
        <tr>
        <td><b>{{t.name}}</b>:</td><td>{{t.term|date:"H:i, d.m.Y"}}</td>
        </tr>
    {% endfor %}
</table>
<br/>

{% endblock %}
