{% extends "enrollment/base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/site_media/css/enrollment/users/users-list.css" type="text/css" />
	{% block profile_styles %}
	{% endblock %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/jquery/jquery-tmpl/jquery.tmpl.min.js"></script>

<script type="text/javascript" src="/site_media/js/enrollment/users/templates/student.js"></script>

<script src="/site_media/js/components/sidebar.js" type="text/javascript"></script>
<script src="/site_media/js/common/listFilter.js" type="text/javascript"></script>
<script src="/site_media/js/common/listFilter-studiesType.js" type="text/javascript"></script>
<script src="/site_media/js/enrollment/users/students-list.js" type="text/javascript"></script>
	{% block profile_scripts %}
	{% endblock %}
{% endblock %}

{% block main-navigation %}
	<li><a href="{% url main-page %}">Strona główna</a></li>
	<li><a href="{% url latest_news 'enrollment' %}">Zapisy</a></li>
	<li>Studenci</li>
{% endblock %}


{% block top-bar %}
	<div id="enr-StudentsList-top-bar" class="main-top-bar" style="display: none">
		<fieldset>
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text filter-phrase" type="text" />
				<input class="reset filter-phrase-reset" type="button" value="X" style="display:none;" />
			</div>
		</fieldset>
		<fieldset id="enr-studentsList-other">
			<legend><span>Opcje</span></legend>
			<span class="checkbox"><input type="checkbox" id="enr-hidenotrecorded" checked="yes" /><label for="enr-hidenotrecorded">Ukryj osoby niezapisane na żaden przedmiot</label></span>
		</fieldset>
	</div>

    <div id="user-alpha-list" class="main-top-bar">
        <ul id="user-list-menu">
            <li><a href="{% url students-char-list 'A' %}" class="ajax{% if char == 'A' %} active{% endif %}">A</a></li>
            <li><a href="{% url students-char-list 'B' %}" class="ajax{% if char == 'B' %} active{% endif %}">B</a></li>
            <li><a href="{% url students-char-list 'C' %}" class="ajax{% if char == 'C' %} active{% endif %}">C</a></li>
            <li><a href="{% url students-char-list 'D' %}" class="ajax{% if char == 'D' %} active{% endif %}">D</a></li>
            <li><a href="{% url students-char-list 'E' %}" class="ajax{% if char == 'E' %} active{% endif %}">E</a></li>
            <li><a href="{% url students-char-list 'F' %}" class="ajax{% if char == 'F' %} active{% endif %}">F</a></li>
            <li><a href="{% url students-char-list 'G' %}" class="ajax{% if char == 'G' %} active{% endif %}">G</a></li>
            <li><a href="{% url students-char-list 'H' %}" class="ajax{% if char == 'H' %} active{% endif %}">H</a></li>
            <li><a href="{% url students-char-list 'I' %}" class="ajax{% if char == 'I' %} active{% endif %}">I</a></li>
            <li><a href="{% url students-char-list 'J' %}" class="ajax{% if char == 'J' %} active{% endif %}">J</a></li>
            <li><a href="{% url students-char-list 'K' %}" class="ajax{% if char == 'K' %} active{% endif %}">K</a></li>
            <li><a href="{% url students-char-list 'L' %}" class="ajax{% if char == 'L' %} active{% endif %}">L</a></li>
            <li><a href="{% url students-char-list 'M' %}" class="ajax{% if char == 'M' %} active{% endif %}">M</a></li>
            <li><a href="{% url students-char-list 'N' %}" class="ajax{% if char == 'N' %} active{% endif %}">N</a></li>
            <li><a href="{% url students-char-list 'O' %}" class="ajax{% if char == 'O' %} active{% endif %}">O</a></li>
            <li><a href="{% url students-char-list 'P' %}" class="ajax{% if char == 'P' %} active{% endif %}">P</a></li>
            <li><a href="{% url students-char-list 'R' %}" class="ajax{% if char == 'R' %} active{% endif %}">R</a></li>
            <li><a href="{% url students-char-list 'S' %}" class="ajax{% if char == 'S' %} active{% endif %}">S</a></li>
            <li><a href="{% url students-char-list 'T' %}" class="ajax{% if char == 'T' %} active{% endif %}">T</a></li>
            <li><a href="{% url students-char-list 'U' %}" class="ajax{% if char == 'U' %} active{% endif %}">U</a></li>
            <li><a href="{% url students-char-list 'W' %}" class="ajax{% if char == 'W' %} active{% endif %}">W</a></li>
            <li><a href="{% url students-char-list 'Y' %}" class="ajax{% if char == 'Y' %} active{% endif %}">Y</a></li>
            <li><a href="{% url students-char-list 'Z' %}" class="ajax{% if char == 'Z' %} active{% endif %}">Z</a></li>
            <li><a href="{% url students-char-list 'All' %}" class="ajax{% if char == 'All' %} active{% endif %}">Wszyscy</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div id="student-profile">
Wybierz studenta z menu po prawej.
</div>
{% endblock %}

{% block sidebar-class %}sidebar-right sidebar-visible{% endblock %}
{% block sidebar %}
<div id="main-sidebar">
	<div id="students-list">
		<h2>Lista studentów</h2>
		<ul class="students">
			{% for s in students %}
                <li>
                    <a href="{% url student-profile s.pk %}" class="student-profile-link">{{s.get_full_name}}</a>
                    <input type="hidden" name="student-id" value="{{ s.user.student.id }}" />
                    <input type="hidden" name="student-email" value="{{ s.user.email }}" />
                    <input type="hidden" name="student-album" value="{{ s.matricula }}" />
                    <input type="hidden" name='student-recorded' value="{{ s.recorded }}" />
                </li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
