{% extends "offer/base.html" %}

{% load proposal_extras %}

{% block main-subtitle %}Propozycje{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="/site_media/css/offer/proposal/proposal.css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/components/sidebar.js"></script>

	<script src="/site_media/js/components/topBarFilter.js" type="text/javascript"></script>

	<script src="/site_media/js/common/listFilter.js" type="text/javascript"></script>
	<script type="text/javascript" src="/site_media/js/offer/proposal/history.js"></script>
    <script type="text/javascript" src="/site_media/js/offer/proposal/proposals-list.js"></script>

	{% include "common/tinymce.html" %}

	{% block proposal-scripts %}
	{% endblock %}
{% endblock %}

{% block main-navigation %}
	<li><a href="/">Strona główna</a></li>
	<li><a href="{% url offer-main %}">Oferta</a></li>
	{% if proposal and proposal.pk %}
		<li><a href="{% url proposal-list %}">Propozycje</a></li>
		{% if editMode %}
			<li><a href="{% url proposal-page slug=proposal.slug %}">{{proposal.name}}</a></li>
			<li>Edycja</li>
		{% else %}
			<li>{{proposal.name}}</li>
		{% endif %}
	{% else %}
		{% if editForm %}
			<li><a href="{% url proposal-list %}">Propozycje</a></li>
			<li>Dodaj nową</li>
		{% else %}
			<li>Propozycje</li>
		{% endif %}
	{% endif %}
{% endblock %}

{% block top-bar %}
	<div id="enr-proposalsList-top-bar" class="main-top-bar" style="display: none;">
		<fieldset>
			<legend><span>Filtrowanie</span></legend>
			<div class="main-filter-input">
				<input class="text filter-phrase" type="text" />
				<input class="reset filter-phrase-reset" type="button" value="X" style="display:none;" />
			</div>
		</fieldset>
		<fieldset id="enr-coursesList-other">
			<legend><span>Inne</span></legend>
			<span class="checkbox">
                <input type="checkbox" id="students_proposals" checked="checked" />
                <label for="students_proposals">Pokaż propozycje studentów</label>
			</span>
		</fieldset>
	</div>
{% endblock %}


{% block content %}
	<div id="od-proposal-contents">
		{% block proposal-content %}
			<p class="main-message">Wybierz przedmiot z menu po lewej lub dodaj nowy.</p>
		{% endblock %}
		<div style="clear: left"></div>
	</div>
{% endblock %}

{% block sidebar-class %}sidebar-right sidebar-visible{% endblock %}
{% block sidebar %}

	<div id="main-sidebar">

	<div id="proposal-list">
		<a href="/proposal/add/" id="od-proposal-addlink">Dodaj przedmiot</a>
		<h2>Propozycje przedmiotów</h2>
		{% if proposals %}
		<ul id="od-proposal-proposallist" class="proposals-list">
			{% for sub in proposals %}
				<li {% ifequal proposal.id sub.id %}class="active"{% endifequal %}>
					<a id="proposal-{{ sub.id }}" href="{% url proposal-page slug=sub.slug %}">{{sub.name}}</a>
                    <input type="hidden" name="student" value="{{ sub.student }}">
				</li>
			{% endfor %}
		</ul>
		{% else %}
		    <p>Brak propozycji</p>
		{% endif %}
	</div>
	</div>
{% endblock %}
