{% extends "offer/base.html" %}
{% load static %}

{% block main-subtitle %}Wybór przedmiotów do oferty dydaktycznej{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static "css/offer/proposal/offerCreate.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/jquery/jquery.colorbox.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/common/dialog_box.css" %}" type="text/css" />
{% endblock %}

{% block scripts %}    
	<script type="text/javascript" src="{% static "js/jquery/jquery.colorbox-min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/offer/proposal/offerCreate.js" %}"></script>
{% endblock %}

{% block main-navigation %}
	<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
	<li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta</a></li>
	<li class="breadcrumb-item">Wybór przedmiotów do oferty dydaktycznej</li>
{% endblock %}


{% block content %}
	<div id="offerCreate">
        <form method="POST">
        {{  proposals.management_form }}
            <table cellspacing="0">
                <tr>
                    <th>Status</th>
                    <th>Semestr</th>
                    <th style="text-align: left;">Przedmiot</th>
                    <th>Pójdą</th>
                    <th>Poprowadzą</th>
                    <th>Pomogą</th>
                    <th>Widoczny</th>
                </tr>
                {% for proposal in proposals %}
                <tr class="selected-{{ proposal.instance.status }}">
                    {% for field in proposal.hidden_fields %}
                        {{ field }}
                        {% endfor %}
                    <td class="state">
                        {{ proposal.status }}
                    </td>
                    <td class="state">
                        {{ proposal.semester }}
                    </td>
                    <td>{{ proposal.instance.name }}</td>
                    <td class="cen">{% if proposal.instance.num_fans == 0 %}0
                        {% else %}
                            <a link="{{ proposal.instance.id }}" class="show-fans">{{ proposal.instance.num_fans }}</a>
                        {% endif %}</td>
                    <td class="cen">
                        {% if proposal.instance.num_teachers == 0 %}0
                        {% else %}
                            <a link="{{ proposal.instance.id }}" class="show-teachers">{{ proposal.instance.num_teachers }}</a>
                        {% endif %}
                    </td>
                    <td class="cen">
                        {% if proposal.instance.num_helpers == 0 %}0
                        {% else %}
                            <a link="{{ proposal.instance.id }}" class="show-helpers">{{ proposal.instance.num_helpers }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ proposal.for_student }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" class="right" id="offer-button" value="Zapisz">
       </form>
	</div>
{% include 'common/dialog_box.html' %}
{% endblock %}
