{% extends "base.html" %}

{% block content %}

    <a href="/offer/add" class="btn primary">Zgłoś propozycję</a>
    <br />
    <br />
    <h2>Do poprawienia</h2>
    {% if for_review %}
        <ul>
        {% for proposal in for_review %}
            <li><a href={{proposal.slug}}>{{proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak</p>
    {% endif %}
    <h2>Niezaakceptowane</h2>
    {% if not_accepted %}
        <ul>
        {% for proposal in not_accepted %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak</p>
    {% endif %}
    <h2>Poddane pod głosowanie</h2>
    {% if in_vote %}
        <ul>
        {% for proposal in in_vote %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak</p>
    {% endif %}
    <h2>W ofercie</h2>
    {% if in_offer %}
        <ul>
        {% for proposal in in_offer %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak</p>
    {% endif %}
    <h2>Wycofane z oferty</h2>
    {% if removed %}
        <ul>
        {% for proposal in removed %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak</p>
    {% endif %}
{% endblock %}
