{% extends "offer/base.html" %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block all-content %}

    <a href="/offer/add" class="btn btn-primary">Zgłoś propozycję</a>
    <br />
    <br />
    <h2 class="text-dark font-weight-bold">Do poprawienia</h2>
    {% if for_review %}
        <ul>
        {% for proposal in for_review %}
            <li><a href={{proposal.slug}}>{{proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Brak</p>
    {% endif %}
    <h2 class="text-dark font-weight-bold">Niezaakceptowane</h2>
    {% if not_accepted %}
        <ul>
        {% for proposal in not_accepted %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Brak</p>
    {% endif %}
    <h2 class="text-dark font-weight-bold">Poddane pod głosowanie</h2>
    {% if in_vote %}
        <ul>
        {% for proposal in in_vote %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Brak</p>
    {% endif %}
    <h2 class="text-dark font-weight-bold">W ofercie</h2>
    {% if in_offer %}
        <ul>
        {% for proposal in in_offer %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Brak</p>
    {% endif %}
    <h2 class="text-dark font-weight-bold">Wycofane z oferty</h2>
    {% if removed %}
        <ul>
        {% for proposal in removed %}
            <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Brak</p>
    {% endif %}
{% endblock %}
