{% extends "base.html" %}

{% block content %}

    <a href="/offer/add" class="btn primary">Zgłoś propozycję</a>
    <br />
    <br />
    <h2>Do poprawienia</h2>
    <ul>
    {% for proposal in for_review %}
        <li><a href={{proposal.slug}}>{{proposal.name}}</a></li>
    {% endfor %}
    </ul>
    <h2>Niezaakceptowane</h2>
    <ul>
    {% for proposal in not_accepted %}
        <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
    {% endfor %}
    </ul>
    <h2>W ofercie</h2>
    <ul>
    {% for proposal in in_offer %}
        <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
    {% endfor %}
    </ul>
    <h2>Wycofane z oferty</h2>
    <ul>
    {% for proposal in removed%}
        <li><a href={{proposal.slug}}>{{ proposal.name}}</a></li>
    {% endfor %}

{% endblock %}
