{% extends "offer/proposal/base.html" %}
{% load static %}

{% block proposal-scripts %}
	<script src="{% static "js/offer/proposal/history.js" %}" type="text/javascript"></script>
{% endblock %}

{% block proposal-content %}
	<div id="od-proposal-history">
		<h2>{{descriptions.0.proposal.name}}</h2>
		<a class="back" href="{% url 'proposal-page' slug=descriptions.0.proposal.slug %}">wróc do opisu</a>

		<h3>Historia zmian propozycji przedmiotów:</h3>
		<ul>
			{% for desc in descriptions %}
				<li>
					<strong>
						<a href="{% url 'proposal-page-archival' slug=descriptions.0.proposal.slug descid=desc.id  %}">{{ desc.date|date:"Y.m.d H:i" }}</a>
					</strong>
					<span class="author">
						<a>{{desc.author.get_full_name}}</a> {% comment %} {% url 'profile' desc.author.id %} {% endcomment %}
					</span>
					{% if can_edit %}
                         <form action="{% url 'proposal-restore' descid=desc.id %}" method="POST" class="force-js">{% csrf_token %}
                             <input type="submit" class="without-js" value="przywróc">
						     <a class="with-js courserestore" href="{% url 'proposal-restore' descid=desc.id %}">przywróć</a>
                        </form>
					{% endif %}
					 </li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
