{% extends "offer/base.html" %}
{% load compressed %}

{% block enrollment_menu_courses %} class="active"{% endblock %}

{% block main-subtitle %}
    {% if proposal %}
        {{ proposal.name }}
    {% else %}
        Moje przedmioty
    {% endif %}{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a class="breadcrumb-item" href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a class="breadcrumb-item" href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    {% if proposal %}
    <li class="breadcrumb-item"><a class="breadcrumb-item" href="{% url 'my-proposal' %}">Moje przedmioty</a></li>
    <li class="breadcrumb-item">{{ proposal.name }}</li>
    {% else %}
    <li class="breadcrumb-item">Moje przedmioty</li>
    {% endif %}
    {# end bread #}
{% endblock %}


{% block styles %}
    {% compressed_css 'proposal' %}
{% endblock %}

{% block all-content %}
    {% include 'offer/proposal.html' with course=proposal %}
{% endblock %}

