<h3>{{ label }}</h3>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>Przedmiot</th>
<th title="Suma punktów w głosach oddanych na przedmiot" class="text-center">Punktów</th>
<th title="Liczba osób głosujących na przedmiot" class="text-center">Głosów</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for row in semester %}
<tr>
<td><a href="{% url 'offer-page' row.2.slug  %}">{{ row.2.name }}</a></td>
<td class="number text-center">{{ row.0 }}</td>
<td class="number text-center">{{ row.1 }}</td>
<td class="controls"><a href="{% url 'proposal-vote-summary' slug=row.2.slug %}">lista</a></td>
</tr>
{% endfor %}

</tbody>
</table></div>
