{% extends "offer/proposal/base.html" %}
{% load static %}

{% load fereol_common %}

{% block main-subtitle %}Propozycje: {{proposal.name}}{% endblock %}

{% block proposal-scripts %}
	<script type="text/javascript" src="{% static "js/offer/proposal/view.js" %}"></script>
{% endblock %}

{% block proposal-content %}
	<div id="od-proposal-view">
		{% if next %}
			<div class="main-message">
				Wersja archiwalna!

					{% if can_edit %}
                         <form action="{% url 'proposal-restore' descid=proposal.desc.id %}" method="POST" class="force-js">{% csrf_token %}
                             <input type="submit" class="without-js" value="przywróc">
						     <a class="with-js courserestore" href="{% url 'proposal-restore' descid=proposal.desc.id %}">Przywróć</a>
                        </form>
					 lub{% endif %}
				<a href="{% url 'proposal-page' slug=proposal.slug %}">przejdź do bieżącej</a>.
			</div>
		{% endif %}
		{% if can_edit %}
		<a id="od-proposal-view-editBtn" href="{% url 'proposal-edit' slug=proposal.slug %}">Edytuj</a>
		{% endif %}
		<h2>{{proposal.name}}</h2>

		<ul class="infoBox">
		   {% if proposal.owner %} <li>Właściciel: <a href="{% url 'employee-profile' proposal.owner.id  %}">{{ proposal.owner.first_name }} {{ proposal.owner.last_name }}</a></li>{% endif %}
			<li>Sugerowany rodzaj: <span>{{ proposal.desc.type }}</span></li>

			<li>Egzamin: {% if proposal.desc.is_exam %}Tak{% else %}Nie{% endif %}</li>
			<li>Możliwe zajęcia w języku angielskim: {% if proposal.desc.in_english %}Tak{% else %}Nie{% endif %}</li>
			<li>
				{% if proposal.desc.web_page %}<a href="{{ proposal.desc.web_page|validate_url }}">Strona przedmiotu</a>{% endif %}
			</li>
		</ul>

		<h3>Opis przedmiotu</h3>
		<div class="textField">
			{{ proposal.desc.description|bbcode|safe }}
		</div>

		<h3>Wymagania</h3>
		<div class="textField">
			{{ proposal.desc.requirements|bbcode|safe }}
		</div>

		{% if proposal.desc.comments %}
			<h3>Uwagi do potencjalnych prowadzących i dyrekcji</h3>
			<div class="textField">
				{{ proposal.desc.comments|bbcode|safe }}
			</div>
		{% endif %}

		{% if proposal.desc.books.all %}
			<h3>Literatura</h3>
			<ul class="books">
				{% for book in proposal.desc.books.all %}
					<li>{{ book.name }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<hr />

		<ul class="interested">
			<li>
				{% if user.student %}
					{% if isFan %}
                        <form action="{% url 'proposal-StopFan' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Nie pójdę na to">
						    <a class="with-js befan" href="{% url 'proposal-StopFan' slug=proposal.slug %}">Nie pójdę na to</a>
                        </form>
					{% else %}
                        <form action="{% url 'proposal-beFan' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Pójdę na to">
						    <a class="with-js befan" href="{% url 'proposal-beFan' slug=proposal.slug %}">Pójdę na to</a>
                        </form>
					{% endif %}
					(chętnych: {{fans}})
				{% else %}
					Chętnych do nauki: {{fans}}
				{% endif %}
			</li>
			<li>
				{% if user.employee %}
					{% if isTeacher %}
                        <form action="{% url 'proposal-StopTeacher' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Nie mogę poprowadzi">
						    <a class="with-js befan" href="{% url 'proposal-StopTeacher' slug=proposal.slug %}">Nie mogę poprowadzić</a>
                        </form>
					{% else %}
                        <form action="{% url 'proposal-beTeacher' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Mogę prowadzić wykład">
						    <a class="with-js befan" href="{% url 'proposal-beTeacher' slug=proposal.slug %}" title="Poprowadzę wykład">Mogę prowadzić wykład</a>
                        </form>
					{% endif %}
					(chętnych: {{teachers}})
				{% else %}
					Poprowadzą: {{teachers}}
				{% endif %}
			</li>
			<li>
				{% if user.employee %}
					{% if isHelper %}
                        <form action="{% url 'proposal-StopHelper' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Nie pomogę poprowadzić">
						    <a class="with-js befan" href="{% url 'proposal-StopHelper' slug=proposal.slug %}">Nie pomogę poprowadzić</a>
                        </form>
					{% else %}
                        <form action="{% url 'proposal-beHelper' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                            <input type="submit" class="without-js" value="Pomogę poprowadzić">
						    <a class="with-js befan" href="{% url 'proposal-beHelper' slug=proposal.slug %}" title="Poprowadzę ćwiczenia, pracownię lub repetytorium">Pomogę poprowadzić</a>
                        </form>
					{% endif %}
					(chętnych: {{helpers}})
				{% else %}
					Pomogą prowadzić: {{helpers}}
				{% endif %}
			</li>
		</ul>

		<div class="actions">
			{% if prev or next %}
				<p>
					Wersja:

					{% if prev %}
						<a href="{% url 'proposal-page-archival' slug=proposal.slug descid=prev.id  %}">starsza</a>
					{% endif %}

					{% if next %}
						<a href="{% url 'proposal-page-archival' slug=proposal.slug descid=next.id  %}">nowsza</a>
					{% endif %}
				</p>
			{% endif %}

			<p>
				<a href="{% url 'proposal-history' slug=proposal.slug %}">historia</a>
				{% if can_edit %}<a href="{% url 'proposal-edit' slug=proposal.slug %}">edytuj</a>{% endif %}
			</p>
			{% if perms.can_delete_proposal %}
			<p>
                <form action="{% url 'proposal-delete' slug=proposal.slug %}" method="POST" class="force-js">{% csrf_token %}
                    <input type="submit" class="without-js" value="Usuń tę propozycję">
				    <a class="with-js proposal-delete" href="{% url 'proposal-delete' slug=proposal.slug %}">Usuń tę propozycję</a>
                </form>
			</p>
			<p>
                <form action="{% url 'proposal-description-delete' pid=proposal.desc.id %}" method="POST" class="force-js">{% csrf_token %}
                    <input type="submit" class="without-js" value="Usuń tę wersję">
                    <a class="with-js proposal-delete" href="{% url 'proposal-description-delete' pid=proposal.desc.id %}">Usuń tę wersję</a>
                </form>
			</p>
			{% endif %}
		</div>

	</div>
{% endblock %}
