{% extends "offer/base.html" %}

{% load compressed %}
{% load i18n %}

{% block main-subtitle %}Preferencje{% endblock %}

{% block enrollment_preferences %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'offer-main' %}">Oferta</a></li>
    <li class="breadcrumb-item">Preferencje</li>
{% endblock %}

{% block js %}
    {% compressed_js 'preferences' %}
    <script>
        $(document).ready(function () {
            function getRow(elem) {
                return $(elem).closest("tr");
            }

            function getPrefId(row) {
                return $(row).children('.pref-id').eq(0).val();
            }

            function processFormChange(elem, val) {
                let row = getRow(elem);
                let data = {
                    prefid: getPrefId(row),
                    csrfmiddletoken: '{{ csrf_token }}',
                };
                let changedselname = $(elem).attr('name').split('-').slice(-1)[0];
                data[changedselname] = val;
                $.post("{% url 'preference-save' %}", data, newRow => row.replaceWith(newRow));
            }

            $("tr select").live('change', function () {
                let val = $(this).val();
                processFormChange(this, val);
            });
        });
    </script>
{% endblock %}


{% block all-content %}
    <p class="text-muted">UWAGA: Po zmianie statusu preferencji zostaje ona automatycznie zapisana</p>
    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{% trans "Przedmiot" %}</th>
                <th scope="col">{% trans "Wykład" %}/{% trans "Seminarium" %}</th>
                <th scope="col">{% trans "Ćwiczenia" %}</th>
                <th scope="col">{% trans "Pracownia" %}/{% trans "Ćwiczenio-Pracownia" %}</th>
                <th scope="col">{% trans "Repetytorium" %}</th>
            </tr>
            </thead>
            {% for form in formset %}
                {% include "offer/preferences/form_row.html" %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

