{% extends "offer/base.html" %}

{% load compressed %}
{% load i18n %}

{% block main-subtitle %}Preferencje{% endblock %}

{% block enrollment_preferences %} class="active"{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    <a href="{% url 'offer-main' %}">Oferta</a> &raquo;
    Preferencje
{% endblock %}

{% block js %}
    {% compressed_js 'preferences' %}
    <script>
        $(document).ready(function () {
            function getRow(elem) {
                return $(elem).closest("tr");
            }

            function getPrefId(row) {
                return $(row).children('.pref-id').eq(0).val();
            }

            function processFormChange(elem, val) {
                let row = getRow(elem);
                let data = {
                    prefid: getPrefId(row),
                    csrfmiddletoken: '{{ csrf_token }}',
                };
                let changedselname = $(elem).attr('name').split('-').slice(-1)[0];
                data[changedselname] = val;
                $.post('{% url 'preference-save' %}', data, newRow => row.replaceWith(newRow));
            }

            $("tr select").live('change', function () {
                let val = $(this).val();
                processFormChange(this, val);
            });
        });
    </script>
{% endblock %}

{% block scripts %}
{% endblock %}


{% block top-bar %}
{% endblock %}

{% block content-width %}16{% endblock %}
{% block content %}
    <p>UWAGA: Po zmianie statusu preferencji zostaje ona automatycznie zapisana</p>
    <table class="zebra-striped">
        <thead>
        <tr>
            <th>{% trans "Przedmiot" %}</th>
            <th>{% trans "Wykład" %}/{% trans "Seminarium" %}</th>
            <th>{% trans "Ćwiczenia" %}</th>
            <th>{% trans "Pracownia" %}/{% trans "Ćwiczenio-Pracownia" %}</th>
            <th>{% trans "Repetytorium" %}</th>
        </tr>
        </thead>
        {% for form in formset %}
            {% include "offer/preferences/form_row.html" %}
        {% endfor %}
    </table>
{% endblock %}

{% block sidebar-width %}0{% endblock %}
{% block sidebar %}
{% endblock %}
