{% load filters %}
<tr>
    <input type="hidden" class="pref-id" name="pref-id" value="{{ form.instance.id }}">
    <td><a href="{% url 'offer-page' form.instance.proposal.slug %}">{{ form.instance.proposal }}</a></td>
    <td>{% if form.instance.proposal.have_lecture %}{{ form.lecture|add_class:"custom-select" }}{% elif form.instance.proposal.have_seminar %}{{ form.seminar|add_class:"custom-select" }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_tutorial %}{{ form.tutorial|add_class:"custom-select" }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_lab %}{{ form.lab|add_class:"custom-select" }}{% elif form.instance.proposal.have_tutorial_lab %}{{ form.tutorial_lab|add_class:"custom-select" }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_review_lecture %}{{ form.review_lecture|add_class:"custom-select" }}{% endif %}</td>
</tr>
