<tr>
    <input type="hidden" class="pref-id" name="pref-id" value="{{ form.instance.id }}">
    <td><a href="{% url 'offer-page' form.instance.proposal.slug %}">{{ form.instance.proposal }}</a></td>
    <td>{% if form.instance.proposal.have_lecture %}{{ form.lecture }}{% elif form.instance.proposal.have_seminar %}{{ form.seminar }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_tutorial %}{{ form.tutorial }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_lab %}{{ form.lab }}{% elif form.instance.proposal.have_tutorial_lab %}{{ form.tutorial_lab }}{% endif %}</td>
    <td>{% if form.instance.proposal.have_review_lecture %}{{ form.review_lecture }}{% endif %}</td>
</tr>
