/**
 * Formularz logowania (dla obu podprojektów).
 */

#common-login-form table
{
    width: 400px;
    margin: auto;
}

#common-login-form th
{
    width: 150px;
}

#common-login-form td
{
    text-align: right;
}

#common-login-form td input
{
    width: 200px;
    padding: 4px 7px;
}

#common-login-form p
{
    padding-top: 20px;
    text-align: center;
}

#common-login-form p input
{
    padding: 5px 25px;
    font-size: 16px;
}
