{% extends "offer/base.html" %}

{% load proposal_status %}
{% load render_bundle from webpack_loader %}

{% block offer_menu_offer %} class="active"{% endblock %}

{% block main-subtitle %}
    {% if proposal %}
        {{ proposal.name }}
    {% else %}
        Oferta dydaktyczna
    {% endif %}
{% endblock %}


{% block top-content %}
<script id="courses-data" type="application/json">{{ proposals|safe }}</script>
<script id="filters-data" type="application/json">{{ filters_json|safe }}</script>
<div id="course-filter"></div>
{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    {% if proposal %}
    <li class="breadcrumb-item"><a class="breadcrumb-item" href="{% url 'offer-main' %}">Oferta dydaktyczna</a></li>
    <li class="breadcrumb-item active">{{ proposal.name }}</li>
    {% else %}
    <li class="breadcrumb-item active">Oferta dydaktyczna</li>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <h3>Przedmioty w ofercie</h3>
    {%  if request.user.employee %}
        <a href="{% url 'proposal-form' %}" class="btn btn-success btn-block">Dodaj nową propozycję przedmiotu</a>
    {% endif %}

    <div id="course-list"></div>
{% endblock %}


{% block content %}
    {% if proposal %}
        {% include 'proposal/proposal.html' with course=proposal %}
    {% else %}
        <div class="alert alert-primary">Wybierz przedmiot z listy.</div>
    {% endif %}
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'proposal-course-list' %}
{% endblock %}
