{% load render_bundle from webpack_loader %}

<table class="table table-bordered table-md-responsive" id="table-info">
    <colgroup>
        <col class="table-info-type"></col>
    </colgroup>
    <tbody>
        <tr>
            <th scope="row">Język wykładowy</th>
            <td>{{ course.get_language_display|capfirst }}</td>
        </tr>
        <tr>
            <th scope="row">Semestr</th>
            <td>{{ course.get_semester_display|capfirst }}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{ course.get_status_display|capfirst }}</td>
        </tr>
        <tr>
            <th>Opiekun</th>
            <td>
                <a href="{% url 'employee-profile' course.owner.user_id %}"
                    class="person">{{ course.owner.user.get_full_name }}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Liczba godzin</th>
            <td id="hours">
                <style>
                    #hours span + span::before {
                        content: '+';
                        margin: 0 .5em;
                    }
                </style>
                {% if course.hours_lecture %}<span>{{ course.hours_lecture }} (wyk.)</span>{% endif %}
                {% if course.hours_exercise %}<span>{{ course.hours_exercise }} (ćw.)</span>{% endif %}
                {% if course.hours_lab %}<span>{{ course.hours_lab }} (prac.)</span>{% endif %}
                {% if course.hours_exercise_lab %}<span>{{ course.hours_exercise_lab }} (ćw-prac.)</span>{% endif %}
                {% if course.hours_seminar %}<span>{{ course.hours_seminar }} (sem.)</span>{% endif %}
                {% if course.hours_recap %}<span>{{ course.hours_recap }} (rep.)</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Rodzaj</th>
            <td>{{ course.course_type }}</td>
        </tr>
        {% if course.entity %}
        <tr>
            <th><abbr title="European Credit Transfer System">ECTS</abbr></th>
            <td>
                {{ course.entity.get_points }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Polecany dla I roku</th>
            <td>{{ course.recommended_for_first_year|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th scope="row">Egzamin</th>
            <td>{{ course.has_exam|yesno|capfirst }}</td>
        </tr>
        {% if course.entity and course.entity.get_all_tags_with_weights %}
        <tr>
            <th scope="row">Tagi</th>
            <td>
                {% for tag in course.entity.get_all_tags_with_weights %}
                    <span class="badge badge-success mx-1">{{ tag.tag }}{% if tag.weight %} — {{ tag.weight }}%</span>{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if course.effects.all %}
        <tr>
            <th>Grupy efektów kształcenia</th>
            <td>
                {% for effect in course.effects.all %}
                    <span class="badge badge-info">{{ effect }}</li>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="description">
    <h3>Opis przedmiotu:</h3>
    <div class="markdown">{{ course.description.strip|default:"Brak" }}</div>
</div>

{% if request.user.is_authenticated %}
    <a class="btn btn-sm btn-outline-dark d-print-none" data-toggle="collapse"  href="#syllabus"
    role="button" aria-expanded="false" aria-controls="syllabus">
    Sylabus
    </a>
    <div class="collapse mt-3 d-print-block" id="syllabus">
        <h3>Metody kształcenia</h3>
        <div class="markdown">{{ course.teaching_methods.strip|default:"—" }}</div>
        
        <h3>Wymagania wstępne</h3>
        <div class="markdown">{{ course.preconditions.strip|default:"—" }}</div>

        <h3>Cele przedmiotu</h3>
        <div class="markdown">{{ course.objectives.strip|default:"—" }}</div>

        <h3>Treści programowe</h3>
        <div class="markdown">{{ course.contents.strip|default:"—" }}</div>

        <h3>Zakładane efekty kształcenia</h3>
        <div class="markdown">{{ course.teaching_effects.strip|default:"—" }}</div>

        <h3>Literatura obowiązkowa i zalecana</h3>
        <div class="markdown">{{ course.literature.strip|default:"—" }}</div>

        <h3>Metody weryfikacji zakładanych efektów kształcenia</h3>
        <div class="markdown">{{ course.verification_methods.strip|default:"—" }}</div>

        <h3>Warunki i forma zaliczenia</h3>
        <div class="markdown">{{ course.passing_means.strip|default:"—" }}</div>

        <h3>Nakład pracy studenta</h3>
        <div class="markdown">{{ course.student_labour.strip|default:"—" }}</div>
    </div>
{% endif %}

{% render_bundle 'proposal-render-markdown' %}
