Django==1.4.2
Fabric==1.5.1
South==0.7.6
argparse==1.2.1
django-autoslug==1.6.1
django-debug-toolbar==0.9.4
django-extensions==1.0.1
django-filter==0.5.4
django-mailer==0.1.0
django-modeltranslation==0.6.1
django-pipeline==1.2.21
django-timedeltafield==0.6.7
docutils==0.9.1
html5lib==0.95
ipdb==0.7
ipython==0.13.1
paramiko==1.9.0
psycopg2==2.4.5
pyPdf==1.13
pycrypto==2.6
python-memcached==1.48
six==1.2.0
wsgiref==0.1.2
yolk==0.4.3
django-paranoid-sessions==0.2.0

unicodecsv==0.14.1
