{% extends "common/index.html" %}

{% block main-subtitle %}Powiadomienia{% endblock %}

{% block bread %}
<a href="/">Strona główna</a> &raquo;
Powiadomienia
{% endblock %}

<style>

</style>

{% block center %}
<h1>Powiadomienia</h1>


<div class="news-content">
    {% for element in notifications %}
        {{ element }} <br />
    {% endfor %}
    <div class="od-news-item">
        <div class="od-news-header">
            <h3></h3>
            <span class="od-news-date"></span>
        </div>
        <div class="od-news-body">
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
